title = "Bibliothéque"
url = "/bibliotheque"
layout = "content"
is_hidden = 0
bibliocontent_Content = "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>"

[staticMenu]
code = "bibliolist"
==
<section class="faq-section">
    <div class="row justify-content-center">
        <div class="col-12 mb-5">

            {{ this.page.bibliocontent_Content|raw }}
        </div>
        <div class="col-lg-7">
            {% if staticMenu.menuItems %}
                {% for item in staticMenu.menuItems %}
                <div class="card faq-card">
                    <a class="card-header collapsed" href="{{ item.url }}">

                        <h3 class="title mb-0">{{ item.title }}&nbsp;</h3>
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-5">
            <div class="faq-image mt-5 text-center">
                <br>
            </div>
        </div>
    </div>
</section>
