title = "Actualités"
url = "/actualites/:page?"
layout = "content"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "Aucun article trouvé"
sortOrder = "published_at desc"
categoryPage = "categorie"
postPage = "news-single"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "categorie"
==
{% set posts = blogPosts.posts %}

<div class="category-list">
    <div class="row justify-content-center">
        <div class="col-md-3 align-self-center">
            <p class="h1">{{ 'blog.categories'|_ }}</p>
        </div>
        <div class="col-md-9">
            {% if blogCategories.categories|length > 0 %}
                {% partial 'news/categories'
                categories = blogCategories.categories
                currentCategorySlug = blogCategories.currentCategorySlug
                %}
            {% endif %}
        </div>
    </div>
</div>

<div class="row post-list align-content-stretch">
    {% for post in posts %}

    <div class="col-lg-4 col-md-6 post-wrap">
        {% partial 'news/post-card' post = post %}
    </div>

    {% else %}
    <div class="no-data col">
        {{ blogPosts.noPostsMessage }}
    </div>
    {% endfor %}

</div>


{% if posts.lastPage > 1 %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
        <li class="page-item"><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}"> <i class="fas fa-angle-left"></i> </a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
        <li class="page-item {{ posts.currentPage == page ? 'active' : null }}">
            <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
        <li class="page-item">
            <a class="page-link" href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}"> <i class="fas fa-angle-right"></i> </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}