title = "Catégorie"
url = "/actualites/categorie/:slug/:page?"
layout = "content"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "Aucun article trouvé"
sortOrder = "published_at desc"
categoryPage = "categorie"
postPage = "news-single"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = 404
==
<?php
function onEnd()
{
    if (isset($this->category))
        $this->page->title =  $this->category->name;
}
?>
==
{% set posts = blogPosts.posts %}

<div class="category-list">
    <div class="row justify-content-center">
        <div class="col-md-3 align-self-center">
            <p class="h1">Catégories</p>
        </div>
        
        <div class="col-md-9 text-right">
            {% if blogCategories.categories|length > 0 %}
            {% partial 'news/categories'
            categories = blogCategories.categories
            currentCategorySlug = blogCategories.currentCategorySlug
            %}
            {% endif %}
        </div>
    </div>
</div>

<div class="row post-list align-content-stretch">
    {% for post in posts %}

    <div class="col-lg-4 col-md-6 post-wrap">
        {% partial 'news/post-card' post = post %}
    </div>

    {% else %}
    <div class="no-data col">
        {{ blogPosts.noPostsMessage }}
    </div>
    {% endfor %}

</div>



{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}