title = "Accueil"
url = "/"
layout = "default"
is_hidden = 0
apropos_home_about_us_section = "Cette plateforme « Mourakib » est gérer par le ministère de l’interieur. Notre objectif étant de sensibiliser les citoyens aux risques liés à l’utilisation d’internet et de leur permettre de signaler de tous incidents cyber à nos services."
apropos_home_about_us_image_section = "/about-us-section.jpg"

[viewBag]
partenaires[0][partner_logo] = "/thumb_7841b2695707826c078f89ce2d535df31594748842_300x255_auto.png"
partenaires[0][partner_link] = "http://google.com"
partenaires[1][partner_logo] = "/thumb_dc90d016f421d03c0bb3929f79858c4b1594748842_300x255_auto.png"
partenaires[1][partner_link] = "http://exemple.com"
homeBanner[0][title] = "TAST"
homeBanner[0][description] = "TAST"
homeBanner[0][link] = ""
homeBanner[0][link_text] = "ATTENTION"
homeBanner[0][image] = "/BELGAIMAGE-78704677-1024x681.jpg"
localeApropos_home_about_us_section[en] = "Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l’imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte."

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "Aucun article trouvé"
sortOrder = "published_at desc"
categoryPage = "categorie"
postPage = "news-single"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = 404

[carousel]
carousel = 1
==
{% if carousel.carousel and carousel.carousel.slides %}
    <div id="vaslvCarousel{{ carousel.carousel.id }}" class="carousel slide"
    </div>


<div class="banner banner_wrapper">
	<div class="container">
		<div class="swiper-container home-banner">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				{% for i, slide in carousel.carousel.slides %}
				<div class="swiper-slide" style="background-image: url('{{ slide.imagePath }}')">
					<h2 class="home-banner__title" data-swiper-parallax="-400" data-swiper-parallax-duration="1000">{{ slide.caption }}</h2>

					<div class="home-banner__description" data-swiper-parallax="-600" data-swiper-parallax-duration="1000">{{ slide.description|raw }}</div>
					{% if slide.url %}
					<div data-swiper-parallax="-800" data-swiper-parallax-duration="1000">
						<a href="{{ slide.url }}" class="btn btn-rounded btn-outline-light home-banner__link">{{ 'read_more'|_ }}</a>
					</div>
					{% endif %}
				</div>
				{% endfor %}


			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>

			<!-- If we need navigation buttons -->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>

		</div>
	</div>
</div>
{% endif %}



<section class="section about">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-7">
				<h2 class="section-title">
					{{ 'nav.about'|_ }}
					<small>
						{{ 'Qui sommes nous ?'|_ }}
					</small>
				</h2>
				<p class="description mb-4 lead text-dark">
					{{ this.page.apropos_home_about_us_section }}
				</p>
				<a href="{{ '/a-propos'|app }}" class="btn btn-rounded btn-lg btn-secondary text-white">{{ 'read_more'|_ }}</a>
			</div>
			<div class="col-lg-6 col-md-5 text-md-right">
				<img src="{{ this.page.apropos_home_about_us_image_section|media }}" class="img-fluid" alt="">
			</div>
		</div>
	</div>
</section>

<section class="section news">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<h2 class="section-title">
					{{ 'nav.blog'|_ }}
					<small>
						{{ 'Des actualités pour vous.'|_ }}
					</small>
				</h2>
				<img src="{{ 'assets/images/home-news-banner.png'|theme }}" class="d-none d-md-inline-block img-fluid" alt="">
			</div>
			<div class="col-lg-7">
				<div class="row">
			    {% set posts = blogPosts.posts %}

					{% for post in posts %}
						<div class="col-md-12">{% partial 'news/post-card' post = post style='wide' %}</div>
					{% else %}
						{{ blogPosts.noPostsMessage }}
					{% endfor %}
					<div class="col-12 text-center">
						<a href="{{ '/actualites'|app }}" class="btn btn-secondary text-white btn-lg">{{ 'all_articles'|_ }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section abuse-type">
	<div class="container">

		<div class="intro mb-5">
			<h2 class="text-center text-primary">{{ 'abuse_types_title'|_ }} </h2>
			<p class="text-center">{{ 'abuse_types_description'|_ }}</p>
		</div>

		<div class="row justify-content-center features">
			{% for category in blogCategories.categories %}
				<div class="col-sm-6 col-md-5 col-lg-4 item item--{{ category.slug }}">
					{% set slug =  'types-d-abus/' ~ category.slug %}
					<a href="{{ slug }}" class="box">
						<i class="fas fa-shield-alt icon"></i>
						<h3 class="name">{{ category.name }}</h3>
						<p class="description">{{ category.description }}</p>
						<span class="learn_more btn-link"><i class="fas fa-angle-right"></i> {{ 'read_more'|_ }} </span>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>


<section class="section partners">
	<div class="container">

		<h2 class="section-title mb-5">
			<small>
				{{ 'Partenaires & sponsors'|_ }}
			</small>
		</h2>

		<div class="swiper-container partners-slider mt-5">
			<div class="swiper-wrapper">

				{% for partenaire in viewBag.partenaires  %}
				<div class="swiper-slide partners-slider__item text-center">
					<a href="{{ partenaire.partner_link }}">
						<img class="partners-slider__item__logo img-fluid" src="{{ partenaire.partner_logo|media }}" alt="">
					</a>
				</div>
				{% endfor %}
			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>

		</div>
	</div>
</section>

{% put scripts %}

{% endput %}