title = "Multimédia"
url = "/multimedia"
layout = "content"
is_hidden = 0

[viewBag]
videos[0][video_title] = "Media 1"
videos[0][iframe] = "<iframe class=\"embed-responsive-item\" src=\"https://www.youtube.com/embed/v64KOxKVLVg\" allowfullscreen></iframe>"
videos[0][video_description] = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae."
videos[1][video_title] = "Media 1"
videos[1][iframe] = "<iframe class=\"embed-responsive-item\" src=\"https://player.vimeo.com/video/137857207\" allowfullscreen></iframe>"
videos[1][video_description] = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae."
==
<div class="row">

    {% for video in viewBag.videos %}
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <div class="embed-responsive embed-responsive-16by9">
                {{ video.iframe|raw }}
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{ video.video_title }}</a>
                </h4>
                <p class="card-text">{{ video.video_description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>