title = "Actualité"
url = "/actualite/:slug"
layout = "content"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = 404

[ssbuttons]
fa = "maxcdn"
twitter = 1
facebook = 1
google+ = 1
stumbleupon = 1
linkedin = 1
order_twitter = 1
order_facebook = 2
order_google+ = 3
order_stumbleupon = 4
order_linkedin = 5
==
<?php
function onEnd()
{
	if (isset($this->post))
		$this->page->title = $this->post->title;
}
?>
==
{% set post = blogPost.post %}

<p class="post__info">
    {{ 'Publié '|_ }}
    {% if post.categories.count %} {{ 'dans '|_ }}
        {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
     <i class="fas fa-calendar-alt ml-3"></i> {{ 'le '|_ }} {{ post.published_at|date('d M Y') }}
</p>

{% if post.featured_images.count %}
<div class="post__featured-image text-center">
    {% for image in post.featured_images %}

        <img
            data-src="{{ image.filename }}"
            src="{{ image.path }}"
            alt="{{ image.description }}"
            class="img-fluid post__featured-image__image"/>

    {% endfor %}
</div>
{% endif %}



<div class="post__content">
    <div class="row">
        <div class="col-md-10">
            {{ post.content_html|raw }}
        </div>
    </div>

</div>

{% component 'ssbuttons' %}

{#
<div class="post__share social-overlap process-section mt100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="social-bar row">
                    <div class="col-12">
                        <div class="h4 mt-5 text-center text-secondary">{{ 'blog.share_post'|_ }}</div>
                    </div>
                    <div class="col-12">
                        <div class="social-icons mb-3 iconpad text-center">
                            <a href="#" class="slider-nav-item"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="slider-nav-item"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="slider-nav-item"><i class="fab fa-linkedin"></i></a>
                            <a href="#" class="slider-nav-item"><i class="fas fa-envelope"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
#}