title = "Les Risques"
url = "/types-d-abus"
layout = "content"
is_hidden = 0

[viewBag]
localeTitle[en] = "Abus Types"
localeUrl[en] = "/abus-types"

[staticMenu]
code = "fraudelist"
==
<section class="section abuse-type">
    <div class="container">

        <div class="intro mb-5">
            <p class="leadr">{{ 'abuse_types_description'|_ }}</p>
        </div>

        <div class="row justify-content-center features">
        {% if staticMenu.menuItems %}
            {% for category in staticMenu.menuItems %}
            <div class="col-sm-6 col-md-5 col-lg-4 item item--{{ category.slug }}">
                {% set slug =  'types-d-abus/' ~ category.slug %}

                <a href="{{ category.url }}" class="box">
                    <i class="fas fa-shield-alt icon"></i>
                    <h3 class="name">{{ category.title }}</h3>
                    <span class="learn_more btn-link"><i class="fas fa-angle-right"></i> {{ 'read_more'|_ }} </span>
                </a>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</section>