.abuse-type{
    .item{
        .box{
            @extend .shadow;
            border-radius: 20px;
            padding: 40px;
            text-align: center;
            margin: 20px;
            display: block;
            color: inherit;
            transition: all 0.3s ease-in-out;
            border-top: 4px solid $primary;
            &:hover{
                transform: scale(1.05);
                background-color: $primary;
                .name,
                .description,
                .btn-link{
                    color: #FFF;
                }
            }
            .description{
                transition: all 0.3s ease-in-out;
                font-size: 13px
            }
            .icon {
                font-size: 4rem;
                color: #FFF;
                margin-top: 20px;
                margin-bottom: 25px;
                width: 100px;
                height: 100px;
                background-color: $primary;
                border-radius: 50%;
                line-height: 100px;
                transition: all 0.3s ease-in-out;
            }
            .name{
                text-align: center;
                margin-bottom: 10px;
                text-transform: uppercase;
                font-size: 2rem;
                transition: all 0.3s ease-in-out;
                color: $primary;
            }
            .learn_more{
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: bold;
                margin-top: 10px;
                transition: all 0.3s ease-in-out;
            }
        }
        //&--fraudes-en-lignes{
        //    .box{
        //        border-top: 4px solid $fraude;
        //        &:hover {
        //            //background-color: $fraude;
        //            .icon {
        //                background-color: #FFF;
        //                color: $fraude;
        //
        //            }
        //        }
        //        .icon {
        //            background-color: $fraude;
        //            &:before{
        //                content: "\F21B";
        //            }
        //        }
        //        .name{
        //            color: $fraude;
        //        }
        //    }
        //}
        //&--securite{
        //    .box{
        //        border-top: 4px solid $securite;
        //        &:hover {
        //            background-color: $securite;
        //            .icon {
        //                background-color: #FFF;
        //                color: $securite;
        //            }
        //        }
        //        .icon {
        //            background-color: $securite;
        //            &:before{
        //                content: "\F3ED";
        //            }
        //        }
        //        .name{
        //            color: $securite;
        //        }
        //    }
        //
        //}
        //&--exploitation-sexuelle{
        //    .box{
        //        border-top: 4px solid $securite;
        //        &:hover {
        //            background-color: $sex;
        //            .icon {
        //                background-color: #FFF;
        //                color: $sex;
        //            }
        //        }
        //        .icon {
        //            background-color: $securite;
        //            &:before{
        //                content: "\F256";
        //            }
        //        }
        //        .name{
        //            color: $sex;
        //        }
        //    }
        //}
    }
}



.partners{
    &-slider__item {
        text-align: center;
        height: 100%;
        &__logo{
            max-width: 150px;
        }
    }
}
