.post-list {
    .post-wrap {
        margin-bottom: 30px;
    }

    // card
}

.category-list {
    padding: 0 60px;

    .row {
        background-color: #FFF;
        margin-top: -120px;
        border-radius: 10px;
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.175);
        z-index: 1;
        position: relative;
        margin-bottom: 100px;
        padding: 30px;

        .h1 {
            margin-bottom: 0;
            color: $primary;
            text-transform: uppercase;
        }

        .btn {
            padding: 8px 20px ;
            text-transform: uppercase;
            color: #FFF;
            font-weight: bold;
            margin: 10px;
            font-size: 15px;

            &:hover {
                box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.175) !important;
            }

            i {
                font-size: 18px;
                margin-right: 8px;
                color: rgba(0, 0, 0, 0.3);
            }
        }
    }

}

.btn-category{
    @extend .btn-primary;
    .fas:before{
        content: "\F3ED";
    }
    //&__fraudes-en-lignes{
    //    @extend .btn-securite;
    //    .fas:before{
    //        content: "\F21B";
    //    }
    //}
    //&__securite{
    //    @extend .btn-securite;
    //    .fas:before{
    //        content: "\F3ED";
    //    }
    //}
    //&__exploitation-sexuelle{
    //    @extend .btn-securite;
    //    .fas:before{
    //        content: "\F256";
    //    }
    //}
}


// Card
.post-item {
    $slef: &;
    min-height: 370px;
    padding: 0;
    margin-bottom: 30px;
    border: none;
    overflow: hidden;

    &__meta {
        padding: 15px 20px 20px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));

    }

    &__date {
        text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
        font-weight: bold;
    }

    &__img {
        height: 230px;
        background-size: cover;
        background-position: center;
        background-color: $gray-300;
        background-repeat: no-repeat;
        overflow: hidden;
        display: block;

        &:after {
            content: '';
            height: 50px;
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            //background: linear-gradient( top, rgba(255,255,255,0), rgba(255,255,255,1));
        }
    }

    &__content {
        padding: 10px 20px 20px;
        width: 90%;
        margin-left: 5%;
        background-color: #FFF;
        margin-top: -50px;
        position: relative;
        z-index: 1;
        border-radius: 3px;

        .title {
            margin-top: 10px;
            margin-bottom: 15px;
            font-size: 2.1rem;

            a:hover {
                color: $secondary;
            }
        }

        .excerpt {
            font-size: 1.4rem;
        }
    }

    &--wide{
        flex-direction: row;
        @include media-breakpoint-down(md){
            flex-direction: column;
        }

        &#{$slef} {
            min-height: 200px;
        }
        #{$slef}{
            &__meta__wrapper{
                position: relative;
                width: 40%;
                @include media-breakpoint-down(md){
                    width: 100%;
                }
                #{$slef}__img{
                    min-height: 150px;
                    height: 100%;
                }
            }
            &__content{
                margin: 20px;
                width: 60%;
                @include media-breakpoint-down(md){
                    width: calc(100% - 40px);
                    margin-top: -30px;
                }
            }
        }


    }
}



// Single post
.page-news-single{
    .post{
        &__featured-image{
            max-height: 450px;
            overflow: hidden;
            margin-bottom: 30px;
            &__image{
                width: 100%;
            }

        }
        &__info{
            font-weight: bold;
            text-transform: uppercase;
            font-size: 11px;
            color: $gray-600;
            a{
                color: $gray-500;
                &:hover{
                    color: $primary;
                }
            }
        }
        &__content{
            margin-bottom: 30px;
        }

    }

}



// Single social Share
.social-bar {
    //border-radius: 30px;
    //background: #fff;
    //box-shadow: 0 0 60px rgba(93, 70, 232, 0.15);
    //border: 1px solid #ebe9e9;
}

.iconpad {
    padding: 12px 0;
    width: 100%;
}


.social-icons a {
    border-radius: 50px;
    color: #34558E;
    display: inline-block;
    line-height: 52px;
    height: 50px;
    width: 50px;
    box-shadow: 0 5px 25px rgba(93, 70, 232, 0.15);
    margin: 15px 15px;
    font-size: 22px;
}

.process-section .slider-nav-item{
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    cursor: pointer;
    transition: all .4s ease;
    @media only screen and (max-width: 300px) {
        height: 30px;
        width: 30px;
        margin: 15px 10px;
        line-height: 28px;
    }

    &:nth-child(2) {
        color: #25B8E6;
    }

    &:nth-child(3) {
        color: rgba(0, 122, 181, 1);
    }

    &:nth-child(4) {
        color: $primary;
    }

    &:nth-child(5) {
        color: #38385f;
    }
    &:after {
        position: absolute;
        top: 50%;
        left: 100%;
        height: 2px;
        content: '';
        width: 100%;
        background: url(http://demo.themenio.com/ico/assets/images/line.png) repeat 0 0;
        z-index: 0;
        animation: slide 1s linear infinite;
    }
    &:before {
        position: absolute;
        content: "";
        height: calc(100% + 16px);
        width: calc(100% + 16px);
        top: -8px;
        left: -8px;
        border-radius: 50%;
        border: 1px solid rgba(132, 132, 164, 0.35);
        animation: 1.5s linear 0s normal none infinite focuse;
    }

    &:last-child:after {
        display: none;
    }
    .ikon {
        font-size: 50px;
        line-height: 80px;
    }
    &.active:before {
        position: absolute;
        content: "";
        height: calc(100% + 16px);
        width: calc(100% + 16px);
        top: -8px;
        left: -8px;
        border-radius: 50%;
        border: 1px solid rgba(132, 132, 164, 0.35);
        animation: 1.5s linear 0s normal none infinite focuse;
    }
}

@keyframes focuse {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    75% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 0;
    }
}

