.footer{
    margin-top: -60px;
    padding-top: 120px;
    font-size: 1.4rem;
    background-color: #eef1f4;
    &-top{
        padding-bottom: 30px;
    }
    &__about{
        .small{
            max-width: 300px;
            @include respond-below(md){
                margin: 0 auto 10px;
            }
        }
        a{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            color: $gray-700;
            &:hover{
                color: $primary;
            }
        }
    }

    &__links{
        margin-top: 10px;
        &__title{
            text-transform: uppercase;
            font-size: 13px;
            margin: 10px 0;
        }
        .list-unstyled{
            margin-bottom: 20px;
            a{
                font-size: 13px;
            }
            li{
                margin-bottom: 5px;
            }
        }

    }
    .copy{
        margin-top: 20px;
        padding: 10px 0;
        border-top: 10px solid $primary;
        background-color: $gray-800;
        p{
            margin: 0
        }

    }
}
