
#layout-content {
    margin-top: 3rem;
    .nav-fixed &{
        margin-top: 11rem;
    }
    background-color: #FFF;
}

.section{
    padding: 60px 0;
    @include respond-below(md){
        padding: 30px 0;
    }
}

.banner-area{
    margin-bottom: 60px;
    overflow: hidden;
    width: 100%;
    background-color: $gray-600;
    border-radius: 10px;
}
