// Top bar
@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar{
    padding: 2rem 1rem;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    width: 100%;
    z-index: 1000;
    background-color: #FFF;
    top: 0;
    left: 0;

    @include media-breakpoint-up(lg){
        &.nav-fixed {
            position: fixed;
            animation-name: slide-down ;
            animation-duration: 0.6s;


        }

    }

    //-------------------------------------
    // Main Menu
    .nav-item{
        @include media-breakpoint-down(lg){
            margin: 5px 0;
            &--social{
                margin-top: 10px;
            }
        }
        .nav-link{
            color: #8B8B8B;
            font-weight: 900;
            font-size: 1.3rem;
            //letter-spacing: 0.4px;
            text-transform: uppercase;
            padding: 5px 5px;
            margin: 0 5px;
            &:hover{
                color: $primary;
                text-decoration: none;
            }
        }
        &.active,
        &.child-active:not(.dropdown-item){
            > .nav-link {
                color: $primary;
                position: relative;
                &:before{
                    content: '';
                    display: block;
                    width: 30px;
                    height: 2px;
                    position: absolute;
                    bottom: -2px;
                    left: calc(50% - 15px);
                    background-color: $primary;
                    @include media-breakpoint-down(lg){
                        display: none;
                    }
                }
            }
        }
        &.child-active:not(.dropdown-item){
            > .nav-link {
                &:before {
                    left: calc(50% - 25px);
                }
            }
        }
        .dropdown-item.active,
        .dropdown-item.child-active,
        .dropdown-item:active {
            background-color: $primary;
            > a{
                color: white;
            }
        }

    }
    .dropdown-menu .show > .dropdown-toggle::after{
        transform: rotate(-90deg);
    }

    .dropdown:hover{
        .dropdown-menu{
            display: block;
        }
    }
    .dropdown-menu{
        border: none;
        background-color: $primary;
        @extend .shadow;
        .dropdown-item{
                white-space: unset;
            a{
                font-size: 1.2rem;
                color: $white;
                width: 200px;
            }
        }
    }
    .librery{
        .dropdown-menu{
            .dropdown-item{
                a{
                    width: 280px;
                }
            }
        }
    }


    //--------------------------
    // Report BTN
    .report-trigger{
        color: #FFF;
        font-weight: bold;
        padding: .4rem 1.5rem;
        border-radius: 60px;
        margin-left: 20px;
        text-shadow: 0 1px 3px rgba(0,0,0,0.1);
        box-shadow: 0 2px 10px rgba(111, 216, 160, 0.6);
        text-transform: uppercase;
        @include respond-below(lg){
            margin-left: 0;
        }
        i{
            margin-right: 5px;
        }
        &:hover{
            transform: scale(1.05);
            box-shadow: 0 0px 15px rgba(111, 216, 160, 0.9);
        }
        &:active{
            transform: scale(0.95);
            box-shadow: none;
            color: #FFF !important;
        }
    }

}




/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
// Settings
// ==================================================
$hamburger-padding-x           : 5px !default;
$hamburger-padding-y           : 7px !default;
$hamburger-layer-width         : 35px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 5px !default;
$hamburger-layer-color         : $secondary;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 1 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;


// Hamburger
// ==================================================
.hamburger {
    padding: $hamburger-padding-y $hamburger-padding-x;
    display: inline-block;
    cursor: pointer;

    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;

    // Normalize (<button>)
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    outline: none !important;

    &:hover {
        @if $hamburger-hover-use-filter == true {
            filter: $hamburger-hover-filter;
        }
        @else {
            opacity: $hamburger-hover-opacity;
        }
    }

    &.is-active {
        &:hover {
            @if $hamburger-hover-use-filter == true {
                filter: $hamburger-active-hover-filter;
            }
            @else {
                opacity: $hamburger-active-hover-opacity;
            }
        }

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background-color: $hamburger-active-layer-color;
        }
    }
}

.hamburger-box {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: $hamburger-layer-height / -2;

    &,
    &::before,
    &::after {
        width: $hamburger-layer-width;
        height: $hamburger-layer-height;
        background-color: $hamburger-layer-color;
        border-radius: $hamburger-layer-border-radius;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    &::before,
    &::after {
        content: "";
        display: block;
    }

    &::before {
        top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    }

    &::after {
        bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    }
}
/*
 * Spin
 */
.hamburger--spin {
    .hamburger-inner {
        transition-duration: 0.22s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        &::before {
            transition: top 0.1s 0.25s ease-in,
            opacity 0.1s ease-in;
        }

        &::after {
            transition: bottom 0.1s 0.25s ease-in,
            transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }

    &:not(.collapsed) {
        .hamburger-inner {
            transform: rotate(225deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

            &::before {
                top: 0;
                opacity: 0;
                transition: top 0.1s ease-out,
                opacity 0.1s 0.12s ease-out;
            }

            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 0.1s ease-out,
                transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }
    }
}

