// Top bar
.top-bar{
    padding: 10px 0;
    max-height: 60px;
    vertical-align: middle;
    a:not(.dropdown-item){
        color: $white;
        &:hover{
            color: darken($primary, 20);
            text-decoration: none;
        }
    }
    .group{
        margin-right: 20px;
        &:last-child{
            margin-right: 20px;
        }
    }
    .unodc-logo{
        max-height: 25px;
    }
    &__locale-selector{
        .dropdown{
            width: inherit !important;
            color: $primary;
            z-index: 1001;

            .dropdown-item{
                font-size: 13px;
                i{
                    margin-right: 3px;
                }
                &:hover{
                    color: $primary;
                }
                &.active{
                    color: $white;
                }
            }
        }
        .dropdown-toggle{
            padding: 3px 20px;
            font-weight: bold;
            color: $primary;
            border-radius: 30px;
            font-size: 13px;
            height: 25px;
            border: 0;

        }
    }
    &__search-form{
        &__wrapper{
            position: relative;
        }
        .form-control{
            padding: 0 20px;
            font-weight: bold;
            color: $primary;
            border-radius: 30px;
            font-size: 13px;
            height: 25px;
            border: none;
        }
        &__submit{
            background: transparent;
            border: none;
            position: absolute;
            z-index: 1;
            top: 2px;
            right: 5px;
            color: $gray-500;
            font-size: 14px;
        }
    }
    &__social-links{
       a{
            margin: 0 2px;
            padding: 0 5px;
            font-size: 16px;
            line-height: 16px;
        }
    }
    &__pages-links{
        &__item{
            display: inline-block;
            a{
                padding: 2px 5px;
                margin: 0 5px;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
            }
            &.active,
            &:active {
                > a {
                    color: #91f5bf;
                }
            }
        }
    }
}

.faq-card{
    margin-bottom: 30px;
    border-radius: 15px !important;
    border: 0;
    border-left: 3px solid $secondary;
    position: relative;
    overflow: hidden;
    @extend .shadow;
    .card-header{
        background: $secondary;
        padding: 20px 25px;
        border: 0;
        border-radius: 13px !important;
        cursor: pointer;
        outline: none;
        text-align: left;
        .title{
            font-size: 18px;
            //font-weight: lighter;
            color: #FFF;
            transition: color 0.3s ease-out;
            i{
                float: right;
                color: $white;
                transition: all 0.3s ease-out;
            }
        }
        &.collapsed{
            i{
                transform: rotate(-90deg);
                color: $white;
                opacity: 0.7;
            }
            &:hover{
                .title,i{
                    color: darken($secondary,30);
                }
            }
        }

    }
    .card-body{
        padding: 15px 25px;
    }
}



