<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="control-chart centered wrap-legend" data-control="chart-pie" data-size="200"
             data-center-text="<?=$totalReports?>">
            <ul>
                <li>Homme<span><?=$male?></span></li>
                <li>Femme<span><?=$female?></span></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 align-items-stretch">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="control-chart centered wrap-legend" data-control="chart-pie" data-size="200"
                 data-center-text="<?=$totalReports?>">
                <ul>
                    <li>5 - 9ans<span><?=$age1?></span></li>
                    <li>10 - 18ans<span><?=$age2?></span></li>
                    <li>19 - 40ans<span><?=$age3?></span></li>
                    <li>41ans - plus<span><?=$age4?></span></li>
                    <li>Non précisé<span><?=$age5?></span></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 align-items-stretch" style="min-height: 244px;">
        <div
                class="control-chart wrap-legend"
                data-control="chart-bar"
                data-height="100"
                data-full-width="1">
            <ul>
                <li>Exploitation sexuelle <span><?=$reportSex?></span></li>
                <li>Fraude en lignes <span><?=$reportFraud?></span></li>
                <li>Sécurité <span><?=$reportSecurite?></span></li>
            </ul>
        </div>
    </div>


</div>

<?= $this->listRender() ?>
