// Home Banner
.banner{
    .swiper-container {
        height: 490px;
    }
    .swiper-slide{
        height: 490px;
        background-color: #efefef;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.2);
        padding: 140px 80px 0;
        color: #FFF;
        position: relative;
        overflow: hidden;
        &.dark{
            color: #333;
        }
    }
    .home-banner{
        .swiper-slide{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: transparentize($black,0.8);
            }
        }
        &__title{
            font-size: 42px;
            text-transform: uppercase;
            text-shadow: 0 2px 8px rgba(0,0,0,.3);
        }
        &__description{
            @extend .lead;
            max-width: 500px;
            margin-bottom: 20px;
            margin-top: 20px;
            font-weight: normal;
            text-shadow: 0 2px 8px rgba(0,0,0,.3);
        }
        &__image{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
}
