.section.news{
    position: relative;
    background: url("../images/news-pattern.png") repeat center;
    &:after{
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: transparentize($primary,0.1);
    }
    .container{
        position: relative;
        z-index: 1;
    }
}
