// Home Banner
.newsletter-subscribe {
    margin-top: 80px;
    .wrapper{
        background-color: $secondary;
        padding: 50px 20px;
        border-radius: 20px;
        z-index: 1;
        position: relative;
        color: #FFF;
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.175) !important
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        line-height: 1.5;
        padding-top: 0;
        margin-top: 0;
        color: inherit;
    }

    .intro {
        p {
            line-height: 1.5;
        }
    }

    form {
        justify-content: center;
    }

}
