.ss-search-form{
    position: relative;
    a{
        font-size: 1.3rem;
    }
    &__results--visible{
        @extend .dropdown-menu;
        display: block;
    }
    .ss-autocomplete-result{
        @extend .dropdown-item;
        @extend .clearfix;
        margin-top: 0;
        padding: 8px 10px;
        border-bottom: 1px solid $gray-400;
        hr{
            display: none;
        }
        &__aside{
            //width: 50px;
            //overflow: hidden;
            //margin-right: 10px;
            display: none;
        }
        &__content{
            display: flex;
            align-items: center;
        }
        &__title{
            font-size: 1.4rem;
            margin: 0;
            mark{
                background-color: $primary;
                color: #FFF;
                padding: 1px 3px;
                border-radius: 3px;
            }
        }

        &__badge{
            @extend .badge;
            @extend .badge-info;
            margin-left: 10px;
        }
    }
    .ss-show-all-results{
        margin: 0;
        padding: 8px 10px 3px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
        line-height: 1.2rem;
        a{
            font-size: 1.2rem;
            display: block;
        }
    }

}
