[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"

[viewBag]
==
<footer id="layout-footer" class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row text-center text-md-left">
				<div class="col-xs-6 col-lg-4 footer__about">
					<a href="/" class="mb-4 d-inline-block">
						<img src="{{ 'assets/images/mourakib-main-logo.svg'|theme }}" alt="">
					</a>
					<p class="small">
						{{ 'footer.under-logo-text'|_}}
					</p>
				</div>
				<div class="col-lg-8">
					<div class="row footer__links">
						<div class="col-xs-6 col-sm-4">
							<h4 class=" footer__links__title">Mourakib</h4>
							<ul class="list-unstyled list-light">
								<li><a href="{{ 'blog'|page }}">{{'Actualités'|_}}</a></li>
								<li><a href="{{ 'contact'|page }}">{{'Contact'|_}}</a></li>
								<li><a href="{{ 'faq'|page }}">{{'FAQ'|_}}</a></li>
							</ul>
						</div>
						<div class="col-xs-6 col-sm-4">
							<h4 class="footer__links__title">Type d’abus</h4>
							<ul class="list-unstyled list-light">
							{% for category in blogCategories.categories %}
								{% set slug =  'types-d-abus-' ~ category.slug %}
								<li><a href="{{ slug|staticPage }}" class="box"> {{ category.name|_ }}</a></li>
							{% endfor %}
							</ul>
						</div>
						<div class="col-xs-6 col-sm-4">
							<h4 class="footer__links__title">Liens Utiles</h4>
							<ul class="list-unstyled list-light">
								<li><a href="{{ 'multimedia'|page }}">{{'Multimédia'|_}}</a></li>
								<li><a href="{{ 'bibliotheque'|page }}">{{'Bibliothéque'|_}}</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<div class="copy">
		<div class="container">
			<div class="row f-flex justify-content-between align-items-center">
				<div class="col-md-8 text-xs-center  text-left   my-1">
					<p class="mt-2  text-muted"> © Copyright {{"now"|date('Y')}} • All Rights Reserved</p>
				</div>
				<div class="col-md-4 text-xs-center   text-lg-right   my-1">
					<div class="btn-container  mt-1 text-md-right text-sm-center">
						<div class="mb-1 mr-3 align-self-right pt-0 d-inline-block">
							{% if this.theme.social_facebook != "" %}
								<a href="{{ this.theme.social_facebook }}" class="p-2 m-2 btn" target="_blank"> <i class="fab fa-lg fa-facebook-f"></i> </a>
							{% endif %}
							{% if this.theme.social_twitter != "" %}
								<a href="{{ this.theme.social_twitter }}" class="p-2 m-2 btn" target="_blank"> <i class="fab fa-lg fa-twitter"></i> </a>
							{% endif %}
							{% if this.theme.social_instagram != "" %}
								<a href="{{ this.theme.social_instagram }}" class="p-2 m-2 btn" target="_blank"> <i class="fab fa-lg fa-linkedin"></i> </a>
							{% endif %}
							{% if this.theme.social_linkedin != "" %}
								<a href="{{ this.theme.social_linkedin }}" class="p-2 m-2 btn" target="_blank"> <i class="fab fa-lg fa-instagram"></i> </a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>


<mybot>
	<div id="botWrapper" class="sleep"></div>

	<!-- container element for chat window -->

	<div class="chatCont" id="chatCont">
		<div class="bot_profile">
			<div class="close">
				<i class="fa fa-times" aria-hidden="true"></i>
			</div>
		</div>
		<div id="result_div" class="resultDiv">
			<div id="chat"></div>
		</div>
	</div>
</mybot>



<img src="/themes/mourakib/assets/images/chat-sprite.png" class="hidden hide-img" />