
<meta charset="utf-8">
{% if this.page.meta_title %}
    <title>{{ this.page.meta_title|_ }} - {{ 'site.name'|_ }}</title>
    <meta name="title" content="{{ this.page.meta_title|_ }}">
{% else %}
    <title>{{ this.page.title }} - {{ 'site.name'|_ }}</title>
{% endif %}
{% if this.page.meta_description %}
    <meta name="description" content="{{ this.page.meta_description|_ }}">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />

<link href="/plugins/reazzon/gutenberg/assets/laraberg.min.css" rel="stylesheet">
<link href="/themes/mourakib/assets/css/main.css" rel="stylesheet">
{% styles %}
