description = "Modal Signalement"

[viewBag]
snippetCode = "report-modal"
snippetName = "Modal"

[localePicker]
forceUrl = 0
==
<div id="top-bar" class="top-bar bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
<!--                <div class="top-bar__logo-wrapper section-1">-->
<!--                    <img src="{{ ('assets/images/'~logoSrc)|theme }}" alt="{{ logoAlt }}" class="unodc-logo">-->
<!--                </div>-->
                <div class="top-bar__logo-wrapper section-1">
                    <img src="{{ ('assets/compiled/images/unodc-logo.png')|theme }}" alt="{{ logoAlt }}" class="unodc-logo">
                </div>
            </div>
            <div class="col-md-8 text-right section-2">

                <div class="d-inline-block top-bar__pages-links group">

                    <a href="#" class="inner-page"> {{ 'FAQ'|_ }} </a>
                    <a href="#" class="inner-page"> {{ 'Contact'|_ }} </a>
                    <a href="#" class="inner-page"> {{ 'A Propos'|_ }} </a>
                </div>

                <div class="d-inline-block top-bar__social-links group">
                    <a href="{{ fbLink }}" target="_blank"> <i class="fab fa-facebook-f"></i> </a>
                    <a href="{{ twLink }}" target="_blank"> <i class="fab fa-twitter"></i> </a>
                    <a href="{{ inLink }}" target="_blank"> <i class="fab fa-linkedin"></i> </a>
                    <a href="{{ instaLink }}" target="_blank"> <i class="fab fa-instagram"></i> </a>
                </div>
                {#
                <div class="d-inline-block top-bar__social-links group">
                    {% if fbLink != "" %}
                        <a href="{{ fbLink }}" target="_blank"> <i class="fab fa-facebook-f"></i> </a>
                    {% endif %}
                    {% if twLink != "" %}
                        <a href="{{ twLink }}" target="_blank"> <i class="fab fa-twitter"></i> </a>
                    {% endif %}
                    {% if inLink != "" %}
                    <a href="{{ inLink }}" target="_blank"> <i class="fab fa-linkedin"></i> </a>
                    {% endif %}
                    {% if instaLink != "" %}
                        <a href="{{ instaLink }}" target="_blank"> <i class="fab fa-instagram"></i> </a>
                    {% endif %}
                </div>
                #}

                <form action="#" method="get" class="d-inline-block top-bar__search-form group">
                    <input type="text" class="form-control" placeholder="{{ 'Recherche sur le site'|_ }}">
                </form>

                <div class="d-inline-block top-bar__locale-selector group">
                    {{ form_open() }}
                        <select name="locale" data-request="onSwitchLocale">
                            {% for code, name in locales %}
                                <option value="{{ code }}" {{ code == activeLocale ? 'selected' }} data-content="<i class='fas fa-globe-africa'></i> {{ name }} ">  {{ name }}</option>
                            {% endfor %}
                        </select>
                    {{ form_close() }}
                </div>



            </div>
        </div>
    </div>
</div>