[viewBag]

[staticMenu mainMenu]
code = "main-menu"

[localePicker]
forceUrl = 1

[staticMenu]
code = "main-menu"
==
{% import _self as nav %}

{% macro render_menu(items,submenu) %}
    {% import _self as nav %}

    {% for item in items %}

        {% if item.items %}

            {% if(submenu)%}
                <li role="presentation" class="nav-item dropdown {{ item.code }} dropdown-item {{ item.isActive ? 'active' }} {{ item.isChildActive ? 'child-active' }}">
                    <a href="{{ item.url }}" class="nav-link dropdown-toggle"  aria-haspopup="true" aria-expanded="false">
                        {{ item.code ? ('nav.'~item.code)|_ : item.title }}
                    </a>
                    <ul class="dropdown-menu">
                        {{ nav.render_menu(item.items,true) }}
                    </ul>
                </li>
            {% else %}
                <li role="presentation" class="nav-item dropdown {{ item.code }} {{ item.isActive ? 'active' }} {{ item.isChildActive ? 'child-active' }}">
                    <a href="{{ item.url }}" class="nav-link dropdown-toggle"  aria-haspopup="true" aria-expanded="false">
                        {{ item.code ? ('nav.'~item.code)|_ : item.title }}
                    </a>
                    <ul class="dropdown-menu">
                        {{ nav.render_menu(item.items,true) }}
                    </ul>
                </li>
            {% endif %}
        {% elseif(submenu)%}
            <li role="presentation" class="{{ item.isActive ? 'active' }} submenu dropdown-item {{ item.code }}">
                <a href="{{ item.url }}" class="nav-link ">{{ item.code ? ('nav.'~item.code)|_ : item.title }}</a>
            </li>
        {% else %}

            <li role="presentation" class="nav-item {{ item.viewBag.cssClass }} {{ item.isActive ? 'active' }} {{ item.isChildActive ? 'child-active' }} {{submenu ? 'dropdown-item'}} {{ item.code }}">
                <a href="{{ item.url }}" class="nav-link">{{ item.code ? ('nav.'~item.code)|_ : item.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% partial 'site/top-bar' %}

<nav id="layout-nav" class="navbar navbar-expand-lg" role="navigation">
    <div class="container">

        <a class="navbar-brand" href="{{ 'home'|page }}">
            <img src="{{ 'assets/images/mourakib-main-logo.svg'|theme}}" alt="">
        </a>

        <button class="navbar-toggler hamburger hamburger--spin collapsed" type="button"  data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>


        <div class="collapse navbar-collapse navbar-main-collapse" id="mainMenu">
            {% if mainMenu.menuItems %}
            <ul class="navbar-nav ml-auto">
                {{ nav.render_menu(mainMenu.menuItems) }}
                <li class="nav-item text-center"  role="presentation" >
                    <button class="btn btn-secondary report-trigger" report-trigger>
                        <i class="fas fa-exclamation-triangle"></i> {{ 'site.report_btn'|_ }}
                    </button>
                </li>
                <li class="nav-item nav-item--social text-center">
                    <div class="d-lg-none top-bar__social-links">
                        <a href="{{ fbLink }}" target="_blank"> <i class="fab fa-facebook-f"></i> </a>
                        <a href="{{ twLink }}" target="_blank"> <i class="fab fa-twitter"></i> </a>
                        <a href="{{ inLink }}" target="_blank"> <i class="fab fa-linkedin"></i> </a>
                        <a href="{{ instaLink }}" target="_blank"> <i class="fab fa-instagram"></i> </a>
                    </div>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

{% put help %}
    <!-- Locale Help -->

{% endput %}
