[viewBag]

[emptyForm Newsletter]
rules[email] = "required|email|unique:subscriber"
rules_messages[email] = "Votre email semble être incorrect"
messages_success = "Votre inscription a été envoyé avec succès"
messages_errors = "Il y a eu des erreurs dans votre inscription"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 1
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "compact"

[emptyForm]
messages_success = "Votre inscription a été envoyée avec succès"
messages_errors = "Il y a eu des erreurs dans votre inscription"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
==
<div class="newsletter-subscribe">
    <div class="container">
        <div class="wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="intro">
                        <h2>{{ 'newsletter_title'|_ }}</h2>
                        <p>{{ 'newsletter_text'|_ }}</p>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center ">
                    <form data-request="{{ __SELF__ }}::onFormSubmit" class="form-inline" id="subscription-box">
                        {{ form_token() }}

                        <!-- YOUR FORM FIELDS -->
                        <div class="input-group m-auto">
                            <input type="email" name="email" class="form-control form-control-lg" value="" placeholder="Email" required>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary btn-lg"> S'inscrire </button>
                            </div>
                        </div>
                        <div id="{{ __SELF__ }}_forms_flash"></div>

                        <!-- SUBMIT BUTTON -->
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
