<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ [
                'assets/chat/component/Bubbles.js',
                'assets/chat/locale/fr.js'
            ]|theme }}"></script>

<script src="{{ [ 'assets/js/app.js' ]|theme }}"></script>

{% framework extras %}
{% scripts %}

<script>
    let chatWindow;

    $('#botWrapper').click(function () {
        $this = $(this);
        if($this.hasClass('sleep')){
            $this.addClass('open');
            setTimeout(function () {
                $this.removeClass('sleep').addClass('wake-up');
                $('.bot_profile').toggle();
                $('.chatCont').toggle();
                chatWindow = new Bubbles(
                    document.getElementById("chat"),
                    "chatWindow"
                );
                chatWindow.talk(
                    convo
                );
            },400);
            setTimeout(function () {
                $this.removeClass('wake-up').addClass('blink');
            },900)
        }
        if($(this).hasClass('blink')){
            closeChat();
        }
    });


    /*-------------------------------------------------------
     |  Chat
     -------------------------------00----------------------- */
    let closeChatClicked = false;
    $('.close').click(function () {
        if( ! closeChatClicked ){
            closeChatClicked = true;
            chatWindow.talk(
                convo,
                'closedChat'
            );
        }
    });

    function closeChatWindow() {
        $('#botWrapper').removeClass('open blink').addClass('sleep');
        $('.chatCont').toggle();
        $('.bot_profile').toggle();
        $('#chat .bubble-wrap').remove();
        closeChatClicked = false;
    }

    openPageActu = function () {
        window.location.href = '/actualites';
    };
    openPageBiblio = function () {
        window.location.href = '/bibliotheque';
    };
    openPageContact = function () {
        window.location.href = '/contact';
    };
    openPageFraude = function () {
        window.location.href = '/types-d-abus/fraudes-en-lignes';
    };

    newsLetter = function () {
        $('.newsletter-subscribe #subscribe_data').focus();
        closeChatWindow();
    };

    openPageSecuri = function () {
        window.location.href = '/types-d-abus/securite';
    };
    closeChat = function () {
        closeChatWindow()
    };
    openPageSex = function () {
        window.location.href = '/types-d-abus/exploitation-sexuelle';
    };



</script>
