description = "Top bar"

[viewBag]
snippetCode = "top-bar"
snippetName = "Top bar"

[localePicker]
forceUrl = 0

[staticMenu]
code = "top-bar-menu"

[searchInput]
useAutoComplete = 0
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "recherche.htm"
==
{% import _self as topnav %}

{% macro render_menu(items) %}
    {% import _self as topnav %}

    {% for item in items if not item.viewBag.isHidden %}
    <div role="presentation" class="top-bar__pages-links__item {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }} {{ item.viewBag.cssClass }}">
        {% if item.url %}
            <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
                {{ (item.title)|_ }}
            </a>
        {% else %}
            <span>{{ item.code ? ('nav.'~item.code)|_ : item.title }}</span>
        {% endif %}

    </div>
    {% endfor %}

{% endmacro %}

<div id="top-bar" class="top-bar bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-5">
                <div class="top-bar__logo-wrapper section-1">
                    <img src="{{ ('assets/images/unodc-logo.png')|theme }}" alt="{{ logoAlt }}" class="unodc-logo">
                </div>
            </div>
            <div class="col-md-10 col-7 text-right section-2">

                <div class="d-lg-inline-block d-none top-bar__pages-links group">
                    {% if staticMenu.menuItems %}
                        <div>
                            {{ topnav.render_menu(staticMenu.menuItems) }}
                        </div>
                    {% endif %}
                </div>

                <div class="d-lg-inline-block d-none  top-bar__social-links group">
                    {% if this.theme.social_facebook != "" %}
                        <a href="{{ this.theme.social_facebook }}" target="_blank"> <i class="fab fa-facebook-f"></i> </a>
                    {% endif %}
                    {% if this.theme.social_twitter != "" %}
                        <a href="{{ this.theme.social_twitter }}" target="_blank"> <i class="fab fa-twitter"></i> </a>
                    {% endif %}
                    {% if this.theme.social_instagram != "" %}
                    <a href="{{ this.theme.social_instagram }}" target="_blank"> <i class="fab fa-linkedin"></i> </a>
                    {% endif %}
                    {% if this.theme.social_linkedin != "" %}
                        <a href="{{ this.theme.social_linkedin }}" target="_blank"> <i class="fab fa-instagram"></i> </a>
                    {% endif %}
                </div>
                <div class="top-bar__search-form group d-none d-lg-inline-block">

                    <form action="{{ searchInput.searchPage | page }}?q={{ query | url_encode(true) }}" method="get">

                            <div class="top-bar__search-form__wrapper">
                                <input name="q" type="text" placeholder="{{ 'search.input_placeholder'|_ }}"
                                       value="{{ searchInput.query }}"
                                       autocomplete="off"
                                       class="form-control"
                                >
                                <button class="top-bar__search-form__submit" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                    </form>

                </div>


                <div class="d-inline-block top-bar__locale-selector group">
                    {{ form_open() }}
                        <select name="locale" data-request="onSwitchLocale">
                            {% for code, name in locales %}
                                <option value="{{ code }}" {{ code == activeLocale ? 'selected' }} data-content="<i class='fas fa-globe-africa'></i> <span class='d-none d-lg-inline'>{{ name }} </span> <span class='d-lg-none text-capitalize'>{{ code }}</span> "> {{ name }} </option>
                            {% endfor %}
                        </select>
                    {{ form_close() }}
                </div>



            </div>
        </div>
    </div>
</div>