[viewBag]
title = "À Propos"
url = "/a-propos"
layout = "content"
is_hidden = 0
navigation_hidden = 0
tagline = "Qui sommes nous?"
localeUrl[en] = "/about-us"
==
<h2>Mourakib.org</h2>

<p><a href="//Mourakib.org">Mourakib.org</a> est une plateforme web qui a pour vocation de <strong>sensibiliser les jeunes aux bonnes pratiques du numérique</strong>, et d'orienter <strong>parents et professionnels de l’éducation vers l'utilisation d'une manière sécurisé &nbsp;des technologies et de l'internet.&nbsp;</strong></p>

<p><strong><a href="//Mourakib.org">Mourakib.org</a> est accésible à tout public gratuitement.&nbsp;</strong></p>

<p><strong>Nous mettons à votre disposition une FAQ ainsi qu'un formulaire de contact afin de nous envoyer toutes demandes concernant les dangers liés à l'utilisation de l'internet.&nbsp;</strong></p>

<p>
	<br>
</p>

<h2>
	<br>
</h2>