[viewBag]
title = "Cyberharcèlement"
url = "/types-d-abus/cyberharcelement"
layout = "content"
is_hidden = 0
navigation_hidden = 0
banner = "/cropped-images/c-0-0-0-0-1599351509.jpg"
localeUrl[en] = "/abus"
localeUrl[ar] = "/abus"
==
<p>Le cyberharcèlement est le harcèlement via les outils numériques et électroniques tels que les téléphones mobiles, les ordinateurs et les tablettes. Et les victimes sont donc harceler par : SMS, applications, réseaux sociaux, forums, site internet ou jeux interactifs.</p>

<p>Il est considéré comme du Cyberharcèlement d'envoyer, de publier ou de partager du contenu offensant, nuisible, faux ou cruel sur une autre personne, afin de l'humilier ou de le dénigrer. Ces actes sont illégaux et donc dénoncés</p>

<p>Parmi les inconvénients d’internet on retrouve l’anonymat qui permet aux « cyberharceleur » d’opérer plus facilement en étant « caché » et nuire à leurs victimes en toutes discrétions. A savoir même si l’identité de l’harceleur n’est pas connue, on rapporte les faits &nbsp;pour donner suite à une enquête judiciaire des nouvelles méthodes et techniques permettent aux autorités de détecter ces Cyberharceleur.</p>