[viewBag]
title = "Vie Privé et réseaux sociaux"
url = "/types-d-abus/vie-prive-et-reseaux-sociaux"
layout = "content"
is_hidden = 0
navigation_hidden = 0
banner = "/cropped-images/b-0-0-0-0-1599349716.jpg"
localeUrl[en] = "/abus"
localeUrl[ar] = "/abus"
==
<p>Depuis plusieurs années le monde vit une invasion technologique Importante, accompagné d’une guerre d’information et de données mondiale, qu’on pourrait qualifier d’une guerre froide dans laquelle les géants d’internet font la course à l’information et ensuite la commercialise ou la réutilise quand bon leur semble.</p>

<p>En effet, nos informations privées et autres circulent sur la toile et les réseaux sociaux d’une manière aussi rapide dans des canaux spécifiques et se trouvent souvent au porté de tout le monde, par exemple on pourrait trouver l’âge et l’adresse d’une personne à travers un compte Facebook, détecter ses loisirs, connaitre ses amis, etc. Il suffit de publier du contenu qui peut générer de la donnée et des informations réutilisable sois par des sociétés, des pages, des profils, mais souvent par des criminels qui peuvent exposer votre vie au danger, tout ceci pourra être éviter en ayant une navigation responsable sur Internet d’une manière général et sur les réseaux sociaux d’une manière spécifiques.</p>

<p>Une fois connecté sur la toile vos données courent automatiquement un risque, l’objectif étant de réduire ce risque, en adoptant un comportement responsable et être vigilant au simple clic.</p>

<p>Par exemple une perte de contrôle de son compte est égale a la perte de contrôle de son identité numérique. Une publication irresponsable sur une réseaux sociale peut faire l’objet d’un refus professionnel. &nbsp;</p>

<p>Soyez prudent et sécuriser vos données</p>