[viewBag]
title = "Piratage"
url = "/abus/piratage"
layout = "content"
is_hidden = 0
navigation_hidden = 0
banner = "/cropped-images/e-0-0-0-0-1599420203.jpg"
localeUrl[en] = "/abus"
localeUrl[ar] = "/abus"
==
<p>Le piratage se caractérisent comme étant une activité illégale effectué généralement par ce qu’on appelle des « cybercriminels ». Ces derniers cherchent souvent à compromettre des appareils numériques, des réseaux ou des données, et <em>qui, au travers d’accès illicites aux ordinateurs, cherche à dégrader, à modifier leur fonctionnement, voire à les neutraliser.</em></p>

<p><em>Ces malfaiteurs sont motivés par un appât de gain, &nbsp;par la collecte d’information, la volonté de nuire ou parfois même pour le plaisir du « défi »</em></p>

<p>
	<br>
</p>

<p>Le piratage se base principalement sur des techniques et des connaissances n informatique et en cybersécurité avancé, on cite à titre d’exemple la mise en, place d’un programme malveillant demande des connaissance approfondies en développement informatique et en algorithmique. Cependant, les cybercriminels utilisent aussi des techniques en psychologie afin de convaincre leurs victimes de se lancer dans leur processus d’escroquerie. Ces techniques sont appelées « Ingénierie sociale »</p>