[viewBag]
title = "Introduction to Digital Forensics"
url = "/bibliotheque/introduction-digital-forensics"
layout = "content"
is_hidden = 0
navigation_hidden = 0
localeUrl[en] = "/bibliotheque"
localeUrl[ar] = "/bibliotheque"
==
<p class="oc-text-bordered" style="text-align: justify;">Developed under UNODC's Education for Justice (E4J) initiative, a component of the Global Programme for the Implementation of the Doha Declaration, this Module forms part of the E4J University Module Series on Cybercrime and is accompanied by a Teaching Guide. The full range of E4J materials includes university modules on Anti-Corruption, Counter-Terrorism, Crime Prevention and Criminal Justice, Cybercrime, Firearms, Trafficking in Persons/Smuggling of Migrants, and Integrity and Ethics, as well as Organized Crime.</p>

<p class="oc-text-bordered" style="text-align: justify;">All E4J university modules provide suggestions for in-class exercises, student assessments, slides, and other teaching tools that lecturers can adapt to their contexts, and integrate into existing university courses and programmes. The Module provides an outline for a three-hour class, but can be used for shorter or longer sessions.</p>

<p class="oc-text-bordered" style="text-align: justify;">All E4J university modules engage with existing academic research and debates, and may contain information, opinions and statements from a variety of sources, including press reports and independent experts. Terms of Use and Disclaimers</p>

<p style="text-align: justify;"><strong>Introduction</strong></p>

<p style="text-align: justify;">Forensic science applies “natural, physical, and social sciences to matters of law” (Maras and Miranda, 2014, p. 1). One of the many branches of forensic science is digital forensic science (or as it is more commonly known, digital forensics). Digital forensics is a “branch of forensic science that focuses on criminal procedure law and evidence as applied to computers and related devices” (Maras, 2014, p. 29), such as mobile devices (e.g., phones and smartphones), gaming consoles, and other Internet-enabled devices (e.g., health, fitness, and medical devices). Particularly, digital forensics refers to the process of collection, acquisition, preservation, analysis, and presentation of electronic evidence (a.k.a., digital evidence) for intelligence purposes and/or use in investigations and prosecutions of various forms of crime, including cybercrime.</p>

<p class="oc-text-bordered" style="text-align: justify;"><strong>Note:</strong></p>

<p class="oc-text-bordered" style="text-align: justify;">While this Module focuses on digital forensics in law enforcement investigations and prosecutions of cybercrime, many digital forensics activities are conducted by those outside of the criminal justice system, such as private companies and organizations (for information about digital forensics activities of private companies and organizations, see Cybercrime Module 6 on Practical Aspects of Cybercrime Investigations and Digital Forensics). In fact, many different agencies, organizations, businesses, and individuals can engage in digital forensics and cybercrime investigations (see Cybercrime Module 5 on Cybercrime Investigations for information about those involved in these investigations).</p>

<p style="text-align: justify;">This Module provides an overview of digital forensics and digital evidence, looking in particular at the digital forensics process, common digital forensics practices, standards for digital forensics and digital evidence, and best practices in digital forensics.</p>

<p style="text-align: justify;"><strong>Learning Outcomes</strong></p>

<ul>
	<li style="text-align: justify;">Discuss data and identify data sources</li>
	<li style="text-align: justify;">Describe and discuss digital evidence</li>
	<li style="text-align: justify;">Compare and contrast the differences between digital evidence and traditional evidence</li>
	<li style="text-align: justify;">Discuss the ways in which digital evidence is authenticated</li>
	<li style="text-align: justify;">Describe and critique digital forensics process models</li>
	<li style="text-align: justify;">Critically evaluate standards and best practices for digital evidence and digital forensics</li>
</ul>

<p style="text-align: justify;"><strong>Key Issues</strong></p>

<p style="text-align: justify;">The procedures and techniques used to identify, collect, acquire, preserve, analyse, and ultimately present digital evidence in court must be in accordance with existing criminal procedural law (discussed in Cybercrime Module 3, Legal Frameworks and Human Rights). This form of law prescribes the rules of evidence and criminal procedure that must be followed to ensure that evidence is admissible in court. Information and communication technology (ICT) can provide evidence of a crime. Data obtained from ICT that can be used in a court of law is known as electronic evidence (a.k.a., digital evidence), and the process of identifying, acquiring, preserving, analysing, and presenting this evidence is known as digital forensics. This Module provides an in-depth examination of both digital evidence and digital forensics.</p>

<p style="text-align: justify;"><strong>Digital Evidence</strong></p>

<p style="text-align: justify;">Digital forensics “is underpinned by [forensic principles, such as Edmond] Locard’s exchange principle” (Albert and Venter, 2017, p. 24), which holds that “objects and surfaces that come into contact will transfer material from one to another” (Maras and Miranda, 2014, pp. 2-3). In the field of digital forensics, digital traces are left behind as the result of individuals’ use of information and communication technology (ICT) (Albert and Venter, 2017). Particularly, a person utilizing ICT can leave a digital footprint, which refers to the data left behind by ICT users that can reveal information about them, including age, gender, race, ethnicity, nationality, sexual orientation, thoughts, preferences, habits, hobbies, medical history and concerns, psychological disorders, employment status, affiliations, relationships, geolocation, routines, and other activities. This digital footprint can be active or passive. An active digital footprint is created by data provided by the user, such as personal information, videos, images, and comments posted on apps, websites, bulletin boards, social media, and other online forums. A passive digital footprint is data that is obtained and unintentionally left behind by the users of the Internet and digital technology (e.g., Internet browsing history). Data that are part of active and passive digital footprints can be used as evidence of a crime, including cybercrime (i.e., digital evidence). This data can also be used to prove or disprove a matter being asserted; refute or support the testimony of a victim, witness, or suspect; and/or implicate or exculpate a suspect of a crime.</p>

<p style="text-align: justify;">Data is stored on digital devices (e.g., computers, smartphones, tablets, phones, printers, smartTVs, and any other devices that have digital memory capacity), external storage devices (e.g. external hard drives and USB flash drives), network components and devices (e.g., routers), servers, and the cloud (where data is stored “at multiple data centres in different geographic locations”; UNODC, 2013, p. xxv). The type of data that could be obtained is content (i.e., words in written communications or spoken words in audio files; e.g., videos, the text of emails, text messages, instant messages, and social media content) and non-content data or metadata (i.e., data about the content; e.g., identity and location of users and transactional data, such as information about senders and receivers of telecommunications and electronic communications).</p>

<p style="text-align: justify;">Data obtained online and/or extracted from digital devices can provide a wealth of information about users and events. For instance, gaming consoles, which operate like personal computers, store personal information about users of the devices (e.g., names and email addresses), financial information (e.g., credit card data), Internet browsing history (e.g., websites visited), images, and videos, among other data. Gaming console data has been used in cases of child sexual exploitation and online child sexual abuse material (Read et al., 2016; Conrad, Dorn, and Craiger, 2010) (these cybercrimes are further explored in Cybercrime Module 12, Interpersonal Cybercrime). Another digital device that collects a significant amount of data about its users is the Amazon Echo (with Alexa voice service). The data collected by this device could provide valuable information about users/owners, such as their interests, preferences, queries, purchases, and other activities, as well as their location (e.g., whether or not at home, by reviewing timestamp and audio recordings of interactions with Alexa). Evidence from an Amazon Echo was sought in a murder case in the United States. While the charges against the suspect were ultimately dropped, this case brought home the lesson that data collected by new digital technologies will inevitably be introduced as evidence in a court of law (Maras and Wandt, 2018).</p>

<p style="text-align: justify;">Data can be obtained and used for intelligence purposes (for more information, see UNODC 2011 Criminal Intelligence Manual for Analysts) and/or can be introduced as digital evidence in a court of law. With respect to the latter, digital evidence can serve as direct evidence by “establish[ing] a fact” or circumstantial evidence by “infer[ing] the truth of a given fact” (Maras, 2014, pp. 40-41). Consider the following hypothetical incident: a racist tweet was posted from a Twitter account (Account A). The direct evidence is that Account A was used to post the racist tweet. The circumstantial evidence is that the account holder posted the tweet. To prove that the account holder posted the tweet, further corroborating evidence is required (as Cybercrime Module 6 on Practical Aspects of Cybercrime Investigations and Digital Forensics shows, identifying the perpetrators of cybercrime is no easy task).</p>

<p style="text-align: justify;">Before digital device can be introduced in court as direct or circumstantial evidence it must be authenticated (i.e., it must be shown that the evidence is what it purports to be). To illustrate authentication practices, consider the following general categories of digital evidence: content generated by one or more persons (e.g., text, email or instant messages, and word processing documents, such as Microsoft Word); content generated by a computer or digital device without user input (e.g., data logs), which is considered as a form of real evidence in, for example, the United Kingdom (see Regina (O) v. Coventry Magistrates Court, 2004); and content generated by a combination of both (e.g., spreadsheets from programs such as Microsoft Excel, which include user input data and calculations made by the software). User-generated content can be admitted if it is trustworthy and reliable (i.e., it can be attributed to a person). Device-generated content can be admitted if it can be shown to function properly at the time the data was produced, and if it can be shown that when data was generated security mechanisms were present to prevent the alteration of data. When content is both generated by a device and user, the trustworthiness and reliability of each needs to be established.</p>

<p style="text-align: justify;">When compared to traditional evidence (e.g., paper documents, weapons, controlled substances, etc.), digital evidence poses unique authentication challenges because of the volume of available data, its velocity (i.e., the speed with which it is created and transferred), its volatility (i.e., it can quickly disappear by being overwritten or deleted), and its fragility (i.e., it can easily be manipulated, altered or damaged). While some countries have implemented rules of evidence with authentication requirements that specifically pertain to digital evidence, others have similar authentication requirements for traditional evidence and digital evidence. In France, for example, both paper-based and electronic documents must be authenticated by verifying the identity of the creator of the documents and the integrity of the documents (Bazin, 2008); the latter refers not only to its accuracy, but also its ability to maintain its accuracy (i.e., consistency) over time. What is more, in an effort to treat non-digital and digital evidence the same, Singapore amended its rules of evidence with the Singapore Evidence (Amendment) Act of 2012, to ensure the same authentication practices for non-digital and digital evidence.</p>

<p style="text-align: justify;">In addition to determining the authenticity of digital evidence, many countries also examine whether the evidence represents the best evidence (i.e., the original piece of evidence or an accurate duplicate of the original), and/or can be admitted under hearsay (i.e., out of court statements) exceptions (Biasiottie et al., 2018; Kasper and Laurits, 2016; Alba, 2014; Duranti and Rogers, 2012; Goode, 2009). Cases in point are Tanzania (Evidence Act of 1967, Written Laws (Miscellaneous Amendments) Act of 2007, and Electronic Transactions Act of 2015); Belize (Electronic Evidence Act of 2011); Indonesia (Law No. 11 of 2008 Concerning Electronic Information and Transactions, and Government Regulation No. 82 of 2012); Malaysia (Evidence Act 1950); India (Information Technology Act of 2000); and Singapore (Evidence (Amendment) Act 2012), to name a few.</p>

<p style="text-align: justify;">Furthermore, assessments of the authenticity of digital evidence also involve an examination of the processes, methods, and tools used to collect, acquire, preserve, and analyse digital evidence to ensure that the data was not modified in any way. These processes, methods, and tools are explored in the next sections of this Module.</p>

<p style="text-align: justify;"><strong>Digital Forensics</strong></p>

<p style="text-align: justify;">The digital forensics process involves the: search, acquisition, preservation, and maintenance of digital evidence; description, explanation and establishment of the origin of digital evidence and its significance; the analysis of evidence and its validity, reliability, and relevance to the case; and the reporting of evidence pertinent to the case (Maras, 2014).</p>

<p style="text-align: justify;">Various digital forensics methodologies have been developed and adopted. In 2001, the Digital Forensic Research Workshop, “a non-profit, volunteer organization, ….[dedicated to] sponsoring technical working groups, annual conferences and challenges to help drive the direction of research and development,” developed a model based on the U.S. Federal Bureau of Investigation’s protocol for physical crime scene searches, which includes seven phases: identification, preservation, collection, examination, analysis, presentation, and decision (Palmer, 2001, p. 14) (see Figure 1).</p>

<p style="text-align: justify;">
	<br>
</p>

<p style="text-align: center;"><img src="http://mourakib.org/storage/app/media/uploaded-files/1588358142610.png" style="width: 517px;" class="fr-fic fr-dib" data-result="success"></p>

<p style="text-align: center;"><em>Figure 1. Palmer, Gary. (2001). DFRWS Technical Report: A Road Map for Digital Forensic Research.&nbsp;</em></p>

<p style="text-align: center;"><em>Digital Forensic Research Workshop. Utica, New York.</em></p>

<p style="text-align: justify;">In 2002, another digital forensics model was proposed, which was based on the 2001 Digital Forensic Research Workshop model and the U.S. Federal Bureau of Investigation’s crime scene search protocol (for physical crime scenes) (Reith, Carr, and Gunsch, 2002). This model (“The Abstract Digital Forensics Model”) had nine phases (Baryamureeba and Tushabe, 2004, 3):</p>

<ol>
	<li style="text-align: justify;">identification (i.e., “recognizes an incident from indicators and determines its type”);</li>
	<li style="text-align: justify;">preparation (i.e., “preparation of tools, techniques, search warrants, and monitoring authorizations and management support”);</li>
	<li style="text-align: justify;">approach strategy (i.e., “develops a procedure to use in order to maximize the collection of untainted evidence while minimizing the impact to the victim”);</li>
	<li style="text-align: justify;">preservation (i.e., “the isolation, securing and preservation of the state of physical and digital evidence”);</li>
	<li style="text-align: justify;">collection (i.e., “recording of the physical scene and duplicate digital evidence using standardized and accepted procedures”);</li>
	<li style="text-align: justify;">examination (i.e., “an in-depth systematic search of evidence relating to the suspected crime”);</li>
	<li style="text-align: justify;">analysis (i.e., “determination of the significance, reconstructing fragments of data and drawing conclusions based on evidence found”);</li>
	<li style="text-align: justify;">presentation (i.e., “summary and explanation of conclusions”); and</li>
	<li style="text-align: justify;">returning evidence (i.e., “physical and digital property is returned to proper owner”).</li>
</ol>

<p style="text-align: justify;">In 2003, the Integrated Digital Investigation Model (see Figure 2) was proposed, which is a more holistic investigative approach that has five basic stages, each with its own phases (Carrier and Spafford, 2003): readiness (i.e., assess ability of operations and infrastructure to support investigation); deployment (i.e., incident detected, appropriate personnel notified, and authorisation for investigation is obtained – e.g., legal order for law enforcement investigations, supervisor authorisation for private investigations); physical crime scene investigation (i.e., secure crime scene, identify relevant physical evidence, document crime scene, collect physical evidence at crime scene, examine this evidence, reconstruct crime scene events, and present findings in court); digital crime scene investigation (i.e., secure and identify relevant digital evidence, document the evidence, acquire, and analyse it, reconstruct events, and present findings in court); and review (i.e., once the investigation is concluded, an assessment is made to identify lessons learned).</p>

<p style="text-align: center;"><img src="http://mourakib.org/storage/app/media/uploaded-files/1588358263083.png" style="width: 624px;" class="fr-fic fr-dib" data-result="success"></p>

<p style="text-align: center;"><em>Figure 2. Integrated Digital Investigation Process Phases: Carrier, Brian D. and Eugene H. Spafford. (2003).&nbsp;</em></p>

<p style="text-align: center;"><em>Getting physical with the digital investigation process. International Journal of Digital Evidence, Vol. 2(2), 1-20.</em></p>

<p style="text-align: center;">
	<br>
</p>

<p style="text-align: justify;">In 2006, the U.S. National Institute of Standards and Technology proposed a four-phase digital forensics model (see Figure 3) in its Guide to Integrating Forensic Techniques into Incident Response (SP 800-86) (Kent et al., 2006, 3-1): the collection phase, which includes the identification of evidence at the scene, and its labelling, documentation, and ultimate collection; examination phase wherein the appropriate forensic tools and techniques to be used to extract relevant digital evidence, while preserving its integrity, are determined; analysis phase whereby the evidence extracted is evaluated to determine its usefulness and applicability to the case; and the reporting phase, which includes the actions performed during the digital forensics process and the presentation of the findings.</p>

<p>
	<br>
</p>

<p style="text-align: center;"><img src="http://mourakib.org/storage/app/media/uploaded-files/1588358308675.png" style="width: 542px;" class="fr-fic fr-dib" data-result="success"></p>

<p style="text-align: center;"><em>Figure 3. National Institute of Standards and Technology, four-phase digital investigation model proposed in SP 800-86: Kent, Karen et al. (2006).&nbsp;</em></p>

<p style="text-align: center;"><em>Guide to Integrating Forensic Techniques into Incident Response, National Institute of Standards and Technology, 121.</em></p>

<p style="text-align: center;">
	<br>
</p>

<p style="text-align: justify;">Another investigative model was proposed by the National Institute of Justice (NIJ) of the U.S. Department of Justice in 2001 and revised in 2008. Particularly, the NIJ’s Electronic Crime Scene Investigation: A Guide for First Responders focuses on physical crime scene procedures, such as securing and evaluating the crime scene (i.e., to identify relevant devices with potential digital evidence), documenting the crime scene, collecting relevant devices, and packaging, transporting, and ultimately safeguarding devices.</p>

<p style="text-align: justify;">The above-mentioned models are based on the assumptions that all of the phases are completed for each crime and cybercrime investigation (Rogers et al., 2006). In practice, however, this is not always the case. Because the volumes of data and the digital devices collecting, storing, and sharing data have exponentially expanded, resulting in more criminal cases involving some type of digital device, it is increasingly being considered impractical to conduct in-depth examinations of each digital device. As Casey, Ferraro, and Nguyen (2009) pointed out, “few [digital forensics laboratories] can still afford to create a forensic duplicate of every piece of media and perform an in-depth forensic examination of all data on those media… It makes little sense to wait for the review of each piece of media if only a handful of them will provide data of evidentiary significance” (p. 1353).</p>

<p style="text-align: justify;">In view of that, digital forensics process models have been developed that take this into consideration. For instance, Rogers et. al (2006) proposed the Cyber Forensic Field Triage Process Model (CFFTPM), “an onsite or field approach” digital forensics process model “for providing the identification, analysis and interpretation of digital evidence in a short time frame, without the requirement of having to take the system(s)/media back to the lab for an in-depth examination or acquiring a complete forensic image(s)” (p. 19). Building on this model, Casey, Ferraro, and Nguyen (2009) proposed “three levels of forensic examination” that can be used in the field or in the lab:</p>

<ol>
	<li style="text-align: justify;">Survey/triage forensics inspection. This inspection is conducted to quickly review potential sources of evidence and prioritize certain sources for examination based on the importance of the type of evidence they could contain and the volatility of the evidence (Casey, Ferraro, and Nguyen, 2009, pp. 1353 and 1356).</li>
	<li style="text-align: justify;">Preliminary forensic examination. To speed up the digital forensics process, a preliminary forensic examination is conducted on the sources identified during the survey/triage forensics inspection phase in order to find information that could be used in the investigation to obtain direct, circumstantial, or other corroborative evidence of a matter asserted (Casey, Ferraro, and Nguyen, 2009, pp. 1353 and 1356-1359). The failure to find forensic artefacts (i.e., data that may be relevant to a digital forensics investigation) during this examination, which could potentially happen because they were overlooked, does not automatically mean that an in-depth forensic examination will not be conducted (this depends on the case and policies and procedures of those conducting the examination).</li>
	<li style="text-align: justify;">In-depth forensic examination. All sources of evidence are examined. This type of examination is often conducted “when evidence destruction is suspected, when additional questions arise and when a case nears trial” (Casey, Ferraro, and Nguyen, 2009, p. 1359).</li>
</ol>

<p style="text-align: justify;">The viability and relevance of each model and its components continues to be debated today (Valjarevic and Venter, 2015; Du, Le-Khac, and Scanlon, 2017). The reality is that each country follows its own digital forensics standards, protocols and procedures. However, differences in processes serve as an impediment to international cooperation in law enforcement investigations (see Cybercrime Module 7 on International Cooperation Against Cybercrime).</p>

<p style="text-align: justify;"><strong>Standards and Best Practices for Digital Forensics</strong></p>

<p style="text-align: justify;">The International Organization for Standardization (ISO), an international non-governmental organization, and the International Electrotechnical Commission (IEC), an international not-for-profit organization, develop and publish international standards to harmonise practices between countries. In 2012, the International Organization for Standardization (ISO) and the International Electrotechnical Commission (IEC) published international standards for digital evidence handling (ISO/IEC 27037 Guidelines for Identification, Collection, Acquisition, and Preservation of Digital Evidence). These guidelines included only the initial handling of digital evidence. The proposed four phases for digital evidence handling are as follows:</p>

<p style="text-align: justify;">Identification. This phase includes the search for and recognition of relevant evidence, as well as its documentation. In this phase, the priorities for evidence collection are identified based on the value and volatility of evidence (see Cybercrime Module 6 on Practical Aspects of Cybercrime Investigations and Digital Forensics for further information).</p>

<p style="text-align: justify;">Collection. This phase involves the collection of all digital devices that could potentially contain data of evidentiary value. These devices are then transported back to a forensic laboratory or other facility for acquisition and analysis of digital evidence. This process is known as static acquisition. However, there are cases in which static acquisition is unfeasible. In such situations, live acquisition of data is conducted. Let us consider, for example, the systems of critical infrastructures (i.e., industrial control systems). These systems cannot be powered down as they provide critical services. For this reason, live acquisitions are conducted that collect volatile data and non-volatile data from live running systems. These live acquisitions, however, can interfere with the normal functions of the industrial control system (e.g., by slowing down services) (see</p>

<p style="text-align: justify;">Cybercrime Module 6 on Practical Aspects of Cybercrime Investigations and Digital Forensics for further information).</p>

<p class="oc-text-bordered" style="text-align: justify;"><strong>Note:</strong></p>

<p class="oc-text-bordered" style="text-align: justify;">Before conducting a live acquisition, data acquisition priorities should be identified in terms of data accessibility, as well as the value and volatility of the data.</p>

<p style="text-align: justify;">Acquisition. Digital evidence is obtained without compromising the integrity of the data. This was highlighted by the UK National Police Chiefs Council (NPCC), formerly known as the UK Association of Chief Police Officers, as an important principle of digital forensics practice (i.e., Principle 1: “No action taken by law enforcement agencies, persons employed within those agencies or their agents should change data which may subsequently be relied upon in court”) (UK Association of Chief Police Officers, 2012, p. 6). This obtainment of data without altering it is accomplished by creating a duplicate copy of the content of the digital device (a process known as imaging) while using a device (write blocker) that is designed to prevent the alteration of data during the copying process. To determine whether the duplicate is an exact copy of the original a hash value is calculated using mathematical computations; here, a cryptographic hash function is used to produce a hash value). If the hash values for the original and copy match, then the contents of the duplicate are the exact same as the original. Understanding that there are certain “circumstances where a person finds it necessary to access original data [i.e., during live acquisitions],” the UK National Police Chiefs Council notes that “the person [accessing this data] must be competent to do so and be able to give evidence explaining the relevance and the implications of their actions” (Principle 2) (UK Association of Chief Police Officers, 2012, p. 6) (see Cybercrime Module 6 on Practical Aspects of Cybercrime Investigations and Digital Forensics for further information).</p>

<p style="text-align: justify;">
	<br>
</p>

<p style="text-align: justify;"><strong>Note:</strong></p>

<ul>
	<li class="oc-text-bordered" style="text-align: justify;">Certain cryptographic hash functions have weaknesses.</li>
</ul>

<p style="text-align: justify;"><strong>Want to learn more?</strong></p>

<ul>
	<li class="oc-text-bordered" style="text-align: justify;">Thompson, Eric. (2005). MD5 collisions and the impact on computer forensics. Digital Investigation 2, 36-40. http://msn.iecs.fcu.edu.tw/report/data/ori_paper/2005-9-15/MD5%20collisions%20and%20the%20impact%20on%20computer%20forensics.pdf.</li>
	<li class="oc-text-bordered" style="text-align: justify;">Vijayan, Jaikumar. (2017). Researchers from Google, CTI Break SHA-1 Hash Encryption Function. eWeek, 23 February 2017. http://www.eweek.com/security/researchers-from-google-cti-break-sha-1-hash-encryption-function.</li>
</ul>

<p style="text-align: justify;">Preservation. The integrity of digital devices and digital evidence can be established with a chain of custody (discussed in Cybercrime Module 3 on Legal Frameworks and Human Rights), which is defined as “the process by which investigators preserve the crime (or incident) scene and evidence throughout the life cycle of a case. It includes information about who collected the evidence, where and how the evidence was collected, which individuals took possession of the evidence, and when they took possession of it” (Maras, 2014, p. 377). Meticulous documentation at each stage of the digital forensics process is essential to ensuring that evidence is admissible in court (see Cybercrime Module 6 on Practical Aspects of Cybercrime Investigations and Digital Forensics for further information).</p>

<p style="text-align: justify;">The remaining phases of the digital forensics process (analysis and reporting) are not included in the ISO/IEC 27037. The analysis (or examination) phase requires the use of appropriate digital forensic tools and methods to uncover digital data. There are numerous digital forensics tools on the market of varying qualities. Examples of digital forensics tools include Encase, FTK, and X-Ways Forensics. The type of digital forensics tools varies depending on the type of digital forensics investigation conducted (e.g., for mobile forensics and cloud services on mobile devices, one tool that can be used is the Oxygen Forensics Suite; for network forensics, which involves “the use of scientifically proven techniques to investigate [crimes committed against and via] computer networks” (Maras, 2014, p. 305), a tool that can be used is Wireshark). Existing digital forensics tools (e.g., EnCase, FTK, and NUIX) are designed to work with traditional computing environments. Specialized digital forensics tools are needed, for example, for the networks, interfaces, and operating systems of critical infrastructure (discussed in Cybercrime Module 2 on General Types of Cybercrime).</p>

<p style="text-align: justify;">The U.S. National Institute of Standards and Technology has a searchable digital forensics tools database, which includes various functionalities (e.g., database, cloud, drone, and vehicle forensics tools, among others). National law enforcement agencies differ in their preference and use of digital forensics tools.</p>

<p style="text-align: justify;"><strong>Smart vehicle forensics</strong></p>

<p style="text-align: justify;">Smart vehicle forensics is an understudied yet important area of digital forensics (Parkinson and McKay, 2016). The mass deployment of smart vehicles with Internet-enabled functions (and the development of autonomous vehicles) has added impetus to the need to create smart vehicle forensics processes, standards, and tools that could enable a forensically sound digital investigation of vehicles (Le-Khac et al., 2018). These vehicles can provide a wealth of information (such as places travelled and frequented, home and work address, numbers dialled, phone calls received etc.) that could be used when investigating crimes targeting smart or autonomous vehicles (e.g., hacking) or other crimes where the information obtained from these vehicles could be used as evidence of a crime (De La Torre, Rad, and Choo, 2018).</p>

<p style="text-align: justify;"><strong>Want to learn more?</strong></p>

<ul>
	<li class="oc-text-bordered" style="text-align: justify;">De La Torre, Gonzalo, Paul Rad, and Kim-Kwang Raymond Choo. (2018). Driverless vehicle security: Challenges and future research opportunities. Future Generation Computer Systems, available online 11 January 2018.</li>
	<li class="oc-text-bordered" style="text-align: justify;">Le-Khac, Nhien-An, Daniel Jacobs, John Nijhoff, Karsten Bertens, Kim-Kwang, and Raymond Choo. (2018). Smart vehicle forensics: Challenges and case study. Future Generation Computer Systems, available online 7 June 2018.</li>
</ul>

<p style="text-align: justify;">The tools used must be forensically sound. To be forensically sound, the “acquisition and subsequent analysis of …[digital] data” with these tools must be able to preserve “the data in the state in which it was first discovered” and “not in any way diminish the evidentiary value of the electronic data through technical, procedural or interpretive errors” (McKemmish, 2008, p. 6). Put simply, the data acquired must not be modified in any way – that is, its integrity must be maintained. The Computer Forensics Tool Testing Program of the U.S. National Institute of Standards and Technology hasestablish[ed] a methodology for testing computer forensic[s] software tools by [the] development of general tool specifications, test procedures, test criteria, test sets, and test hardware. The results provide the information necessary for toolmakers to improve tools, for users to make informed choices about acquiring and using computer forensics tools, and for interested parties to understand the tool[’]s capabilities.</p>

<p style="text-align: justify;"><strong>IoT forensics</strong></p>

<p style="text-align: justify;">The Internet of Things (IoT) refers to an interconnected and interoperable network of Internet-enabled devices (e.g., cameras, televisions, refrigerators, ovens, lights, energy meters, clothing, toys, and accessories, to name a few) which facilitate the monitoring of objects, people, animals, and plants, and the vast gathering, storing, examination, and dissemination of data about them (Maras, 2015). Because IoT can provide a significant amount of information about users of these devices (see Cybercrime Module 10 on Privacy and Data Protection, for the type of information these devices reveal), data obtained from these devices has been introduced as evidence in courts (Maras and Wandt, 2018). For example, in the United States, the data from a FitBit, an IoT device that monitors health and physical activity, was introduced as evidence in the murder of Connie Dabate (Altimari, 2018). In light of the introduction of IoT data in courts, it is imperative that IoT forensics processes, standards, and tools are established (Maras and Wandt, 2018).</p>

<p style="text-align: justify;"><strong>Want to learn more?</strong></p>

<p style="text-align: justify;">Conti, Mauro, Ali Dehghantanha, Katrin Franke, and Steve Watson. (2018). Internet of Things security and forensics: Challenges and opportunities. Future Generation Computer Systems, Vol. 78(2), 544-546.</p>

<p style="text-align: justify;">MacDermott, Aine, Thar Baker, and Qi Shi. (2018). IoT Forensics: Challenges for the IoA Era 9th IFIP International Conference on New Technologies, Mobility and Security (NTMS) (2 April 2018).</p>

<p style="text-align: justify;">https://core.ac.uk/download/pdf/146487345.pdf.</p>

<p style="text-align: justify;">Watson, Steve and Ali Dehghantanha. (2016). Digital forensics: The missing piece of the Internet of Things promise. Computer Fraud &amp; Security, Vol. 6, 5-8.</p>

<p style="text-align: justify;">The purpose of the analysis phase is to determine the significance and probative value of evidence. This determination is made by, for example, examining whether the evidence under examination “has the tendency to make the existence of any fact that is of consequence to the determination of the action more probable or less probable than it would be without the evidence” (Rule 401, U.S. Federal Rules of Evidence) (see Cybercrime Module 6 on Practical Aspects of Cybercrime Investigations and Digital Forensics for further information).</p>

<p style="text-align: justify;">The reporting phase includes a detailed description of the steps taken throughout the digital forensics process, the digital evidence uncovered, and the conclusions reached based on the results of the digital forensics process and the evidence revealed (see Cybercrime Module 6 on Practical Aspects of Cybercrime Investigations and Digital Forensics for further information). Artificial intelligence (i.e., “computational models of human behaviour and thought processes that are designed to operate rationally and intelligently”; Maras, 2017, p. 7) can be used to produce reliable results. However, the use of artificial intelligence could pose problems in the analysis and presentation phases of the digital forensic process because experts may not be able to explain how these results were obtained (Maras and Alexandrou, 2018).</p>

<p style="text-align: justify;">The ISO/IEC have published other guidelines on the digital forensics process that cover: validity and reliability of digital forensic tools and methods (ISO/IEC 27041:2015, Guidance on assuring suitability and adequacy of incident investigative methods), and the examination (or analysis) and interpretation phases of the digital forensics process (ISO/IEC 27042:2015, Guidelines for the analysis and interpretation of digital evidence).</p>

<p style="text-align: justify;"><strong>Note</strong></p>

<ul>
	<li class="oc-text-bordered" style="text-align: justify;">The standards were not designed for nontraditional computing systems – like cloud computing. Nevertheless, the Cloud Security Alliance published a document titled “Mapping the Forensic Standard ISO/IEC 27037 to Cloud Computing” to “reinterpret the ISO 27037 guidance for a cloud context” (CSA, 2013, p. 130).</li>
</ul>

<p style="text-align: justify;"><strong>For more information, see:</strong></p>

<ul>
	<li style="text-align: justify;">https://downloads.cloudsecurityalliance.org/initiatives/imf/Mapping-the-Forensic-Standard-ISO-IEC-27037-to-Cloud-Computing.pdf.</li>
	<li style="text-align: justify;">Best practice guides are available to identify and promote valid and reliable digital forensics processes and outcomes. Cases in point are the Scientific Working Group on Digital Evidence’s best practices for computer forensic examination, digital evidence collection, and computer forensic acquisitions, and the European Network of Forensic Science Institutes’ best practices for the examination of digital technology.</li>
</ul>

<p style="text-align: justify;">These standards and best practices seek to establish the validity and reliability of digital forensics results. First, to be admissible, the tools and techniques used in the digital forensics process must be “scientifically valid;” that is, proven to provide accurate results through empirical testing. Second, the digital forensics results must be reliable; that is, the same results must be obtained on different occasions using the same data, tools, and techniques (Maras, 2014; p. 48). Particularly, the results should be repeatable and reproducible. Results are repeatable when the same digital forensics results are obtained using the same test items, equipment, laboratory, and operator (Maras, 2014, p. 48). Results are reproducible when the same digital forensics results are obtained using the same test items, but different equipment, laboratories, and operators (Maras, 2014, p. 49). As the UK National Police Chiefs Council noted, an important principle of digital forensics practice is the ability of “[a]n independent third party…to examine those processes and achieve the same result” (Principle 3) (UK Association of Police Chiefs, 2012, p. 6).</p>

<p style="text-align: justify;"><strong>Anti-forensics</strong></p>

<p style="text-align: justify;">Anti-forensics (or anti-digital forensics) is a term used to describe the “tools and techniques [used] to remove, alter, disrupt, or otherwise interfere with evidence of criminal activities on digital systems, similar to how criminals would remove evidence from crime scenes in the physical realm” (Conlan, Baggili, and Brietinger, 2016, p. 67). Anti-forensics includes data hiding (e.g., encryption, discussed further in Cybercrime Module 10 on Privacy and Data Protection, and steganography, the practice of concealing secret information, images, audio recordings, videos, and other content within non-secret information, images, audio recordings, videos, and other content), artefact and/or digital device wiping (through, for example, software designed to delete specific or all data, and/or device content), and digital trail obfuscation (e.g., spoofing tactics, discussed in Cybercrime Module 2 on General Types of Cybercrime; data misidentification, misinformation and/or fabrication; and the use of proxy servers, which acts as a gateway or an intermediary between requests from Internet-connected digital devices to other servers) (Shanmugam, Powell, and Owens, 2011; Maras, 2014; Brunton and Nissenbaum, 2016; Liskiewicz, Reischuk, and Wolfel, 2017). The use of anti-forensics techniques challenges digital forensics efforts (Caviglione, Wendzel, and Mazurczyk, 2017).</p>

<p style="text-align: justify;"><strong>Want to learn more?</strong></p>

<ul>
	<li class="oc-text-bordered" style="text-align: justify;">Read: Conlan, Kevin, Ibrahim Baggili, and Frank Breitinger. (2016). Anti-forensics: Furthering digital forensic science through a new extended, granular taxonomy. Digital Investigation Vol. 18, 66-75.<strong><br></strong></li>
</ul>

<p><strong>Conclusion</strong></p>

<p style="text-align: justify;">Digital forensics involves the process of identifying, collecting, acquiring, preserving, analysing, and presenting of digital evidence. Digital evidence must be authenticated to ensure its admissibility in a court of law. Ultimately, the forensic artefacts and forensic methods used (e.g., static or live acquisition) depend on the device, its operating system, and its security features. Proprietary operating systems (which investigators may be unfamiliar with) and security features (e.g., encryption) serve as impediments to digital forensics. For example, encryption, which blocks third party access to users’ information and communications, could prevent law enforcement authorities from accessing data on digital devices, such as smartphones (see Cybercrime Module 10 on Privacy and Data Protection for further information).</p>

<p style="text-align: justify;"><strong>References</strong></p>

<ul>
	<li style="text-align: justify;">Alba, Manuel. (2014). Order out of chaos: technology, intermediation, trust, and reliability as the basis for the recognition of legal effects in electronic transactions. Creighton Law Review, Vol. 47, 387–521.</li>
	<li style="text-align: justify;">Altimari, Dave. (2018). All Evidence Turned Over As Fitbit Murder Case Moves Toward Trial. Hartford Courant, 20 July 2018. https://www.courant.com/news/connecticut/hc-news-fit-bit-murder-dabate-trial-20180720-story.html.</li>
	<li style="text-align: justify;">Antwi-Boasiako, Albert and Hein Venter. (2017). A Model for Digital Evidence Admissibility Assessment. G. Peterson and S. Shenoi. (eds.). Advances in Digital Forensics (pp. 23-38). Springer.</li>
	<li style="text-align: justify;">Baryamureeba, Venansius and Florence Tushabe. (2004). The Enhanced Digital Investigation Process Model. Proceedings of the Digital Forensic Research Conference (DFRWS) (Baltimore, Maryland, 11-13 August 2004). https://www.dfrws.org/sites/default/files/session-files/paper-the_enhanced_digital_investigation_process_model.pdf.</li>
	<li style="text-align: justify;">Bazin, Philippe. (2008). An Outline of the French Law on Digital Evidence. Digital Evidence and Electronic Signature Law Review, Vol. 5, 179-182. http://sas-space.sas.ac.uk/5543/1/1864-2592-1-SM.pdf</li>
	<li style="text-align: justify;">Biasiotti, Maria Angela, Jeanne Pia Mifsud Bonnici, Joe Cannataci (eds.) (2018). Handling and Exchanging Electronic Evidence Across Europe. Springer.</li>
	<li style="text-align: justify;">Brunton, Finn and Helen Nissenbaum. (2016). Obfuscation: A User’s Guide for Privacy and Protest. MIT Press.</li>
	<li style="text-align: justify;">Carrier, Brian and Eugene H. Spafford. (2003). Getting Physical with the Investigative Process. International Journal of Digital Evidence, Vol. 2(2), https://pdfs.semanticscholar.org/915b/524318e2f0689b586ba7ae89ea39e9b22ce3.pdf.</li>
	<li style="text-align: justify;">Casey, Eoghan, Monique Ferraro, and Lam Nguyen. (2009). Investigation Delayed Is Justice Denied: Proposals for Expediting Forensic Examinations of Digital Evidence. Journal of Forensic Sciences, Vol. 54(6), 1353-1364.</li>
	<li style="text-align: justify;">Caviglione, Luca, Steffen Wendzel, and Wojciech Mazurczyk. (2017). The Future of Digital Forensics: Challenges and the Road Ahead. IEEE Security &amp; Privacy, Vol. 15(6), 12-17.</li>
	<li style="text-align: justify;">Conlan, Kevin, Ibrahim Baggili, and Frank Breitinger. (2016). Anti-forensics: Furthering digital forensic science through a new extended, granular taxonomy. Digital Investigation Vol. 18, 66-75.</li>
	<li style="text-align: justify;">Conrad, Scott, Greg Dorn and Philip Craiger. (2010). Forensic analysis of a Playstation 3 console. Advances in Digital Forensics VI: IFIP International Conference on Digital Forensics (pp. 65-76).</li>
	<li style="text-align: justify;">https://hal.inria.fr/hal-01060610/document.</li>
	<li style="text-align: justify;">De La Torre, Gonzalo, Paul Rad, and Kim-Kwang Raymond Choo. (2018). Driverless vehicle security: Challenges and future research opportunities. Future Generation Computer Systems, available online 11 January 2018.</li>
	<li style="text-align: justify;">Du, Xiaoyu, Nhien-An Le-Khac, and Mark Scanlon. (2017). Evaluation of Digital Forensic Process Models with Respect to Digital Forensics as a Service. 16th European Conference on Cyber Warfare and Security (Dublin, Ireland, June 2017). https://arxiv.org/pdf/1708.01730.pdf.</li>
	<li style="text-align: justify;">Duranti, Lucciana and Corrine Rogers. (2012). Trust in digital records: an increasingly cloudy legal area. Computer Law &amp; Security Review, Vol. 28(5), 522–531.</li>
	<li style="text-align: justify;">Goode, Steven. (2009). The admissibility of electronic evidence. The Review of Litigation, Vol. 29, 1–64.</li>
	<li style="text-align: justify;">Kasper, Agnes and Eneli Lauritis. (2016). Challenges in Collecting Digital Evidence: A Legal Perspective. In Tanel Kerikmae and Addi Rull. The Future of Law and eTechnologies. Springer.</li>
	<li style="text-align: justify;">Kent, Karen, Suzanne Chevalier, Timothy Grance, and Hung Dang. (2006). SP 800-86. Guide to Integrating Forensic Techniques into Incident Response. National Institute of Standards and Technology. https://dl.acm.org/citation.cfm?id=2206298.</li>
	<li style="text-align: justify;">Le-Khac, Nhien-An, Daniel Jacobs, John Nijhoff, Karsten Bertens, Kim-Kwang, and Raymond Choo. (2018). Smart vehicle forensics: Challenges and case study. Future Generation Computer Systems, available online 7 June 2018</li>
	<li style="text-align: justify;">Liskiewicz, Macief, Rudiger Reischuk, and Ulrich Wolfel. (2017). Security levels in steganography – Insecurity does not imply detectability. Theoretical Computer Science Vol. 692(5), 25-45.</li>
	<li style="text-align: justify;">Maras, M.-H. (2014). Computer Forensics: Cybercriminals, Laws and Evidence (2nd edition). Jones and Bartlett.</li>
	<li style="text-align: justify;">Maras, Marie-Helen. (2017). Social Media Platforms: Targeting the “Found Space” of Terrorists. Journal of Internet Law, 21(2), 3-9.</li>
	<li style="text-align: justify;">Maras, Marie-Helen and Miranda, Michelle D. (2014). Forensic Science. In J. Backhaus (Ed.). Encyclopedia of Law and Economics. Springer.</li>
	<li style="text-align: justify;">Maras, Marie-Helen and Alexandrou, Alex. (2018). Determining Authenticity of Video Evidence in the Age of Artificial Intelligence and in the Wake of Deepfake Videos. International Journal of Evidence and Proof, published online October 28, 2018.</li>
	<li style="text-align: justify;">Maras, Marie-Helen and Wandt, Adam. (2018). IoT Data Collection and Analytics. Presentation for FBI, DHS, and Secret Service agents and members of the National Cyber-Forensics &amp; Training Alliance, at John Jay College of Criminal Justice, City University of New York (May 2, 2018).</li>
	<li style="text-align: justify;">McKemmish, Rodney. (2008). When is digital evidence forensically sound? Advances in Digital Forensics IV: IFIP International Conference on Digital Forensics (pp. 3-15). https://link.springer.com/content/pdf/10.1007%2F978-0-387-84927-0_1.pdf</li>
	<li style="text-align: justify;">Palmer, G. (2001). DFRWS Technical Report: A Road Map for Digital Forensic Research. Digital Forensic Research Workshop. Utica, New York. http://dfrws.org/sites/default/files/session-files/a_road_map_for_digital_forensic_research.pdf.&nbsp;</li>
	<li style="text-align: justify;">Parkinson, M. J. and Matthew G. McKay. (2016). The Evolution of Vehicle Forensics. The Expert Witness, 31 May 2016 http://www.expertwitnessjournal.co.uk/forensics/732-the-evolution-of-vehicle-forensics.</li>
	<li style="text-align: justify;">Read, Huw, Elizabeth Thomas, Iain Sutherland, Konstantinos Xynos and Mikhaila Burgess. (2016). A forensic methodology for analyzing Nintendo 3DS devices. Advances in Digital Forensics XII: IFIP International Conference on Digital Forensics (pp. 127-143).</li>
	<li style="text-align: justify;">Reith, Mark, Clint Carr, and Gregg Gunsch. (2002). An Examination of Digital Forensics Models. International Journal of Digital Evidence, Vol. 1(3).</li>
	<li style="text-align: justify;">Shanmugam, Karthikeyan, Roger Powell and Tom Owens. (2011). An Approach for Validation of Digital Anti-Forensic Evidence. Information Security Journal: A Global Perspective 20(4-5), 219-230.</li>
	<li style="text-align: justify;">Valijarevic, Aleksandar and Hein S. Venter. (2015). A Comprehensive and Harmonized Digital Forensic Investigation Process Model. Journal of Forensic Sciences, Vol. 60(6), 1467-1483.</li>
	<li style="text-align: justify;">UK Association of Police Chiefs. (2012). ACPO Good Practice Guide for Digital Evidence. https://www.digital-detective.net/digital-forensics-documents/ACPO_Good_Practice_Guide_for_Digital_Evidence_v5.pdf.</li>
	<li style="text-align: justify;">U.S. National Institute of Justice. (2008). Electronic Crime Scene Investigation: A Guide for First Responders, Second Edition. Second Edition. https://www.ncjrs.gov/pdffiles1/nij/219941.pdf</li>
	<li style="text-align: justify;">U.S. National Institute of Standards and Technology. Computer Forensics Tool Testing Program. https://www.nist.gov/itl/ssd/software-quality-group/computer-forensics-tool-testing-program-cftt.</li>
</ul>

<p style="text-align: justify;"><strong>Case&nbsp;</strong></p>

<p style="text-align: justify;"><strong>Regina (O) v. Coventry Magistrates Court [2004] EWHC 905.</strong></p>

<p style="text-align: justify;"><strong>Laws</strong></p>

<p style="text-align: justify;">• Electronic Evidence Act of 2011 (Belize) (https://www.centralbank.org.bz/docs/default-source/2.10-national-payment-system-act/cap-95-01-electronic-evidence-act.pdf?sfvrsn=2).</p>

<p style="text-align: justify;">• Electronic Transactions Act of 2015 (Tanzania) (http://velmalaw.com/wp-content/uploads/2016/11/Electronic-Transactions-Act-2015.pdf).</p>

<p style="text-align: justify;">• Evidence Act 1950 (Malaysia) (https://empowermalaysia.org/isi/uploads/sites/3/Act-56-Evidence-Act-1950.pdf).</p>

<p style="text-align: justify;">• Evidence Act of 1967 (Tanzania) (http://www.fiu.go.tz/evidenceact.pdf).</p>

<p style="text-align: justify;">• Evidence (Amendment) Act of 2012 (Singapore) (https://sso.agc.gov.sg/Acts-Supp/4-2012/Published/20120416?DocDate=20120416).</p>

<p style="text-align: justify;">• Federal Rules of Evidence (United States) (https://www.law.cornell.edu/rules/fre).</p>

<p style="text-align: justify;">• Government Regulation No. 82 of 2012 (Indonesia) (</p>

<p style="text-align: justify;">http://www.flevin.com/id/lgso/translations/JICA%20Mirror/english/4902_PP_82_2012_e.html).</p>

<p style="text-align: justify;">• Information Technology Act of 2000 (India) (http://www.wipo.int/wipolex/en/text.jsp?file_id=185998).</p>

<p style="text-align: justify;">• Law No. 11 of 2008 Concerning Electronic Information and Transactions (Indonesia) (http://www.bu.edu/bucflp-fig/files/2012/01/Law-No.-11-Concerning-Electronic-Information-and-Transactions.pdf).</p>

<p style="text-align: justify;">• Written Laws (Miscellaneous Amendments) Act of 2007 (Tanzania) (https://www.fiu.go.tz/MiscellaneousAmendmentsAct.pdf).</p>

<p style="text-align: justify;"><strong>Exercises</strong></p>

<p style="text-align: justify;"><strong>Exercise # 1 – About Data</strong></p>

<p style="text-align: justify;">Digital devices have proliferated. Digital forensics investigators need to process and analyse large amounts of data quickly.</p>

<p style="text-align: justify;">Search the Internet and choose a digital device (as an alternative you can discuss a device that you own). Be prepared to discuss the device and answer the following questions in class:</p>

<p style="text-align: justify;"><strong>Discussion Questions</strong></p>

<p style="text-align: justify;">1. What data is stored by this device?</p>

<p style="text-align: justify;">2. What type of data is it?</p>

<p style="text-align: justify;">3. Where is this data located?</p>

<p style="text-align: justify;">4. How can the data be located?</p>

<p style="text-align: justify;"><strong>Lecturer guidelines</strong></p>

<p style="text-align: justify;">This exercise somewhat depends on how technical the class is. If the class is technical, have students discuss the specific areas where data is stored and how it can be recovered. If the class is non-technical, have them consider their own data and how the student is able to find data when they need to.</p>

<p style="text-align: justify;">Exercise # 2 – Digital Forensics Tools</p>

<p style="text-align: justify;">There are numerous digitally forensics tools on the market. Search for a digital forensics tool most commonly used in your country.</p>

<p style="text-align: justify;"><strong>Discussion Questions</strong></p>

<p style="text-align: justify;">1) What type of forensics is the tools used for?</p>

<p style="text-align: justify;">2) Is this tool forensically sound?</p>

<p style="text-align: justify;"><strong>Possible Class Structure</strong></p>

<p style="text-align: justify;">The following is a recommended structure for the class. Students should complete the required readings before coming to class. The lecture is meant to reinforce what they learned in the readings and the exercises are designed to apply what they learned in the readings and the lecture. The following breakdown is designed based on a three-hour class. You can adapt the structure based on your needs and class times.</p>

<p style="text-align: justify;"><strong>Cybercrime Module 4 Class Breakdown (three-hour class)</strong></p>

<p style="text-align: justify;"><strong>Introduction to the class and learning outcomes</strong></p>

<p style="text-align: justify;"><em>Lecture (10 minutes):</em></p>

<p style="text-align: justify;">● Provide a brief introduction to the course and its contents</p>

<p style="text-align: justify;">● Identify and discuss the learning outcomes of the course</p>

<p style="text-align: justify;"><strong>Digital Evidence</strong></p>

<p style="text-align: justify;"><em>Lecture (30 minutes):</em></p>

<p style="text-align: justify;">• Discuss data and identify data sources</p>

<p style="text-align: justify;">• Describe and discuss digital evidence</p>

<p style="text-align: justify;">• Compare and contrast the differences between digital evidence and traditional evidence</p>

<p style="text-align: justify;">• Discuss the ways in which digital evidence is authenticated</p>

<p style="text-align: justify;">Class Exercise (20 minutes):</p>

<p style="text-align: justify;">Under the “Exercises” section of this Module there is an individual exercise listed titled “Exercise # 1 – About Data” Use the questions in the exercise to facilitate discussion on the topic.</p>

<p style="text-align: justify;">[*Reminder: This exercise needs to be completed before class].</p>

<p style="text-align: justify;">Class Group Exercise (20 minutes):</p>

<p style="text-align: justify;">Have students complete “Homework # 1 ~ Group Exercise: Traditional Evidence vs. Digital Evidence” under “Student Assessment” before class and have them discuss their findings during the lecture.</p>

<p style="text-align: justify;">[*Reminder: This exercise needs to be completed before class].</p>

<p style="text-align: justify;">Break</p>

<p style="text-align: justify;">Time: 10 minutes</p>

<p style="text-align: justify;">Digital Forensics</p>

<p style="text-align: justify;">19</p>

<p style="text-align: justify;">Lecture (30 minutes):</p>

<p style="text-align: justify;">• Describe and critique digital forensics process models</p>

<p style="text-align: justify;">Standards and Best Practices for Digital Forensics</p>

<p style="text-align: justify;">Lecture (40 minutes):</p>

<p style="text-align: justify;">• Critically evaluate standards and best practices for digital evidence and digital forensics</p>

<p style="text-align: justify;">Class Exercise (20 minutes):</p>

<p style="text-align: justify;">Under the “Exercises” section of this Module there is an individual exercise listed titled “Exercise # 2 – Digital Forensics Tools.” Use the questions in the exercise to facilitate discussion on the topic.</p>

<p style="text-align: justify;">[*Reminder: This exercise needs to be completed before class].</p>

<p style="text-align: justify;">Core Reading</p>

<p style="text-align: justify;">The following readings are (mostly open source) required readings that should be completed before taking a class based on this Module:</p>

<p style="text-align: justify;">● Altheide, Cory and Harlan Carvey. (2011). Digital Forensics with Open Source Tools (pp. 1-8). Science Direct.</p>

<p style="text-align: justify;">● Bulbula, H. I., H. Guclu Yavuzcanb, and Mesut Ozel. (2013). Digital forensics: An Analytical Crime Scene Procedure Model (ACSPM). Forensic Science International, Vol. 233(1–3), 244–256.</p>

<p style="text-align: justify;">● Casey, Eoghan, Monique Ferraro, and Lam Nguyen. (2009). Investigation Delayed Is Justice Denied: Proposals for Expediting Forensic Examinations of Digital Evidence. Journal of Forensic Sciences, Vol. 54(6), 1353-1364.</p>

<p style="text-align: justify;">● ISACA. (2015). Overview of Digital Forensics. http://www.infosecurityeurope.com/__novadocuments/83665?v=635652368156170000.</p>

<p style="text-align: justify;">● Karie, Nickson M. and H. S. Venter (2015). Taxonomy of Challenges for Digital Forensics. Journal of Forensic Sciences, Vol. 60(4), 885–893.</p>

<p style="text-align: justify;">● Maras, Marie-Helen. (2014). Computer Forensics: Cybercriminals, Laws, and Evidence. Jones and Bartlett.</p>

<p style="text-align: justify;">● Myers, Matthew and Marcus Rogers. (2007). Digital Forensics: Meeting the Challenges of Scientific Evidence. Advances in Digital Forensics: IFIP International Conference on Digital Forensics (pp. 43-50).</p>

<p style="text-align: justify;">● Roussev, Vassil, Candace Quates, and Robert Martel. (2013). Real-time digital forensics and triage. Digital Investigation Vol. 10(2), 158–167.</p>

<p style="text-align: justify;">● Sammons, John. (2017). Digital forensics, 2st edition. Elsevier.</p>

<p style="text-align: justify;">Advanced Reading</p>

<p style="text-align: justify;">20</p>

<p style="text-align: justify;">The following readings are recommended for those interested in exploring the topics covered in this Module in more detail:</p>

<p style="text-align: justify;">• Alavrez, Karolina and Masooda Bashir. (2015). Exploring the Effectiveness of Digital Forensics Tools on the Sony PlayStation Vita. Joshua I. James and Frank Breitinger, eds. 7th International Conference on Digital forensics and Cyber Crime, Selected Conference Papers (Seoul, South Korea, 6-8 October 2015).</p>

<p style="text-align: justify;">• Antwi-Boasiako, Albert and Hein Venter. (2017). A Model for Digital Evidence Admissibility Assessment. G. Peterson and S. Shenoi. (eds.). Advances in Digital Forensics (pp. 23-38). Springer.</p>

<p style="text-align: justify;">• Barmpatsalou, Konstantia, Dimitrios Damopoulos, Georgios Kambourakis, and Vasilios Katos. (2013). A critical review of 7 years of Mobile Device Forensics.</p>

<p style="text-align: justify;">• Digital Investigation, Vol. 10(4), 323-349.</p>

<p style="text-align: justify;">• Burke, Paul and Philip Craiger. (2007). Forensic Analysis of Xbox Consoles. Advances in Digital Forensics III: IFIP International Conference on Digital Forensics (pp. 269-280).</p>

<p style="text-align: justify;">• Eden, Peter, Andrew Blyth, Pete Burnap, Yulia Cherdantseva, Kevin Jones, High Soulsby, and Kristin Stoddart. (2015). A Cyber Forensic Taxonomy for SCADA Systems in Critical Infrastructure. 10the International Conference, Critical Information Infrastructure Security (CRITIS), Berlin, Germany (pp. 27-39).</p>

<p style="text-align: justify;">• Joshi, R. C. and Pilli, Emmanuel S. (2016). Fundamentals of Network Forensics: A Research Perspective. Springer.</p>

<p style="text-align: justify;">• Pieterse, Heloise and Martin Olivier. (2014). Smartphones as Distributed Witnesses for Digital Forensics. Advances in Digital Forensics X: IFIP International Conference on Digital Forensics (pp. 237-251). https://hal.inria.fr/hal-01393774/document.</p>

<p style="text-align: justify;">• Quick, Darren and Kim-Kwang Raymond Choo. (2017). Pervasive social networking forensics: Intelligence and evidence from mobile device extracts.</p>

<p style="text-align: justify;">• Journal of Network and Computer Applications, Vol. 86, 24-33.</p>

<p style="text-align: justify;">• Sommer, Peter. (2018). Accrediting digital forensics. Digital Investigation, Vol. 25, 116-120.</p>

<p style="text-align: justify;">• Suleman, Khan, Abdullah Gani, Ainuddin Wahid Abdul Wahab, Muhammad Shiraz, and Iftikhar Ahmad. (2016). Network forensics: Review, taxonomy, and open challenges. Journal of Network and Computer Applications 66, 214-235.</p>

<p style="text-align: justify;">• UK Crown Prosecution Service. (n.d.). Cybercrime - prosecution guidance.</p>

<p style="text-align: justify;">https://www.cps.gov.uk/legal-guidance/cybercrime-prosecution-guidance.</p>

<p style="text-align: justify;">Student Assessment</p>

<p style="text-align: justify;">In addition to the exercises, other assessment tools used in this course are review questions and homework assignments.</p>

<p style="text-align: justify;">Review Questions</p>

<p style="text-align: justify;">The questions can also be used to promote class discussions during the lecture.</p>

<p style="text-align: justify;">21</p>

<p style="text-align: justify;">1. What is the differences between content data and metadata? What types of information does each type of data reveal?</p>

<p style="text-align: justify;">2. What are the different types of electronic evidence?</p>

<p style="text-align: justify;">3. What are the differences between electronic evidence and traditional evidence?</p>

<p style="text-align: justify;">4. How is digital evidence authenticated?</p>

<p style="text-align: justify;">5. What are digital forensics process models? Name and describe two of them.</p>

<p style="text-align: justify;">6. What do standards and best practices for digital evidence and digital forensics seek to establish?</p>

<p style="text-align: justify;">Homework Assignments</p>

<p style="text-align: justify;">Homework # 1 ~ Group Exercise: Traditional Evidence vs Digital Evidence</p>

<p style="text-align: justify;">Students should be randomly assigned to a group before the class to enable them to complete the assignment before the class meets. Each group should be randomly assigned a country.</p>

<p style="text-align: justify;">Instruct the students to identify and review the rules of evidence relating to digital evidence in their assigned countries. Students should also identify whether their assigned country has similar admissibility requirements for traditional evidence and digital evidence.</p>

<p style="text-align: justify;">Students should be prepared to discuss their findings in class.</p>

<p style="text-align: justify;">Homework # 2 ~ Digital Evidence Admissibility</p>

<p style="text-align: justify;">The following assignment is proposed to be completed within two weeks after the Module:</p>

<p style="text-align: justify;">Find a past court cases in your country and describe the considerations of the courts when admitting digital evidence. When was digital evidence admitted? Under what conditions was it rejected? Please use evidence-based arguments to support your response. Suggested maximum length: 1,500 words.</p>

<p style="text-align: justify;">Additional Teaching Tools</p>

<p style="text-align: justify;">Websites</p>

<p style="text-align: justify;">• DFIR Science, Digital Forensic Science. https://dfir.science/.</p>

<p style="text-align: justify;">• INFOSEC Institute, Digital Forensics Models. https://resources.infosecinstitute.com/digital-forensics-models/#gref.</p>

<p style="text-align: justify;">Videos</p>

<p style="text-align: justify;">• Computer Forensics Fundamentals - 2 Understanding Hash and hexadecimal, https://www.youtube.com/watch?v=-2zJGzKpL6k. This video examines hash files and their use in digital forensics.</p>

<p style="text-align: justify;">22</p>

<p style="text-align: justify;">• Professor Adam Wandt, Lecture on Digital Forensics: Hardware, https://www.youtube.com/watch?v=-qPVtaxJWv4. This video provides examples of the types of hardware used by digital forensics professionals.</p>

<p style="text-align: justify;">• IBM Solutions, IBM Managing Digital Evidence. https://www.youtube.com/watch?v=RfjGBd2SyeI. This video provides examples of sources of digital evidence and how this evidence can be aggregated to provide information about incidents.</p>

<p style="text-align: justify;">• ISACA, Overview of Digital Forensics https://www.youtube.com/watch?v=ZUqzcQc_syE. The video provides a synopsis of the digital forensics process.</p>