[viewBag]
title = "Cyber-Enabled Intellectual Property Crime"
url = "/bibliotheque/cyber-enabled-intellectual-property-crime"
layout = "content"
is_hidden = 0
navigation_hidden = 0
localeUrl[en] = "/bibliotheque"
localeUrl[ar] = "/bibliotheque"
==
<p>Module 11: Cyber-Enabled Intellectual Property Crime</p>

<p>Introduction</p>

<p>The Internet and Internet-enabled digital devices are force multipliers for intellectual property crime because they enable intellectual property to be uploaded, copied, downloaded, and shared instantly worldwide. International and regional cooperation on intellectual property crime and protection matters are critical. This cooperation can (and has) involve implementing national, regional, and international property laws, and developing national capacity to protect intellectual property and prevent intellectual property crime online and offline. Ultimately, intellectual property crime denies creators and innovators and those who make intellectual property available their economic returns on their creations, innovations, unique identifiers, and/or undisclosed information.</p>

<p>This Module examines intellectual property and its cyber-enabled unauthorized access, distribution, and use. Specifically, this Module examines what intellectual property is, types of intellectual property, the causes, reasons, and perceived justifications for cyber-enabled copyright and trademark offences, and protective and preventive measures against such offences.</p>

<p>Learning Outcomes</p>

<p>● Discuss intellectual property and the importance of its protection</p>

<p>● Differentiate between various forms of intellectual property</p>

<p>● Critically evaluate national, regional, and international laws and treaties relating to intellectual property protection</p>

<p>● Identify and discuss various criminological, sociological, psychological, and economic theories and critically assess their applicability to cyber-enabled copyright and trademark offences</p>

<p>● Critically evaluate national, regional, and international intellectual property protection and prevention efforts</p>

<p>Key Issues</p>

<p>The Internet and digital technologies facilitate intellectual property crime by enabling the rapid posting and distribution of intellectual property (briefly discussed in Cybercrime Module 2 on General Types of Cybercrime) in violation of existing laws in ways that were previously unimagined. The ability to swiftly access, download, share, and copy intellectual property generates many new challenges for bodies of intellectual property laws and concepts that were primarily designed to deal with physical analogue formats containing the expression of ideas in design, art, symbols, sound, and image (Wall, 2017). For some, intellectual property protection is considered necessary to the protection of property rights, fostering of competition, and growth of economies. For others, however, intellectual property protection is unfairly restrictive with regards to access to information (Silbey, 2008; Wall, 2017) and freedom of expression (see Cybercrime Module 3 on Legal Frameworks and Human Rights, for information about the freedom of</p>

<p>2</p>

<p>expression and intellectual property protection). This Module explores these conflicting views on intellectual property by first examining what intellectual property is, the different types of intellectual property, and the national, regional, and international laws regulating and protecting it, and then considering the causes, reasons, and perceived justifications for cyber-enabled copyright and trademark offences. This Module concludes with an examination of the national, regional, and international intellectual property protection and prevention efforts.</p>

<p>Intellectual Property: What It Is</p>

<p>The World Intellectual Property Organization (WIPO) defines intellectual property as “creations of the mind, such as inventions; literary and artistic works; designs; and symbols, names and images used in commerce.” The rights over innovations, creations, original expression of ideas, and secret business practices and processes, are protected by national and international intellectual property laws. Under Article 2(viii) of the Convention Establishing the World Intellectual Property Organization of 1967 (amended in 1979), these</p>

<p>rights relat[e] to: …literary, artistic and scientific works, …performances of performing artists, phonograms and broadcasts, …inventions in all fields of human endeavor, …scientific discoveries, …industrial designs, …trademarks, service marks and commercial names and designations, …protection against unfair competition, and all other rights resulting from intellectual activity in the industrial, scientific, literary or artistic fields.</p>

<p>The access, distribution, and/or use of intellectual property without and/or beyond initial authorization and in violation of the rights of the owner or owners of the intellectual property is considered as intellectual property crime (a.k.a., intellectual property theft). Because intellectual property rights are recognized as personal property rights (Guan, 2014), intellectual property crime has been considered as a form of theft of personal property, even though it does not match the common understanding of theft (i.e., the deprivation of ownership). For example, if a person’s jewellery is stolen, the person is deprived of his/her (tangible) property as the individual no longer has access to the jewellery. In the case of intellectual property, however, even if the property is “stolen” (i.e., used and consumed in an unauthorized way), the holder of the intellectual property is not denied his/her property because it is still in the individual’s possession. What he/she is denied is the control, management, and economic benefit that should be derived from the subsequent use of his/her intellectual property. The deprivation of remuneration for labour (i.e., the creation of intellectual property) serves as a disincentive to the creation of intellectual property, which is viewed as essential to national economic growth (WIPO, 2009). For this reason, WIPO “promotes innovation and creativity for the economic, social and cultural development of all countries, through a balanced and effective intellectual property system.”</p>

<p>Several international conventions, agreements, and treaties (hereafter treaties) have been implemented to protect intellectual property rights. A case in point is the Berne Convention for the Protection of Literary and Artistic Works of 1886 (as amended in 1979), which delineates the obligation of states to protect intellectual property and the minimum standards for intellectual property protection. Due to concerns about the enforcement of the Berne Convention, the World Trade Organization’s (WTO) Agreement on Trade-Related Aspects of Intellectual Property Rights</p>

<p>3</p>

<p>(TRIPS) of 1994 (which entered into force in 1995) was passed. The TRIPS Agreement requires WTO countries to fulfil their obligations under the Berne Convention, among other treaties. The World Trade Organization oversees the administration of the TRIPS agreement, and provides, among other things, standards for intellectual property policies, laws and regulations, and enforcement mechanisms for the protection of intellectual property rights.</p>

<p>Did you know?</p>

<p>International conventions on copyright protection can have a profound and significant influence on national laws in the Internet environment. For example, “the exclusive right of authorizing any communication to the public of their works, by wire or wireless means” is included in the “Right of Communication to the Public” protected by Article 8 of the WIPO Copyright Treaty. Based on this, the right to communicate works to the public over information networks is provided in Article 10 (12) of The Copyright Law of the People's Republic of China (2010 Amendment) and the Regulation on the Protection of the Right to Communicate Works to the Public over Information Networks (2013 Revision).</p>

<p>In addition to international treaties, national laws (e.g., Viet Nam, Law 36/2009/QH12 of June 19, 2009, amending and supplementing a number of Articles of the Law on Intellectual Property; Azerbaijan, Law of the Republic of Azerbaijan on the Enforcement of the Intellectual Property Rights and Fight Against Piracy of 2012; Costa Rica, Law No. 8686 of 21 November 2008, on Amendment, Addition and Repeal of Various Rules Governing Matters Pertaining to Intellectual Property; Equatorial Guinea, Law of 10 January 1879, on Intellectual Property; and El Salvador, Legislative Decree No. 611 of 15 February 2017, on Amendments to the Law on Intellectual Property, to name a few) and regional treaties (e.g., Association of Southeast Asian Nations (ASEAN) Framework Agreement on Intellectual Property Cooperation of 1995, and Commonwealth of Independent States (CIS) Agreement on Cooperation in the Area of Legal Protection of Intellectual Property and on Establishment of Interstate Council on Legal Protection of Intellectual Property of 2011) have been implemented to harmonize intellectual property policies, laws, and practices across member states.</p>

<p>Did you know?</p>

<p>WIPO has an online searchable database that includes national, regional, and international laws and treaties on intellectual property.</p>

<p>Want to learn more?</p>

<p>Visit WIPOLex at: http://www.wipo.int/wipolex/en/.</p>

<p>Types of Intellectual Property</p>

<p>4</p>

<p>Intellectual property includes copyrights, trademarks, patents and trade secrets. Each form of intellectual property is explored in further detail below.</p>

<p>Copyrights</p>

<p>Copyrights include “literary and artistic works,” which are described under Article 2(1) of the Berne Convention for the Protection of Literary and Artistic Works of 1886 as,</p>

<p>The expression ‘literary and artistic works’ shall include every production in the literary, scientific and artistic domain, whatever may be the mode or form of its expression, such as books, pamphlets and other writings; lectures, addresses, sermons and other works of the same nature; dramatic or dramatico-musical works; choreographic works and entertainments in dumb show; musical compositions with or without words; cinematographic works to which are assimilated works expressed by a process analogous to cinematography; works of drawing, painting, architecture, sculpture, engraving and lithography; photographic works to which are assimilated works expressed by a process analogous to photography; works of applied art; illustrations, maps, plans, sketches and three-dimensional works relative to geography, topography, architecture or science.</p>

<p>In addition to the Berne Convention, the International Convention for the Protection of Performers, Producers of Phonograms and Broadcasting Organisations of 1961 (Rome Neighbouring Rights Convention) also protects copyrights and delineates the rights of copyright holders. The World Intellectual Property Organization (WIPO), the International Labour Organization (ILO) and the United Nations Educational, Scientific and Cultural Organization (UNESCO) jointly administer this convention. WIPO, ILO and UNESCO also jointly administer the Convention for the Protection of Producers of Phonograms Against Unauthorized Duplication of Their Phonograms of 1971 (Geneva Phonograms Convention). “Recognizing the profound impact of the development and convergence of information and communication technologies on the production and use of performances and phonograms,” WIPO’s Performances and Phonograms Treaty of 1996 covers the rights of “performers (actors, singers, musicians, etc.); and … producers of phonograms (persons or legal entities that take the initiative and have the responsibility for the fixation of sounds)” “in the digital environment” (WIPO, n.d.). Additionally, WIPO’s Copyright Treaty of 1996, “a special agreement under the Berne Convention…[,] deals with the protection of works and the rights of their authors in the digital environment…[including] computer programs, whatever the mode or form of their expression… and …compilations of data or other material (“databases”) (WIPO, “WIPO Copyright Treaty”). National laws (e.g., Burundi, Law No. 1/021 of 30 December 2005, on the Protection of Copyright and Related Rights) and regional treaties also exist that protect copyrights (e.g., Organization of American States (OAS) Inter-American Convention on the Rights of the Author in Literary, Scientific, and Artistic Works of 1947).</p>

<p>The infringement of copyright protection online is known as digital piracy, which involves the uploading, streaming, downloading and sharing of copyrighted works (e.g., books, music, and films) beyond authorization for access, use and distribution prescribed by law. A case in point was Napster, an online platform that enabled the illegal distribution of music through peer-to-peer file sharing (A&amp;M Records, Inc. v. Napster, Inc., 2001). Copyright infringement also occurred on other peer-to-peer file sharing and Torrent sites (such as Kazaa, Limewire, and PirateBay), and</p>

<p>5</p>

<p>cryptolockers (i.e., sites that provide cloud storage and sharing services to clients; e.g., Megaupload) (Drath, 2012). Like other forms of cyber-enabled intellectual property crime, digital piracy deprives the authors and publishers of copyrighted works of economic returns on their creations, property and labour. For example, HBO (a U.S. channel network that requires viewers to pay to view content) experienced millions of dollars in lost U.S. revenue when episodes of one of its TV series, Game of Thrones, were leaked online for free viewing (Denham, 2015). Scripts of Game of Thrones’ episodes and the unaired episodes of the HBO TV shows were also leaked online following a data breach that HBO experienced in 2017 (Gibbs, 2017).</p>

<p>Digital Piracy: A Gender-Based Cybercrime?</p>

<p>Empirical studies on the links between digital piracy and gender are mixed. Some studies revealed that males were more likely to commit and/or report digital piracy than females (Hinduja, 2001; Ingram and Hinduja, 2008; Skinner and Fream, 1997). While gender was found to be a statistically significant predictor of digital piracy in some studies (Gopal et al., 2004; Hunduja, 2007; Ingram and Hinduja, 2008), others found no statistically significant gender differences in offending (Cheung, 2013; Higgins, 2005; Higgins and Makin, 2004; Morris and Higgins, 2009). See also see the University Module Series on Organized Crime, Module 15 on Gender and Organized Crime.</p>

<p>Trademarks</p>

<p>Trademarks are identifiers that distinguish the source of a good or service (Maras, 2016). This source can be either a business, person or geographical location. Trademarks can include logos, symbols, designs, names, and slogans, among other things, which belong to and distinguish between goods, services, and brands. The identifiers that make up trademarks acquire value through the labour, money, knowledge, and the skills of the trademark owners. The value acquired is based on the characteristics, quality and/or reliability of the good or service. Trademarks protect owners of the trademark from unfair competition practices that seek to profit from the owner’s investment in the development and/or provision of the good or service (WIPO, 1993). Trademarks also protect consumers by helping them recognize the source of a good or service.</p>

<p>Did you know?</p>

<p>In countries, like the United States, certain celebrities have been able to trademark their names.</p>

<p>Want to learn more?</p>

<p>Read: Weathered, Lynne. (2000). Trademarking Celebrity Image: The Impact of Distinctiveness and Use as a Trademark. Bond Law Review, Vol. 12(2), https://epublications.bond.edu.au/cgi/viewcontent.cgi?referer=https://www.google.com/&amp;httpsredir=1&amp;article=1190&amp;context=blr.</p>

<p>6</p>

<p>Geographical indications (or appellations of origin) are also a protected form of intellectual property. Geographical indicators, which “are typically used for agricultural products, foodstuffs, wine and spirit drinks, handicrafts, and industrial products” (WIPO, n.d.), cannot be used unless the product was developed in that region according to standards of practice. Article 2(1) of the Lisbon Agreement for the Protection of Appellations of Origin and their International Registration of 1958, defines “appellation of origin” as the “geographical denomination of a country, region, or locality, which serves to designate a product originating therein, the quality or characteristics of which are due exclusively or essentially to the geographical environment, including natural and human factors.” The geographical indication of a product is a symbol of its quality and the reputation of the place of its creation (Article 2(2) of the Lisbon Agreement for the Protection of Appellations of Origin and their International Registration of 1958). For this reason, the geographical indication is considered as a form of intellectual property.</p>

<p>International classification systems have been developed for trademarks. Specifically, an international classification system (the Nice Classification) was established for trademarks pursuant to the Nice Agreement Concerning the International Classification of Goods and Services for the Purposes of the Registration of Marks of 1957. The International Trademark System (also known as the Madrid system) was established as a centralized trademark registration and management system (WIPO, n.d.) to enable individuals to submit a single trademark registration and fee that can protect their trademark in the Madrid Union. According to WIPO, the Madrid Union is made up of the 117 contracting parties to the Madrid Agreement Concerning the International Registration of Marks of 1891 (and its subsequent revisions and amendment) and Madrid Protocol Relating to the Madrid Agreement Concerning the International Registration of Marks 1989 (and its subsequent amendments). What is more, the International System of Appellations of Origins, a centralized system enabling the submission of a single appellation of origin registration and fee, was established to protect the appellation of origin in 28 Contracting States of the Lisbon Agreement for the Protection of Appellations of Origin and their International Registration of 1958 (WIPO, n.d.).</p>

<p>International treaties, such as the Trademark Law Treaty of 1994, harmonized trademark applications and registrations among contracting parties. The Singapore Treaty on the Law of Trademarks of 2006, amended and updated the Trademark Law Treaty of 1994, by, among other things, enabling electronic trademark applications and registrations (Maras, 2016). Similar to copyrights, national laws (e.g., Afghanistan, Trademark Registration Law of 2009; Andorra, Law on Trademarks of 1995; Cuba, Decree-Law No. 228 on Geographical Indications of 2002; and Cuba, Decree-Law No. 203 on Trademarks and Other Distinctive Signs of 1999) and regional treaties (e.g., the Commonwealth of Independent States’ Agreement on Measures for the Prevention and Repression of the Use of False Trademarks and Geographical Indicators of 1999, and the Organization of American States’ General Inter-American Convention for Trade Mark and Commercial Protection of 1930) protect trademarks.</p>

<p>Trademark counterfeiting (i.e., a good or service that carries the trademark of the owner but is not a legitimate good or service of the owner) is a global issue and concerns have been raised that this form of counterfeiting funds organized crime (discussed in Cybercrime Module 13 on Cyber Organized Crime), terrorism, and other forms of serious crime (UNODC, 2013). Trademark</p>

<p>7</p>

<p>products that are counterfeit include jewellery, accessories, clothing, shoes, electronics, toys, appliances, manufacturing parts, food and (alcoholic and non-alcoholic) beverages, personal care and hygiene products, and pharmaceuticals, to name a few. These counterfeit products raise serious health, safety, labour and environmental issues (UNODC, 2014). These counterfeit trademark products are bought and sold in person and online (Maras, 2016). Even the logos, packing, and other identifying industrial designs of the counterfeit goods could be purchased offline and online (Albanese, 2018).</p>

<p>Patents</p>

<p>Patents are novel and unique creations, innovations, and inventions that have been registered with a governing body, which may extend protections nationally and/or internationally. Patents proscribe the use and exploitation of innovations without the authorization (i.e., explicit consent or permission) of the patent owner. Design patents (or industrial designs) are also a protected form of intellectual property. Industrial designs are considered a form of intellectual property because these designs are created with the specific purpose of being aesthetically pleasing to consumers and impacts consumers’ choices between products. Industrial designs, therefore, impact the marketability and commercial value of products (WIPO, 2006).</p>

<p>Did you know?</p>

<p>Patent trolls exist who neither create nor invent anything. These types of trolls merely purchase patents in order to license them to others, and sue any person, group, or organization who infringes their acquired patents.</p>

<p>Want to learn more?</p>

<p>Read Yeh, Brian T. (2013). An Overview of the Patent Trolls Debate. https://fas.org/sgp/crs/misc/R42668.pdf.</p>

<p>Like trademarks, international classification systems have been developed for patents. In particular, an international classification system (the Locarno classification) for registering industrial design was implemented pursuant to the Locarno Agreement Establishing an International Classification for Industrial Designs of 1968. An international classification system (the International Patent Classification) for patents was also established by the Strasbourg Agreement Concerning the International Patent Classification of 1971. The International Design System (i.e., the Hague System for the International Registration of Industrial Designs), a centralized registration system developed pursuant to the Hague Agreement Concerning the International Registration of Industrial Designs of 1925 and its Acts (the Hague Act of 1960 and the Geneva Act of 1999), was created to enable companies to register and protect up to 100 designs in the 68 contracting parties to the agreement (WIPO, n.d.).</p>

<p>International laws, such as the Paris Convention for the Protection of Industrial Property of 1883 (as amended in 1979) and its subsequent amendments, which focus on the “protection of industrial property [that] has as its object patents, utility models, industrial designs, trademarks, service marks, trade names, indications of source or appellations of origin, and the repression of unfair</p>

<p>8</p>

<p>competition,” and applies “to all manufactured or natural products, for example, wines, grain, tobacco leaf, fruit, cattle, minerals, mineral waters, beer, flowers, and flour” (Article 1). Moreover, the</p>

<p>Patent Cooperation Treaty of 1970, and the Patent Law Treaty of 2000, were implemented to harmonize patent applications and registrations among contracting parties by enabling individuals to file a single patent application to protect the patent in 152 Contracting States (Maras, 2016; WIPO, “The PCT”). Patents are also protected under regional treaties, such as the Council of Europe’s European Convention relating to the Formalities Required for Patent Applications of 1955, the Convention on the Grant of European Patents (European Patent Convention) of 1973, and the Eurasian Patent Convention of 1994, which seek to strengthen cooperation on patent protection and harmonize protective practices across contracting parties, as well as national laws (e.g., Cyprus, Patent Law of 1998; Nepal, The Patent, Design and Trade Mark Act, 2022 of 1965; Kyrgyzstan, Law of the Kyrgyz Republic No. 8 of 14 January 1998, on Patents (as amended up to Law No. 76 of 10 April 2015).</p>

<p>Patents and Public Health</p>

<p>A tension exists between intellectual property, innovation and public health, particularly with respect to pharmaceutical innovations (e.g., HIV/AIDS antiretroviral drugs) and the right to affordable and accessible healthcare (see, for example, Fisher and Rigamonti, 2005, for information about patent barriers to HIV/AIDS antiretroviral drugs in South Africa). The Doha Declaration on the TRIPS Agreement and Public Health of 2001, addressed this tension by interpreting the TRIPS Agreement as being flexible to national public health concerns of developing and least-developed countries and clarifying that the TRIPS agreement does not serve as an impediment to the implementation of measures to protect public health (WHO, WIPO and WTO, 2015).</p>

<p>Want to learn more?</p>

<p>Read: Sellin, Jennifer Anna. (2015). Does one size fit all? Patents, the Right to Health and Access to Medicines. Netherlands International Law Review, Vol. 62(3), 445-473.</p>

<p>Trade Secrets</p>

<p>Trade secrets are valuable information about business processes and practices that are secret and protect the business’ competitive advantage (Maras, 2016). Trade secrets can include secret strategies, techniques, processes and formulas that enable businesses to maintain a competitive advantage, such as</p>

<p>all forms and types of financial, business, scientific, technical, economic, or engineering information, including patterns, plans, compilations, program devices, formulas, designs, prototypes, methods, techniques, processes, procedures, programs, or codes, whether tangible or intangible, and whether or how stored, compiled, or memorialized physically, electronically, graphically, photographically, or in writing (see 18 U.S.C. § 1839(3)).</p>

<p>9</p>

<p>Unlike other forms of intellectual property, “trade secrets are protected without registration” (i.e., “without any procedural formalities”) and thus “can be protected for an unlimited period of time” (WIPO, “How are Trade Secrets Protected?”). The criteria and standards for the protection of trade secrets (or protection of undisclosed information) are prescribed under Article 39 of the TRIPS Agreement. Specifically, under Article 39(2),</p>

<p>Natural and legal persons shall have the possibility of preventing information lawfully within their control from being disclosed to, acquired by, or used by others without their consent in a manner contrary to honest commercial practices…so long as such information:</p>

<p>(a) is secret in the sense that it is not, as a body or in the precise configuration and assembly of its components, generally known among or readily accessible to persons within the circles that normally deal with the kind of information in question;</p>

<p>(b) has commercial value because it is secret; and</p>

<p>(c) has been subject to reasonable steps under the circumstances, by the person lawfully in control of the information, to keep it secret.</p>

<p>Additionally, certain regional treaties (e.g., EU Trade Secrets Directive of 2016) and national laws (e.g. United States, Defend Trade Secrets Act of 2016) protect trade secrets. Nationally, regionally and internationally trade secrets are protected because they are vital to a country’s economic security and national security. Businesses protect trade secrets because the exposure of this information to a third party (e.g., individual, group, business, or foreign government) without authorization can economically harm them. Trade secret theft can occur offline (economic espionage) or utilizing the Internet and Internet-enabled technologies (a form of economically-motivated cyberespionage) (Maras, 2016; other forms of cyberespionage are discussed in Cybercrime Module 14 on Activism, terrorism, espionage, disinformation campaigns, and warfare in cyberspace). In 2018, former employees of Jawbone, a now defunct company that sold wearable fitness trackers, were indicted for the possession of Jawbone’s trade secrets (which were contained in “Jawbone’s protected internal computer systems and cloud storage”) after they accepted employment or started working at the company’s competitor, Fitbit (U.S. Department of Justice, 2018).</p>

<p>The purpose of the theft of a trade secret offline and/or online is to gain an unfair competitive advantage. The unauthorized disclosure of trade secrets to a foreign government, foreign agent (i.e., “officer, employee, proxy, servant, delegate, or representative of a foreign government;” 18 U.S.C. § 1839(2)), or foreign instrumentality (i.e., “any agency, bureau, ministry, component, institution, association, or any legal, commercial, or business organization, corporation, firm, or entity that is substantially owned, controlled, sponsored, commanded, managed, or dominated by a foreign government;” 18 U.S.C. § 1839(1)) can also harm national economic security.</p>

<p>Causes, Reasons, and Perceived Justifications for Cyber-Enabled Copyright and Trademark Offences</p>

<p>Various criminological, sociological, psychological, and economic theories have been proposed as possible explanations for cyber-enabled intellectual property crime (for the application of these and other theories to cyber-enabled intellectual property crime, see Maras, 2016). Studies have shown that social-cultural norms and group behaviour and dynamics influence rates of digital</p>

<p>10</p>

<p>piracy (Gopal and Sanders, 1998; Shinet et al., 2004; Hinduja and Ingram, 2009; Higgins and Wilson, 2006; Higgins and Makin, 2004; Higgins et al., 2012). Other studies have shown that digital piracy is a learned behaviour from others (Akers, 2009; Higgins, Fell, and Wilson, 2007; Hinduja and Ingram, 2008; Hinduja and Ingram, 2009; Skinner and Fream, 1997; Higgins, Fell and Wilson, 2006).</p>

<p>Personality traits, such as self-control, are believed to “influence…the likelihood that someone will engage in illicit behavior and the frequency and extent to which he or she will engage in that behavior” (Maras, 2016, p. 160). Studies have demonstrated that low self-control (particularly the need for instant gratification), as well as strains experienced by individuals (e.g., such as inability to pay for or access copyrights works) (Hinduja, 2012; Hohn, Muftic, and Wolf, 2006), influence rates of digital piracy (Higgins, 2004; Higgins and Wilson, 2006; Higgins and Makin, 2004; Higgins et al., 2008; Higgins, Fell, and Wilson, 2007; Malin and Fowers, 2009; Higgins, Fell, and Wilson, 2006; Hinduja and Ingram, 2008; Hinduja, 2012). The result on the links between strains, self-control, and digital piracy, however, are mixed. Other studies have found weak or little support for the link between strains and digital piracy (Morris and Higgins, 2009) and self-control and digital piracy (Higgins and Wilson, 2006; Higgins, Wolfe, and Marcum, 2008; Hinduja, 2012).</p>

<p>Perpetrators of cyber-enabled intellectual property crime were also found to utilize certain techniques (neutralization techniques) “to overcome feelings of remorse or guilt for behaviour that is contrary to conventional norms, values and beliefs of society” and “temporarily free themselves from conventional restraints on behaviour by excusing or justifying illicit conduct” (Maras, 2016, p. 152). The types of neutralization techniques used (denial of responsibility; denial of victim; denial of injury; condemnation of condemners, and appeal to higher loyalties; Sykes and Matza, 1957) in digital piracy varies (Hinduja, 2007; Hinduja and Ingram, 2008; Higgins, Wolfe, and Marcum, 2008; Moore and McMullan, 2009; Morris and Higgins, 2009; Ingram and Hinduja, 2008; Smallridge and Roberts, 2013; Siponen and Vance 2010). Other research has demonstrated that digital asymmetries (e.g. the lack of immediate oversight for one’s actions online) may contribute toward individuals ‘drifting’ into digital deviance and accessing information/resources that support or normalize criminalized acts like piracy (Brewer and Goldsmith, 2015; Dolliver and Love, 2015).</p>

<p>Anti-business sentiment and the (real and/or perceived) high costs of copyrighted works contribute to cyber-enabled intellectual property crime (Chaudhry et al., 2011; Maras, 2016). Because price value and fairness matter to consumers (Zeithaml, 1998; Seale et al., 1998), individuals engage in actions (e.g., such as the purchase or exchange of goods and services) if they perceive that they “are receiving equal [or fair] relative outcomes from the relationship” (Glass and Wood, 1996, p. 1191). If consumers believe that there is an unfair discrepancy between value, quality, and price, they seek alternative means to obtain the good (at a lower price or through piracy, the unauthorized obtainment, access and/or use of another’s intellectual property). Researchers have also suggested that the drastic growth of digital piracy in the late 1990s and early 2000s occurred as public response to legislative overreach in protecting intellectual property (Lessig, 2004; Lessig, 2008; Burkhart, 2011)</p>

<p>11</p>

<p>Overall, even though multiple theories have been applied to cyber-enabled intellectual property crime, the results from the application of these theories to explain the reasons, causes and justifications for this crime offline and online have varied and support for them mixed.</p>

<p>Protection and Prevention Efforts</p>

<p>Proposed solutions to cyber-enabled intellectual property crime include criminal justice efforts, technical solutions to limit unauthorized access to intellectual property, and education campaigns. Criminal justice prevention efforts include the monitoring of online sites that share copyrighted works; undercover investigations targeting those engaging in various forms of cyber-enabled intellectual property crime (e.g., Operation Fastlink, which involved multiple U.S. agencies conducting several undercover operations simultaneously to identify and ultimately arrest individuals who were responsible for the online illegal distribution of copyrighted works, such as games, software, music, movies; Department of Justice, 2004); the takedown of sites known to distribute intellectual property (e.g., Megaupload); and the prosecutions of those engaging in cyber-enabled intellectual property crime (e.g., both individuals and the administrators of online platforms that host copyrighted works). What is more, companies, such as Canada Goose and Chanel, which have experienced cyber-enabled intellectual property crime have sued online marketplaces for trademark infringement for selling counterfeit versions of their products (WIPR, 2018; TBO, 2018).</p>

<p>Did you know?</p>

<p>Websites housing stolen intellectual property have been publicly identified in different countries (e.g., the United Kingdom and Malaysia) and placed on the Infringing Website List (IWL) (Muhamading, 2017). The IWL, which is part of the Operation Creative programme of the UK Police Intellectual Property Crime Unit (PIPCU), identifies piracy websites and seeks to remove these websites’ access to advertising revenue and/or drastically reduce it by informing advertising associations and companies that their advertisements are being hosted on illegal sites and educating these associations and companies on how this can hurt their brand (City of London Police, 2016).</p>

<p>Criminal penalties are also promoted as a way to send the message that violations of intellectual property are serious and are punished under existing laws. The penalties for cyber-enabled intellectual property crime are meted for deterrence purposes. For deterrence to work, penalties must be: severe (i.e., the penalty should outweigh the benefits of the crime); certain (i.e., a person who commits the crime should be punished for the crime); and swift (i.e., a person is punished shortly after committing the crime) (Maras, 2016). Criminal penalties for intellectual property are geared towards specific deterrence (i.e., the person punished ceases further illicit acts if the punishment received outweighs the benefits of committing the crime) and general deterrence (i.e., sends the message to others that similar behaviour will receive similar severe punishment). The current nature of the Internet, however, severely limits the practicability of deterrence as the volume and frequency of piracy far outpaces any reactionary measures (Dolliver and Love, 2015).</p>

<p>12</p>

<p>Beyond measures targeting perpetrators of cyber-enabled intellectual property crime, governments have implemented measures to socially censure countries that do not protect intellectual property as required by international, regional, and national laws. For instance, the Office of the United States Trade Representative, which monitors and reports on U.S. intellectual property protection worldwide, provides an annual report that “call[s] out foreign countries and expose[s] the laws, policies, and practices that fail to provide adequate and effective IP protection and enforcement for U.S. inventors, creators, brands, manufacturers, and service providers…[, and] identifies foreign trading partners where IP protection and enforcement has deteriorated or remained at inadequate levels and where U.S. persons who rely on IP protection have difficulty with fair and equitable market access” (United States Trade Representative, 2018, p. 5).</p>

<p>Technological solutions have also been implemented to combat intellectual property theft, such as the encrypted transfer of intellectual property and the use of special codes and/or passwords to enable access to intellectual property. One such technological solution is digital watermarking (i.e., embedded identification code that includes information about the copyright) technology (Chaudhry et al., 2011). Blockchain (i.e., trustworthy and authentic transactions secured through cryptography) has also been proposed as a technological solution to intellectual property crime, particularly its use as a secure IP registry (Clark, 2018).</p>

<p>Cybersecurity measures have also been implemented to protect data and the systems and data where this content is stored and through which it traverses. Technical measures have further been implemented to prevent the unauthorized access to and use of intellectual property. Examples of these types of measures are blocking and filtering techniques (discussed in Cybercrime Module 3 on Legal Frameworks and Human Rights).</p>

<p>Note: Arbitrary blocking or filtering of content is prohibited under international human rights law (see Cybercrime Module 3 on Legal Frameworks and Human Rights for further information).</p>

<p>With respect to education campaigns, WIPO conducts various annual activities to raise countries, organizations, businesses, and consumers’ awareness on intellectual property protection and the impact of intellectual property theft. The goals of this and other education campaigns are to raise awareness on intellectual property theft and the need to protect intellectual property, and build respect for intellectual property by changing existing beliefs and attitudes towards intellectual property. These initiatives focus on children and adults. For example, one WIPO educational campaign for children, Respect for Intellectual Property, covers information to raise awareness on intellectual property and includes resources and interactive exercises and media for children, as well as teachers who are interested in the subject, want to or currently teach the subject, or want to learn more about the topic. WIPO also provides links to animated videos that explain copyrights, trademarks, and patents to children. National education campaigns on intellectual property have also been implemented. For example, the International Trade Association (INTA) and the Cell for IPR Promotion and Management (CIPAM) launched an intellectual property rights education campaign at schools in India in 2017, which included an interactive presentation and games (INTA, 2017). Moreover, the UK Intellectual Property Office provides open access information on educational resources, lessons, media, and interactive exercises to spread awareness about</p>

<p>13</p>

<p>intellectual property, its importance, and rights to students at various levels of their education (see, for example,</p>

<p>Cracking Ideas).</p>

<p>Education campaigns relating to copyrighted works have additionally focused on the adverse impact of copyright infringement on the economy and jobs in the film, book, music and software industry. Education campaigns relating to trademarks have focused on the harm caused by counterfeit products. A case in point is the UNODC “Counterfeit: Don’t Buy Into Organized Crime” campaign, which was created to raise consumer awareness on trademark counterfeiting and its adverse personal, social, and environmental impact (UNODC, 2014b).</p>

<p>Want to learn more?</p>

<p>UNODC, Public Service Announcement: “Look Behind.” https://www.youtube.com/watch?v=tu8zArWI75k&amp;feature=youtu.be</p>

<p>Conclusion</p>

<p>With the Internet and other digital technologies, anyone can take protected content and instantly republish and redistribute it globally. Criminal justice efforts, technological solutions to limit unauthorized access to intellectual property, and education campaigns have been proposed as solutions to cyber-enabled intellectual property crime. Despite national, regional, and international legal and regulatory efforts, the simplicity, ease, and inexpensive nature of replicating, storing, distributing, and/or otherwise making available of intellectual property have made efforts to investigate and prosecute perpetrators of these cybercrimes and the prevention of these cybercrimes particularly challenging for relevant authorities and agencies worldwide.</p>

<p>References</p>

<p>• Albanese, Jay. (2018). Cybercrime as an Essential Element in Transnational Counterfeiting Schemes. Presentation at International Academic Conference: Linking Organized Crime and Cybercrime. A conference hosted by Hallym University and sponsored by the United Nations Office on Drugs and Crime (UNODC), 8 June 2018.</p>

<p>• Burkart, Patrick. (2010). Music and cyberliberties. Wesleyan University Press.</p>

<p>• Chaudhry, Peggy E., Sohail S. Chaudhry, Stephen A. Stumpf, and Hasshi Sudler. (2011). Piracy in Cyberspace: Consumer Complicity, Pirates and Enterprise Enforcement. Enterprise Information Systems, Vol. 5(2), 255-271.</p>

<p>• Chaudhry, Peggy E., Sohail S. Chaudhry, Stephen A. Stumpf, and Hasshi Sudler. (2011). Piracy in Cyberspace: Consumer Complicity, Pirates and Enterprise Enforcement. Enterprise Information Systems, Vol. 5(2), 255-271.</p>

<p>• Cheung, C.K. (2013). Understanding factors associated with online piracy behaviour of adolescents. International Journal of Adolescence and Youth, Vol. 18(2), 122-132.</p>

<p>• City of London Police (2016). Operation Creative and IWL. https://www.cityoflondon.police.uk/advice-and-support/fraud-and-economic-crime/pipcu/Pages/Operation-creative.aspx</p>

<p>14</p>

<p>•</p>

<p>Clark, Birgit. (2018). Blockchain and IP Law: A Match Made in Crypto-Heaven. WIPO Magazine. http://www.wipo.int/wipo_magazine/en/2018/01/article_0005.html.</p>

<p>• Cornes, Richard and Todd Sandler. (1996). The theory of externalities, public goods, and club goods, second edition. Cambridge University Press.</p>

<p>• Denham, Jess. (2015). Game of Thrones season 5 breaks piracy record with 32m illegal downloads. The Independent, 23 April 2015. https://www.independent.co.uk/arts-entertainment/tv/news/game-of-thrones-season-5-breaks-piracy-record-with-32m-illegal-downloads-10197482.html.</p>

<p>• Department of Justice. (2004). ‘Operation Fastlink’ Is the Largest Global Enforcement Action Ever Undertaken Against Online Piracy. https://www.justice.gov/archive/opa/pr/2004/April/04_crm_263.htm.</p>

<p>• Dolliver, Diana and Katherine Love. (2015). Criminogenic asymmetries in cyberspace: A comparative analysis of two TOR marketplaces. Journal of Globalization Studies, Vol 6(2), 75-96</p>

<p>• Drath, Ross. (2012). Hotfile, Megaupload, and the future of copyright on the Internet: What can cyberlockers tell us about DMCA reform? The John Marshall Review of Intellectual Property Law, Vol. 12, 205-241.</p>

<p>• Fisher III, William W. and Cyrill P. Rigamonti. (2005). The South Africa AIDS Controversy: A Case Study in Patent Law and Policy. Harvard Law School. https://cyber.harvard.edu/people/tfisher/South%20Africa.pdf.</p>

<p>• Gibbs, Samuel. (2017). Game of Thrones: HBO hackers threaten leak of season finale. The Guardian, 21 August 2017.</p>

<p>• https://www.theguardian.com/technology/2017/aug/21/game-of-thrones-hbo-hackers-threaten-leak-of-season-finale.</p>

<p>• Gifford Jr., Adam and Gary J. Santoni. (1979). Public economics: politicians, property rights, and exchange. Dryden, Press.</p>

<p>• Goldsmith, Andrew and Russell Brewer. (2015). Digital drift and the criminal interaction order. Theoretical Criminology, Vol. 19(1), 112-130.</p>

<p>• Gopal, Ram D. and G. Lawrence Sanders. (1998). International software piracy: Analysis of key issues and impacts. Information Systems Research, Vol. 9(4), 380-397.</p>

<p>• Gopal, Ram, G. Lawrence, Sudip Bhattacharjee, Manish Agrawal and Suzanne C. Wagner. (2004). A behavioral model of digital music piracy. Journal of Organizational Computing &amp; Electronic Commerce, Vol. 14(2), 89–105.</p>

<p>• Higgins, George E. (2005). Can low self‐control help with the understanding of the software piracy problem? Deviant Behavior, Vol. 26: 1–24.</p>

<p>• Higgins, George E., and Abbey L. Wilson. (2006). Low Self-Control, Moral Beliefs, and Social Learning Theory in University Students’ Intentions to Pirate Software. Security Journal, Vol. 19(2), 75-92.</p>

<p>• Higgins, George E. and David Makin. (2004). Does Social Learning Theory Condition the Effects of Low Self-control on College Students’ Software Piracy? Journal of Economic Crime Management, Vol. 2, 1-22.</p>

<p>• Higgins, George E., and David Makin. (2004). Self-Control, Deviant Peers, and Software Piracy. Psychological Reports, Vol. 95(3), 921-931.</p>

<p>15</p>

<p>• Higgins, George E., Brian D. Fell and Abbey L. Wilson. (2006). Digital piracy: assessing the contributions of an integrated self-control theory and social learning theory. Criminal Justice Studies, Vol. 19(1), 3-22.</p>

<p>• Higgins, George E., Brian D. Fell and Abby L. Wilson. (2007). Low Self-Control and Social Learning in Understanding Students’ Intentions to Pirate Movies in the United States. Social Science Computer Review, Vol. 25(3), 339-357.</p>

<p>• Higgins, George E., Scott E. Wolfe and Catherine D. Marcum. (2008). Digital Piracy: An Examination of Three Measurements of Self-Control. Deviant Behavior, 29(5), 440-460.</p>

<p>• Higgins, George E., Scott E. Wolfe and Catherine D. Marcum. (2008). Digital Piracy and neutralization: A trajectory analysis from short-term longitudinal data. International Journal of Cyber Criminology, Vol. 2(2), 324-336.</p>

<p>• Hinduja, Sameer. (2001). Correlates of Internet software piracy. Journal of Contemporary Criminal Justice, Vol. 17, 369–382.</p>

<p>• Hinduja, Sameer. (2012). General Strain, Self-Control, and Music Piracy. International Journal of Cyber Criminology, Vol. 6(1), 951–967</p>

<p>• Hinduja, Sameer. (2007). Neutralization theory and online software piracy: An empirical analysis. Ethics and Information Technology, Vol. 9(3), 187-204.</p>

<p>• Hinduja, Sameer and Jason Ingram. (2008). Self-control and ethical beliefs on the social learning of intellectual property theft. Western Criminology Review, Vol. 9(2), 52-72.</p>

<p>• Hinduja, Sameer and Jason Ingram. (2009). Social learning theory and music piracy: The differential role of online and offline peer influences. Criminal Justice Studies, Vol. 22(4), 405-420.</p>

<p>• Hohn, Dave A., Lisa R. Muftic and Kelly Wolf. (2006). Swashbuckling students: an exploratory study of Internet piracy. Security Journal, Vol. 19(2), 110-127.</p>

<p>• Ingram, Jason and Sameer Hinduja, S. (2008). Neutralizing music piracy: An empirical examination. Deviant Behavior, Vol. 29(4), 334-366.</p>

<p>• INTA. (2017). Launch of INTA-CIPAM Children’s IP Awareness and Education Campaign in Schools. INTA Bulletin, Vol. 72(9).</p>

<p>• Lessig, Lawrence. (2004). Free culture: How big media uses technology and the law to lock down culture and control creativity. Penguin.</p>

<p>• Lessig, Lawrence. (2008). Remix : making art and commerce thrive in the hybrid economy. Penguin.</p>

<p>• Malin, Jenessa and Blain J. Fowers. (2009). Adolescent self-control and music and movie piracy. Computers in Human Behavior, Vol. 25(3), 718–722.</p>

<p>• Maras, Marie-Helen. (2016). Cybercriminology. Oxford University Press.</p>

<p>• Muhamading, Masriwanie. (2017). Malaysia launches Infringing Website List initiative to combat digital piracy. New Straits Times, 10 October 2017. https://www.nst.com.my/news/nation/2017/10/289556/malaysia-launches-infringing-website-list-initiative-combat-digital.</p>

<p>• Moore, Robert G., and Elizabeth McMullan. (2009). Neutralizations and rationalizations of digital piracy: A qualitative analysis of university students. International Journal of Cyber Criminology, Vol. 3(1), 441-451.</p>

<p>• Morris, Robert G. and George E. Higgins. (2009). Neutralizing Potential and Self-Reported Digital Piracy: A Multitheoretical Exploration Among College Undergraduates. Criminal Justice Review, Vol. 34(2), 173-195.</p>

<p>16</p>

<p>• Respect for Intellectual Property. Intellectual Property or “IP” Theft – What is that? http://respectforip.org/.</p>

<p>• Seale, Darryl A., Michael Polakowski, and Sherry Schneider. (1998). It’s Not Really Theft! Personal and Workplace Ethics that Enable Software Privacy. Behavior and Information Technology, Vol. 17(1), 27-40.</p>

<p>• Silbey, Jessica M. (2018). The Mythical Beginnings of Intellectual Property. George Mason Law Review, Vol. 15, 319-379.</p>

<p>• Smallridge, Joshua L. and Jennifer R. Roberts. (2013). Crime Specific Neutralizations: An Empirical Examination of Four Types of Digital Piracy. International Journal of Cyber Criminology, Vol. 7(2), 125-140.</p>

<p>• Shin, Seung Kyoon, Ram D. Gopal, G. Lawrence Sanders, and Andrew B. Whinston. (2004) Global software piracy revisited. Communications of the ACM, Vol. 47(1), 103-107.</p>

<p>• Siponen Mikko and Anthony Vance. (2010). Neutralization: New insights into the problem of employee information systems security policy violation. Management Information Systems Quarterly, Vol. 34(3), 487-502.</p>

<p>• Skinner, B. F. and Fream, A. M. (1997). A social learning theory analysis of computer crime among college students. Journal of Research in Crime and Delinquency, 34, 495-518.</p>

<p>• Sykes, Gresham and David Matza. (1957). Techniques of neutralization: A theory of delinquency. American Sociological Review, Vol. 22(6), 664-670.</p>

<p>• Trademarks &amp; Brands Online (TBO).. (2018). Canadian clothing company takes on online counterfeiters. https://www.trademarksandbrandsonline.com/news/canadian-clothing-company-takes-on-online-counterfeiters-5160.</p>

<p>• United States Trade Representative. (2018). 2018 Special 301 Report. https://ustr.gov/sites/default/files/files/Press/Reports/2018%20Special%20301.pdf.</p>

<p>• UNODC. (2014a). Counterfeit: Don’t buy into organized crime.</p>

<p>https://www.unodc.org/documents/counterfeit/Leaflet/Counterfeit_Brochure_2014_-_EN_-_WEB.pdf.</p>

<p>• UNODC. (2014b). “Counterfeit: Don’t buy into organized crime” - UNODC launches new outreach campaign on $250 billion a year counterfeit business. https://www.unodc.org/unodc/en/frontpage/2014/January/counterfeit-dont-buy-into-organized-crime---unodc-launches-new-outreach-campaign-on-250-billion-a-year-counterfeit-business.html.</p>

<p>• UNODC. (2013). The Illicit Trafficking of Counterfeit Goods and Transnational Organized Crime.</p>

<p>https://www.unodc.org/documents/counterfeit/FocusSheet/Counterfeit_focussheet_EN_HIRES.pdf.</p>

<p>• U.S Department of Justice. (2018). Six Former And Current Fitbit Employees Indicted For Possessing Multiple Trade Secrets Stolen From Jawbone. https://www.justice.gov/usao-ndca/pr/six-former-and-current-fitbit-employees-indicted-possessing-multiple-trade-secrets.</p>

<p>• Wall, David S. (2017). The Theft of Ideas as a Cybercrime: Downloading and Changes in the Business Model of Creative Arts. In M. McGuire and T. Holt (eds). The Handbook of Technology, Crime &amp; Justice (pp. 161-177), Routledge.</p>

<p>17</p>

<p>• WHO, WIPO, and WTO (2015). Public Health, Intellectual Property, and TRIPS at 20: Innovations and Access to Medicines; Learning from the Past, Illuminating the Future.</p>

<p>http://www.wipo.int/publications/en/details.jsp?id=4198.</p>

<p>• WIPO. (1996). Looking Good: An Introduction to Industrial Designs for Small and Medium-sized Enterprises. Intellectual Property for Business Series, No. 2. https://www.wipo.int/edocs/pubdocs/en/sme/498/wipo_pub_498.pdf.</p>

<p>• WIPO. (n.d.). WIPO Copyright Treaty. https://www.wipo.int/treaties/en/ip/wct/.</p>

<p>• WIPO. (n.d.). Geographical Indications. http://www.wipo.int/geo_indications/en/.</p>

<p>• WIPO. (n.d.). Hague – The International Design System. http://www.wipo.int/hague/en/.</p>

<p>• WIPO. (n.d.). How are Trade Secrets Protected? https://www.wipo.int/sme/en/ip_business/trade_secrets/protection.htm.</p>

<p>• WIPO. (1993). Introduction to Trademark Law &amp; Practice The Basic Concepts: A WIPO Training Manual, second edition.</p>

<p>https://www.wipo.int/edocs/pubdocs/en/wipo_pub_653.pdf.</p>

<p>• WIPO. (n.d.). Lisbon - The International System of Appellations of Origins.</p>

<p>http://www.wipo.int/lisbon/en/.</p>

<p>• WIPO. (n.d.). Madrid - International Trademark System. http://www.wipo.int/madrid/en/.</p>

<p>• WIPO. (n.d.). Members of the Hague Union. http://www.wipo.int/hague/en/members/.</p>

<p>• WIPO. (n.d.). Members of the Madrid Union. http://www.wipo.int/madrid/en/members/.</p>

<p>• WIPO. (n.d.). Mission. http://www.wipo.int/portal/en/index.html.</p>

<p>• WIPO. (n.d.). PCT – The International Patent System. http://www.wipo.int/pct/en/.</p>

<p>• WIPO. (n.d.). Training and Awareness Activities.</p>

<p>http://www.wipo.int/enforcement/en/activities/current.html.</p>

<p>• WIPO. (2009). The Economics of Intellectual Property: Suggestions for Further Research in Developing Countries and Countries with Economies in Transition. http://www.wipo.int/edocs/pubdocs/en/economics/1012/wipo_pub_1012.pdf.</p>

<p>• WIPO. The PCT now has 152 Contracting States.</p>

<p>http://www.wipo.int/pct/en/pct_contracting_states.html.</p>

<p>• WIPO. (n.d.). WIPO Performances and Phonograms Treaty. https://www.wipo.int/treaties/en/ip/wppt/.</p>

<p>• World Intellectual Property Review. (WIPR). (2018). Chanel accuses 94 online entities of counterfeiting. https://www.worldipreview.com/news/chanel-accuses-94-online-entities-of-counterfeiting-17165.</p>

<p>• Zeithaml, Valarie A. (1988). Consumer Perceptions of Price, Quality, and Value: A Means-End Model and Synthesis of Evidence. Journal of Marketing, Vol. 52, 2-22.</p>

<p>Cases</p>

<p>• A&amp;M Records, Inc. v. Napster, Inc., 239 F. 3d 1004 (2001).</p>

<p>• Feist Publications, Inc v. Rural Telephone Service Co Inc., 499 U.S. 340 (1991).</p>

<p>• Jewelers’ Circular Pub. Co. v. Keystone Pub. Co., 281 F. 83 (2d Cir 1922).</p>

<p>Laws</p>

<p>18</p>

<p>• Agreement on Cooperation in the Area of Legal Protection of Intellectual Property and on Establishment of Interstate Council on Legal Protection of Intellectual Property of 2011 (Commonwealth of Independent States)</p>

<p>• (http://www.wipo.int/wipolex/en/details.jsp?id=14624).</p>

<p>• Convention Establishing the World Intellectual Property Organization of 1967 (WIPO) (http://www.wipo.int/wipolex/en/treaties/text.jsp?file_id=283833).</p>

<p>• Convention for the Protection of Producers of Phonograms Against Unauthorized Duplication of Their Phonograms of 1971 (Geneva Phonograms Convention)</p>

<p>• (http://portal.unesco.org/en/ev.php-URL_ID=13646&amp;URL_DO=DO_TOPIC&amp;URL_SECTION=201.html).</p>

<p>• Convention on the Grant of European Patents (European Patent Convention) of 1973. https://www.epo.org/law-practice/legal-texts/html/epc/2016/e/ma1.html.</p>

<p>• Copyright Law of the People's Republic of China (2010 Amendment).</p>

<p>• (http://en.pkulaw.cn/display.aspx?id=7d5a41ba1839c7c7bdfb&amp;lib=law&amp;SearchKeyword=&amp;SearchCKeyword=%d0%cc%ca%c2%cb%df%cb%cf%b7%a8).</p>

<p>• Cuba, Decree-Law No. 228 on Geographical Indications of 2002 (http://www.wipo.int/wipolex/en/details.jsp?id=899).</p>

<p>• Cuba, Decree-Law No. 203 on Trademarks and Other Distinctive Signs of 1999 (http://www.wipo.int/wipolex/en/details.jsp?id=897).</p>

<p>• Defend Trade Secrets Act of 2016 (United States).</p>

<p>• (http://www.wipo.int/wipolex/en/text.jsp?file_id=419430).</p>

<p>• Directive (EU) 2016/943 of the European Parliament and of the Council of 8 June 2016 on the protection of undisclosed know-how and business information (trade secrets) against their unlawful acquisition, use and disclosure</p>

<p>• (https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32016L0943).</p>

<p>• DOHA Declaration on the TRIPS Agreement and Public Health of 2001. https://www.wto.org/english/thewto_e/minist_e/min01_e/mindecl_trips_e.htm.</p>

<p>• Eurasian Patent Convention of 1994</p>

<p>• (http://www.wipo.int/wipolex/en/other_treaties/text.jsp?file_id=181190).</p>

<p>European Convention relating to the Formalities Required for Patent Applications of 1955 (Council of Europe) (http://www.wipo.int/wipolex/en/profile.jsp?code=CE).</p>

<p>• Extradition (United States of America) Order 1970 (bilateral treaty between New Zealand and the United States)</p>

<p>• (http://www.legislation.govt.nz/regulation/public/1970/0240/latest/whole.html#DLM32950).</p>

<p>• Framework Agreement on Intellectual Property Cooperation of 1995 (ASEAN)</p>

<p>(http://www.wipo.int/wipolex/en/other_treaties/text.jsp?file_id=204026).</p>

<p>• Geneva Act of 1999 of the Hague Agreement Concerning the International Registration of Industrial Designs (http://www.wipo.int/edocs/pubdocs/en/designs/453/wipo_pub_453.pdf).</p>

<p>• Hague Act of 1960 of the Hague Agreement Concerning the International Registration of Industrial Designs (https://www.inta.org/Advocacy/Pages/Hague-Agreement-Concerning-the-International-Registration-of-Industrial-Designs.aspx).</p>

<p>19</p>

<p>• Inter-American Convention on the Rights of the Author in Literary, Scientific, and Artistic Works of 1947 (Organization of American States (OAS)) (</p>

<p>http://www.wipo.int/wipolex/en/other_treaties/details.jsp?group_id=21&amp;treaty_id=378).</p>

<p>• International Convention for the Protection of Performers, Producers of Phonograms and Broadcasting Organisations of 1961 (Rome Neighboring Rights Convention) (http://www.wipo.int/treaties/en/text.jsp?file_id=289757).</p>

<p>• Law 36/2009/QH12 of 19 June 2009, amending and supplementing a Number of Articles of the Law on Intellectual Property (Viet Nam)</p>

<p>(http://www.wipo.int/wipolex/en/text.jsp?file_id=185840).</p>

<p>• Law No. 1/021 of 30 December 2005, on the Protection of Copyright and Related Rights (Burundi) (http://www.wipo.int/wipolex/en/details.jsp?id=8323).</p>

<p>• Law No. 8686 of 21 November 2008, on Amendment, Addition and Repeal of Various Rules Governing Matters Pertaining to Intellectual Property (Costa Rica)</p>

<p>(http://www.wipo.int/wipolex/en/text.jsp?file_id=276508).</p>

<p>• Law on Trademarks of 1995 (Andorra) (http://www.wipo.int/wipolex/en/profile.jsp?code=AD).</p>

<p>• Law of 10 January 1879, on Intellectual Property (Equatorial Guinea)</p>

<p>• (http://www.wipo.int/wipolex/en/details.jsp?id=10624).</p>

<p>• Law of the Kyrgyz Republic No. 8 of 14 January, 1998, on Patents (as amended up to Law No. 76 of 10 April 2015) (Kyrgyzstan) (http://www.wipo.int/wipolex/en/details.jsp?id=16999).</p>

<p>• Law of the Republic of Azerbaijan on the Enforcement of the Intellectual Property Rights and Fight Against Piracy of 2012 (Azerbaijan)</p>

<p>• (http://www.wipo.int/edocs/lexdocs/laws/en/az/az100en.pdf).</p>

<p>• Legislative Decree No. 611 of 15 February 2017, on Amendments to the Law on Intellectual Property (El Salvador) (http://www.wipo.int/wipolex/en/details.jsp?id=17481).</p>

<p>• Locarno Agreement Establishing an International Classification for Industrial Designs of 1968 (http://www.wipo.int/treaties/en/text.jsp?file_id=286253).</p>

<p>• Lisbon Agreement for the Protection of Appellations of Origin and their International Registration of 1958 (http://www.wipo.int/lisbon/en/legal_texts/lisbon_agreement.html).</p>

<p>• Madrid Agreement Concerning the International Registration of Marks of 1891 (https://wipolex.wipo.int/en/text/283530).</p>

<p>• Madrid Protocol Relating to the Madrid Agreement Concerning the International Registration of Marks 1989 (https://wipolex.wipo.int/en/text/283483).</p>

<p>• Nice Agreement Concerning the International Classification of Goods and Services for the Purposes of the Registration of Marks of 1957 (http://www.wipo.int/treaties/en/text.jsp?file_id=287532).</p>

<p>• Paris Convention for the Protection of Industrial Property of 1883</p>

<p>(http://www.wipo.int/treaties/en/text.jsp?file_id=288514).</p>

<p>• Patent, Design and Trade Mark Act, 2022 of 1965 (Nepal) (http://www.wipo.int/wipolex/en/details.jsp?id=7234).</p>

<p>• Patent Cooperation Treaty of 1970</p>

<p>(http://www.wipo.int/export/sites/www/pct/en/texts/pdf/pct.pdf).</p>

<p>• Patent Law of 1998 (Cyprus) (http://www.wipo.int/wipolex/en/details.jsp?id=930).</p>

<p>20</p>

<p>• Patent Law Treaty of 2000</p>

<p>(http://www.wipo.int/edocs/lexdocs/treaties/en/plt/trt_plt_001en.pdf).</p>

<p>• Singapore Treaty on the Law of Trademarks of 2006</p>

<p>(http://www.wipo.int/treaties/en/ip/singapore/).</p>

<p>• Strasbourg Agreement Concerning the International Patent Classification of 1971 (http://www.wipo.int/treaties/en/text.jsp?file_id=291858).</p>

<p>• Trademark Law Treaty of 1994 (http://www.wipo.int/treaties/en/text.jsp?file_id=294357).</p>

<p>• Trademark Registration Law of 2009 (Afghanistan)</p>

<p>(http://www.wipo.int/wipolex/en/details.jsp?id=10201).</p>

<p>• WIPO Copyright Treaty of 1996</p>

<p>• (http://www.wipo.int/wipolex/en/treaties/text.jsp?file_id=295157).</p>

<p>• WIPO’s Performances and Phonograms Treaty of 1996</p>

<p>(http://www.wipo.int/treaties/en/text.jsp?file_id=295578).</p>

<p>• WTO. Agreement on Trade-Related Aspects of Intellectual Property Rights (TRIPS). (https://www.wto.org/english/docs_e/legal_e/27-trips_01_e.htm).</p>

<p>Exercises</p>

<p>Exercise # 1 – The Case of Megaupload</p>

<p>In 2012, the United States charged Kim Dotcom, and affiliates with conspiracy to commit copyright infringement and profit from copyright infringement committed via Megaupload, and sought his extradition to the United States pursuant to the existing bilateral extradition treaty between the United States and New Zealand (i.e., Extradition (United States of America) Order 1970).</p>

<p>Please review the following:</p>

<p>• Kim Dotcom: The Man Behind Megaupload:</p>

<p>https://www.youtube.com/watch?v=gMxhIfG0MpY.</p>

<p>• Kim Dotcom - Caught in the Web trailer:</p>

<p>https://www.youtube.com/watch?v=M8iTRn8GUWc.</p>

<p>• Criminal indictment: https://www.washingtonpost.com/wp-srv/business/documents/megaupload_indictment.pdf.</p>

<p>Discussion Questions</p>

<p>1) What are your initial reactions about this case?</p>

<p>2) How would you characterize the criminal justice response to Kim Dotcom? Why?</p>

<p>3) What is the status of the case?</p>

<p>4) Was Kim Dotcom extradited?</p>

<p>5) What theory (or theories) can be used to explain Kim Dotcom’s actions and/or the actions of those who used his platform to engage in digital piracy?</p>

<p>21</p>

<p>Exercise # 2 – Innovative Technological Solutions to Intellectual Property Theft</p>

<p>The use of blockchain has been promoted as a way to protect intellectual property.</p>

<p>Review the following:</p>

<p>• Clark, Birgit. (2018). Blockchain and IP Law: A Match Made in Crypto-Heaven. WIPO Magazine. http://www.wipo.int/wipo_magazine/en/2018/01/article_0005.html</p>

<p>• Blockchain IP - To Protect or Not To Protect:</p>

<p>https://www.youtube.com/watch?v=EBqFb9AT60I.</p>

<p>• Blockchain and Patent Law.</p>

<p>https://www.youtube.com/watch?v=5t5IHerqbcc.</p>

<p>Discussion Questions:</p>

<p>1. Is blockchain a viable way to protect intellectual property? Why or why not?</p>

<p>2. Are there any drawbacks to its use?</p>

<p>Exercise # 3 – Learning from Literature and TV: The Immortal Life of Henrietta Lacks</p>

<p>Human rights, medical ethics, and intellectual property have been featured in literature and film. In 2010, Rebecca Skloot, wrote a non-fiction book The Immortal Life of Henrietta Lacks, which was adapted into a TV movie.</p>

<p>Please read the book or see the TV movie. Answer the following questions:</p>

<p>1) What were the intellectual property issues discussed in the work?</p>

<p>2) How would you characterize the manner in which they were handled?</p>

<p>3) What circumstances influenced the handling of the intellectual property?</p>

<p>Exercise # 4 – Intellectual Property Rights Debate</p>

<p>Have students review the following documents before class which offer a counter-perspective on intellectual property rights:</p>

<p>• Silbey, Jessica M. (2018). The Mythical Beginnings of Intellectual Property. George Mason Law Review, Vol. 15, 319-379.</p>

<p>• Wall, David S. (2017). The Theft of Ideas as a Cybercrime: Downloading and Changes in the Business Model of Creative Arts. In M. McGuire and T. Holt (eds). The Handbook of Technology, Crime &amp; Justice (pp. 161-177), Routledge.</p>

<p>Divide the class into groups.</p>

<p>In these groups, have the students argue either for the maintenance of intellectual property rights or against the maintenance of intellectual property rights.</p>

<p>22</p>

<p>Possible Class Structure</p>

<p>The following is a recommended structure for the class. Students should complete the core readings before coming to class. The lecture is meant to reinforce what they learned in the readings and the exercises are designed to apply what they learned in the readings. The following breakdown is designed based on a three-hour class. The lecturers can adapt the structure based on their needs and the class times.</p>

<p>Cybercrime Module 11 Class Breakdown (three-hour class)</p>

<p>Introduction to the class and learning outcomes</p>

<p>Lecture (10 minutes):</p>

<p>● Provide a brief introduction to the class and its contents</p>

<p>● Identify and discuss the learning outcomes of the class</p>

<p>Intellectual Property: What It Is</p>

<p>Lecture (20 minutes):</p>

<p>● Discuss intellectual property and the importance of its protection</p>

<p>[Optional: Have students complete “Exercise # 4 – Intellectual Property Rights Debate” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture].</p>

<p>[Optional: Have students complete “Homework #3: Evolution of Cyber-Enabled Intellectual Property Crime” under the “Student Assessment” section of this Module before class and have them discuss their findings during the lecture].</p>

<p>Types of Intellectual Property</p>

<p>Lecture (30 minutes):</p>

<p>● Discuss and differentiate between different forms of intellectual property</p>

<p>● Discuss and critically evaluate national, regional and international laws and treaties relating to intellectual property protection</p>

<p>Class Exercise (20 minutes):</p>

<p>Have students complete “Exercise # 3 – Learning from Literature and TV: The Immortal Life of Henrietta Lacks” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>23</p>

<p>Break</p>

<p>Time: 10 minutes</p>

<p>Causes, Reasons, and Perceived Justifications for Cyber-Enabled Copyright and Trademark Offences</p>

<p>Lecture (30 minutes):</p>

<p>• Identify and discuss various theories and critically assess their applicability to cyber-enabled copyright and trademark offences</p>

<p>Under the “Student Assessment” section of this Module there is a homework listed titled “Homework #1: Other Theories.” Use the questions in the exercise to facilitate discussion on the topic.</p>

<p>[*Reminder: This exercise needs to be completed before class].</p>

<p>Class Exercise (20 minutes):</p>

<p>Under the “Exercise” section of this Module there is an exercise listed titled “Exercise # 1 – The Case of Megaupload.” Have students discuss their findings in class.</p>

<p>[*Reminder: This exercise needs to be completed before class].</p>

<p>Protection and Prevention Efforts</p>

<p>Lecture (20 minutes):</p>

<p>● Identify, discuss, and evaluate national, regional and international intellectual property protection and prevention efforts.</p>

<p>[Optional: Have students complete “Exercise # 2 – Innovative Technological Solutions to Intellectual Property Theft” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>Students can either hand in a one- to three-page summary of their findings or merely come prepared to discuss their findings in class].</p>

<p>Case Study Discussion (20 minutes):</p>

<p>Under the “Student Assessment” section of this Module there is a homework listed titled “Homework #2: Group Exercise ~ Intellectual Property: Laws, Theories, and Practice.” Use the questions in the exercise to facilitate discussion on the topic. Have student groups discuss their findings in class.</p>

<p>24</p>

<p>[*Reminder: This exercise needs to be completed before class]</p>

<p>Core Reading</p>

<p>The following readings are (mostly open source) required readings that should be completed before taking a class based on this Module:</p>

<p>• Basamanowicz, J. and Bouchard, M. (2011). Overcoming the Warez Paradox: Online Piracy Groups and Situational Crime Prevention. Policy &amp; Internet, Vol. 3(2), 1-25.</p>

<p>• Calia, Kurt, David Fagan, John Veroneau, Gina Vetere, Kristen Eichensehr, Frank Cilluffo, and Christian Beckner. (2013). Economic Espionage and Trade Secret Theft: An Overview of the Legal Landscape and Policy Reponses. https://cchs.gwu.edu/sites/g/files/zaxdzs2371/f/downloads/Covington_SpecialIssueBrief.pdf.</p>

<p>• Chaudhry, Peggy E., Sohail S. Chaudhry, Stephen A. Stumpf, and Hasshi Sudler. (2011). Piracy in Cyberspace: Consumer Complicity, Pirates and Enterprise Enforcement. Enterprise Information Systems, Vol. 5(2), 255-271.</p>

<p>• Hinduja, Sameer and Jason Ingram. (2008). Self-control and ethical beliefs on the social learning of intellectual property theft. Western Criminology Review, Vol. 9(2), 52-72.</p>

<p>• Kobus, Martyna and Michal Krawczyk. (2013). Piracy as an ethical decision. University of Warsaw Working Papers No. 22/2013 (107). http://www.wne.uw.edu.pl/inf/wyd/WP/WNE_WP107.pdf.</p>

<p>• Morris, Robert G., Matthew C. Johnson and George E. Higgins. (2009). The role of gender in predicting the willingness to engage in digital piracy among college students. Criminal Justice Studies, Vol. 22(4), 393-404.</p>

<p>• Poppe, Andrew F. (2014). More than the Sum of All Parts: Taking on IP and IT Theft Through a Global Partnership, Northwestern Journal of Technology and Intellectual Property, Vol. 12(4), 254-290.</p>

<p>• Sheinblatt, Julie S. (1998). The WIPO Copyright Treaty. Berkeley Technology Law Journal, Vol. 13(1), 535-550.</p>

<p>• Silbey, Jessica M. (2018). The Mythical Beginnings of Intellectual Property. George Mason Law Review, Vol. 15, 319-379.</p>

<p>• Wall, David S. (2017). The Theft of Ideas as a Cybercrime: Downloading and Changes in the Business Model of Creative Arts. In M. McGuire and T. Holt (eds). The Handbook of Technology, Crime &amp; Justice (pp. 161-177), Routledge.</p>

<p>Advanced Reading</p>

<p>The following readings are recommended for those interested in exploring the topics covered in this Module in more detail:</p>

<p>• Barnes, David W. (2011). Congestible Intellectual Property and Impure Public Goods. Northwestern Journal of Technology and Intellectual Property, Vol. 9(8),</p>

<p>25</p>

<p>533-563.</p>

<p>https://scholarlycommons.law.northwestern.edu/cgi/viewcontent.cgi?referer=https://www.google.com/&amp;httpsredir=1&amp;article=1152&amp;context=njtip. • Brauneis, Robert and Roger E. Schechter. (2006). Geographic Trademarks and the Protection of Competitor Communication. Trademark Reporter, Vol. 96(4), 782-850.</p>

<p>https://www.law.berkeley.edu/files/Brauneis-Schechter.pdf.</p>

<p>• David, Matthew and Halbert, Deborah. (eds). The SAGE Handbook of Intellectual Property, SAGE.</p>

<p>• Franklin, Jonathan. (2013). International Intellectual Property Law. Electronic Resource Guide. American Society of International Law. https://www.asil.org/sites/default/files/ERG_IP.pdf.</p>

<p>• Guan, Wenwei. (2014). Chapter 2, Private-Public Dynamics: The Paradox of Intellectual Property Philosophy. In Intellectual Property Theory and Practice: A Critical Examination of China’s TRIPS Compliance and Beyond. Springer.</p>

<p>https://www.springer.com/cda/content/document/cda_downloaddocument/978364 2552649-c2.pdf?SGWID=0-0-45-1491498-p176722391.</p>

<p>• Maras, Marie-Helen. (2016). Cybercriminology. Oxford University Press.</p>

<p>• Maras, Marie-Helen. Cyberlaw and Cyberliberties. Oxford University Press, forthcoming, 2020.</p>

<p>• Osei-Tutu, J. Janewa. (2017). Humanizing Intellectual Property: Moving Beyond Natural Rights Property Focus. Vanderbilt Journal of Entertainment &amp; Technology Law, Vol. 20, 207-257. http://www.jetlaw.org/wp-content/uploads/2017/11/5_Osei-Tutu_Final.pdf.</p>

<p>• Sellin, Jennifer Anna. (2015). Does one size fit all? Patents, the Right to Health and Access to Medicines. Netherlands International Law Review, Vol. 62(3), 445-473.</p>

<p>• WIPO. (2004). Intellectual Property Handbook, second edition. http://www.wipo.int/edocs/pubdocs/en/intproperty/489/wipo_pub_489.pdf.</p>

<p>Student Assessment</p>

<p>In addition to the exercises, other assessment tools used in this course are review questions and homework assignments.</p>

<p>Review Questions</p>

<p>The questions can also be used to promote class discussions during the lecture.</p>

<p>1. Why is the protection of intellectual property important?</p>

<p>2. What are the different types of intellectual property?</p>

<p>3. Name two examples of international and regional instruments protecting intellectual property. What type(s) of intellectual property do they protect?</p>

<p>4. What theories have been used to explain cyber-enabled copyright and/or trademark offences?</p>

<p>5. What national, regional and international protection and prevention measures have been implemented to protect intellectual property?</p>

<p>Homework Assignments</p>

<p>26</p>

<p>Students can be assigned one or more of the following assignments to be completed before class as either a written homework assignment (one to three pages long) and/or be part of the class discussion:</p>

<p>Homework #1: Other Theories</p>

<p>What other theories (i.e., those not covered in the Module and core readings) have been used to explain cyber-enabled intellectual property crime?</p>

<p>[Note: This homework should be completed before class].</p>

<p>Homework #2: Group Exercise ~ Intellectual Property: Laws, Theories, and Practice</p>

<p>Students should be randomly assigned to a group before the class to enable them to complete the assignment before the class meets. Each group should be randomly assigned one type of intellectual property.</p>

<p>Instruct the students to research the type of intellectual property they have been assigned and identify:</p>

<p>● International and regional laws related to their assigned form of intellectual property</p>

<p>● A theory that explains their assigned form of intellectual property</p>

<p>● Prevention and protection efforts targeting their assigned form of intellectual property</p>

<p>[Note: This homework should be completed before class].</p>

<p>Homework #3: Evolution of Cyber-Enabled Intellectual Property Crime</p>

<p>In what ways has cyber-enabled intellectual property crime evolved? How have the changing business models of creative industries (e.g., from downloading to streaming creative works such as music) influenced this evolution?</p>

<p>[Note: This homework should be completed before class].</p>

<p>Additional Teaching Tools</p>

<p>Web Videos</p>

<p>WIPO’s cartoon videos for children, which explain copyrights, trademarks, and patents, respectively:</p>

<p>• Copyrights (length: 6:07) https://www.youtube.com/watch?v=eEB5MYcj-Ns.</p>

<p>• Trademarks (length: 6:00) https://www.youtube.com/watch?v=J-PYuZOPrzI&amp;t=218s.</p>

<p>• Patents (length: 6:00) https://www.youtube.com/watch?v=Bb9EBtlGx7w.</p>