[viewBag]
title = "Cybercrime Investigation"
url = "/bibliotheque/cybercrime-investigation"
layout = "content"
is_hidden = 0
navigation_hidden = 0
localeUrl[en] = "/bibliotheque"
localeUrl[ar] = "/bibliotheque"
==
<p>Module 5: Cybercrime Investigation</p>

<p>Developed under UNODC’s Education for Justice (E4J) initiative, a component of the Global Programme for the Implementation of the Doha Declaration, this Module forms part of the E4J University Module Series on Cybercrime and is accompanied by a Teaching Guide. The full range of E4J materials includes university modules on Anti-Corruption, Counter-Terrorism, Crime Prevention and Criminal Justice, Cybercrime, Firearms, Trafficking in Persons/Smuggling of Migrants, and Integrity and Ethics, as well as Organized Crime.</p>

<p>All E4J university modules provide suggestions for in-class exercises, student assessments, slides, and other teaching tools that lecturers can adapt to their contexts, and integrate into existing university courses and programmes. The Module provides an outline for a three-hour class, but can be used for shorter or longer sessions.</p>

<p>All E4J university modules engage with existing academic research and debates, and may contain information, opinions and statements from a variety of sources, including press reports and independent experts. Terms of Use and Disclaimers</p>

<p>Introduction</p>

<p>There are a multitude of stakeholders (i.e., agencies, organizations, businesses, and individuals) that are involved in the investigation of cybercrime. The nature and extent of their involvement depends on the type of cybercrime committed. Stakeholder involvement is also determined by the geographic location of stakeholders and countries’ cybercrime laws. Building on Module 4 on Introduction to Digital Forensics, this Module critically examines the processes involved in reporting cybercrime and the stakeholders responsible for investigation cybercrime. Special attention is paid to the obstacles encountered during cybercrime investigations (see Module 7 on International Cooperation Against Cybercrime for information on international cooperation in cybercrime investigations) and the role of knowledge management in cybercrime investigations. The next module, Module 6 on Practical Aspects of Cybercrime Investigations and Digital Forensics, will cover the manner in which cybercrime investigations and digital forensics are conducted.</p>

<p>Learning Outcomes</p>

<p>● Discuss and assess cybercrime reporting practices</p>

<p>● Identify and discuss the stakeholders involved in cybercrime investigations</p>

<p>● Explain and critically evaluate the resources leveraged during a cybercrime investigation and the obstacles encountered during cybercrime investigations</p>

<p>● Describe and appraise the role of knowledge management in cybercrime investigations</p>

<p>Key Issues</p>

<p>2</p>

<p>Cybercrime investigations can be proactive, in response to intelligence, or reactive, in response to the identification and/or reporting of cybercrime to the appropriate authorities. The observing entity and/or the stakeholder to whom the cybercrime is reported will determine who will be involved in the investigation. Numerous agencies, organizations, businesses, and individuals within (and even outside of) a country can be involved in a cybercrime investigation in some way, including criminal justice and national security agencies, international organizations, the private sector, and civil society. This Module examines these stakeholders and their roles in cybercrime investigations, as well as the reporting of cybercrime, the challenges posed by cybercrime investigations, and the role of knowledge management in cybercrime investigations.</p>

<p>Reporting Cybercrime</p>

<p>Before an investigation begins, a cybercrime must be observed and reported. While this seems like a straightforward first step in a cybercrime investigation, the reality is that cybercrime is largely underreported worldwide (UNODC, 2013).</p>

<p>Did you know?</p>

<p>Europol has a webpage that includes information about European countries, which have online cybercrime reporting mechanisms.</p>

<p>For more information, see: Europol. (n.d.). Reporting Cybercrime Online. https://www.europol.europa.eu/report-a-crime/report-cybercrime-online.</p>

<p>The underreporting of crime can be explained by economist Gary Becker’s (1968) expected utility theory, which holds that people engage in actions when the expected utility (i.e., gains) from these actions are higher than the expected utility of engaging in other actions (Maras, 2016, p. 25). Applying this theory to cybercrime, victims of cybercrime will not report cybercrimes if the expected utility from this reporting is low (Maras, 2016, p. 25). However, a person or organization’s willingness to report cybercrime depends on the type of cybercrime. Existing research identifies several reasons why cybercrime is underreported, including the shame and embarrassment associated with being a victim of certain cybercrimes (e.g., romance scams); reputational risks associated with publicizing cybercrime (e.g., if the victim of the cybercrime is a business, loss of consumer confidence); being unaware that victimization occurred; low confidence or expectations that law enforcement can assist them; too much time and effort to report cybercrime; and lack of awareness on where to report cybercrime (Wall, 2007, p. 194; UNODC, 2013; McGuire and Dowling, 2013; Tcherni et al., 2016; Maras, 2016).</p>

<p>In response to the underreporting of cybercrime, countries have implemented initiatives designed to increase reporting by streamlining the cybercrime reporting process, which can normally involve numerous agencies depending on the type of cybercrime committed (e.g., online financial fraud can involve police, banks and other financial institutions, as well as government agencies involved in the investigation of financial cybercrimes), and drawing attention to cybercrime reporting mechanisms, such as websites or hotlines. For example, in New Zealand, NetSafe developed the Orb to provide individuals with a single and secure online location to report cybercrime. Furthermore, in 2018, in the United States, the Federal Bureau of Investigation (FBI)</p>

<p>3</p>

<p>launched an awareness campaign on cybercrime, which included a female actress on an American television series called “Criminal Minds,” informing the public to report cybercrime to the Internet Crime Complaint Centre (IC3) (FBI,</p>

<p>Reporting Cyber Crime is as Easy as IC3).</p>

<p>The impact of these initiatives on cybercrime reporting need to be assessed. In Australia, the Australian Cybercrime Online Reporting Network (ACORN) was created to simplify cybercrime reporting. In 2016, the Australian Institute of Criminology published a report evaluating ACORN, which revealed that this initiative had little effect on cybercrime reporting and public awareness on where to report cybercrime (Morgan et al., 2016). The assessment of these initiatives is important as it enables governments to invest in projects that produce desired results and assist in the modification and supplementation of programs and initiatives that are not producing expected outcomes (see Cybercrime Module 8 on Cybersecurity and Cybercrime Prevention: Strategies, Policies, and Programmes for information on evaluation mechanisms).</p>

<p>Who Conducts Cybercrime Investigations?</p>

<p>First responders in cybercrime investigations are responsible for “securing” digital evidence at the “scene” (the location) of a cybercrime (e.g., this could be the target or targets of the cybercrime and/or the information and communication technology used to commit cyber-dependent and/or cyber-enabled crime). A first responder can be a law enforcement agent, digital forensics expert, military police officer, private investigator, an information technology specialist, or other person (e.g., an employee in the workforce) that is tasked with responding to incidents of cybercrime. This illustrates that the public and private sector, as well as national security agencies, conduct cybercrime investigations (to varying degrees). Irrespective of who the first responder is, search and seizure practices for ICT must be in accordance with national law, and the methods used to obtain digital evidence from ICT must be valid and reliable to ensure its admissibility in a court of law (Maras, 2014; see Cybercrime Module 4 on Introduction to Digital Forensics for further information about the validity and reliability of digital evidence).</p>

<p>Criminal Justice Agencies</p>

<p>Criminal justice agents, such as law enforcement officers, prosecutors, and judges, are responsible for the prevention, mitigation, detection, investigation, prosecution, and adjudication of cybercrime. The specific agencies responsible for cybercrime cases vary by country. In the United Kingdom, for example, more than one agency investigates cybercrime, including regional law enforcement agencies and the National Cyber Crime Unit, which is part of the National Crime Agency (Global Cyber Security Capacity Centre, 2016c). In contrast, only one agency investigates cybercrime in Sierra Leone, the Police Cyber Crime Prevention Unit (Global Cyber Security Capacity Centre, 2016d), and in Iceland, the digital forensics unit in the Reykjavik Metropolitan Police (Global Cyber Security Capacity Centre, 2017c).</p>

<p>What is more, in certain countries, multiple agencies can be involved in the investigation of same cybercrime. The agencies involved depend on the type of cybercrime being investigated. For example, in Cyprus, online financial fraud is investigated by the Criminal Investigative Department, as well as the Financial Crime Unit at the Cyprus Police Headquarters (Global Cyber Security Capacity Centre, 2017b). Many countries designate official points of contact as a result</p>

<p>4</p>

<p>of the variation that exists in regards to agency responsibility and involvement in cybercrime cases. In Cyprus, for example, the 24/7 point of contact is the Office for Combating Cybercrime (Global Cyber Security Capacity Centre, 2017b).</p>

<p>Criminal justice agents require specialized knowledge (i.e., information relating to a subject matter area needed to perform a task), skills (i.e., expertise in a subject matter area), and abilities (i.e., use of knowledge and skills to perform a task) (collectively known as KSAs; see the “Example of KSAs of Cybercrime Investigator” box below) beyond those required to investigate, prosecute, and/or adjudicate (offline) criminal cases. For example, law enforcement officers should be able to investigate cybercrimes and/or other crimes incidentally involving information and communication technology (e.g., smartphone used to store evidence of the crime) and properly handle ICT during the investigation (i.e., identify, obtain, preserve, and analyse digital evidence in manner that ensures it admissibility in court) (National Initiative for Cybersecurity Careers and Studies, n.d.). The abilities of law enforcement to investigate cybercrime depends on the country and varies between agencies within the country. For example, in the Kyrgyz Republic, law enforcement agencies have limited abilities to investigate cybercrime due to a lack of specialized KSAs, training, and human and financial resources (Global Cyber Security Capacity Centre, 2017a). In Madagascar, a 2017 report revealed that while there was “no specialised cybercrime unit in the law enforcement structure… some dedicated staff members of the National Police and Gendarmerie work[ed] on cybercrime” (Global Cyber Security Capacity Centre, 2017a, p. 33). In contrast, in France, there are several units specially trained to carry out cybercrime investigations (e.g., Les investigateurs en Cybercriminalité (ICC) and N-TECH, part of the National Gendarmerie) (for reports about other countries, see the cybersecurity capacity portal of the Global Cyber Security Capacity Centre).</p>

<p>Example of KSAs of Cybercrime Investigator</p>

<p>The U.S. National Initiative for Cybersecurity Education (NICE) Cybersecurity Workforce Framework (discussed in Cybercrime Module 8 Cybersecurity and Cybercrime Prevention: Strategies, Policies, and Programmes) includes the KSAs for cybersecurity and cybercrime-related jobs. For instance, NICE’s Cybersecurity Workforce Framework lists the following KSAs for a cybercrime investigator (U.S. National Initiative for Cybersecurity Careers and Studies, n.d.):</p>

<p>Knowledge</p>

<p>K0001: Knowledge of computer networking concepts and protocols, and network security methodologies.</p>

<p>K0002: Knowledge of risk management processes (e.g., methods for assessing and mitigating risk).</p>

<p>K0003: Knowledge of laws, regulations, policies, and ethics as they relate to cybersecurity and privacy.</p>

<p>K0004: Knowledge of cybersecurity and privacy principles.</p>

<p>K0005: Knowledge of cyber threats and vulnerabilities.</p>

<p>K0006: Knowledge of specific operational impacts of cybersecurity lapses.</p>

<p>5</p>

<p>K0046: Knowledge of intrusion detection methodologies and techniques for detecting host and network-based intrusions.</p>

<p>K0070: Knowledge of system and application security threats and vulnerabilities (e.g., buffer overflow, mobile code, cross-site scripting, Procedural Language/Structured Query Language [PL/SQL] and injections, race conditions, covert channel, replay, return-oriented attacks, malicious code).</p>

<p>K0107: Knowledge of Insider Threat investigations, reporting, investigative tools and laws/regulations.</p>

<p>K0110: Knowledge of adversarial tactics, techniques, and procedures.</p>

<p>K0114: Knowledge of electronic devices (e.g., computer systems/components, access control devices, digital cameras, digital scanners, electronic organizers, hard drives, memory cards, modems, network components, networked appliances, networked home control devices, printers, removable storage devices, telephones, copiers, facsimile machines, etc.).</p>

<p>K0118: Knowledge of processes for seizing and preserving digital evidence.</p>

<p>K0123: Knowledge of legal governance related to admissibility (e.g. Rules of Evidence).</p>

<p>K0125: Knowledge of processes for collecting, packaging, transporting, and storing electronic evidence while maintaining chain of custody.</p>

<p>K0128: Knowledge of types and collection of persistent data.</p>

<p>K0144: Knowledge of social dynamics of computer attackers in a global context.</p>

<p>K0155: Knowledge of electronic evidence law.</p>

<p>K0156: Knowledge of legal rules of evidence and court procedure.</p>

<p>K0168: Knowledge of applicable laws, statutes (e.g., in Titles 10, 18, 32, 50 in U.S. Code), Presidential Directives, executive branch guidelines, and/or administrative/criminal legal guidelines and procedures.</p>

<p>K0209: Knowledge of covert communication techniques.</p>

<p>K0231: Knowledge of crisis management protocols, processes, and techniques.</p>

<p>K0244: Knowledge of physical and physiological behaviors that may indicate suspicious or abnormal activity.</p>

<p>K0251: Knowledge of the judicial process, including the presentation of facts and evidence.</p>

<p>K0351: Knowledge of applicable statutes, laws, regulations and policies governing cyber targeting and exploitation.</p>

<p>K0624 : Knowledge of Application Security Risks (e.g. Open Web Application Security Project Top 10 list)</p>

<p>Skills</p>

<p>S0047: Skill in preserving evidence integrity according to standard operating procedures or national standards.</p>

<p>S0068: Skill in collecting, processing, packaging, transporting, and storing electronic evidence to avoid alteration, loss, physical damage, or destruction of data.</p>

<p>6</p>

<p>S0072: Skill in using scientific rules and methods to solve problems.</p>

<p>S0086: Skill in evaluating the trustworthiness of the supplier and/or product.</p>

<p>Abilities</p>

<p>A0174: Ability to find and navigate the dark web using the TOR network to locate markets and forums.</p>

<p>A0175: Ability to examine digital media on multiple operating system platforms.</p>

<p>Other criminal justice agents, such as prosecutors and judges, also require specialized knowledge of cybercrime and digital forensics (e.g., a “branch of forensic science that focuses on criminal procedure law and evidence as applied to computers and related devices;” Maras, 2014, p. 29; discussed in Cybercrime Module 4 on Introduction to Digital Forensics and Cybercrime Module 6 on Practical Aspects of Cybercrime Investigations and Digital Forensics). Like law enforcement agencies, the sufficiency of training of prosecutors and judges varies between and even within countries. For example, the Crown Prosecution Service in the United Kingdom is well equipped to prosecute cybercrimes, whereas as of 2016 prosecutors at the local level did not have the same training and resources to prosecute cybercrime (Global Cyber Security Capacity Centre, 2016c). In 2017, Sierra Leone revealed that prosecutors and judges did not have the necessary KSAs and resources to prosecute and adjudicate cybercrime (Global Cyber Security Capacity Centre, 2016d). Likewise, in Iceland, prosecutors and judges received only ad hoc training on cybercrime matters on a voluntary basis (Global Cyber Security Capacity Centre, 2017c). Judiciary training is needed on basic cybercrime and digital forensics information, expert testimony on cybercrime matters, and digital evidence admittance in court. As of 2017, Senegal reported that judges do not receive this type of training (Global Cyber Security Capacity Centre, 2016b).</p>

<p>Beyond national criminal justice agencies, regional agencies, such as the European Union Agency for Law Enforcement Cooperation (Europol) (promoting law enforcement cooperation in the European Union) and Eurojust (promoting judicial cooperation in the European Union), and international agencies, such as Interpol (i.e., International Criminal Police Organization; promoting international law enforcement cooperation), assist and/or facilitate cross-border cybercrime investigations. For example, Europol’s sharing of intelligence and resources with EU Member States led to the arrest of a criminal, who was known for selling counterfeit EUR 50 banknotes online on illicit dark markets (Europol, 2018c).</p>

<p>National Security Agencies</p>

<p>National security agencies may be involved in cybercrime investigations (e.g., in some countries the military might be involved in cybercrime investigations, whereas in other countries these investigations might be run by intelligence agencies or national cyber directorates). However, national security agencies’ involvement in cybercrime investigations depends on the cybercrime under investigation, the target(s) of the cybercrime, and/or the perpetrators of the cybercrime. For example, the military could investigate cybercrimes that have some connection to the military – that is, cybercrimes committed against its people, property, and/or information, and/or committed by its people. A case in point is the United States, which has its own military law enforcement</p>

<p>7</p>

<p>personnel who investigate violations of the Uniform Code of Military Justice. In addition to investigating these cybercrimes (or at the very least being involved in some way in the investigations of the cybercrimes), the military and other national security agencies could be responsible for identifying, mitigating, preventing, and responding to cybercrimes targeting the systems, networks, and data of these agencies, and systems containing classified information (see Cybercrime Module 14 on Activism, Terrorism, Espionage, Disinformation Campaigns, and Warfare in Cyberspace for more information).</p>

<p>National security agencies around the world have developed and/or are currently developing their cyberdefensive capabilities (i.e., measures that are designed to detect and prevent cybercrimes, and mitigate the impact of these cybercrimes should they occur; Maras, 2016) and cyberoffensive capabilities (i.e., measures that are “designed to penetrate enemy systems and cause harm or damage” and/or respond to a cyberattack; Maras, 2016, p. 391). It is the recognition of cyberspace as another domain of warfare (the fifth domain, following land, sea, air, and space; a.k.a., domain of operations, see “Did you know?” box below) that led to national security agencies’ increased involvement in cyberspace (Smeets, 2018; Kremer, 2014; Kallender and Hughes, 2017). For example, in the United States, this identification of a fifth domain of warfare led to the creation of the United States Cyber Command (USCYBERCOM). Like the United States, other countries, such as the Netherlands, Germany, Spain, the Republic of Korea, and Japan, similarly created equivalent cyber commands and/or centres or units (Smeets, 2018; Kremer, 2014; Kallender and Hughes, 2017; Ingeniería de Sistemas para la Defensa de España, n.d.). The North Atlantic Treaty Organization (NATO) has also recognized cyberspace as the fifth domain of warfare (NATO CCDCE, 2016).</p>

<p>Did you know?</p>

<p>In the Philippines, the preferred term is “domain of operations.” According to Section 2 of their Constitution, “The Philippines renounces war as an instrument of national policy, adopts the generally accepted principles of international law as part of the law of the land and adheres to the policy of peace, equality, justice, freedom, cooperation, and amity with all nations.”</p>

<p>Private Sector</p>

<p>The private sector plays an essential role in the detection, prevention, mitigation, and investigation of cybercrime because it predominantly owns and manages the critical infrastructure (i.e., considered essential to the functioning of society) in countries and is one of the primary targets of many cyber-dependent (i.e., those cybercrimes that seek to compromise the confidentiality, integrity, and availability of systems, networks, services, and data, such as hacking, malware distribution, and distributed denial of service or DDoS attacks) and cyber-enabled crimes (e.g., online financial fraud, identity-related crime, and theft of data and trade secrets, to name a few) (see Cybercrime Module 2 on General Types of Cybercrime for further information about these cybercrimes, and other forms of cyber-dependent and cyber-enabled crimes).</p>

<p>According to the United Nations Security Council Resolution 2341 (2017), “each [s]tate determines what constitutes…critical infrastructure” within its own territory. Because this</p>

<p>8</p>

<p>designation is dictated by the state, variation exists between countries with regards to their designation of critical infrastructure. For example, Australia has designated 8 sectors as critical infrastructure (i.e., health; energy; transportation; water; communications; food and grocery; banking and finance; and Commonwealth government) (Australian Government, Department of Home Affairs, n.d.), whereas the United States has designated 16 (chemical; commercial facilities; communications; critical manufacturing; dams; defense industrial base; emergency services; energy; financial services; food and agriculture; government facilities; healthcare and public health; information technology; nuclear reactors, materials, and waste; transportation systems; and water and wastewater systems) (U.S. Department of Homeland Security, n.d.).</p>

<p>Did you know?</p>

<p>The term critical infrastructure is not universally used by countries to describe essential infrastructure (United Nations Security Council Counter-Terrorism Committee Executive Directorate and United Nations Office of Counter-Terrorism, 2018). For example, instead of critical infrastructure, New Zealand uses the term “lifelines” to refer to its vital infrastructure, which includes energy, communications, transportation, and water (New Zealand Lifelines Council, 2017).</p>

<p>The “command and control networks and systems that are designed to support industrial processes” of critical infrastructure are known as industrial control systems (ICS) (ENISA, n.d.). According to the European Union Agency for Network and Information Security,</p>

<p>ICS have passed through a significant transformation from proprietary, isolated systems to open architectures and standard technologies highly interconnected with other corporate networks and the Internet. Today ICS products are mostly based on standard embedded systems platforms, applied in various devices, such as routers or cable modems, and they often use commercial off-the shelf software. All this has resulted in reduction of costs, ease of use and enabled the remote control and monitoring from various locations. However, an important drawback derived from the connection to intranets and communication networks, is the increased vulnerability to computer network-based attacks (ENISA, n.d.).</p>

<p>It is these vulnerabilities, as well as those resulting from inadequate physical and personnel security measures (e.g., the ability of an individual to bring an infected flash drive into a critical infrastructure (CI) and physically connect it to CI systems; see Cybercrime Module 9 on Cybersecurity and Cybercrime Prevention: Practical Applications and Measures for more information about practical cybersecurity measures), that make cybercrime targeting CI possible.</p>

<p>Because the private sector predominantly owns and manages critical infrastructure and is one of the primary targets of cybercriminals, it is best placed to deploy security measures designed to proactively identify cybercrimes and cybercriminals in an effort to prevent or at the very least mitigate cybercrimes, as well as to respond to the cybercrimes that are occurring or have occurred (see Cybercrime Module 9 on Cybersecurity and Cybercrime Prevention: Practical Applications and Measures for further information about the measures implemented to prevent, mitigate and respond to cybercrime). The degree to which the private sector deploys these measures depends</p>

<p>9</p>

<p>on the organization, business or type of entity and its human, financial, and technical resources and capabilities.</p>

<p>The private sector also conducts private investigations of cybercrime. The private sector is vulnerable to both internal threats (e.g. cybercrimes committed by employees or executives of the business or organization) and external threats (e.g., cybercrimes committed by those with some connection to the business or organization – for example, a vendor or customer – or those with no association to the business or organization) (Maras, 2014, p. 253). When a cybercrime occurs, businesses and organizations often do not contact law enforcement authorities. This, however, depends on the cybercrime, the human, technical, and financial resources of the private sector entity, and the impact of the cybercrime on the entity vis-à-vis the impact of the reporting of the cybercrime on the entity (e.g., potential harm to reputation and/or loss of consumer confidence) (Maras, 2014; Maras, 2016).</p>

<p>Yahoo Inc.’s Failure to Report a Data Breach</p>

<p>Yahoo Inc. (now known as Altaba) reported one (of several) data breaches they experienced two years after the breach. As a result of this disclosure, “Yahoo’s stock price fell by 3 percent, amounting to a loss of nearly $1.3 billion in market capitalization. Moreover, the company, which [at the time] was in negotiations to sell its operating businesses to Verizon, was forced to accept a 7.25 percent discount on the purchase price, amounting to a decrease of $350 million” (Dicke and Caloza, 2018). Because of Yahoo’s failure to report the data breach in a timely manner, the company was also fined $35 million by the U.S. Securities and Exchange Commission (U.S. Securities and Exchange Commission, 2018).</p>

<p>Like law enforcement agencies, private companies, and organizations conduct investigations in response to a detected or reported cybercrime. The purpose of this investigation is to obtain information about the incident and build a case against the perpetrator (or perpetrators) of the cybercrime (or cybercrimes). Depending on the size and resources of the private companies and organizations, the investigation may be conducted by investigators on staff or investigators hired from external businesses (Maras, 2014). Individuals involved in cybercrime investigations include private companies, industry bodies, trade organizations, and companies providing security, investigative, and digital forensics services (Hunton, 2012). At times, information technology professionals and digital forensics experts who are all non-governmental sector stakeholders have been used by private companies and organizations to collect and preserve digital evidence. However, these professionals may not have the necessary KSAs to conduct cybercrime investigations and to appropriately handle digital evidence of a cybercrime to ensure its admissibility in courts of law (Maras, 2014).</p>

<p>Public-Private Partnerships and Task Forces</p>

<p>The private sector has the human, financial, and technical resources to conduct cybercrime investigations, and can assist national security agencies, law enforcement authorities, and other government agencies on cybercrime matters. In light of this, internationally, numerous public-private partnerships have been developed to enhance countries’ capabilities to investigate</p>

<p>10</p>

<p>cybercrime (Shore, Du, and Zeadally, 2011). A case in point is the Interpol’s Cyber Fusion Centre, which includes both law enforcement and industry cyber experts, who work together to provide actionable intelligence and share this intelligence with relevant stakeholders (Interpol, n.d.). TrendMicro (a cybersecurity and defence company), Kaspersky (cybersecurity and anti-virus provider), and other private companies that either work on cybercrime or cybersecurity related matters, and/or are Internet service and content providers or other Internet companies, work closely with Interpol (Interpol, n.d.).</p>

<p>The North Atlantic Treaty Organization (NATO) also cooperates with Allies, in general, and the European Union and the private industry, in particular, through its Technical Arrangement on Cyber Defence and NATO Industry Cyber Partnership.</p>

<p>Nationally, public-private partnerships (PPPs) have also been developed. In the United States, the National Cyber Forensics and Training Alliance brings together cybercrime subject matter experts from government, academia and the private sector to detect, mitigate, and counter cybercrime (NCFTA, n.d.). In Japan, a similar PPP to NCFTA was created – the Cybercrime Control Center (JC3, 2014). In Europe, the 2Centre partnership includes law enforcement agencies, academia, and the private sector. This PPP began with national centres in Ireland and France and expanded to include national centres in other countries; as of 2017, Greece, Spain, Belgium, Estonia, Lithuania, Bulgaria, and England have centres (Cybercrime Centres of Excellence Network for Training, Research and Education, n.d.).</p>

<p>In addition to PPPs, national task forces have been created to assist in cybercrime investigations. These task forces enable law enforcement agencies of differing jurisdictions within countries (be it local, state, or federal/national) to work together on cybercrime cases. These task forces, depending on the country and/or region, can also include members of academia and private companies and organizations. A case in point is the U.S. Federal Bureau of Investigation’s National Cyber Investigative Joint Task Force (NCIJTF), which</p>

<p>is comprised of…partnering agencies from across law enforcement, the intelligence community, and the Department of Defense, with representatives who are co-located and work jointly to accomplish the organization’s mission from a whole-of-government perspective. As a unique multi-agency cyber center, the NCIJTF has the primary responsibility to coordinate, integrate, and share information to support cyber threat investigations, supply and support intelligence analysis for community decision-makers, and provide value to other ongoing efforts in the fight against the cyber threat to the nation (FBI, n.d.).</p>

<p>Other task forces have been created that deal with specific cybercrimes. For example, the Electronic Crimes Task Force (ECTF), a U.S. Secret Service task force, is responsible for the prevention, mitigation, detection, and investigation of cybercrimes, including those committed against financial payment systems and critical infrastructure (U.S. Secret Service, n.d.). Pursuant to the Uniting and Strengthening America by Providing Appropriate Tools Required to Intercept and Obstruct Terrorism Act (USA PATRIOT Act) of 2001, the U.S. Secret Service created a network of Electronic Crimes Task Forces (ECTFs) across the United States. These task forces work with local, state, and federal law enforcement agencies, as well as other criminal justice agents (i.e., prosecutors), academia, and the private sector (U.S. Secret Service, n.d.). A European</p>

<p>11</p>

<p>Electronic Crime Task Force (EECTF) was also created in 2009. The EECTF collects, analyses, and disseminates information about best practices.</p>

<p>Although criminal justice agencies, national security agencies, the private sector, PPPs and task forces, are the major actors in conducting cybercrime investigations, independent investigations of cybercrime may also be conducted by civil society institutions, journalists, and the public. A case in point is Citizen Lab, whose published research includes “investigating digital espionage against civil society, documenting Internet filtering and other technologies and practices that impact freedom of expression online, analyzing privacy, security, and information controls of popular applications, and examining transparency and accountability mechanisms relevant to the relationship between corporations and state agencies regarding personal data and other surveillance activities” (Citizen Lab, n.d.). In addition, members of the public may offer unsolicited assistance to law enforcement by conducting their own independent investigations online; this was observed in the aftermath of the 2013 Boston bombings (Nhan, Huey, and Broll, 2017). Moreover, certain elements of a cybercrime investigation can be and have been outsourced (e.g., the identification of illicit material online) to the public through an open call (this process is known as crowdsourcing). For example, “Europol launched a crowdsourcing initiative to expand the search for the origin of child sexual abuse images to the general public. Since the start of the project, on 1 June 2017, more than 22 000 tips have been sent to Europol which has already resulted in eight children identified and one offender arrested thanks to the help from ordinary citizens” (Europol, 2018a).</p>

<p>Obstacles to Cybercrime Investigations</p>

<p>There are several obstacles that may be encountered during cybercrime investigations. One such obstacle is created by the anonymity that information and communication technology affords to users. Anonymity enables individuals to engage in activities without revealing themselves and/or their actions to others (Maras, 2016; see Cybercrime Module 10 on Privacy and Data Protection for more information about anonymity). There are several anonymisation techniques that cybercriminals use (Maras, 2014; see “Note” box below). One such technique is the use of proxy servers. A proxy server is an intermediary server that is used to connect a client (i.e., a computer) with a server that the client is requesting resources from (Maras, 2014, p. 294). Anonymizers, or anonymous proxy servers, hide users’ identity data by masking their IP address and substituting it with a different IP address (Chow, 2012).</p>

<p>Note</p>

<p>Anonymisation techniques are used for legal and illegal reasons. There are legitimate reasons for wanting to remain anonymous online and maintaining the protection of anonymity online (see Cybercrime Module 10 on Privacy and Data Protection). For example, anonymity facilitates the free flow of information and communications without fear of repercussions for expressing undesirable or unpopular thoughts (Maras, 2016) (as long as there are no overriding legal reasons to restrict this expression, see Cybercrime Module 3, Legal Frameworks and Human Rights, for legal and legitimate restrictions of the freedom of expression).</p>

<p>12</p>

<p>Cybercriminals can also use anonymity networks to encrypt (i.e. block access) traffic and hide Internet Protocol address (or IP address), “a unique identifier assigned to a computer [or other Internet-connected digital device] by the Internet service provider when it connects to the Internet” (Maras, 2014, p. 385), in an effort to conceal their Internet activities and locations. Well-known examples of anonymity networks are Tor, Freenet, and the Invisible Internet Project (known as I2P).</p>

<p>Did you know?</p>

<p>The Onion Router (or Tor https://www.torproject.org/), which enables anonymous access, communication, and information sharing online, was originally developed by the United States Naval Research Laboratory to protect intelligence (Maras, 2014a; Maras, 2016; Finklea, 2017). Since the release of Tor to the public, it has been used by individuals to protect themselves against private and government surveillance of their online activities. Nonetheless, Tor and other anonymizing networks have also been utilized by cybercriminals to commit and/or share information and/or tools to commit cyber-dependent and cyber-enabled crimes (Europol, 2018).</p>

<p>These anonymity networks not only “mask users’ identities, but also host their websites via…[their] ‘hidden services’ capabilities, which mean[s] [that these] sites can only be accessed by people on” these anonymizing networks (Dredge, 2013). These anonymity networks are thus used to access Darknet (or Dark Web) sites (see “World Wide Web: The Basics” box below).</p>

<p>World Wide Web: The Basics</p>

<p>The most common visualization of the World Wide Web is as an iceberg in the ocean. The part of the iceberg above the surface is known as the Surface Web (or Visible Web or clearnet). This part of the Web includes indexed sites that are accessible and available to the public, and can be searched using traditional search engines, as Google or Bing (Maras, 2014b). The Deep Web is the part of the iceberg that is below the surface. It includes sites that are not indexed by search engines and are not easily accessible and/or available to the public, such as password-protected sites (Maras, 2016). These sites can be accessed directly if the Uniform Resource Locator (URL; i.e., website address) is known and/or user credentials (i.e., usernames, passwords, passphrases, etc.) are provided to gain access to password-protected websites and online forums. The Dark Web requires the use of specialized software to access its sites because of its use anonymity-enhancing tools to obscure access and hide sites (Finklea, 2017).</p>

<p>Attribution is another obstacle encountered during cybercrime investigations. Attribution is the determination of who and/or what is responsible for the cybercrime. This process seeks to attribute the cybercrime to a particular digital device, user of the device, and/or others responsible for the cybercrime (e.g., if the cybercrime is state-sponsored or directed) (Lin, 2016). The use of</p>

<p>13</p>

<p>anonymity-enhancing tools can make the identification of the devices and/or persons responsible for the cybercrime difficult.</p>

<p>Did you know?</p>

<p>The Electronic Privacy Information Center includes information about and links to “anonymity-enhancing tools” on its website (Lin, 2016).</p>

<p>Attribution is further complicated through the use of malware-infected zombie computers (or botnets; discussed in Cybercrime Module 2 on General Types of Cybercrime) or digital devices controlled by remote access tools (i.e., malware that is used to create a backdoor on an infected device to enable the distributor of the malware to gain access to and control of systems). These devices can be used, unbeknownst to the user whose device is infected, to commit cybercrimes.</p>

<p>Did you know?</p>

<p>The establishment of an international organization for cyber attribution has been discussed in academic literature.</p>

<p>Want to learn more?</p>

<p>David II, John S., Benjamin Boudreaux, Jonathan William Welburn, Jair Aguirre, Cordaye Ogletree, Geoffrey McGovern, and Mihcael S. Chase. (2017). Stateless Attribution: Toward International Accountability in Cyberspace. RAND. https://www.rand.org/pubs/research_reports/RR2081.html.</p>

<p>Back-tracing (or traceback) is the process of tracing illicit acts back to the source (i.e., perpetrator and/or digital device) of the cybercrime. Traceback occurs after a cybercrime has occurred or when it is detected (Pihelgas, 2013). A preliminary investigation is conducted to reveal information about the cybercrime through an examination of log files (i.e., event logs, which are files systems produce of activity), which can reveal information about the cybercrime (i.e., how it occurred). For instance, event logs “automatically record… events that occur within a computer to provide an audit trail that can be used to monitor, understand, and diagnose activities and problems within the system” (Maras, 2014, p. 382). Examples of these logs are application logs, which record “events that are logged by programs and applications,” and security logs that “record all login attempts (both valid and invalid) and the creation, opening or deletion of files, programs or other objects by a computer user” (Maras, 2014, p. 207). These event logs may reveal the IP address used in the cybercrime.</p>

<p>Traceback can be time-consuming. The time it takes to complete this process depends on the knowledge, skills, and abilities of the preparators and the measures they have taken to conceal their identities and activities. Depending on the tactics used by cybercriminals to perpetrate the illicit acts, tracing may not lead to a single identifiable source (Pihelgas, 2013; Lin, 2016). For example, this can be observed in cases where malware-infected zombie computers are utilized to commit cybercrime or when multiple perpetrators simultaneously conduct a distributed denial of</p>

<p>14</p>

<p>service attack (i.e., DDoS attack) against a system or website (see Cybercrime Module 2 on General Types of Cybercrime for more information about these cybercrimes).</p>

<p>The Internet Corporation For Assigned Names and Numbers’ (ICANN) Internet Assigned Number Authority (IANA) manages the allocation of IP addresses, among other things, to Regional Internet Registries (RIRs), which are responsible for overseeing the registration of IP address in their regions (Maras, 2014, p. 288-289). Five RIRs exist: the African Network Information Centre (AFRINIC); Asia Pacific Network Information Centre (APNIC); American Registry for Internet Numbers (ARIN); Latin American and Caribbean Network Information Centre (LACNIC); and the Réseaux IP Européens Network Coordination Centre (RIPE NCC). RIRs provide information about IP addresses, organisations associated with the IP addresses, and contact information of these organisations (e.g., addresses, emails, and phones numbers).</p>

<p>To identify the Internet service provider (ISP) associated with the IP address, the cybercrime investigator can use the WHOIS query tool. RIRs provide access to WHOIS services via their websites. WHOIS data is the registration information that has been provided by individuals, corporations, organizations, and governments when registering domain names (e.g., gmail.com), which includes names and contact information (e.g., phone numbers, addresses, and emails) (ICANN WHOIS, n.d.). The WHOIS query tool can be used to identify the contact information and location of the organisation associated with a domain name (Maras, 2014, p. 290). The WHOIS query tool can also be used to identify the contact information and location of the organisation associated with an IP address (Maras, 2014, p. 289). However, the EU General Data Protection Regulation (GDPR), a single data protection law that came into force on 25 May 2018 which governs data processing, storage, use, and exchange of data in EU Member States and other countries, agencies, and private organizations outside of the EU that provide goods and services to the EU and process data of EU residents (see Cybercrime Module 10 on Privacy and Data Protection for more information about the GDPR), impacted publicly available WHOIS data (particularly data that is considered personal data under the GDPR; for more information see TrendMicro, 2018; and ICANN, n.d.).</p>

<p>Once an ISP has been identified, cybercrime investigators may contact the ISP associated with the IP address to retrieve the information about the subscriber using that IP address (Lin, 2016); however, ISPs cannot always be compelled to provide personal information without appropriate legal documents, and in some cases pre-existing privacy laws/protections may prohibit these orders (Mayeda, 2015). The legal order (i.e., subpoena, search warrant or court order) used to retrieve this information varies by country (see Cybercrime Modules 6 and 7 for further information about legal orders in cybercrime investigations).</p>

<p>Did you know?</p>

<p>WHOIS is not an acronym; “it is a system that asks the question, who is responsible for a domain name or an IP address?” (ICANN WHOIS, n.d.)</p>

<p>The lack of harmonized national cybercrime laws, international standardization of evidentiary requirements (both in terms of admissibility in a court of law, and in terms of international state responsibility), mutual legal assistance on cybercrime matters, and timely collection, preservation,</p>

<p>15</p>

<p>and sharing of digital evidence between countries, also serve as obstacles to cybercrime investigations (see Cybercrime Module 3 on Legal Frameworks and Human Rights, and Cybercrime Module 7 on International Cooperation Against Cybercrime). In regards to certain types of cybercrime, especially cybercrimes that are politically motivated, a general lack of will of countries to cooperate in these cases has been observed (see Cybercrime Module 14 on Activism, Terrorism, Espionage, Disinformation Campaigns, and Warfare in Cyberspace for more information about these cybercrimes).</p>

<p>Cybercrime investigators also face technical challenges. For example, numerous digital devices have proprietary operating systems and software that require the use of specialized tools to identify, collect, and preserve digital evidence (see Cybercrime Module 4 on Introduction to Digital Forensics for further information about digital evidence, digital devices, and digital forensics tools). What is more, investigators may not have necessary equipment and digital forensics tools needed to adequately conduct cybercrime investigations involving digital devices (see Cybercrime Module 7 on International Cooperation Against Cybercrime).</p>

<p>Other obstacles to cybercrime investigations include the existing limited abilities of law enforcement agencies to conduct these investigations (Leppanen and Kankaanranta, 2017). In countries where national specialized units exist, they only investigate a limited number of cybercrime cases. The prevalence of information and communication technology in criminal investigations makes such a practice ineffective (Hinduja, 2004; Köksal, 2009; UNODC, 2013; Leppanen and Kankaanranta, 2017). The training of national law enforcement officers in non-specialized areas of policing and non-technical specialized units (e.g., drug crime, organized crime, crimes against children) on cybercrime, ICT-related investigations, and digital forensics is one way to deal with this deficit on national capacity (UNODC, 2013; the deficit in national capacity in cybercrime investigations, and the ways to deal with this capacity, are further explored in Cybercrime Module 7 on International Cooperation Against Cybercrime). Moreover, these limited law enforcement abilities are further compounded by the short lifespan of the expertise of cybercrime investigators (Harkin, Whelan, and Chang, 2018, p. 530). Specifically, information and communication technology is continuously evolving. Because of this, cybercrime investigators must be “lifelong learners,” continuously training to remain current on technologies, cybercriminals, and their motives, targets, tactics, and methods of operation (M.O.). Furthermore, government and national security agencies are experiencing what is known as a “brain drain,” whereby highly trained and skilled cybercrime investigators are leaving these agencies to join the private sector, which provides better financial compensation for their knowledge, skills, and abilities (Harkin, Whelan, and Chang, 2018, p. 530). These capacity and staffing issues need to be considered by countries as they serve as significant obstacles to cybercrime investigations (Sucio, 2015; PBS, 2018).</p>

<p>Knowledge Management</p>

<p>Knowledge management has been promoted as a way to deal with the obstacles to cybercrime investigations that concern the human and technical resources, and the knowledge, skills, and abilities (KSAs) needed to conduct these investigations. Knowledge management (KM) seeks “to create, safeguard, and put to use a wide range of knowledge assets, such as people and information” in order to improve a process or outcome (Weiping and Chung, 2014, p. 8).</p>

<p>16</p>

<p>KM can be and has been applied to cybercrime investigations (Weiping and Chung, 2014, p. 10-11). When applied to cybercrime investigations, KM involves the identification and assessment of knowledge needs for general and specific cybercrime investigations. Once this identification and assessment occurs, the agency’s cybercrime knowledge is identified and assessed. Comparing the knowledge needs and the current knowledge possessed by investigators, knowledge gaps are identified. After the knowledge gaps are identified, measures are proposed to fill these gaps. KM practices can be used to fill these knowledge gaps.</p>

<p>Knowledge management includes people who obtain, use, create, manage, and/or impart knowledge, and the processes and technology that facilitates these processes (Acharyulum 2011). Knowledge sharing (KS), an integral part of knowledge management in law enforcement (Hunton, 2012), includes both outside forces that push knowledge to others (e.g., education and awareness campaigns) and inside factors that drive others to seek knowledge (pull factors), such as seeking out expertise or assistance on a matter (Dixon, 2000). Europol’s Dark Web Team exemplifies this form of knowledge sharing. Particularly, the Dark Web Team</p>

<p>shar[es] information, provid[es] operational support and expertise in different crime areas [to those who request it] and …develop[s]… tools, tactics, and techniques to conduct dark web investigations and identify top threats and targets. The team also aims to enhance joint technical and investigative actions, organise training and capacity-building initiatives, together with prevention and awareness-raising campaigns – [creating a] a 360° strategy against criminality on the dark web (Europol, 2018b).</p>

<p>KS also seeks to make knowledge and sources of knowledge (e.g., people) available to those that need them. The U.S. Federal Bureau of Investigation, for example, has a Cyber Action Team (CAT), which consists of a group of cyber experts that can be rapidly deployed anywhere in the United States within 48 hours to provide support on cybercrime cases (FBI, n.d.).</p>

<p>There are two general forms of knowledge that are managed and shared: explicit knowledge and tacit knowledge (Dean, Filstad, and Gottschalk, 2006). Explicit knowledge is formal knowledge that is collated, documented, and easily defined (e.g., documents, cases, laws etc.). Content management systems, which have been created to house explicit knowledge, can manage cybercrime and cybercrime investigation knowledge by making it available via a website and/or searchable database. A case in point is the United Nations Office on Drugs and Crime (UNODC) Sharing Electronic Resources and Laws on Crime (SHERLOC) knowledge management portal. This portal which includes a directory of competent national authorities (CNA directory) who can obtain, respond to and process mutual legal assistance treaties (MLATs) and extradition requests by countries (discussed in Cybercrime Module 3 on Legal Frameworks and Human Rights), case law, legislation, and a bibliographic database (UNODC, n.d.). UNODC also has a Cybercrime Repository that includes a repository of case law, legislation, and lessons learned in cybercrime investigations (UNODC, n.d.). National content management systems have also been created. For example, in Lithuania, the E-Service Portal of Lithuanian Courts was established to provide the judiciary with access to a searchable database with court resolutions and civil cases (Global Cyber Security Capacity Centre, 2017d). In Ukraine, the Unified State Register of Court Decisions has been providing the opportunity to access all court decisions and rulings that took place in the</p>

<p>17</p>

<p>country since 2006 and is a searchable database with two types of access: public (for everyone) and full (for judiciary). National and international databases and repositories enable individuals to search and retrieve explicit knowledge housed within these databases, thereby facilitating explicit knowledge sharing.</p>

<p>By contrast, tacit knowledge is know-how, which cannot be easily defined and is based on experience (Brown and Duguid, 1998). Tacit knowledge sharing involves the sharing of this knowledge through socialization often in an unstructured manner. Tacit knowledge can be shared through mentoring, teaching, and networking, as well as training programs and workshops. Several international efforts have focused on tacit knowledge sharing. For example, UNODC trains prosecutors, investigators, and law enforcement on digital evidence and cybercrime investigations. Moreover, Interpol’s Global Complex for Innovations (IGCI) provides support for transnational cybercrime investigations (e.g., coordination of cybercrime investigations and operations), facilitates intelligence sharing between law enforcement agencies, and shares best practices in conducting cybercrime investigations (Interpol, n.d.). Like UNODC, Interpol’s IGCI provides training courses on cybercrime investigations and cybercrime trends (e.g., advance training and curriculum development, such as training on Dark Web investigations) (Interpol, n.d.), and experts from Europol, Eurojust, Interpol and other agencies, share tacit knowledge about investigation tools, tactics, and techniques, such as those used for Dark Web investigations (Europol, 2018b). Nationally, tacit knowledge sharing is not yet a common practice.</p>

<p>Information and communication technology (ICT), such as synchronous (i.e., real-time) and asynchronous groupware (e.g., video conferencing and file sharing systems) and collaborative online workspaces (e.g., Google docs, where collaborators can share, edit and /or comment on uploaded documents), can be used to bring individuals together from different locations and capture tacit knowledge sharing. While efforts have been made to use ICT to facilitate tacit knowledge sharing, this is not a common practice internationally and nationally. For example, in 2017, Lithuania reported that “there is no existing mechanism to enable the exchange of information and good practices between prosecutors and judges to ensure efficient and effective prosecution of cybercrime cases” (Global Cyber Security Capacity Centre, 2017d, p. 47).</p>

<p>Conclusion</p>

<p>The transnational nature of cybercrime and the interdependency of systems and Internet-connected digital devices within and outside of countries’ territories requires the sharing of information about cybercrime across borders (discussed in Cybercrime Module 7 on International Cooperation Against Cybercrime). Beyond that, the sharing of knowledge about best practices regarding cybercrime investigations is needed. The dizzying array of stakeholders involved in cybercrime investigations warrants a coordinated response to cybercrime and the sharing of explicit and tacit knowledge between stakeholders. The approaches to cybercrime investigations and the knowledge about investigations varies by stakeholders and the country the stakeholders reside and/or operate in. The management of this knowledge within and across borders is needed to ensure the effective investigations of cybercrimes nationally and internationally. Measures that include information and communication technology to facilitate knowledge management sharing are of paramount importance as they enable the sharing of explicit and tacit knowledge irrespective of the geographic location of knowledge sharers and receivers.</p>

<p>18</p>

<p>References</p>

<p>• Acharyulum, G.V.R.K. (2011), Information Management in a Health Care System: Knowledge Management Perspective. International Journal of Innovation, Management and Technology, Vol. 2(6), 534–537.</p>

<p>• Biros, David P., Mark Weiser and John Witfield. (2007). Managing digital forensic knowledge an applied approach. Proceedings of the 5th Australian Digital Forensics Conference, Edith Cowan University, Perth Western Australia.</p>

<p>https://ro.ecu.edu.au/cgi/viewcontent.cgi?referer=https://www.google.com/&amp;httpsredir=1&amp;article=1010&amp;context=adf.</p>

<p>• Brown, John Seely and Paul Duguid. (1998). Organizing Knowledge. California Management Review, Vol. 40(3), 90-111.</p>

<p>• Chang, Weiping and Peifang Chung. (2014). Knowledge Management in Cybercrime Investigation – A Case Study of Identifying Cybercrime Investigation Knowledge in Taiwan. Pacific-Asia Workshop on Intelligence and Security Informatics (PAISI 2014: Intelligence and Security Informatics), pp. 8-17.</p>

<p>• Chow, Peter. (2012). Surfing the Web Anonymously - The Good and Evil of the Anonymizer. SANS Institute InfoSec Reading Room.</p>

<p>https://www.sans.org/reading-room/whitepapers/detection/surfing-web-anonymously-good-evil-anonymizer-33995.</p>

<p>• Citizen Lab (n.d.). Research. https://citizenlab.ca/category/research/.</p>

<p>• Cybercrime Centres of Excellence Network for Training, Research and Education. (n.d.). 2Centre. http://www.2centre.eu/.</p>

<p>• Dean, Geoff, Cathrine Filstad, and Petter Gottschalk. (2006). Knowledge Sharing in Criminal Investigations: An Empirical Study of Norwegian Police as Value Shop. Criminal Justice Studies, Vol. 19(4), 423-437.</p>

<p>• Dicke, Michael S. and Alexis I. Caloza. (2018). Yahoo’s $35M SEC Settlement: Takeaways from the First Enforcement Action for Failure to Disclose a Data Breach. Fenwick and West LLP, May 3, 2018. https://www.fenwick.com/publications/Pages/Yahoos-$35M-SEC-Settlement-Takeaways-from-the-First-Enforcement-Action-for-Failure-to-Disclose-a-Data-Breach.aspx.</p>

<p>• Dixon, Nancy M. (2000). Common knowledge. How companies thrive by sharing what they know. Harvard Business School Press.</p>

<p>• Doan, Quang, Camille Rosenthal-Sabroux, and Michel Grundstein. (2011). A reference model for knowledge retention within small and medium size enterprises. KMIS, 306-311.</p>

<p>• Dredge, Stuart. (2013). What is Tor? A beginner's guide to the privacy tool. The Guardian, 5 November 2013. https://www.theguardian.com/technology/2013/nov/05/tor-beginners-guide-nsa-browser.</p>

<p>• FBI. (n.d.). Cyber Crime. https://www.fbi.gov/investigate/cyber.</p>

<p>• FBI. (n.d.). National Cyber Investigative Joint Task Force.</p>

<p>https://www.fbi.gov/investigate/cyber/national-cyber-investigative-joint-task-force.</p>

<p>• Europol. (2018c). Darknet Euro Counterfeiter Arrested in Poland.</p>

<p>19</p>

<p>https://www.europol.europa.eu/newsroom/news/darknet-euro-counterfeiter-arrested-in-poland.</p>

<p>• Europol. (n.d.). About Europol. https://www.europol.europa.eu/about-europol.</p>

<p>• Europol. (2018b). Crime on the Dark Web: Law Enforcement Coordination is the Only Cure.</p>

<p>https://www.europol.europa.eu/newsroom/news/crime-dark-web-law-enforcement-coordination-only-cure.</p>

<p>• Europol. (2018). 241 Victims of Child Sexual Abuse Safeguarded Thanks to Global Law Enforcement Efforts. Press Release, 26 October 2018.</p>

<p>https://www.europol.europa.eu/newsroom/news/241-victims-of-child-sexual-abuse-safeguarded-thanks-to-global-law-enforcement-efforts</p>

<p>• Finklea, Kristin. (2017). Dark Web. Congressional Research Service. https://fas.org/sgp/crs/misc/R44101.pdf.</p>

<p>• Global Cyber Security Capacity Centre. (2017a). Cybersecurity Capacity Review: Kyrgyz Republic. https://www.sbs.ox.ac.uk/cybersecurity-capacity/system/files/CMM_Kyrgyzstan%20Report%20final_execsummary_1701030.pdf.</p>

<p>• Global Cyber Security Capacity Centre. (2017b). Cybersecurity Capacity Review: Republic of Cyprus. http://www.ocecpr.org.cy/sites/default/files/cmm_cyprus_report_2017_final.pdf.</p>

<p>• Global Cyber Security Capacity Centre. (2017c). Cybersecurity Capacity Review: Republic of Iceland. https://www.stjornarradid.is/lisalib/getfile.aspx?itemid=f3bb2c35-4c76-11e8-942b-005056bc530c.</p>

<p>• Global Cyber Security Capacity Centre. (2017d). Cybersecurity Capacity Review: Republic of Lithuania. https://www.nrdcs.lt/file/repository/resources/Lithuania_Report_10_8_2017_FINAL.pdf.</p>

<p>• Global Cyber Security Capacity Centre. (2016a). Cybersecurity Capacity Review of the Republic of Madagascar. https://www.sbs.ox.ac.uk/cybersecurity-capacity/system/files/cmm_rapport_final_cybersecurite_madagascar.pdf.</p>

<p>• Global Cyber Security Capacity Centre. (2016b). Cybersecurity Capacity Review of the Republic of Senegal. https://www.sbs.ox.ac.uk/cybersecurity-capacity/system/files/Senegal-Report-v4%20.pdf.</p>

<p>• Global Cyber Security Capacity Centre. (2016c). Cybersecurity Capacity Review of the United Kingdom. https://www.sbs.ox.ac.uk/cybersecurity-capacity/system/files/Cybersecurity%20Capacity%20Review%20of%20the%20United%20Kingdom.pdf.</p>

<p>• Global Cyber Security Capacity Centre. (2016d). Cybersecurity Capacity Review: Republic of Sierra Leone. https://www.sbs.ox.ac.uk/cybersecurity-capacity/system/files/CMM_Sierra%20Leone%20report_final_0.pdf.</p>

<p>• Gottschalk, Peter. (2007). Information systems in police knowledge management. Electronic Government, Vol. 4(2), 191–203.</p>

<p>• Harkin, Diarmaid, Chad Whelan and Lennon Chang (2018). The challenges facing specialist police cyber-crime units: an empirical analysis. Police Practice and Research, Vol. 19(6), 519-536.</p>

<p>• Hauck, Roslin V. and Hsinchun Chen. (1999). COPLINK: A case of intelligent analysis and knowledge management. Proceedings of the International Conference of Information</p>

<p>20</p>

<p>Systems, Charlotte, North Carolina.</p>

<p>http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.92.4444&amp;rep=rep1&amp;type=pdf. • Hinduja, Sameer. (2007). Computer Crime Investigations in the United States: Leveraging Knowledge from the Past to Address the Future. International Journal of Cyber Criminology Vol. 1(1), 1–26.</p>

<p>• Hunton, Paul. (2012). Managing the technical resource capability of cybercrime investigation: a UK law enforcement perspective. Public Money &amp; Management, Vol. 32(3), 225-232.</p>

<p>• ICANN. (n.d.). About WHOIS. https://whois.icann.org/en/about-whois.</p>

<p>• Ingeniería de Sistemas para la Defensa de España. (n.d.). The Joint Cyber-Defence Command organises with the collaboration of Isdefe the Cyber-Defence Conference 2016.</p>

<p>https://www.isdefe.es/noticias/joint-cyber-defence-command-organises-collaboration-isdefe-cyber-defence-conference-2016?language=en.</p>

<p>• Interpol. (n.d.). Activities: Operations and Investigations. https://www.interpol.int/Crime-areas/Cybercrime/Activities/Operations-investigations.</p>

<p>• Interpol. (n.d.). Kaspersky Lab. https://www.interpol.int/About-INTERPOL/International-partners/Kaspersky-Lab.</p>

<p>• Interpol. (n.d.) Strategic Partners. https://www.interpol.int/About-INTERPOL/International-partners/Strategic-Partners.</p>

<p>• Japan Cybercrime Control Center. (JC3). (2014). Establishment of “Japan Cybercrime Control Center,” a New Organization for Fighting Cybercrime. https://www.jc3.or.jp/media/pdf/pressreleaseEnglish.pdf.</p>

<p>• Kallender, Paul and Christopher W. Hughes. (2017). Japan’s Emerging Trajectory as a ‘Cyber Power’: From Securitization to Militarization of Cyberspace. Journal of Strategic Studies, Vol. 40(1-2), 118-145.</p>

<p>• Kremer, Jens. (2014) Policing cybercrime or militarizing cybersecurity? Security mindsets and the regulation of threats from cyberspace. Information &amp; Communications Technology Law, Vol. 23(3), 220-237.</p>

<p>• Leppänen, Anna and Kankaanranta, Terhi. (2017) Cybercrime investigation in Finland. Journal of Scandinavian Studies in Criminology and Crime Prevention, Vol. 18(2), 157-175.</p>

<p>• Lin, Herbert. (2017). Attribution of Malicious Cyber Incidents. Hoover Institution, Aegis Paper Series No. 1607.</p>

<p>https://www.hoover.org/sites/default/files/research/docs/lin_webready.pdf.</p>

<p>• Maras, Marie-Helen. (2014). Computer Forensics: Cybercriminals, Laws and Evidence, second edition. Jones and Bartlett.</p>

<p>• Maras, Marie-Helen. (2014). Inside Darknet: The Takedown of Silk Road. Criminal Justice Matters, Vol. 98(1), 22-23.</p>

<p>• Maras, Marie-Helen. (2016). Cybercriminology. Oxford University Press.</p>

<p>• Mayeda, G. (2015). Privacy in the age of the internet: Lawful access provisions and access to ISP and OSP subscriber information. The Alberta Law Review 53(3), 709-746</p>

<p>• McGuire, Mike and Samantha Dowling. (2013). Chapter 4: Improving the cyber crime evidence base. Cyber crime: A review of the evidence. Research Report 75. https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/246756/horr75-chap4.pdf.</p>

<p>21</p>

<p>• Morgan, Anthony, Christopher Dowling, Rick Brown, Monique Mann, Isabella Voce, and Marc Smith. (2016). Evaluation of the Australian Cybercrime Online Reporting Network. Australian Institute of Criminology, Australian Government.</p>

<p>https://aic.gov.au/sites/default/files/2018/08/acorn_evaluation_report_.pdf.</p>

<p>• National Cyber Forensics and Training Alliance. (n.d.). About us. https://www.ncfta.net/home-2/about-us/.</p>

<p>• National Cyber Security Centre (2018). Ghana’ National Cybercrime Awareness Programme</p>

<p>https://cybersecurity.gov.gh/wp-content/uploads/2018/10/NCSAM2018Brochure.pdf.</p>

<p>• National Cyber Security Centre (2018). Ghana’ National Cyber Security Awareness Week 2017 (NCSAW 2017) Report: https://cybersecurity.gov.gh/wp-content/uploads/2018/10/NCSW-2017-Brochure.pdf.</p>

<p>• National Initiative for Cybersecurity Careers and Studies. (n.d.). NICE Cybersecurity Workforce Framework. https://niccs.us-cert.gov/workforce-development/cyber-security-workforce-framework.</p>

<p>• Nhan, Johnny, Laura Huey, and Ryan Broll. (2017). Digilantism: An Analysis of Crowdsourcing and the Boston Marathon Bombings. British Journal of Criminology, Vol. 57, 341–361.</p>

<p>• North Atlantic Treaty Organization (NATO) Cooperative Cyber Defence Centre of Excellence. (2016). NATO Recognises Cyberspace as a ‘Domain of Operations’ at Warsaw Summit. https://ccdcoe.org/nato-recognises-cyberspace-domain-operations-warsaw-summit.html.</p>

<p>• PBS. (2018). The FBI’s cybersecurity brain drain has long-term implications</p>

<p>August 4, 2018.</p>

<p>https://www.pbs.org/newshour/show/the-fbis-cybersecurity-brain-drain-has-long-term-implications.</p>

<p>• Pihelgas, Mauno. (2013). Back-tracing and Anonymity in Cyberspace. In Katharina Ziolkowski (ed.). Peacetime Regime for State Activities in Cyberspace International Law, International Relations and Diplomacy (pp. 31-60). NATO Cooperative Cyber Defence Centre of Excellence.</p>

<p>http://www.ccdcoe.org/publications/books/Peacetime-Regime.pdf.</p>

<p>• Shore, M., Du, Y., &amp; Zeadally, S. (2011). A Public‐Private Partnership Model for National Cybersecurity. Policy &amp; Internet, 3(2), 1-23.</p>

<p>• Smeets, Max. (2018). Integrating offensive cyber capabilities: meaning dilemmas, and assessment. Defence Studies, Vol. 18(4), 395-410.</p>

<p>• Suciu, Peter. (2015). Cyber security’s ever-growing brain drain. Fortune, 9 September 2015. http://fortune.com/2015/09/09/cyber-securitys-ever-growing-brain-drain/.</p>

<p>• Tcherni, Maria, Andrew Davies, Giza Lopes, and Alan Lizotte. (2016). The Dark Figure of Online Property Crime: Is Cyberspace Hiding a Crime Wave? Justice Quarterly, Vol. 33(5), 890-911.</p>

<p>• Tropina, Tatiana. (2009). Cyber-policing: The role of the police in fighting cybercrime. European Police Science and Research Bulletin, Special Conference Issue No. 2. https://bulletin.cepol.europa.eu/index.php/bulletin/article/download/232/200/.</p>

<p>• United Nations Security Council Counter-Terrorism Committee Executive Directorate and United Nations Office of Counter-Terrorism. (2018). The Protection Of Critical Infrastructures Against Terrorist Attacks: Compendium Of Good Practices.</p>

<p>22</p>

<p>https://www.un.org/sc/ctc/wp-content/uploads/2018/06/Compendium-CIP-final-version-120618_new_fonts_18_june_2018_optimized.pdf. • UNODC. (2013). Draft Comprehensive Study on Cybercrime.</p>

<p>https://www.unodc.org/documents/organized-crime/UNODC_CCPCJ_EG.4_2013/CYBERCRIME_STUDY_210213.pdf.</p>

<p>● UNODC. (n.d.) SHERLOC. https://sherloc.unodc.org/cld/v3/sherloc/.</p>

<p>● UNODC. (n.d.). Cybercrime Repository.</p>

<p>https://www.unodc.org/unodc/en/cybercrime/cybercrime-repository.html.</p>

<p>● U.S. National Initiative for Cybersecurity Careers and Studies (n.d.). Work Roles: Cyber Crime Investigator. https://niccs.us-cert.gov/workforce-development/cyber-security-workforce-framework/workroles?name_selective=Cyber+Crime+Investigator&amp;fwid=All.</p>

<p>● U.S. Secret Service. (n.d.). Investigation.</p>

<p>https://www.secretservice.gov/investigation/#.</p>

<p>● U.S. Securities and Exchange Commission. (2018). Altaba, Formerly Known as Yahoo!, Charged With Failing to Disclose Massive Cybersecurity Breach; Agrees To Pay $35 Million. Press Release 2018-71. https://www.sec.gov/news/press-release/2018-71.</p>

<p>● Wall, David S. (2007). Policing Cybercrimes: Situating the Public Police in Networks of Security within Cyberspace. Police Practice and Research, Vol. 8(2), 183-205.</p>

<p>Laws</p>

<p>USA PATRIOT Act (United States). (https://www.gpo.gov/fdsys/pkg/PLAW-107publ56/pdf/PLAW-107publ56.pdf).</p>

<p>Exercises</p>

<p>Exercise # 1 ~ Who Are You Going to Call?</p>

<p>Instruct students to research the cybercrime reporting mechanisms of their country before class. Students should come prepared to discuss the answers to the below questions in class.</p>

<p>Discussion Questions</p>

<p>● Where is cybercrime reported?</p>

<p>● Were you informed about where to report cybercrime? If so, when and by whom?</p>

<p>● Are there any national education and/or awareness campaigns on cybercrime reporting? Have these campaigns been evaluated?</p>

<p>Exercise # 2 ~ Hypothetical Cybercrime Investigation</p>

<p>The website of E-Bank was taken offline preventing customers from accessing the website. You have been hired to conduct a cybercrime investigation. You suspect a DDoS attack.</p>

<p>Discussion Questions</p>

<p>● What obstacles might you encounter during your investigation?</p>

<p>23</p>

<p>● What steps will you take to try to identify the perpetrator or perpetrators of this cybercrime?</p>

<p>Exercise # 3 ~ Who Responds?</p>

<p>Instruct students to conduct research on their country and identify the stakeholders involved in cybercrime investigations. Students should come prepared to discuss the answers to the below questions in class.</p>

<p>Discussions Questions</p>

<p>● Who investigates cybercrime in your country?</p>

<p>● What is each stakeholders’ role in cybercrime investigations?</p>

<p>● What cybercrimes do these stakeholders investigate?</p>

<p>● Are there any public-private partnerships in cybercrime investigations? If so, which ones?</p>

<p>● Are there any knowledge management practices applied to cybercrime investigations? If so, which ones?</p>

<p>Exercise #4 ~ GDPR and WHOIS</p>

<p>Have students review the EU General Data Protection Regulation (GDPR). Instruct students to conduct research to determine the impact of the GDPR on WHOIS data availability. How does this impact cybercrime investigations?</p>

<p>Possible Class Structure</p>

<p>The following is a recommended structure for the class. Students should complete the core readings before coming to class. The lecture is meant to reinforce what they learned in the readings and the exercises are designed to apply what they learned in the readings. The following breakdown is designed based on a three-hour class. The lecturers can adapt the structure based on their needs and the class times.</p>

<p>Cybercrime Module 5 Class Breakdown (three-hour class)</p>

<p>Introduction to the class and learning outcomes</p>

<p>Lecture (10 minutes):</p>

<p>● Provide a brief introduction to the course and its contents</p>

<p>● Identify and discuss the learning outcomes of the course</p>

<p>Cybercrime Reporting</p>

<p>Lecture (30 minutes):</p>

<p>● Discuss and assess cybercrime reporting practices</p>

<p>24</p>

<p>Have students complete “Exercise # 1 – Who Are You Going to Call?” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>[*Reminder: This exercise needs to be completed before class].</p>

<p>Who Conducts Cybercrime Investigations?</p>

<p>Lecture (40 minutes):</p>

<p>● Identify and discuss the stakeholders involved in cybercrime investigations</p>

<p>Have students complete “Homework # 1: National Security Agencies and their Roles in Cybercrime Investigations” under the “Student Assessment” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>Break</p>

<p>Time: 10 minutes</p>

<p>Obstacles to Cybercrime Investigations</p>

<p>Lecture (50 minutes):</p>

<p>● Explain and critically evaluate the obstacles encountered during cybercrime investigations</p>

<p>Have students complete “Exercise # 2 ~ Hypothetical Cybercrime Investigation” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>[*Reminder: This exercise needs to be completed before class].</p>

<p>[Optional: Have students complete “Homework # 2: Regional Internet Registry” under the “Student Assessment” section of this Module before class and have them discuss their findings during the lecture. Students can either hand in a one- to three-page summary of their findings or merely come prepared to discuss their findings in class].</p>

<p>[Optional: Have students complete “Exercise #4 ~ GDPR and WHOIS” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture. Students can either hand in a one- to three-page summary of their findings or merely come prepared to discuss their findings in class].</p>

<p>Knowledge Management</p>

<p>Lecture (40 minutes):</p>

<p>● Describe the role of knowledge management in cybercrime investigations</p>

<p>25</p>

<p>Have students complete “Exercise # 3 ~ Who Responds?” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>[*Reminder: This exercise needs to be completed before class].</p>

<p>Core Reading</p>

<p>The following readings are (mostly open source) required readings that should be completed before taking a class based on this Module:</p>

<p>● Chang, Weiping and Peifang Chung. (2014). Knowledge Management in Cybercrime Investigation – A Case Study of Identifying Cybercrime Investigation Knowledge in Taiwan. Pacific-Asia Workshop on Intelligence and Security Informatics (PAISI 2014: Intelligence and Security Informatics), pp. 8-17.</p>

<p>● Domain Tools. Best Practices Guide: Getting Started with Domain Tools for Threat Intelligence and Incident Forensics.</p>

<p>http://docs.apwg.org/sponsors_technical_papers/DomainTools-Guide-Cybercrime-Investigation.pdf.</p>

<p>● Fafinski, Stefan, William H. Dutton, and Helen Margetts. (2010). Mapping and Measuring Cybercrime. Oxford Internet Institute, University of Oxford. OII Forum Discussion Paper No 18.</p>

<p>https://www.oii.ox.ac.uk/archive/downloads/publications/FD18.pdf.</p>

<p>● Finklea, Kristin. (2017). Dark Web. Congressional Research Service. https://fas.org/sgp/crs/misc/R44101.pdf.</p>

<p>● GLACY. (2014). Good practice study: Cybercrime reporting mechanisms. https://rm.coe.int/168030287c.</p>

<p>● Harkin, Diarmaid, Chad Whelan, and Lennon Chang (2018). The challenges facing specialist police cyber-crime units: an empirical analysis. Police Practice and Research, Vol. 19(6), 519-536.</p>

<p>● Lin, Herbert. (2017). Attribution of Malicious Cyber Incidents. Hoover Institution, Aegis Paper Series No. 1607.</p>

<p>https://www.hoover.org/sites/default/files/research/docs/lin_webready.pdf.</p>

<p>● Maras, Marie-Helen. (2014). Computer Forensics: Cybercriminals, Laws, and Evidence. Jones and Bartlett; Chapters, 8-11.</p>

<p>● Pihelgas, Mauno. (2013). Back-tracing and Anonymity in Cyberspace. In Katharina Ziolkowski (ed.). Peacetime Regime for State Activities in Cyberspace International Law, International Relations and Diplomacy (pp. 31-60). NATO Cooperative Cyber Defence Centre of Excellence.</p>

<p>http://www.ccdcoe.org/publications/books/Peacetime-Regime.pdf.</p>

<p>● Wall, David S. (2007). Policing Cybercrimes: Situating the Public Police in Networks of Security within Cyberspace. Police Practice and Research, 8(2), 183-205.</p>

<p>Advanced Reading</p>

<p>26</p>

<p>The following readings are recommended for those interested in exploring the topics covered in this Module in more detail:</p>

<p>● CISCO. (n.d.). Understanding the Ping and Traceroute Commands. https://www.cisco.com/c/en/us/support/docs/ios-nx-os-software/ios-software-releases-121-mainline/12778-ping-traceroute.pdf.</p>

<p>● Hilgenstieler, Egon, Elias P. Duarte, Glenn Mansfield-Keeni, and Norio Shiratori. (2010).</p>

<p>Extensions to the source path isolation engine for precise and efficient log-based IP traceback. Computers &amp; Security, Vol. 29(4), 383-392.</p>

<p>● International Telecommunication Union (ITU). (2012). Understanding cybercrime: Phenomena, challenges and legal response. http://www.itu.int/ITU-D/cyb/cybersecurity/docs/Cybercrime%20legislation%20EV6.pdf.</p>

<p>● Kao, Da-Yu and Wang, Shiuh-Jeng. (2009). The IP address and time in cyber‐crime investigation. Policing: An International Journal, Vol. 32(2), 194-208.</p>

<p>● Maras, Marie-Helen. (2014). Computer Forensics: Cybercriminals, Laws, and Evidence. Jones and Bartlett; Chapter 12.</p>

<p>● Nur, Abdullah Yasin and Tozal, Mehmet Engin. (2018). Record route IP traceback: Combating DoS attacks and the variants. Computers &amp; Security, Vol. 72, 13-25</p>

<p>● Singh, Karanpreet, Paramvir Singh, and Krishan Kumar. (2016). A systematic review of IP traceback schemes for denial of service attacks. Computers &amp; Security, Vol. 56, 111-139.</p>

<p>● Steenbergen, Richard A. and Roisman, Dani. (2016). A Practical Guide to (Correctly) Troubleshooting with Traceroute. https://www.arin.net/vault/participate/meetings/on-the-road/presentations/waterloo2016/10_roisman.pdf.</p>

<p>● UNODC. (2013). Draft Comprehensive Study on Cybercrime.</p>

<p>https://www.unodc.org/documents/organized-crime/UNODC_CCPCJ_EG.4_2013/CYBERCRIME_STUDY_210213.pdf.</p>

<p>● World Economic Forum. (2016). Recommendations for Public-Private Partnership against Cybercrime. http://www3.weforum.org/docs/WEF_Cybercrime_Principles.pdf.</p>

<p>Student Assessment</p>

<p>In addition to the exercises, other assessment tools used in this course are review questions and homework assignments.</p>

<p>Review Questions</p>

<p>These questions can also be used to promote class discussions during the lecture.</p>

<p>1. Where is cybercrime reported?</p>

<p>2. Why is cybercrime underreported?</p>

<p>3. Who investigates cybercrime?</p>

<p>4. What are public-private partnerships? Why have these been created for cybercrime investigations?</p>

<p>5. What are the obstacles encountered during cybercrime investigations?</p>

<p>6. What is knowledge management? What are the benefits of knowledge management?</p>

<p>27</p>

<p>7. How can knowledge management be applied to cybercrime investigations?</p>

<p>Homework</p>

<p>Students can be assigned one or more of the following assignments to be completed before class as either a written homework assignment (one to three pages long) and/or be part of the class discussion:</p>

<p>Homework # 1: National Security Agencies and their Roles in Cybercrime Investigations</p>

<p>Which national security agencies are involved in cybercrime investigations in your country? What role (or roles) does the agency (or do the agencies) have in cybercrime investigations? Instruct students to explain their responses using evidence-based arguments supported by the core and/or advanced readings.</p>

<p>Homework # 2: Regional Internet Registry</p>

<p>Instruct the students to conduct research on their Regional Internet Registry.</p>

<p>● What is the role of RIRs?</p>

<p>● What resources does it offer?</p>

<p>● How can these resources be leveraged in cybercrime investigations?</p>

<p>Additional Teaching Tools</p>

<p>Websites</p>

<p>● “Countering Cybercrime” Project (Ukraine), http://anticyber.com.ua.</p>

<p>● Cyber Crime Cell (India), Where to make a complaint, http://www.cybercelldelhi.in/Report.html.</p>

<p>● European Cybercrime Centre. (EC3), https://www.europol.europa.eu/about-europol/european-cybercrime-centre-ec3.</p>

<p>● Europol. (n.d.). Reporting Cybercrime Online. https://www.europol.europa.eu/report-a-crime/report-cybercrime-online.</p>

<p>● Freenet, https://freenetproject.org/author/freenet-project-inc.html.</p>

<p>● Global Cyber Security Capacity Centre, https://www.sbs.ox.ac.uk/cybersecurity-capacity/content/front.</p>

<p>● I2P, https://geti2p.net/en/.</p>

<p>● INHOPE, http://www.inhope.org/gns/home.aspx.</p>

<p>● Internet Signalement (France),</p>

<p>https://www.internet-signalement.gouv.fr/PortailWeb/planets/Accueil!input.action.</p>

<p>● National Cyber Security Centrum (Netherlands), https://www.ncsc.nl/.</p>

<p>● No More Ransom Project, https://www.nomoreransom.org/en/index.html.</p>

<p>● Stop Fraud, https://cyberpolice.gov.ua/stopfraud/.</p>

<p>28</p>

<p>● Tor Project,</p>

<p>https://www.torproject.org/about/overview.html.en.</p>

<p>● UNODC, Global Programme on Cybercrime, https://www.unodc.org/unodc/en/cybercrime/global-programme-cybercrime.html.</p>

<p>● UNODC, SHERLOC. https://sherloc.unodc.org/cld/v3/sherloc/.</p>

<p>● UNODC, Cybercrime Repository.</p>

<p>https://www.unodc.org/unodc/en/cybercrime/cybercrime-repository.html.</p>

<p>• Ward, Mark. (2018). Cyber-attack! Would your firm handle it better than this?</p>

<p>BBC News, 7 August 2018. https://www.bbc.com/news/technology-44482380.</p>

<p>Videos</p>

<p>● ACORN - Report Cybercrime, https://www.youtube.com/watch?v=m1_j71Qz8Yg. This video is an example of Australia’s national cybercrime reporting campaign.</p>

<p>● U.S. FBI, The FBI’s cybersecurity brain drain has long-term implications, https://www.pbs.org/newshour/show/the-fbis-cybersecurity-brain-drain-has-long-term-implications. This video discusses the implications of losing the knowledge of key cybersecurity professionals when they transition out of the FBI.</p>

<p>● U.S. FBI, Reporting Cyber Crime is as Easy as IC3,</p>

<p>https://www.youtube.com/watch?v=nD7XQ1yjgB0. This video is an example of a national cybercrime reporting campaign.</p>