[viewBag]
title = "Practical Aspects of Cybercrime Investigations and Digital Forensics"
url = "/bibliotheque/practical-aspects-cybercrime-investigations-and-digital-forensics"
layout = "content"
is_hidden = 0
navigation_hidden = 0
localeUrl[en] = "/bibliotheque"
localeUrl[ar] = "/bibliotheque"
==
<p>Module 6: Practical Aspects of Cybercrime Investigations and Digital Forensics</p>

<p>Developed under UNODC’s Education for Justice (E4J) initiative, a component of the Global Programme for the Implementation of the Doha Declaration, this Module forms part of the E4J University Module Series on Cybercrime and is accompanied by a Teaching Guide. The full range of E4J materials includes university modules on Anti-Corruption, Counter-Terrorism, Crime Prevention and Criminal Justice, Cybercrime, Firearms, Trafficking in Persons/Smuggling of Migrants, and Integrity and Ethics, as well as Organized Crime.</p>

<p>All E4J university modules provide suggestions for in-class exercises, student assessments, slides, and other teaching tools that lecturers can adapt to their contexts, and integrate into existing university courses and programmes. The Module provides an outline for a three-hour class, but can be used for shorter or longer sessions.</p>

<p>All E4J university modules engage with existing academic research and debates, and may contain information, opinions and statements from a variety of sources, including press reports and independent experts.</p>

<p>Terms of Use and Disclaimers</p>

<p>Introduction</p>

<p>When investigating crimes, law enforcement agencies are more likely than not to encounter information and communication technology (ICT) during an investigation. ICT can be the target of the crime, used to commit a crime, or contain evidence of a crime. ICTs and the data within them are examined to identify evidence of criminal activity. This investigation seeks to scientifically establish facts of a case using digital evidence. The investigator’s role is to identify this evidence and reconstruct the sequence of events of the crime (or cybercrime). This Module examines the manner in which digital evidence is identified, particularly digital forensics (discussed in Cybercrime Module 4 on Introduction to Digital Forensics), which is the process by which digital evidence of crimes and cybercrimes is collected, acquired, preserved, analysed, interpreted, reported, and presented during legal proceedings.</p>

<p>Learning Outcomes</p>

<p>● Identify, analyse, and critically assess legal and ethical obligations of cybercrime investigators and digital forensics professionals</p>

<p>● Identify essential phases in the digital forensics process</p>

<p>● Articulate and critically evaluate the ways in which digital evidence is identified, collected, acquired, and preserved</p>

<p>● Discuss and appraise the processes involved in digital evidence analysis and the reporting of findings based on this analysis</p>

<p>● Explain and apply a framework for assessing the admissibility of digital evidence in courts</p>

<p>2</p>

<p>Key Issues</p>

<p>There is no universally accepted and adopted cybercrime investigation and digital forensics process. Each country has its own investigations and forensics protocols. Nevertheless, there are, however, international standards and best practices (see Cybercrime Module 4 on Introduction to Digital Forensics for a basic introduction to these standards and best practices) that could be adopted by countries in regards to cybercrime investigations and digital forensics, which refers to the process of collection, acquisition, preservation, analysis, interpretation, reporting, and presentation of digital evidence for use in investigations and prosecutions of various forms of crime, including cybercrime (see Cybercrime Module 4 on Introduction to Digital Forensics and Cybercrime Modules 5 on Cybercrime Investigations). This Module explores the best practices in the handling of digital evidence, its analysis, the reporting of digital forensics results, and the assessment of digital evidence.</p>

<p>Note:</p>

<p>While this Module focuses on cybercrime investigations and digital forensics in law enforcement investigations and prosecutions of cybercrime, many cybercrime investigations and digital forensics activities are conducted by those outside of the criminal justice system, such as private organizations (see Cybercrime Module 5 on Cybercrime Investigations).</p>

<p>Legal and Ethical Obligations</p>

<p>Cybercrime investigators (discussed in Cybercrime Module 5 on Cybercrime Investigations) and digital forensics professionals should legally and ethically investigate cybercrime, handle, analyse, and interpret digital evidence, and report findings (Kizza, 2013; Seigfried-Spellar, Rogers, and Crimmins, 2017). While legal obligations are prescribed by national, regional, and international law (see cybercrime procedural law and human rights obligations in Cybercrime Module 3 on Legal Frameworks and Human Rights; data access, retention, and preservation requirements in Cybercrime Module 7 on International Cooperation Against Cybercrime; and data protection requirements in Cybercrime Module 10 on Privacy and Data Protection), ethical obligations (wherever present) are self-imposed and/or prescribed by government agencies and/or private professional organizations (Roux and Falgoust, 2012; Kizza, 2013; Sharevski, 2015; Seigfried-Spellar, Rogers, and Crimmins, 2017). Where a code of ethics (i.e., guidelines covering right and wrong conduct to inform decision-making) exists, it often includes what cybercrime investigators and/or digital forensics professionals should do at all times and what these individuals should never do under any circumstance. For instance, the International Society of Forensic Computer Examiners (ISFCE) includes a code of ethics for its members to abide by to ensure that standards are being met and the results of the digital forensics process are accurate and trustworthy (ISFCE, n.d.). This code of ethics includes the behaviours that members must engage in (e.g., abiding by legal orders and conducting a comprehensive examination of the evidence according to existing laws, standards, procedures, and guidelines) and prohibited behaviours (e.g., withholding</p>

<p>3</p>

<p>evidence, engaging in biased analyses or reporting of evidence, and misrepresenting qualifications) (ISFCE, n.d.).</p>

<p>Handling of Digital Evidence</p>

<p>Did you know?</p>

<p>In the private sector, the response to cybersecurity incidents (e.g., a distributed denial of service attack, unauthorized access to systems, or data breach) includes specific procedures that should be followed to contain the incident, to investigate it and/or to resolve the cybersecurity incident (Cyber Security Coalition, 2015). There two primary ways of handling a cybersecurity incident: recover quickly or gather evidence (Cyber Security Coalition, 2015): The first approach, recover quickly, is not concerned with the preservation and/or collection of data but the containment of the incident to minimize harm. Because of its primary focus on swift response and recovery, vital evidence could be lost. The second approach, monitors the cybersecurity incident and focuses on digital forensic applications in order to gather evidence of and information about the incident. Because of its primary focus of evidence collection, the recovery from the cybersecurity incident is delayed. These approaches are not exclusive to the private sector. The approach taken by the private sector varies by organization and the priorities of the organization.</p>

<p>Want to learn more?</p>

<p>Read: Cyber Security Coalition, “Cyber Security Incident Management Guide,” 2015, https://www.agoria.be/upload/agoriav3/Cyber-Security-Incident-Management-Guide-2015.pdf</p>

<p>Digital evidence is volatile and fragile and the improper handling of this evidence can alter it. Because of its volatility and fragility, protocols need to be followed to ensure that data is not modified during its handling (i.e., during its access, collection, packaging, transfer, and storage). These protocols delineate the steps to be followed when handling digital evidence. There are four phases involved in the initial handling of digital evidence: identification, collection, acquisition, and preservation (ISO/IEC 27037; see Cybercrime Module 4 on Introduction to Digital Forensics).</p>

<p>Did you know?</p>

<p>There are protocols for the collecting volatile evidence. Volatile evidence should be collected based on the order of volatility; that is, the most volatile evidence should be collected first, and the least volatile should be collected last. The Request for Comments (RFC) 3227 document provides the following sample of the order of volatile data (from most to least volatile) for standard systems (Brezinski and Killalea, 2002):</p>

<p>4</p>

<p>- registers, cache</p>

<p>- routing table, ...[address resolution protocol or ARP] cache, process table,</p>

<p>kernel statistics, memory</p>

<p>- temporary file systems</p>

<p>- disk</p>

<p>- remote logging and monitoring data that is relevant to the</p>

<p>system in question</p>

<p>- physical configuration, network topology</p>

<p>- archival media</p>

<p>For more information, see: Brezinski, D. and T. Killalea. (2002). Guidelines for Evidence Collection and Archiving. Request for Comments: 3227. https://www.rfc-editor.org/pdfrfc/rfc3227.txt.pdf.</p>

<p>Identification</p>

<p>In the identification phase, preliminary information is obtained about the cybercrime case prior to collecting digital evidence. This preliminary information is similar to that which is sought during a traditional criminal investigation. The investigator seeks to answer the following questions:</p>

<p>● Who was involved?</p>

<p>● What happened?</p>

<p>● When did the cybercrime occur?</p>

<p>● Where did the cybercrime occur?</p>

<p>● How did the cybercrime occur?</p>

<p>The answers to these questions will provide investigators with guidance on how to proceed with the case. For example, the answer to the question “where did this crime occur?” – that is, within or outside of a country’s borders (see Cybercrime Module 3 on Legal Frameworks and Human Rights for information about jurisdictions) – will inform the investigator on how to proceed with the case (e.g., which agencies should be involved and/or contacted).</p>

<p>In the identification phase, cybercrime investigators use many traditional investigative techniques (see UNODC Criminal Investigation Manual for a detailed analysis of these techniques), especially with respect to information and evidence gathering. For example, victims, witnesses, and suspects of a cybercrime are interviewed to gather information and evidence of the cybercrime under investigation (for guidance on interviewing suspects and adult and children witnesses and victims, see: Module 9 of UNODC Anti-Human Trafficking Manual for Criminal Justice practitioners; UNODC Toolkit to Combat Trafficking in Persons; UN Economic and Social Council (ECOSOC) Resolution 2005/20 Guidelines on Justice in Matters involving Child Victims and Witnesses of Crime; UNODC Justice in Matters involving Child Victims and Witnesses of Crime; and Boyle and Vullierme, Council of Europe, A brief introduction to investigative interviewing: A practitioner’s guide).</p>

<p>Undercover law enforcement investigations have also been conducted to identify, investigate, and prosecute cybercriminals (examples of these investigations are included in Cybercrime Module 12</p>

<p>5</p>

<p>on Interpersonal Cybercrime and Cybercrime Module 13 on Cyber Organized Crime).</p>

<p>Additionally, cybercrime investigators have conducted covert surveillance. This tactic is a “particularly intrusive method for collecting evidence. The use of covert surveillance measures involves a careful balancing of a suspect’s right to privacy against the need to investigate serious criminality. Provisions on covert surveillance should fully respect “the rights of the suspect. There have been various decisions of international human rights bodies and courts on the permissibility of covert surveillance and the parameters of these measures” (UNODC, p. 13). Even malware has been used by law enforcement agencies to conduct surveillance in order to gather information about and evidence of cybercrime. For example, U.S. law enforcement agencies are using networking investigation techniques (NITs), “specially designed exploits or malware,” in their investigations of online child sexual exploitation and abuse (Finklea, 2017, p. 2; see Cybercrime Module 13 on Cyber Organized Crime for more information about these techniques).</p>

<p>Before digital evidence collection begins, the investigator must define the types of evidence sought. Digital evidence can be found on digital devices, such as computers, external hard drives, flash drives, routers, smartphones, tablets, cameras, smart televisions, Internet-enabled home appliances (e.g., refrigerators and washing machines), and gaming consoles (to name a few), as well as public resources (e.g., social media platforms, websites, and discussion forums) and private resources (e.g. Internet service providers logs of user activity; communication service providers business records; and cloud storage providers records of user activity and content). Many applications, websites, and digital devices utilize cloud storage services. Users’ data can thus be stored wholly or in fragments by many different providers in servers in multiple locations (UNODC, 2013; Quick, Martini, and Choo, 2014). Because of this, retrieving data from these providers is challenging (see Cybercrime Module 7 on International Cooperation Against Cybercrime for more information). The evidence sought will depend on the cybercrime under investigation. If the cybercrime under investigation is identity-related fraud, then digital devices that are seized will be searched for evidence of this crime (e.g., evidence of a fraudulent transactions or fraudulent transactions).</p>

<p>Collection</p>

<p>With respect to cybercrime, the crime scene is not limited to the physical location of digital devices used in the commissions of the cybercrime and/or that were the target of the cybercrime. The cybercrime crime scene also includes the digital devices that potentially hold digital evidence, and spans multiple digital devices, systems, and servers. The crime scene is secured when a cybercrime is observed, reported, and/or suspected. The first responder (discussed in Cybercrime Module 5 on Cybercrime Investigations) identifies and protects the crime scene from contamination and preserves volatile evidence by isolating the users of all digital devices found at the crime scene (e.g., holding them in a separate room or location) (Casey, 2011; Sammons, 2012; Maras, 2014; Nelson, Phillips, and Steuart, 2015; see “Note” box below). The users must not be given the opportunity to further operate the digital devices. Neither should the first responder nor the investigator seek the assistance of any user during the search and documentation process. The investigator, if different from the first responder, searches the crime scene and identifies the evidence. Before evidence is collected, the crime scene is documented. Documentation is needed throughout the entire investigative process (before, during, and after the evidence has been acquired). This documentation should include detailed information about the digital devices</p>

<p>6</p>

<p>collected, including the operational state of the device – on, off, standby mode – and its physical characteristics, such as make, model, serial number, connections, and any markings or other damage (Casey, 2011; Sammons, 2012; Maras, 2014; Nelson, Phillips, and Steuart, 2015). In addition to written notes, sketches, photographs and/or video recordings of the crime scene and evidence are also needed to document the scene and evidence (Maras, 2014, pp. 230-233).</p>

<p>Note:</p>

<p>Collecting volatile data can alter the memory content of digital devices and data within them.</p>

<p>The investigator, or crime scene technician, collects the evidence. The collection procedures vary depending on the type of digital device, and the public and private resources where digital evidence resides (e.g., computers, phones, social media, and cloud; for different digital forensics practices pertaining to multimedia, video, mobile, see the Scientific Working Group on Digital Evidence (SWGDE)). Law enforcement agencies have standard operating procedures that detail the steps to be taken when handling digital evidence on mobile devices, Internet-enabled objects (e.g., watches, fitness trackers, and home appliances), the cloud, and social media platforms (SWGDE Draft Best Practices for Mobile Device Evidence Collection &amp; Preservation, Handling, and Acquisition, 2018; SWGDE Best Practices for the Acquisition of Data from Novel Digital Devices; Cloud Security Alliance, 2013; Police Service of Scotland, 2018). A standard operating procedure (SOP) is designed to assist investigators by including the policies and sequential acts that should be followed to investigate cybercrime in a manner that ensures the admissibility of collected evidence in a court of law, as well as the tools and other resources needed to conduct the investigation (for example, see the following SOPs: Data Security Council of India, 2011; Police Service of Scotland, 2018). Overall, SOPs include the processes to be followed during an investigation.</p>

<p>Unique constraints that could be encountered during the investigation should be identified. For instance, cybercrime investigators could encounter multiple digital devices, operating systems, and complex network configurations, which will require specialized knowledge, variations in collection procedures, and assistance in identifying connections between systems and devices (e.g., a topology of networks). Anti-forensics techniques (discussed in Cybercrime Module 4 on Introduction to Digital Forensics), such as steganography (i.e., the stealthy concealment of data by both hiding content and making it invisible) and encryption (i.e., “physically blocking third-party access to a file, either by using a password or by rendering the file or aspects of the file unusable;” Maras, 2014, p. 204; for more information on encryption, see Cybercrime Module 10 on Privacy and Data Protection), could also be encountered during an investigation (Conlan, Baggili, and Breitinger, 2016). Because of this, the investigator should be prepared for these situations and have the necessary human and technical resources needed to deal with these constraints. The actions taken by the investigator in these cases (e.g., the ability of the investigator to obtain the passwords to those devices and/or decrypt the files), if any, depends on national laws (see Global Partners Digital interactive map for more information on the encryption laws and policies of countries). Digital forensics tools (discussed in Cybercrime Module 4 on Introduction to Digital Forensics) can assist in this endeavour by, for example, identifying steganography and decrypting files, as well as perform other critical digital forensics tasks. Examples of such tools</p>

<p>7</p>

<p>include Forensic Toolkit (FTK) by Access Data, Volatile Framework, X-Ways Forensics. Along with these resources, a forensic toolkit is needed, which contains the objects needed to document the crime scene, tools need to disassemble devices and remove other forms of evidence from the crime scene, and material needed to label and package evidence (e.g., for smartphones, a Faraday bag, which blocks wireless signals to and from the digital device, and a power bank are needed and used to transport them), among other items (Casey, 2011; Sammons, 2012; Maras, 2014; Nelson, Phillips, and Steuart, 2015).</p>

<p>The actual collection of the evidence involves the preservation of volatile evidence and the powering down of digital devices. The state of operation of the digital devices encountered will dictate the collection procedures. For instance, if a computer is encountered, if the device is on, volatile evidence (e.g., temporary files, register, cache, and network status and connections, to name a few) is preserved before powering down the device and collecting it (Casey, 2011; Sammons, 2012; Maras, 2014; Nelson, Phillips, and Steuart, 2015). If the device is off, then it remains off and is collected (U.S. National Institute of Justice; 2004b; U.S. National Institute of Justice, 2008). There are circumstances where digital devices will not and cannot be collected (e.g., due to size and/or complexity of the systems and/or their hardware and software configurations, because these systems provide critical services) (see Cybercrime Module 4 on Introduction to Digital Forensics). In these situations, volatile and non-volatile data are collected through special procedures that require live acquisition (SWGDE Capture of Live Systems, 2014). The type of digital device encountered during an investigation will also dictate the manner in which digital evidence is collected (see, for example, SWGDE Best Practices for Mobile Device Evidence Preservation and Acquisition, 2018; SWGDE Best Practices for the Acquisition of Data from Novel Digital Devices; U.S. National Institute of Justice, 2007a).</p>

<p>Did you know?</p>

<p>Commands can be used to obtain volatile data from live systems. For example, for Windows operating systems the command ipconfig is used to obtain network information, whereas for Unix operating systems, the command ifconfig is used. For both Windows and Unix, the command netstat is used to obtain information about active network connections.</p>

<p>Want to learn more?</p>

<p>Software Engineering Institute. (2016). Volatile Data Collection. Carnegie Mellon University. https://fedvte.usalearning.gov/courses/CSI/course/videos/pdf/CSI_D01_S05_T01_STEP.pdf.</p>

<p>Amari, Kristine. (2009). Techniques and Tools for Recovering and Analyzing Data from Volatile Memory. SANS Institute InfoSec Reading Room. https://www.sans.org/reading-room/whitepapers/forensics/techniques-tools-recovering-analyzing-data-volatile-memory-33049.</p>

<p>Bolt, Steven and Earl Door. (2007). Methods for Capturing Volatile Data.</p>

<p>8</p>

<p>http://hcco4.com/CC/wp-content/uploads/2014/06/VolatileData.pdf.</p>

<p>In addition to digital devices, other relevant items (e.g., notes and/or notebooks that might include passwords or other information about online credentials, telephones, fax machines, printers, routers, etc.) should be collected as well. The actions taken by the investigator during the collection of evidence should be documented. Each device should be labelled (along with its connecting cables and power cords), packaged, and transported back to a digital forensics laboratory (U.S. National Institute of Justice; 2004b; U.S. National Institute of Justice, 2008). Once the items are transported to the laboratory, they are “inventoried, recorded, and secured in a locked room…away from extreme temperatures, humidity, dust, and other possible contaminants” (Maras, 2014, p. 237).</p>

<p>Acquisition</p>

<p>Different approaches to performing acquisition exist. The approach taken depends on the type of digital device. For example, the procedure for acquiring evidence from a computer hard drive is different from the procedure required to obtain digital evidence from mobile devices, such as smartphones.</p>

<p>Unless live acquisition is performed, evidence is extracted from the seized digital devices at the forensic laboratory (i.e., static acquisition). At the forensics laboratory, digital evidence should be acquired in a manner that preserves the integrity of the evidence (i.e., ensuring that the data is unaltered); that is, in a forensically sound manner (see Cybercrime Module 4 on Introduction to Digital Forensics). To achieve this, the tools and techniques used to acquire digital evidence must prevent alterations to the data or when this is not possible, at the very least minimize them (SWGDE Best Practices for Computer Forensic Acquisitions, 2018). The tools and techniques used should be valid and reliable (NIST, n.d.; SWGDE Recommended Guidelines for Validation Testing, 2014; U.S. National Institute of Justice, 2007b). The limitations of these tools and techniques should be identified and considered before their use (SWGDE Best Practices for Computer Forensic Acquisitions, 2018). The U.S. National Institute of Standards and Technology has a searchable digital forensics tools database with tools with various functionalities (e.g., cloud forensics tools, among others) (for more information on digital forensics tools, see Cybercrime Module 4 on Introduction to Digital Forensics).</p>

<p>Did you know?</p>

<p>Triage, the “reviewing of the attributes and contents of potential data” sources, may be conducted “prior to acquisition to reduce the amount of data acquired, avoid acquitting irrelevant information, or comply with restrictions on search authority” (SWGDE Focused Collection and Examination of Digital Evidence).</p>

<p>9</p>

<p>Want to learn more?</p>

<p>For more information about triage, see Cybercrime Module 4 on Introduction to Digital Forensics.</p>

<p>The seized digital devices are considered as the primary source of evidence. The digital forensics analyst does not acquire data from the primary source. Instead, a duplicate is made of the contents of that device and the analyst works on the copy. This duplicate copy of the content of the digital device (imaging) is created before a static acquisition is conducted to maintain the integrity of digital evidence (see Cybercrime Module 4 on Introduction to Digital Forensics). To verify whether the duplicate is an exact copy of the original, a cryptographic hash value is calculated for the original and duplicate using mathematical computations; if they match, the copy’s contents are a mirror image (i.e., duplicate) of the original content (Cybercrime Module 4 on Introduction to Digital Forensics). A write blocker, which is designed to prevent the alteration of data during the copying process (Cybercrime Module 4 on Introduction to Digital Forensics), should be used before extraction whenever possible in order to prevent the modification of data during the copying process (SWGDE Best Practices for Computer Forensic Acquisitions, 2018). It is important to note that the acquisition process described above applies mainly to computers. When acquiring data from mobile phones and similar devices, where the memory storage cannot be physically separated from the device to make an image, a different procedure is followed (see, for example, SWGDE Best Practices for Mobile Device Evidence Preservation and Acquisition, 2018; SWGDE Best Practices for Mobile Phone Forensics, 2013).</p>

<p>There are two types of extraction performed: physical and logical. Physical extraction involves the search for and acquisition of evidence from the location within a digital device where the evidence resides, such as the hard drive of a computer (Maras, 2014). A physical extraction may be conducted using keyword searches (based on terms provided by the investigator), file carving (i.e., search “based on the header, footer, and other identifiers”), and by examining unallocated space (i.e., “[s]pace available on a system because it was never used or because the information in it was deleted”; Maras, 2014, p. 36) and partitions, which separates segments of the hard drive from each other (Casey, 2011; Maras, 2014; Nelson, Phillips, and Steuart, 2015). Logical extraction involves the search for and acquisition of evidence from the location it “resides relative to the file system of a computer operating system, which is used to keep track of the names and locations of files that are stored on a storage medium such as a hard disk” (Maras, 2014, p. 36). The type of logical extraction conducted depends on the digital device, file system, applications on the device, and operating system. A logical extraction involves the acquisition of data from active and deleted files, file systems, unallocated and unused space, and compressed, encrypted, and password protected data (Nelson, Phillips, and Steuart, 2015; SWGDE Best Practices for Digital Evidence Collection, 2018).</p>

<p>Note:</p>

<p>A logical extraction of files may result in a loss of metadata (i.e., data about data) (SWGDE Best Practices for Computer Forensic Acquisitions, 2018).</p>

<p>10</p>

<p>The entire acquisition process should be documented. This documentation should include detailed information about the digital devices from which evidence was extracted, the hardware and software used to acquire the evidence, the manner in which the evidence was acquired (i.e., how it was obtained), when it was obtained, where it was obtained, why it was obtained, what evidence was obtained, and for what reason it was obtained (Maras, 2014).</p>

<p>Preservation</p>

<p>Evidence preservation seeks to protect digital evidence from modification. The integrity of digital evidence should be maintained in each phase of the handling of digital evidence (ISO/IEC 27037). First responders, investigators, crime scene technicians, and/or digital forensics experts must demonstrate, wherever possible, that digital evidence was not modified during the identification, collection, and acquisition phase; the ability to do so, of course, depends on the digital device (e.g., computer and mobile phones) and circumstances encountered by them (e.g., need to quickly preserve data). To demonstrate this, a chain of custody must be maintained. The chain of custody is “the process by which investigators preserve the crime (or incident) scene and evidence throughout the life cycle of a case. It includes information about who collected the evidence, where and how the evidence was collected, which individuals took possession of the evidence, and when they took possession of it” (Maras, 2014, 377; Cybercrime Module 4 on Introduction to Digital Forensics). In the chain of custody, the names, titles, and contact information of the individuals who identified, collected, and acquired the evidence should be documented, as well as any other individuals the evidence was transferred to, details about the evidence that was transferred, the time and date of transfer, and the purpose of the transfer.</p>

<p>Analysis and Reporting</p>

<p>In addition to the handling of digital evidence, the digital forensics process also involves the examination and interpretation of digital evidence (analysis phase), and the communication of the findings of the analysis (reporting phase). During the analysis phase, digital evidence is extracted from the device, data is analysed, and events are reconstructed. Before the analysis of the digital evidence, the digital forensics analyst in the laboratory must be informed of the objectives of the search, and provided with some background knowledge of the case and any other information that was obtained during the investigation that can assist the forensics analyst in this phase (e.g., IP address or MAC addresses). Various forms of analyses are performed depending on the type of digital evidence sought, such as network, file system, application, video, image, and media analysis (i.e., analysis of data on storage device) (Grance, Chevalier, Kent, and Dang, 2005; Carrier, 2005; European Network of Forensic Science Institute, 2015; SWGDE Best Practices for Image Authentication, 2018; SWGDE Best Practices for Image Content Analysis, 2017; SWGDE Guidelines for Forensic Image Analysis, 2017; SWGDE Best Practices for Data Acquisition from Digital Video Recorders, 2018; SWGDE Best Practices for Digital &amp; Multimedia Evidence Video Acquisition from Cloud Storage, 2018). Files are analysed to determine their origin, and when and where the data was created, modified, accessed, downloaded, or uploaded, and the potential connection of these files on storage devices to, for example, remote storage, such as cloud-based storage (Carrier, 2005). The type of digital evidence (e.g., e-mails, text messages, geolocation, Word processing documents, images, videos, and chat logs) sought depends on the cybercrime case.</p>

<p>11</p>

<p>Generally, there are four types of analyses that can be performed on computers: time-frame analysis; ownership and possession analysis; application and file analysis; and data hiding analysis. The time-frame analysis seeks to create a timeline or time sequence of actions using time stamps (date and time) that led to an event or to determine the time and date a user performed some action (U.S. National Institute of Justice, 2004b). This analysis is performed to attribute a crime to a perpetrator or at the very least attribute an act that led to a crime to particular individual (U.S. National Institute of Justice, 2004b); there are, however, challenges in validating time-frame analysis results (see “Note” box).</p>

<p>The ownership and possession analysis is used to determine the person who created, accessed, and/or modified files on a computer system (U.S. National Institute of Justice, 2004b). For instance, this analysis may reveal an image of child sexual abuse material (i.e., the “representation, by whatever means, of a child engaged in real or simulated explicit sexual activities or representation of the sexual parts of a child for primarily sexual purposes”; Article 2, UN Optional Protocol to the Convention on the Rights of the Child on the Sale of Children, Child Prostitution, and Child Pornography of 2000) on a suspect’s device. This piece of information alone is not enough to prove ownership of child sexual abuse material. Further evidence is needed to prove this such as exclusive use of the computer where the material was found. The application and file analysis is performed to examine applications and files on a computer system to determine the perpetrator’s knowledge of and intent and capabilities to commit cybercrime (for example, the labelling or name of the file may indicate the contents of the file; e.g., the file name can be the cybercrime victim’s name) (U.S. National Institute of Justice, 2004b).</p>

<p>Note:</p>

<p>Timestamp data can be modified. As such, a conclusion should not be drawn based on this evidence alone. The same holds true for other data. For example, web browser history shows that sites have been accessed and the times they have been accessed. More evidence is needed to show that the person whose digital evidence was used to access these websites was the owner and/or suspected user of the device.</p>

<p>Data hiding analysis can also be performed. As the name implies, data hiding analysis searches for hidden data on a system. Criminals use several data-hiding techniques to conceal their illicit activities and identifying information, such as using encryption (discussed in Cybercrime Module 9 on Cybersecurity and Cybercrime Prevention: Practical Applications and Measures and Cybercrime Module 10 on Privacy and Data Protection), password-protecting devices and specific content (e.g., files), changing file extensions, and hiding partitions (U.S. National Institute of Justice, 2004b; Casey, 2011; Maras, 2014; Nelson, Phillips, and Steuart, 2015). During the analysis phase, the investigator needs to address the data-hiding techniques that perpetrators could have used to conceal their identities and activities. Hidden data can reveal “knowledge [of a crime], ownership [of content], or intent [to commit a crime]” (U.S. National Institute of Justice, 2004b, p. 17).</p>

<p>12</p>

<p>Deleted Files</p>

<p>When a file is deleted on a computer, it is placed in the Recycle Bin or Trash. If the Recycle Bin or Trash of trash is emptied (i.e., by the deletion of content), the files that were deleted are removed from the file allocation table, which archives file names and locations on hard drives (Maras, 2014). The space where the file resides is marked as free space (i.e., unallocated space) after it is deleted but the file still resides in that space (at least until it is fully or partially overwritten by new data) (Maras, 2014)</p>

<p>As the U.S. National Institute of Justice concluded, “[i]n and of themselves, results obtained from any one of these ….[analyses] may not be sufficient to draw a conclusion. When viewed as a whole, however, associations between individual results may provide a more complete picture” (p. 18).</p>

<p>The purpose of these analyses is crime reconstruction (or event reconstruction). Event reconstruction seeks to determine who was responsible for the event, what happened, where did the event occur, when did the event take place, and how the event unfolded, through the identification, collation, and linkage of data (revealing the “big picture” or essence of an event). Event reconstruction can involve a temporal analysis (i.e., the determination of the time events occurred and the sequence of these events), relational analysis (i.e., the determination of the individuals involved and what they did, and the association and relationships between these individuals), and functional analysis (i.e., assessment of the performance and capabilities of systems and devices involved in events) (Casey, 2010; Casey, 2011; Kao, 2016). Overall, event reconstruction is performed to prove or disprove a working hypothesis concerning the case (i.e., educated guess concerning the sequence of acts that led to an event) (ENFSI, 2015).</p>

<p>Note:</p>

<p>Investigators should be engaged in preliminary reconstructive actions at the identification and collection stages of the investigation. These tasks assist investigators in identifying new potential sources of digital evidence.</p>

<p>Ultimately, event reconstruction for the analysis phase uses imperfect knowledge to draw conclusions about a case based on available evidence and analyses of the evidence. For this reason, it is important for cybercrime investigators and digital forensics analysts to recognize these limitations and avoid biased interpretations of the results of these analyses, such as those that result from confirmation bias, where individuals look for and support results that support their working hypothesis and dismiss results that conflict with their working hypothesis (Kassin, Dror, and Kukucka, 2013; Boddington, 2016).</p>

<p>The results of the analysis are documented in a report. The reports should be as clear and precise as possible. Demonstrative material (e.g., figures, graphs, outputs of tools) and supporting documents, such as chain of custody documentation should be included, along with a detailed explanation of the methods used and steps taken to examine and extract data (U.S. National</p>

<p>13</p>

<p>Institute of Justice, 2004b). The findings should be explained in light of the objectives of the analysis (i.e., the purpose of the investigation and the case under investigation). Information about the limitations of the findings should also be included in the report. The content of the report varies by jurisdiction depending on national policies (wherever present) regarding investigations and digital forensics. To prevent the misinterpretation or the placement of inappropriate weight on digital evidence, the report should communicate known errors and uncertainty in results (European Network of Forensic Science Institute, 2015, p. 39).</p>

<p>Digital Evidence Admissibility</p>

<p>Certain legal and technical requirements must be met to ensure the admissibility of digital evidence in a court of law (Antwi-Boasiako and Venter, 2017). In regards to the former, the court examines the legal authorization to conduct searches and seizures of information and communication technology and related data, and the relevance, authenticity, integrity, and reliability of digital evidence (Antwi-Boasiako and Venter, 2017). With respect to the latter, the court critically examines the digital forensics procedures and tools used to extract, preserve, and analyse digital evidence; the digital laboratories whereby analyses are performed; the reports of digital forensic analysts; and the technical and academic qualifications of digital forensics analysts and expert witnesses (if required) (Antwi-Boasiako and Venter, 2017). Antwi-Boasiako and Venter (2017) developed a framework, the Harmonized Model for Digital Evidence Admissibility Assessment (HM-DEAA), that encapsulates the essential technical and legal requirements that determine evidence admissibility. Particularly, the HM-DEAA proposes a three-phase model for assessing evidence admissibility, which includes digital evidence assessment, consideration, and determination. The HM-DEAA framework is used in the next section of this Module to highlight the legal and technical requirements that are largely used across jurisdictions to ensure the admissibility of digital evidence in national courts.</p>

<p>Digital Evidence Assessment</p>

<p>In this phase, courts determine whether the appropriate legal authorization was used to search and seize information and communication technology (ICT) and related data. The types of legal authorization include a search warrant, court order, or subpoena. The legal order required to obtain ICT and ICT-related data varies by jurisdiction and is determined by national laws (see Cybercrime Module 7 on International Cooperation Against Cybercrime). However, the legal order predominately used by countries to seize ICT is a search warrant. Nevertheless, national laws differ in the legal order requirements based on the circumstances of the case, circumstances surrounding the search and seizure, and the credentials of those conducting the search (see Cybercrime Module 7 on International Cooperation Against Cybercrime for further information on the legal orders required to access data across jurisdictions).</p>

<p>The forensic relevance of the digital evidence is assessed in this phase as well. Forensic relevance is determined by whether the digital evidence: links or rules out a connection between the perpetrator and the target (e.g., victim, digital device, website, etc.) and/or the crime scene (the place where the crime or cybercrime occurred); supports or refutes perpetrator, victim and/or witness testimony; identifies the perpetrator(s) of the cybercrime; provides investigate leads; provides information about the method of operation (modus operandi or M.O.) of the perpetrator</p>

<p>14</p>

<p>(i.e., the habits, techniques and unique features of the perpetrator’s behaviour); and shows that a crime has taken place (corpus delicti) (Maras, 2014; Maras and Miranda, 2014).</p>

<p>Did you know?</p>

<p>Digital evidence can reveal signature behaviour of cybercriminals, such as malware developers and hackers (Casey, 2011). A signature behaviour is a recognizable and distinguishable pattern of activity (e.g., specific techniques, tools, and moniker) that can be attributed to a source, which provides some form of psychological or emotional benefit (e.g., gratification and recognition by peers) to the cybercriminal (Casey, 2011).</p>

<p>Digital Evidence Consideration</p>

<p>In this phase, an assessment is made as to the integrity of digital evidence by examining the digital forensics procedures and tools used to obtain the evidence, the competence and qualifications of the digital forensics experts who acquired, preserved, and analysed the digital evidence (the competence and qualifications of experts varies by country, see Cybercrime Module 5 on Cybercrime Investigations), and the digital forensics laboratories where the evidence was handled and examined (U.S. National Institute of Justice; 2004a; Maras, 2014). Basically, this evaluation seeks to determine whether scientific principles were used to preserve, acquire, and analyse digital evidence, and standards were met to handle and examine digital evidence (e.g., whether digital forensics tools were validated, up-to-date, properly maintained, and tested before their use, to ensure their proper functioning).</p>

<p>Digital forensics experts provide testimony in court to explain their qualifications; how digital devices, online platforms and other ICT-related sources work; the digital forensics process; why a specific digital forensics tool was used and not others; how digital evidence was preserved acquired, and analysed; the interpretation and findings of the analyses performed, and the accuracy of these interpretations; and any alterations that may have occurred to the data and why these alterations occurred (U.S. National Institute of Justice; 2004a; Maras, 2014).</p>

<p>The qualifications of digital forensics experts are also examined to establish the competency of the individuals handling and analysing digital evidence. This competency is essential to ensure work product quality and confidence in produced results (SWGDE Overview of the Accreditation Process for Digital and Multimedia Forensic Labs, 2017). Nevertheless, there are no universal competency standards for digital forensics experts. The qualifications of digital forensics experts vary by country (UNODC, 2013). The certification of digital forensics experts may or may not be required; this depends on the jurisdiction (UNODC, 2013). This phase, therefore, evaluates whether experts have the necessary qualifications to serve as an expert witness and/or to perform the required examinations of ICT and ICT-related data. What is also determined is whether the competency of these experts and analysts were verified and tested.</p>

<p>15</p>

<p>Did you know?</p>

<p>The Daubert Tracker, named after the U.S. case Daubert v. Merrell Dow Pharmaceuticals Inc. (1993) that set the criteria that U.S. courts use to determine the reliability of a forensics test or evidence introduced in court, keeps track of reported and unreported legal cases where experts’ methods and qualifications have been challenged (Maras, 2014).</p>

<p>The standards and protocols of the digital forensics laboratory are also examined to determine the competency of the laboratory in the handling and analysis of digital evidence and the production of reliable results. What is particularly examined is whether “a laboratory is using reliable methods, appropriate equipment and software, competent personnel, and drawing reasonable conclusions” (SWGDE Overview of the Accreditation Process for Digital and Multimedia Forensic Labs, 2017, p. 4). Accreditation assists in this endeavour “by provid[ing] a means to improve quality, assess performance, provide independent review, meet established standards, and serve to ensure the promotion, encouragement, and maintenance of the highest standards of forensic practice” (Barbara, 2012). Although the ISO/IEC 17025 “endeavours to standardize laboratories worldwide in terms of testing, quality control, [and] calibration,” its support by the digital forensics community is mixed (Merriott, 2018). Furthermore, while accreditation provides the necessary oversight and accountability mechanisms to ensure that standards for forensic practice are met (SWGDE Myths and Facts about Accreditation for Digital and Multimedia Evidence Labs, 2017), it is not universally practiced. In the United States, for example, accreditation is required by some but not all states (Barbara, 2012). In the United Kingdom, Forensic Science Regulator accredits the organisations involved in digital forensics (Forensic Access, 2017).</p>

<p>Digital Evidence Determination</p>

<p>In this phase, the authenticity, integrity, and reliability of digital evidence is assessed based on the outcomes of the assessment of the digital forensics process conducted in the previous phase (i.e., the digital evidence consideration phase), such as the use of forensically sound methods and tools to obtain digital evidence and the testimony of expert witnesses and digital forensics analysts to corroborate the authenticity, integrity, and reliability of this evidence (Antwi-Boasiako and Venter, 2017; U.S. National Institute of Justice, 2004a). Digital evidence is admissible if it establishes a fact of matter asserted in the case, it remained unaltered during the digital forensics process, and the results of the examination are valid, reliable, and peer reviewed (Brezinski and Killalea, 2002; U.S. National Institute of Justice, 2004a; European Network of Forensic Science Institute, 2015). To be admissible, the findings should be interpreted in an unbiased manner, and errors and uncertainties in the findings, as well as limitations in the interpretations of results, should be disclosed (Brezinski and Killalea, 2002; European Network of Forensic Science Institute, 2015).</p>

<p>Ultimately, this three-phase model consolidates common legal and technical requirements for evidence admissibility across jurisdictions (Antwi-Boasiako and Venter, 2017). The standardization of digital forensics practices is key to ensuring the admissibility of digital evidence across jurisdictions. Given the transnational nature of cybercrime, the harmonization of digital forensics practices is not only of paramount importance to the investigation of cybercrime, but is</p>

<p>16</p>

<p>also essential to international cooperation on cybercrime matters (discussed in Cybercrime Module 7 on International Cooperation Against Cybercrime).</p>

<p>Electronic Discovery</p>

<p>Like digital forensics, e-Discovery is a process whereby digital data “is sought, located, secured, and searched with the intent of using it as evidence in a legal case” (Lawton, Stacey, and Dodd, 2014, p. 4). However, there are key differences between digital forensics and e-Discovery. Unlike digital forensics, e-Discovery is primarily focused on retaining data as a matter of record (in the most cost-effective manner) and in order to fulfil legal requirements to produce digital evidence in legal proceedings when compelled to do so by a court.</p>

<p>Want to learn more?</p>

<p>Lawton, D., R. Stacey, and G. Dodd. (2014). eDiscovery in digital forensic investigations. UK Home Office. CAST Publication Number 32/14. https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/394779/ediscovery-digital-forensic-investigations-3214.pdf.</p>

<p>Conclusion</p>

<p>Cybercrime investigators and digital forensics experts handle and/or otherwise process digital evidence. These professionals need to adhere to national policies and best practice guidelines to ensure the admissibility of digital evidence in courts. These policies include the technical and legal requirements needed to ensure evidence admissibility. In addition to these requirements, the harmonization of cybercrime investigation and digital forensics practices across borders is essential for investigations, which more often than not involve more than one jurisdiction (international cooperation on cybercrime matters is explored in Cybercrime Module 7 on International Cooperation Against Cybercrime).</p>

<p>References</p>

<p>● Antwi-Boasiako, Albert and Hein Venter. (2017). A Model for Digital Evidence Admissibility Assessment. G. Peterson and S. Shenoi. (eds.). Advances in Digital Forensics (pp. 23-38).</p>

<p>● Barbara, John. (2012). ISO/IEC 17025:2005 Accreditation of the Digital Forensics Discipline in Perspective. Forensic Magazine, 23 February 2012.</p>

<p>https://www.forensicmag.com/article/2012/02/isoiec-170252005-accreditation-digital-forensics-discipline.</p>

<p>● Boddington, Richard. (2016). A Case Study of the Challenges of Cyber Forensics Analysis of Digital Evidence in a Child Pornography Trial. Annual ADFSL Conference on Digital Forensics, Security and Law. https://commons.erau.edu/cgi/viewcontent.cgi?article=1207&amp;context=adfsl.</p>

<p>17</p>

<p>● Brezinski, D. and T. Killalea. (2002). Guidelines for Evidence Collection and Archiving. Request for Comments: 3227.</p>

<p>https://www.rfc-editor.org/pdfrfc/rfc3227.txt.pdf.</p>

<p>● Carrier, Brain. (2005). File System Forensic Analysis. Pearson.</p>

<p>● Casey, Eoghan. (2011). Digital Evidence and Computer Crime: Forensic Science, Computers and the Internet, 3rd Edition. Academic Press.</p>

<p>● Casey, Eoghan. (2010). Handbook of digital forensics and investigation. Elsevier.</p>

<p>● Cloud Security Alliance. (2013). Mapping the Forensic Standard ISO/IEC 27037 to Cloud Computing. https://downloads.cloudsecurityalliance.org/initiatives/imf/Mapping-the-Forensic-Standard-ISO-IEC-27037-to-Cloud-Computing.pdf.</p>

<p>● Conlan, Kevin, Ibrahim Baggili, and Frank Breitinger. (2016). Anti-forensics: Furthering digital forensic science through a new extended, granular taxonomy. Digital Investigation Vol. 18, 66-75.</p>

<p>● Data Security Council of India. (2011). Cyber Crime Investigation Manual. https://uppolice.gov.in/writereaddata/uploaded-content/Web_Page/28_5_2014_17_4_36_Cyber_Crime_Investigation_Manual.pdf.</p>

<p>● European Network of Forensic Science Institute. (2015). Best practice manual for the forensic examination of digital technology. ENFSI-BPM-FIT-01.</p>

<p>http://enfsi.eu/wp-content/uploads/2016/09/1._forensic_examination_of_digital_technology_0.pdf.</p>

<p>● Finklea, Kristin. (2017). Law Enforcement Using and Disclosing Technology Vulnerabilities Specialist in Domestic Security. Congressional Research Service, R44827. https://fas.org/sgp/crs/misc/R44827.pdf.</p>

<p>● Forensic Access. (2017). Digital Forensics: Accreditation Required by October 2017. https://www.forensic-access.co.uk/digital-forensics-accreditation-required-october-2017/.</p>

<p>● Grance, Tim, Suzanne Chevalier, Karen Kent, and Hung Dang. (2005). Guide to Computer and Network Data Analysis: Applying Forensic Techniques to Incident Response. Recommendations of the National Institute of Standards and Technology. National Institute of Standards and Technology, Special Publication 800-86. https://www.hsdl.org/?view&amp;did=460595.</p>

<p>● ISFCE. (n.d.). Code of Ethics and Professional Responsibility. https://www.isfce.com/ethics2.htm.</p>

<p>● ISO/IEC 17025. (2017). Testing and calibration laboratories.</p>

<p>https://www.iso.org/home/standards/popular-standards/isoiec-17025-testing-and-calibra.html.</p>

<p>● ISO/IEC 27037. (2012). Guidelines for Identification, Collection, Acquisition, and Preservation of Digital Evidence. https://www.iso.org/standard/44381.html.</p>

<p>● Kao, Da-Yu. (2016). Cybercrime investigation countermeasure using created-accessed-modified model in cloud computing environments. The Journal of Supercomputing, Vol. 72(1), 141-160.</p>

<p>● Kassin, Saul M., Itiel E. Dror, and Jeff Kukucka. (2012).The forensic confirmation bias: Problems, perspectives, and proposed solutions. Journal of Applied Research in Memory and Cognition, Vol. 2(1), 42-52.</p>

<p>● Kizza, Joseph Migga. (2013). Computer Crime Investigations and Ethics. In: Ethical and Social Issues in the Information Age, fifth edition. Springer; Chapter 15.</p>

<p>● Lawton, D., R. Stacey, and G. Dodd. (2014). eDiscovery in digital forensic investigations. UK Home Office. CAST Publication Number 32/14.</p>

<p>18</p>

<p>https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/394779/ediscovery-digital-forensic-investigations-3214.pdf. ● Maras, Marie-Helen. (2014). Computer Forensics: Cybercriminals, Laws, and Evidence. Jones and Bartlett.</p>

<p>● Merriott, Robert. (2018). ISO 17025 For Digital Forensics – Yay or Nay. Forensic Focus, 24 January 2018. https://articles.forensicfocus.com/2018/01/24/iso-17025-for-digital-forensics-yay-or-nay/.</p>

<p>● Nelson, Bill, Amelia Phillips, and Christopher Steuart. (2016). Guide to Computer Forensics and Investigations, 5th Edition. Cengage Learning.</p>

<p>● NIST. (n.d.). Computer Forensics Tool Testing Program (CFTT).</p>

<p>● https://www.nist.gov/itl/ssd/software-quality-group/computer-forensics-tool-testing-program-cftt.</p>

<p>● Police Service of Scotland. (2018). Digitally Stored Evidence Standard Operating Procedure, Version 2. http://www.scotland.police.uk/assets/pdf/151934/184779/Digitally-Stored-Evidence-SOP.</p>

<p>● Quick, Darren, Ben Martini, and Raymond Choo. (2014). Cloud Storage Forensics. Elsevier.</p>

<p>● Roux, Brian and Michael Falgoust. (2012). Ethical issues raised by data acquisition methods m digital forensics research. Journal of Information Ethics, Vol. 21(1), 40-60.</p>

<p>● Sammons, John. (2012). The Basics of Digital Forensics: The Primer for Getting Started in Digital Forensics. Syngress.</p>

<p>● Seigfried-Spellar, Kathryn C., Marcus Rogers, and Danielle M. Crimmins. (2017). Development of A Professional Code of Ethics in Digital Forensics. Annual ADFSL Conference on Digital Forensics, Security and Law, 135-144. https://commons.erau.edu/cgi/viewcontent.cgi?article=1380&amp;context=adfsl.</p>

<p>● Sharevski, Filipeo. (2015). Rules of professional responsibility in digital forensics: A comparative analysis. Journal of Digital Forensics, Security and Law, Vol. 10(2), 39-54.</p>

<p>● SWGDE. (2018). SWGDE Best Practices for Computer Forensic Acquisitions.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20Computer%20Forensic%20Acquisitions.</p>

<p>● SWGDE. (2018). SWGDE Best Practices for Computer Forensic Examination.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20Computer%20Forensic%20Examination</p>

<p>● SWGDE. (2018). SWGDE Best Practices for Data Acquisition from Digital Video Recorders.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20Data%20Acquisition%20from%20Digital%20Video%20Recorders.</p>

<p>● SWGDE. (2018). SWGDE Best Practices for Digital &amp; Multimedia Evidence Video Acquisition from Cloud Storage.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20Digital%20and%20Multimedia%20Evidence%20Video%20Acquisition%20from%20Cloud%20Storage.</p>

<p>● SWGDE. (2018). SWGDE Best Practices for Image Authentication.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20Image%20Authentication.</p>

<p>● SWGDE. (2017). SWGDE Best Practices for Image Content Analysis.</p>

<p>19</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20Image%20Content%20Analysis.</p>

<p>● SWGDE. (2018). SWGDE Best Practices for Mobile Device Evidence Collection and Preservation, Handling and Acquisition (Draft). https://www.swgde.org/documents/Released For Public Comment/SWGDE Best Practices for Mobile Device Evidence and Collection, Preservation, and Acquisition.</p>

<p>● SWGDE. (2013). SWGDE Best Practices for Mobile Phone Forensics</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20Mobile%20Phone%20Forensics</p>

<p>● SWGDE. (2018). SWGDE Best Practices for the Acquisition of Data from Novel Digital Devices. https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20the%20Acquisition%20of%20Data%20from%20Novel%20Digital%20Devices.</p>

<p>● SWGDE. (2014). SWGDE Capture of Live Systems. https://www.swgde.org/documents/Current%20Documents/SWGDE%20Capture%20of%20Live%20Systems.</p>

<p>● SWGDE. (n.d.). SWDGE Drafts For Public Comment. https://www.swgde.org/documents/draftsForPublicComment.</p>

<p>● SWGDE. (2017). SWGDE Guidelines for Forensic Image Analysis.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Guidelines%20for%20Forensic%20Image%20Analysis.</p>

<p>● SWGDE. (2017). SWGDE Myths and Facts about Accreditation for Digital and Multimedia Evidence Labs.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Myths%20and%20Facts%20about%20Accreditation%20for%20Digital%20and%20Multimedia%20Evidence%20Labs</p>

<p>● SWGDE. (2017). SWGDE Overview of the Accreditation Process for Digital and Multimedia Forensic Labs.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Overview%20of%20the%20Accreditation%20Process%20for%20Digital%20and%20Multimedia%20Forensic%20Labs.</p>

<p>● SWGDE. (2014). SWGDE Recommended Guidelines for Validation Testing.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Recommended%20Guidelines%20for%20Validation%20Testing.</p>

<p>● UNODC. (2013). Draft Comprehensive Study on Cybercrime.</p>

<p>https://www.unodc.org/documents/organized-crime/UNODC_CCPCJ_EG.4_2013/CYBERCRIME_STUDY_210213.pdf.</p>

<p>● U.S. National Institute of Justice. (2004a). Digital Evidence in the Courtroom: A Guide For Law Enforcement and Prosecutors. https://www.ncjrs.gov/pdffiles1/nij/211314.pdf.</p>

<p>● U.S. National Institute of Justice. (2008). Electronic Crime Scene Investigation: A Guide for First Responders, Second Edition. https://www.ncjrs.gov/pdffiles1/nij/219941.pdf.</p>

<p>● U.S. National Institute of Justice. (2004b). Forensic Examination of Digital Evidence: A Guide for Law Enforcement. https://www.ncjrs.gov/pdffiles1/nij/199408.pdf.</p>

<p>● U.S. National Institute of Justice. (2007b). Investigative Uses of Technology: Devices, Tools, and Techniques. https://www.ncjrs.gov/pdffiles1/nij/213030.pdf.</p>

<p>20</p>

<p>● U.S. National Institute of Justice. (2007a). Investigations Involving the Internet and Computer Networks.</p>

<p>https://www.ncjrs.gov/pdffiles1/nij/210798.pdf.</p>

<p>Cases</p>

<p>● Daubert v. Merrell Dow Pharmaceuticals Inc., 509 U.S. 579 (1993).</p>

<p>Laws</p>

<p>● Optional Protocol to the Convention on the Rights of the Child on the Sale of Children, Child Prostitution, and Child Pornography of 2000 (United Nations) (https://www.ohchr.org/en/professionalinterest/pages/opsccrc.aspx).</p>

<p>Exercises</p>

<p>Exercise # 1 ~ Standard Operating Procedures</p>

<p>Instruct students to conduct research on the standard operating procedures (SOPs) relating to digital evidence of law enforcement agencies in their country. Instruct students to select and review the SOP on digital evidence of one law enforcement agency. Students should come prepared to discuss the answers to the below questions in class.</p>

<p>Discussion Questions</p>

<p>● What was included in the SOP?</p>

<p>● What digital handling procedures were covered?</p>

<p>● Were any unique constraints that could be encountered during the investigation covered in the SOP? If so, which ones?</p>

<p>Exercise # 2 ~ Digital Evidence Acquisition</p>

<p>You are investigating a cybercrime committed against Company Z. The system that has been targeted by the cybercrime provides critical services. What type of acquisition would you perform? Why?</p>

<p>Exercise # 3 ~ Digital Forensics Expert Qualifications</p>

<p>Instruct students to research on the required qualifications of digital forensics experts in their country. Students should come prepared to discuss the answers to the below questions in class.</p>

<p>Discussions Questions</p>

<p>● What are the required qualifications of digital forensics experts?</p>

<p>● Are these qualifications assessed? If so, in what ways?</p>

<p>● Why are qualified digital forensics experts needed?</p>

<p>21</p>

<p>Possible Class Structure</p>

<p>The following is a recommended structure for the class. Students should complete the core readings before coming to class. The lecture is meant to reinforce what they learned in the readings and the exercises are designed to apply what they learned in the readings. The following breakdown is designed based on a three-hour class. The lecturers can adapt the structure based on their needs and the class times.</p>

<p>Cybercrime Module 6 Class Breakdown (three-hour class)</p>

<p>Introduction to the class and learning outcomes</p>

<p>Lecture (10 minutes):</p>

<p>● Provide a brief introduction to the course and its contents</p>

<p>● Identify and discuss the learning outcomes of the course</p>

<p>Legal and Ethical Obligations</p>

<p>Lecture (20 minutes):</p>

<p>● Identify, analyse, and critically assess legal and ethical obligations of cybercrime investigators and digital forensics professionals</p>

<p>Have students complete “Homework # 3 ~ Code of Ethics” under the “Student Assessment” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>[*Reminder: This homework needs to be completed before class].</p>

<p>[Optional: Have students complete “Homework # 4: Ethical Considerations in Cybercrime Investigations” under the “Student Assessment” section of this Module before class and have them discuss their findings during the lecture].</p>

<p>[*Reminder: This homework needs to be completed before class].</p>

<p>Handling of Digital Evidence</p>

<p>Lecture (50 minutes):</p>

<p>● Identify essential phases in the digital forensics process</p>

<p>● Describe and critically evaluate the ways digital evidence is identified, collected, acquired, and preserved</p>

<p>Have students complete “Exercise # 1 – Standard Operating Procedures” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>22</p>

<p>[*Reminder: This exercise needs to be completed before class].</p>

<p>Have students complete “Exercise # 2 – Digital Evidence Acquisition” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>[Optional: For technical courses, have students complete “Homework # 5 ~ Recover Deleted Entries in an SQLite Database” before coming to class and have them discuss their findings during the lecture].</p>

<p>Break</p>

<p>Time: 10 minutes</p>

<p>Analysis and Reporting</p>

<p>Lecture (50 minutes):</p>

<p>● Discuss the processes involved in digital evidence analysis and the reporting of findings based on this analysis</p>

<p>Have students complete “Homework # 1: Analysis” under the “Student Assessment” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>Digital Evidence Admissibility</p>

<p>Lecture (40 minutes):</p>

<p>● Examine and apply a framework for assessing the admissibility of evidence in courts</p>

<p>Have students complete “Exercise # 3 ~ Digital Forensics Expert Qualifications” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>[*Reminder: This exercise needs to be completed before class].</p>

<p>[Optional: Have students complete “Homework # 2: Group Assignment ~ Accreditation of Digital Forensics Laboratories” under the “Student Assessment” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>Students can either hand in a one- to three-page summary of their findings or merely come prepared to discuss their findings in class].</p>

<p>Core Reading</p>

<p>The following readings are (mostly open source) required readings that should be completed before taking a class based on this Module:</p>

<p>23</p>

<p>● Antwi-Boasiako, Albert and Hein Venter. (2017). A Model for Digital Evidence Admissibility Assessment. G. Peterson and S. Shenoi. (eds.). Advances in Digital Forensics (pp. 23-38).</p>

<p>● Casey, Eoghan. (2011). Digital Evidence and Computer Crime: Forensic Science, Computers and the Internet, 3rd Edition. Academic Press.</p>

<p>● European Network of Forensic Science Institute. (2015). Best practice manual for the forensic examination of digital technology. ENFSI-BPM-FIT-01.</p>

<p>http://enfsi.eu/wp-content/uploads/2016/09/1._forensic_examination_of_digital_technology_0.pdf.</p>

<p>● European Union Agency for Network and Information Security. (2014). Electronic Evidence - A Basic Guide for First Responders Good Practice Material for CERT First Responders. https://www.enisa.europa.eu/publications/electronic-evidence-a-basic-guide-for-first-responders.</p>

<p>● European Union Agency for Network and Information Security. (2016). Forensic Analysis Network Incident Response Toolset, Document for Students. https://www.enisa.europa.eu/topics/trainings-for-cybersecurity-specialists/online-training-material/documents/2016-resources/exe2_forensic_analysis_ii-toolset.</p>

<p>● European Union Agency for Network and Information Security. (2013). Identification and Handling of Electronic Evidence Handbook, Document for Teachers. https://www.enisa.europa.eu/topics/trainings-for-cybersecurity-specialists/online-training-material/documents/identification-and-handling-of-electronic-evidence-handbook.</p>

<p>● Kao, Da-Yu. (2016). Cybercrime investigation countermeasure using created-accessed-modified model in cloud computing environments. The Journal of Supercomputing, Vol. 72(1), 141-160.</p>

<p>● Kizza, Joseph Migga. (2013). Computer Crime Investigations and Ethics. In: Ethical and Social Issues in the Information Age, fifth edition. Springer; Chapters 4 and 15.</p>

<p>● Maras, Marie-Helen. (2014). Computer Forensics: Cybercriminals, Laws, and Evidence. Jones and Bartlett. Chapters 9-14.</p>

<p>● Nelson, Bill, Amelia Phillips, and Christopher Steuart. (2016). Guide to Computer Forensics and Investigations, 5th Edition. Cengage Learning.</p>

<p>● Sammons, John. (2012). The Basics of Digital Forensics: The Primer for Getting Started in Digital Forensics. Syngress.</p>

<p>Advanced Reading</p>

<p>The following readings are recommended for those interested in exploring the topics covered in this Module in more detail:</p>

<p>● Boddington, Richard. (2016). A Case Study of the Challenges of Cyber Forensics Analysis of Digital Evidence in a Child Pornography Trial. Annual ADFSL Conference on Digital Forensics, Security and Law. https://commons.erau.edu/cgi/viewcontent.cgi?article=1207&amp;context=adfsl.</p>

<p>● Casey, Eoghan. (2010). Handbook of digital forensics and investigation. Elsevier.</p>

<p>24</p>

<p>● Choo, Kim-Kwang Raymond and Ali Dehghantanha. (2017). Contemporary Digital Forensic Investigations of Cloud and Mobile Applications. Elsevier.</p>

<p>● EC-Council. (2017). Computer Forensics: Investigating Network Intrusions and Cybercrime, 2nd Edition. Cengage.</p>

<p>● Grance, Tim, Suzanne Chevalier, Karen Kent, and Hung Dang. (2005). Guide to Computer and Network Data Analysis: Applying Forensic Techniques to Incident Response. Recommendations of the National Institute of Standards and Technology. National Institute of Standards and Technology, Special Publication 800-86. https://www.nist.gov/publications/guide-integrating-forensic-techniques-incident-response.</p>

<p>● Kizza, Joseph Migga. (2013). Computer Crime Investigations and Ethics. In: Ethical and Social Issues in the Information Age, fifth edition. Springer.</p>

<p>● Lawton, D., R. Stacey, and G. Dodd. (2014). eDiscovery in digital forensic investigations. UK Home Office. CAST Publication Number 32/14. https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/394779/ediscovery-digital-forensic-investigations-3214.pdf.</p>

<p>● Ligh, Michael Hale, Andrew Case, Jamie Levy, and Aaron Walters. (2014). The Art of Memory Forensics: Detecting Malware and Threats in Windows, Linux, and Mac Memory. John Wiley &amp; Sons.</p>

<p>● Malin, Cameron H., Casey, Eoghan, and James M. Aquilina. (2008). Malware Forensics: Investigating and Analyzing Malicious Code. Syngress.</p>

<p>● Messier, Ric. (2017). Network Forensics. John Wiley &amp; Sons.</p>

<p>● Quick, Darren, Ben Martini, and Raymond Choo. (2014). Cloud Storage Forensics. Elsevier.</p>

<p>● SWGDE. (2018). SWGDE Best Practices for Computer Forensic Acquisitions.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20Computer%20Forensic%20Acquisitions.</p>

<p>● SWGDE. (2018). SWGDE Best Practices for Computer Forensic Examination.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20Computer%20Forensic%20Examination</p>

<p>● SWGDE. (2018). SWGDE Best Practices for Data Acquisition from Digital Video Recorders.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20Data%20Acquisition%20from%20Digital%20Video%20Recorders.</p>

<p>● SWGDE. (2018). SWGDE Best Practices for Digital &amp; Multimedia Evidence Video Acquisition from Cloud Storage.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20Digital%20and%20Multimedia%20Evidence%20Video%20Acquisition%20from%20Cloud%20Storage.</p>

<p>● SWGDE. (2018). SWGDE Best Practices for Image Authentication.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20Image%20Authentication.</p>

<p>● SWGDE. (2017). SWGDE Best Practices for Image Content Analysis.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20Image%20Content%20Analysis.</p>

<p>25</p>

<p>• SWGDE. (2018). SWGDE Draft Best Practices for Mobile Device Evidence Collection &amp; Preservation, Handling, and Acquisition.</p>

<p>https://www.swgde.org/documents/Released For Public Comment/SWGDE Best Practices for Mobile Device Evidence and Collection, Preservation, and Acquisition.</p>

<p>● SWGDE. (2018). SWGDE Best Practices for the Acquisition of Data from Novel Digital Devices. https://www.swgde.org/documents/Current%20Documents/SWGDE%20Best%20Practices%20for%20the%20Acquisition%20of%20Data%20from%20Novel%20Digital%20Devices.</p>

<p>● SWGDE. (2014). SWGDE Capture of Live Systems. https://www.swgde.org/documents/Current%20Documents/SWGDE%20Capture%20of%20Live%20Systems.</p>

<p>● SWGDE. (n.d.). SWDGE Drafts For Public Comment. https://www.swgde.org/documents/draftsForPublicComment.</p>

<p>● SWGDE. (2017). SWGDE Guidelines for Forensic Image Analysis.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Guidelines%20for%20Forensic%20Image%20Analysis.</p>

<p>● SWGDE. (2017). SWGDE Myths and Facts about Accreditation for Digital and Multimedia Evidence Labs.</p>

<p>● https://www.swgde.org/documents/Current%20Documents/SWGDE%20Myths%20and%20Facts%20about%20Accreditation%20for%20Digital%20and%20Multimedia%20Evidence%20Labs</p>

<p>● SWGDE. (2017). SWGDE Overview of the Accreditation Process for Digital and Multimedia Forensic Labs.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Overview%20of%20the%20Accreditation%20Process%20for%20Digital%20and%20Multimedia%20Forensic%20Labs.</p>

<p>● SWGDE. (2014). SWGDE Recommended Guidelines for Validation Testing.</p>

<p>https://www.swgde.org/documents/Current%20Documents/SWGDE%20Recommended%20Guidelines%20for%20Validation%20Testing.</p>

<p>● U.S. National Institute of Justice. (2004a). Digital Evidence in the Courtroom: A Guide For Law Enforcement and Prosecutors. https://www.ncjrs.gov/pdffiles1/nij/211314.pdf.</p>

<p>● U.S. National Institute of Justice. (2008). Electronic Crime Scene Investigation: A Guide for First Responders, Second Edition. https://www.ncjrs.gov/pdffiles1/nij/219941.pdf.</p>

<p>● U.S. National Institute of Justice. (2004b). Forensic Examination of Digital Evidence: A Guide for Law Enforcement. https://www.ncjrs.gov/pdffiles1/nij/199408.pdf.</p>

<p>● U.S. National Institute of Justice. (2007b). Investigative Uses of Technology: Devices, Tools, and Techniques. https://www.ncjrs.gov/pdffiles1/nij/213030.pdf.</p>

<p>● U.S. National Institute of Justice. (2007a). Investigations Involving the Internet and Computer Networks. https://www.ncjrs.gov/pdffiles1/nij/210798.pdf.</p>

<p>Student Assessment</p>

<p>In addition to the exercises, other assessment tools used in this course are review questions and homework assignments.</p>

<p>26</p>

<p>Review Questions</p>

<p>These questions can also be used to promote class discussions during the lecture.</p>

<p>1. What are the legal and ethical obligations of cybercrime investigators and digital forensics professionals?</p>

<p>2.What are the essential phases in the digital forensics process?</p>

<p>3. How is digital evidence identified?</p>

<p>4. How should digital evidence be collected?</p>

<p>5. How should digital evidence be acquired?</p>

<p>6. How should digital evidence be preserved?</p>

<p>7. How is digital evidence analysed?</p>

<p>8. How should the findings of the analysis of digital evidence be reported?</p>

<p>9. What needs to be substantiated before evidence is admissible in courts?</p>

<p>Homework</p>

<p>Students can be assigned one or more of the following assignments to be completed before class as either a written homework assignment (one to three pages long) and/or be part of the class discussion:</p>

<p>Homework # 1: Analysis</p>

<p>The working hypothesis of a criminal case is that the suspect possesses child sexual abuse material. What type of analysis (or analyses) would you perform to provide sufficient evidence of criminal intent to possess child sexual abuse material?</p>

<p>Homework # 2: Group Assignment ~ Accreditation of Digital Forensics Laboratories</p>

<p>Randomly assign students to a group. Randomly assign each group a country. Instruct the students to conduct research on digital forensics laboratories in their country. Students should come prepared to discuss the answers to the below questions in class.</p>

<p>Discussions Questions</p>

<p>● Do the digital forensics laboratories need to be accredited in your assigned country? If so, which organization or organizations are responsible for accreditation? What are the requirements that a digital forensics laboratory should meet to be accredited?</p>

<p>● If no accreditation exists or is required in the country, how is competency of the laboratory in the handling and analysis of digital evidence and the production of reliable results assessed?</p>

<p>Homework # 3: Code of Ethics</p>

<p>Codes of ethics for digital forensics practitioners can be found in certain digital forensics professional associations and/or licensing/certification organizations, as well as government</p>

<p>27</p>

<p>agencies that conduct cybercrime investigations and/or digital forensics. Student should identify a professional association, licensing/certification organization, or government agency involved in cybercrime investigations and/or digital forensics and come prepared to discuss the answers to the below questions in class.</p>

<p>Discussions Questions</p>

<p>● What type of ethical conduct does the association, organization, or agency prescribe?</p>

<p>● What type of unethical behaviour does it prohibit?</p>

<p>Homework # 4: Ethical Considerations in Cybercrime Investigations</p>

<p>Write a 3 to 4-page paper on the ethical considerations in cybercrime investigations in your country. Your paper must have a minimum of 5 scholarly sources (not those assigned for core reading); for example, periodical and journal articles and scholarly books.</p>

<p>[*Note: This paper requires independent research]</p>

<p>Homework # 5 ~ Recover Deleted Entries in an SQLite Database</p>

<p>SQLite is a popular database which is easy to use. Moreover, SQLite is a default database (DB) for data in Android devices, so it is very important to know how to analyse it for mobile digital forensics.</p>

<p>Walkthrough:</p>

<p>1. Install VirtualBox https://www.virtualbox.org/ and start a Ubuntu VM https://www.osboxes.org/ubuntu/.</p>

<p>2. Install a SQLite DB, create a sample DB and table with any data (https://smallbusiness.chron.com/use-sqlite-ubuntu-46774.html).</p>

<p>3. Delete some rows in the created table (see SQL commands https://www.w3schools.com/sql/sql_delete.asp).</p>

<p>4. Run the python script to find deleted entries (https://github.com/mdegrazia/SQLite-Deleted-Records-Parser).</p>

<p>Reference: Belkasoft. (2015). Forensic Analysis of SQLite Databases: Free Lists, Write Ahead Log, Unallocated Space and Carving. Forensic Focus. https://articles.forensicfocus.com/2015/02/16/forensic-analysis-of-sqlite-databases-free-lists-write-ahead-log-unallocated-space-and-carving/.</p>

<p>Additional Teaching Tools</p>

<p>Cases in the Media</p>

<p>28</p>

<p>These cases can be used as stimulate discussion during the lecture:</p>

<p>• NPR. FBI-Apple Encryption Dispute, https://www.npr.org/series/469827708/the-apple-fbi-debate-over-encryption.</p>

<p>• Statt, Nick. (2016). Canadian police have had master key to BlackBerry's encryption since 2010. The Verge, 14 April 2016. https://www.theverge.com/2016/4/14/11434926/blackberry-encryption-master-key-broken-canada-rcmp-surveillance.</p>

<p>Mock Exercises</p>

<p>The following information can be used to create forensic data acquisition mock exercises:</p>

<p>There are several types of data imaging such as static drive based (ColdSnap), live system based (HotSnap), and network based etc. To image the drive or network, there are hardware and software write blocker solutions. A sample guide about write blockers can be found here: https://www.cru-inc.com/data-protection-topics/write-blockers/.</p>

<p>An example of a hardware-based solution is: Tableau Forensic Imager TX1:</p>

<p>Image source: https://www.forensiccomputers.com/media/catalog/product/t/x/tx1-05_1.jpg</p>

<p>Source Guide: https://www.guidancesoftware.com/document/user-guide/tx1-forensic-imager-user-guide</p>

<p>You can identify acquisition steps from the above user guide and create an exercise.</p>

<p>Software based solutions also exist. An example is FTK Imager:</p>

<p>29</p>

<p>Image source: https://eforensicsmag.com/wp-content/uploads/2014/04/m1.png</p>

<p>A sample guide from which a mock exercise can be created using this tool can be found here: https://eforensicsmag.com/how-to-investigate-files-with-ftk-imager/.</p>

<p>An example of a digital forensics tool is EnCase.</p>

<p>Image source: https://5wbts45dnuj11q6172p5dkzf-wpengine.netdna-ssl.com/wp-content/uploads/Figure-2.png</p>

<p>A sample guide from which a mock exercise can be created using this tool can be found here: https://www.digitalforensics.com/blog/how-to-use-the-encase-processor/</p>

<p>30</p>

<p>An example of a network-based tool is Wireshark:</p>

<p>Image source:</p>

<p>https://www.wireshark.org/docs/wsug_html_chunked/ChapterIntroduction.html.</p>

<p>A sample guide from which a mock exercise can be created using this tool can be found here:: https://www.howtogeek.com/104278/how-to-use-wireshark-to-capture-filter-and-inspect-packets/.</p>

<p>Websites</p>

<p>● DFIR Science, Digital Forensic Science, https://dfir.science/.</p>

<p>● European Cybercrime Training and Education Group (ECTEG), https://www.ecteg.eu/.</p>

<p>● European Union Agency for Law Enforcement Training (CEPOL), https://www.cepol.europa.eu/.</p>

<p>● SWGDE. (n.d.). SWDGE Drafts For Public Comment. https://www.swgde.org/documents/draftsForPublicComment.</p>

<p>Videos</p>

<p>● American Bar Association (ABA) Criminal Justice Section, Forensics 2016: Issues in Accreditation (Part 1), https://www.youtube.com/watch?v=d5IU55OJfTg. The video includes the first part of a panel discussion by the American Bar Association, which covers digital forensics accreditation practices in the United States.</p>

<p>● American Bar Association (ABA) Criminal Justice Section, Forensics 2016: Issues in Accreditation (Part 2), https://www.youtube.com/watch?v=Dz79m-J3K78. The video includes the second part of a panel discussion by the American Bar Association, which covers digital forensics accreditation practices in the United States.</p>

<p>● DFIR Science, Beginner Introduction to The Sleuth Kit (command line), https://www.youtube.com/watch?v=R-IE2j04Chc. A video tutorial covering forensic disk imaging and file system examination using SleuthKit on a Linux operating system.</p>

<p>31</p>

<p>● DFIR Science, Forensic Data Acquisition - Hardware Write Blockers,</p>

<p>https://www.youtube.com/watch?v=7eT8KSHMGFw&amp;t=112s. This video discusses write blockers, what they do, and provides a step-by-step process on how to use them.</p>

<p>● DFIR Science, Forensic Acquisition in Windows - FTK Imager, https://www.youtube.com/watch?v=TkG4JqUcx_U. This video includes a step by step process on forensic acquisition in a Windows operating system.</p>

<p>● DFIR Science, [How to] Identify File Types in Windows. https://www.youtube.com/watch?v=-vsfm1IqmWA. The video provides a step by step tutorial on how to identify types of files in a Windows operating system.</p>