[viewBag]
title = "International Cooperation Against Cybercrime"
url = "/bibliotheque/international-cooperation-against-cybercrime"
layout = "content"
is_hidden = 0
navigation_hidden = 0
localeUrl[en] = "/bibliotheque"
localeUrl[ar] = "/bibliotheque"
==
<p>Module 7: International Cooperation Against Cybercrime</p>

<p>Developed under UNODC’s Education for Justice (E4J) initiative, a component of the Global Programme for the Implementation of the Doha Declaration, this Module forms part of the E4J University Module Series on Cybercrime and is accompanied by a Teaching Guide. The full range of E4J materials includes university modules on Anti-Corruption, Counter-Terrorism, Crime Prevention and Criminal Justice, Cybercrime, Firearms, Trafficking in Persons/Smuggling of Migrants, and Integrity and Ethics, as well as Organized Crime.</p>

<p>All E4J university modules provide suggestions for in-class exercises, student assessments, slides, and other teaching tools that lecturers can adapt to their contexts, and integrate into existing university courses and programmes. The Module provides an outline for a three-hour class, but can be used for shorter or longer sessions.</p>

<p>All E4J university modules engage with existing academic research and debates, and may contain information, opinions and statements from a variety of sources, including press reports and independent experts. Terms of Use and Disclaimers</p>

<p>Introduction</p>

<p>Cybercrime can be perpetrated by offenders anywhere in the world with an Internet connection. The adverse impacts of cybercrime can be experienced outside of the country in which the perpetrator resides. The transnational nature of this crime challenges traditional notions of jurisdiction and requires cooperation of criminal justice agents across the globe. This cooperation has been observed, for example, in international investigations of online illicit markets (or dark markets), such as Darkode (i.e., a dark market known for selling illicit goods and services including access to stolen data and malware). Coordinated efforts between law enforcement authorities from 20 countries led to the identification, arrest, and search of members and associates of this site (U.S. Department of Justice, 2015). Despite this and other successful cooperative efforts between countries, barriers to international cooperation against cybercrime still exist today. This Module explores notions of sovereignty and jurisdiction relating to cybercrime, international cooperation mechanisms, and the challenges to international cooperation.</p>

<p>Learning Outcomes</p>

<p>• Describe and differentiate between sovereignty and jurisdiction, and apply them to cybercrime</p>

<p>• Compare, contrast, and appraise various formal international cooperation mechanisms</p>

<p>• Evaluate informal international cooperation mechanisms</p>

<p>• Discuss and compare data retention, preservation, and access practices between countries</p>

<p>• Identify and assess challenges relating to extraterritorial evidence</p>

<p>• Discuss the deficit in national capacity to conduct cybercrime investigations and its impact on international cooperation</p>

<p>2</p>

<p>Key Issues</p>

<p>Evidence of cybercrime can be located in fragments in various digital devices (see Cybercrime Module 4 on Introduction to Digital Forensics), systems, and servers around the globe. The transnational nature and scope of cybercrime and existence of extraterritorial digital evidence mandates national, regional, and international cooperation in cybercrime investigations. This Module provides an in-depth exploration of international cooperation as it relates to cybercrime, particularly issues of sovereignty and jurisdiction, factors influencing international cooperation, formal and informal international cooperation mechanisms, extraterritorial evidence collection, and the national deficits in capacity to conduct cybercrime investigations.</p>

<p>Sovereignty and Jurisdiction</p>

<p>Territorial sovereignty refers to the state’s complete and exclusive exercise of authority and power over its geographic territory. The safeguarding of sovereignty factors prominently in international and regional cybercrime instruments (discussed in Cybercrime Module 3 on Legal Frameworks and Human Rights). A case in point is the League of Arab States’ Arab Convention on Combating Information Technology Offences of 2010. Specifically, Article 4 of this Convention holds that: “Every State Party shall commit itself, subject to its own statutes or constitutional principles, to the discharge of its obligations stemming from the application of this convention in a manner consistent with the two principles of equality of the regional sovereignty of States and the non interference in the internal affairs of other States.”</p>

<p>Territorial sovereignty can be applied to cyberspace, particularly to states’ information and communications technology (ICT) infrastructure. State sovereignty can be violated when third parties gain unauthorized access to ICT in foreign countries without the knowledge and permission of the host country and/or its law enforcement agents. This violation happens even if this unauthorized access occurs pursuant to an investigation of a cybercrime committed in a different country in an effort by that country to locate the source of the cyberattack and/or stop the cyberattack from occurring (a tactic known as hackback or hacking back) (Wrange, 2014).</p>

<p>Jurisdiction, which is linked to sovereignty (UNODC, 2013, note 9, p. 184), provides states with the power and authority to define and preserve the duties and rights of people within its territory, enforce laws, and punish violations of laws (see Cybercrime Module 3 on Legal Frameworks and Human Rights). States primarily claim jurisdiction over crimes committed within their territory (principle of territoriality). Article 22(1) of the Council of Europe’s Convention on Cybercrime of 2001, states that “[e]ach Party shall adopt such legislative and other measures as may be necessary to establish jurisdiction over any offence…[included in] this Convention, when the offence is committed…in its territory.” Nonetheless, as Brenner and Koops (2004) rightly point out, determining “whether or not an offence has been ‘committed . . . in’ a nation’s territory is not, however, a simple undertaking when the commission of the offence involved the use of cyberspace” (p. 10).</p>

<p>Cybercrime jurisdiction is established by other factors, such as the nationality of the offender (principle of nationality; active personality principle), the nationality of the victim (principle of</p>

<p>3</p>

<p>nationality; passive personality principle), and the impacts of the cybercrime on the interests and security of the state (protective principle) (see Cybercrime Module 3 on Legal Frameworks and Human Rights), as long as “a ‘sufficient connection’ or ‘genuine link’ [can be shown] between the …[cybercrime] and the state exercising jurisdiction” (Epping and Gloria, 2004, cited in UNODC, 2013, 184-185). In the United Kingdom, for example, the Court of Appeals in R v. Sheppard and Anor (2010) upheld the application of the UK Public Order Act of 1986 to racially inflammatory material posted on a website hosted by a U.S. server, and the conviction of two UK residents for posting this material.</p>

<p>National cybercrime laws establish cybercrime jurisdiction. For instance, in Malaysia, the Computer Crimes Act of 1997 established the state’s jurisdiction over cybercrime. In particular, Article 9 of this Act holds that the “provisions of this Act shall, in relation to any person, whatever his nationality or citizenship, have effect outside as well as within Malaysia, and where an offence under this Act is committed by any person in any place outside Malaysia, he may be dealt with in respect of such offence as if it was committed at any place within Malaysia.” By way of comparison, Tanzania claims jurisdiction over a cybercrime when</p>

<p>an act or omission constituting an offence is committed wholly or in part - …within the United Republic of Tanzania; …on a ship or aircraft registered in the United Republic of Tanzania; …by a national of the United Republic of Tanzania; …by a national of the United Republic of Tanzania who resides outside the United Republic of Tanzania, if the act or omission would equally constitute an offence under a law of that country; or …by any person, irrespective of his nationality or citizenship, or location, when the offence is…committed using a computer system, device or data located within United Republic of Tanzania; or…directed against computer system, device or data or person located in United Republic of Tanzania (Article 30, Cybercrimes Act of 2015).</p>

<p>Whereas Kenya establishes its jurisdiction over cybercrime as follows:</p>

<p>an act or omission committed outside Kenya which would if committed in Kenya constitute an offence under this Act is deemed to have been committed in Kenya if —…the person committing the act or omission is …a citizen of Kenya; or…ordinarily resident in Kenya; and…the act or omission is committed…against a citizen of Kenya; …against property belonging to the Government of Kenya outside Kenya; or…to compel the Government of Kenya to do or refrain from doing any act; or…the person who commits the act or omission is, after its commission or omission, present in Kenya (Section 66 of the Computer Misuse and Cybercrimes Act of 2018).</p>

<p>Within these and other national cybercrime laws, jurisdiction is primarily determined by the location of the offenders, victims, and impacts of cybercrime.</p>

<p>Formal International Cooperation Mechanisms</p>

<p>International cooperation depends on harmonized national substantive cybercrime laws, which criminalize cybercrime, and national procedural cybercrime laws that set the rules of evidence and criminal procedure (discussed in Cybercrime Module 3 on Legal Frameworks and Human Rights).</p>

<p>4</p>

<p>International cooperation can also be facilitated by harmonizing, wherever needed, bilateral, regional, and multilateral instruments on cybercrime. Accession to or ratification of regional and multilateral cybercrime instruments is also needed to make these instruments legally binding.</p>

<p>International cooperation is facilitated by bilateral, regional, and multilateral cybercrime treaties (discussed in Cybercrime Module 3 on Legal Frameworks and Human Rights) as long as dual criminality exists (i.e., a clause in treaties requiring the alleged conduct to be considered illegal in cooperating countries). Without dual criminality and harmonised laws, cybercrime safe havens are created whereby perpetrators of cybercrime cannot be prosecuted. This was observed in the now infamous 2000 Love Bug virus case, whose creator and distributor, Onel de Guzman, could not be prosecuted because his acts were not considered a crime in his country (the Philippines) at the time of the incident.</p>

<p>Nonetheless, international cooperation may still be possible even without a strict interpretation of the dual criminality requirement. What is more, “whenever dual criminality is considered a requirement, it shall be deemed fulfilled irrespective of whether the laws of the requested State Party place the offence within the same category of offence or denominate the offence by the same terminology as the requesting State Party, if the conduct underlying the offence for which assistance is sought is a criminal offence under the laws of both States Parties” (Article 43(2), UN Convention Against Corruption of 2003).</p>

<p>There are, however, exceptions to the dual criminality requirement. For instance, Article 29 (3) of the Council of Europe’s Convention on Cybercrime of 2001 does not require dual criminality for the “expedited preservation of stored computer data” “by means of a computer system, located within the territory of that other Party and in respect of which the requesting Party intends to submit a request for mutual assistance for the search or similar access, seizure or similar securing, or disclosure of the data” for the substantive offences included in this Convention (Articles 2 through 11). Article 29(4) provides a right of states to refuse preservation requests if they require dual criminality for mutual assistance for offences other than those included in the Convention.</p>

<p>In addition to dual criminality, another substantive requirement for international cooperation is respect for international human rights obligations (UNODC, 2013, p. 205). Requests for international cooperation can be denied if the request will result in the responding state violating its international human rights obligations by responding to the request.</p>

<p>Did You Know?</p>

<p>The UNODC Cybercrime Repository has a “Lessons Learned” feature covering topics relating to prevention; investigation (investigative powers, obtaining data from service providers, and other investigative measures); evidence and procedure (court practice, digital evidence, jurisdiction, and other procedural practice); international cooperation (expedited cooperation, extradition, international cooperation, and mutual legal assistance); technical assistance; and prosecution. The repository can be searched by topic or country.</p>

<p>5</p>

<p>Formal mechanisms for international cooperation include bilateral, regional, and multilateral cybercrime treaties. Indeed, cooperation factors prominently in these treaties. For instance, the Commonwealth of Independent States’ Agreement on Cooperation in Combating Offences related to Computer Information of 2001, includes several articles dedicated to international cooperation (Articles 5-7), covering the types of cooperation covered in this Agreement (i.e., information exchange; provision of legal assistance pursuant to international instruments; and cybercrime prevention, detection, suppression and investigation of cybercrime; to name a few), as well as the manner in which Member States can request assistance, and the guidelines for Member States on how to execute these requests. Article 8 of this Agreement includes the circumstances under which a request for assistance can be refused (i.e., when this request violates a state’s national law) and the requirement of the refusing state to notify the requesting state in writing that the request was refused and the reason(s) for refusal.</p>

<p>Did You Know?</p>

<p>The Ibero-American Cooperation Agreement on Research, Assurance and Evidence on Cybercrime Issues (Convenio Iberoamericano de Cooperación sobre Investigación, Aseguramiento y Obtención de Prueba en materia de Ciberdelincuencia) also seeks to promote cooperation between signatories with regards to evidence collection and preservation in cybercrime cases.</p>

<p>Furthermore, Articles 32 and 34 of League of Arab States’ Arab Convention on Combating Information Technology Offences of 2010 include provisions on mutual assistance, procedures for cooperation, and mutual assistance requests. What is more, in the African Union Convention on Cyber Security and Personal Data Protection of 2014, Article 28 includes provisions on harmonization, mutual legal assistance on cybercrime matters, and information exchange. The latter provision calls on states to establish institutions that can facilitate the exchange of information about cybersecurity threats and vulnerabilities, such as Computer Emergency Response Teams (CERTs) or Computer Security Incident Response Teams (CSIRTs) (discussed in Cybercrime Module 9, Cybersecurity and Cybercrime Prevention: Practical Applications and Measures). Under Article 28(4) states are instructed to “make use of existing means for international cooperation,” which can include “international, intergovernmental, regional or… public private partnerships,” to respond to cybercrime.</p>

<p>Other mechanisms that facilitate international cooperation in the investigation and prosecution of cybercriminals are mutual legal assistance and extradition treaties. Mutual legal assistance treaties (MLATs) are agreements between countries that apply to a list of crimes and delineate the type of assistance provided by each country (e.g., evidence) in investigations (Maras, 2016, p. 78). The list approach is quite outdated and does not account for the evolving nature of cybercrime. Understanding the changing nature of crime (and cybercrime), in some MLATs, instead of lists of crimes, parties agree to cooperate in investigations and prosecutions of all offences proscribed under their respective national laws (with a few exceptions) (Garcia and Doyle, 2010). Requests for mutual assistance (see Figure 1, which depicts an MLAT request between an EU country and a non-EU country) must be in writing and include information about: the requesting authority; the purpose of the request; the description of the request; the investigation or court proceedings to which the request for assistance pertains; the description of the offence or offences and laws</p>

<p>6</p>

<p>violated; any requests with regards to the procedures to be followed to obtain, preserve, and ultimately transfer physical and digital evidence (discussed in Cybercrime Module 4, Introduction to Digital Forensics) to the requesting authority; time-limits</p>

<p>for data preservation requests and for executing these requests; and any other information that would assist the state receiving the request in executing the request (see, for example, Article 5 of the Economic Community of West African States or ECOWAS Convention on Mutual Assistance in Criminal Matters of 1992).</p>

<p>Figure 1</p>

<p>Source: European Commission. (2018). Security Union: Facilitating Access to Electronic Evidence. http://europa.eu/rapid/attachment/IP-18-3343/en/Factsheet E-evidence.pdf.</p>

<p>Requests for mutual assistance may be refused in certain circumstances. For instance, if the request “would prejudice its sovereignty, security and public order” (Article 4 of ECOWAS Convention on Mutual Assistance in Criminal Matters; see also Article 2 of the European Convention on Mutual Assistance in Criminal Matters of 1959, Article 25(4) of the Council of Europe’s Convention on Cybercrime, and Article 18 of Algeria’s Law No. 09-04 of 14 Sha’ban 1430 Corresponding to 5 August 2009 Containing Specific Rules on the Prevention and Fight Against Information Technologies and Communications Crimes). Mutual legal assistance requests can be denied if, for example, requests “concern… an offence[s] which the requested Party considers …political offence[s] or …offence[s] connected with… political offence[s]” (Article 25(4) of the Convention on Cybercrime). Requests for data can also be denied if the assistance or disclosure sought would result in the responding state’s violations of international human rights obligations (UNODC, 2013, p. 204) (discussed in Cybercrime Module 3 on Legal Frameworks and Human Rights).</p>

<p>Some states (e.g., Brazil, Japan, and Ukraine) provide mutual legal assistance if reciprocity is guaranteed (i.e., if a request of the same kind by the responding state is honoured by the requesting state in the future). What is more, the Council of Europe’s Convention on Cybercrime of 2001, acts as an MLAT for countries that do not have one with the country requesting assistance. In the absence of treaties and agreements, letters rogatory (i.e., written requests from national courts that include “information about the case, description of the evidence needed and why it is needed, and a promise of reciprocity in future cases”; Maras, 2016, 78-79; Bell, 2007) can also be used to obtain assistance on cybercrime matters (see Organized Crime Module 11, International Cooperation to Combat Transnational Organized Crime for more information about letters rogatory).</p>

<p>7</p>

<p>Significant time delays (i.e., “timescale of months”) are also experienced with other formal cooperation mechanisms (i.e., mutual legal assistance and extradition) (UNODC, 2013, p. 207; Organized Crime Module 11, International Cooperation to Combat Transnational Organized Crime). These time delays are particularly problematic due to the volatility of digital evidence (see Cybercrime Module 4, Introduction to Digital Forensics).</p>

<p>Drafting Mutual Legal Assistance Requests</p>

<p>While certain countries include guidelines for mutual legal assistance requests and letters rogatory, and even provide exemplars, this practice is not universal. To assist countries in drafting requests for mutual assistance, the United Nations Office on Drugs and Crime (UNODC) created a Mutual Legal Assistance Request Writer Tool in an effort to streamline the process by harmonizing formats for requests, and in so doing, facilitating the swift submission and response to these requests for assistance.</p>

<p>Extradition treaties, such as the European Convention on Extradition of 1957 and the OAS Inter-American Convention on Extradition of 1981, are agreements to arrest and/or extradite individuals to the requesting country if punishment thresholds are met for extraditable offences (see Organized Crime Module 11, International Cooperation to Combat Transnational Organized Crime, for more information on extradition treaties). For example, Article 3 of the ECOWAS Convention on Extradition of 1994 lists the punishment threshold at a “minimum period of two years.” Regional arrest warrants, such as the European Arrest Warrant, enable the arrest of offenders for computer-related crimes “punishable in the issuing Member State by a custodial sentence or a detention order for a maximum period of at least three years…without verification of the double criminality [or dual criminality] of the act” (Article 2(2), Council Framework Decision 2002/584/JHA of 13 June 2002 on the European arrest warrant and the surrender procedures between Member States - Statements made by certain Member States on the adoption of the framework decision).</p>

<p>The existence of an extradition treaty does not guarantee that a person will be extradited to the requesting country. This was observed in the case of Lauri Love, a British hacker, whose extradition to the United States was denied (Parkin, 2017), despite the existence of the UK-US Extradition Treaty of 2003.</p>

<p>Moreover, extradition treaties include conditions under which extradition will not be granted. For example, the OAS Inter-American Convention on Extradition denies extradition requests when the punishment for the offense is life imprisonment or the death penalty (Article 9). Extradition is also denied in cases where the person to be extradited will be subjected to inhuman or degrading treatment or punishment (e.g., Article 5 ECOWAS Convention on Extradition and Article 9 OAS Inter-American Convention on Extradition). Extradition requests may be further denied for other reasons, such as a lack of sufficient evidence to justify extradition (e.g., Botswana Extradition Act of 1990), when the request involves a non-extraditable offence (e.g., a military offence, Article 7 of the ECOWAS Convention on Extradition), or when the subject of the extradition request is a national of the country receiving the request (e.g., Article 698 of the Algerian Code of Criminal Procedure and Article 5 (LI) of the Brazilian Constitution). With respect to the latter, the principle of non-extradition of nationals is enshrined in the constitution and regional and international</p>

<p>8</p>

<p>instruments. Irrespective of this principle, “</p>

<p>public international law dictates that States have the legal obligation to either extradite or prosecute (aut dedere aut judicare) persons who commit serious international crimes” (Organized Crime Module 11 on International Cooperation to Combat Transnational Organized Crime). Some arrest warrant treaties may also exclude specific offences, such as certain political offences (e.g., see Article 3 of the Caribbean Community or CARICOM Arrest Warrant Treaty of 2008).</p>

<p>Informal International Cooperation Mechanisms</p>

<p>Informal mechanisms for international cooperation, such as the sharing of information between law enforcement agencies (i.e., police-to-police cooperation), are also used in cybercrime investigations (James and Gladyshev, 2016). The type of information shared between law enforcement agencies through the use of informal channels varies by state. In Australia, “authorities may be able to provide the following types of assistance on an agency to agency basis: taking voluntary witness statements, conducting voluntary witness interviews, taking voluntary witness testimony via a video link facility, hosting foreign police who are conducting inquiries in Australia, sharing intelligence, conducting physical surveillance, obtaining criminal records, or obtaining publicly available material” (UNODC, “Informal cooperation channels: Australia”). Other countries share personal data (UNODC, 2013, p. 211).</p>

<p>Did you know?</p>

<p>There is an informal mechanism for international cooperation in matters of cybercrime prosecution: The International Association of Prosecutors’ Global Prosecutors E-Crime Network (GPEN).</p>

<p>Informal cooperation mechanisms facilitate the fast transfer of information between agencies (i.e., days instead of months) (UNODC, 2013, p. 214). Additionally, 24/7 networks (e.g., G8 24/7 High Tech Crime Network and the 24/7 network of contacts of parties to the Council of Europe’s Convention on Cybercrime established under Article 35 of the Convention) have been developed to receive urgent requests for digital evidence and facilitate international cooperation.</p>

<p>Informal cooperation channels are primarily used to obtain legal and technical advice and assistance in cybercrime cases rather than to request the collection of digital evidence (UNODC, 2013, p. 214). In Japan, for example, requests for information through informal channels is only allowed when the requesting country is not intending to use the information as evidence (UNODC, “International cooperation: Japan”). If the country is intending to use the information as evidence, a formal mutual legal assistance request is required. Digital evidence obtained from these channels may be considered inadmissible in the national courts of the requesting state if a chain of custody is not maintained (see Cybercrime Module 3 on Legal Frameworks and Human Rights, Cybercrime Module 4 on Introduction to Digital Forensics, and Cybercrime Module 6 on Practical Aspects of Cybercrime Investigations and Digital Forensics, for further information). If information is informally shared by authorities in the United States, Paraguay, and Argentina (to name a few), requesting countries are required to follow up through formal channels (UNODC, “Police to Police Cooperation: United States”; UNODC, “Informal cooperation: Paraguay”; and UNODC, “Channels for urgent requests for MLA in cybercrime cases: Argentina”).</p>

<p>9</p>

<p>International and regional organizations also facilitate informal international cooperation. For example, urgent requests for assistance can be made to the Organization of American States (UNODC, “Channels for urgent requests”). Urgent requests for assistance can also be made via INTERPOL (UNODC, “Channels for urgent requests for MLA in cybercrime cases: Liechtenstein”), the world’s largest international police organization, through its I-24/7 global police network spanning over 190 countries. National law enforcement in this network share expertise, technology and resources to fight against transnational crimes.</p>

<p>INTERPOL acts as a communication hub between countries, helping to disseminate information, such as notices, and even assisting in coordinated operations between countries. For example, in 2012, INTERPOL assisted local authorities in Spain, Argentina, Chile, and Columbia to arrest 25 members of Anonymous (Operation Unmask), an international hacker group (Whiteman, 2012; Interpol, “Operation Unmask”). In 2017, “[a]n INTERPOL-led operation… [involving] Indonesia, Malaysia, Myanmar, Philippines, Singapore, Thailand and Vietnam,” as well as China and private sector organizations, led to the “identification of nearly 9,000 Command and Control (C2) servers and hundreds of compromised websites, including government portals” (Interpol, 2017).</p>

<p>Whiteman’s (2012) article states that INTERPOL arrested the suspects. This is an error. INTERPOL does not have the authority to arrest criminals. INTERPOL can help create something similar to a Joint Investigation Team (Europol, n.d.) that can assist in criminal investigations, but only local investigators have the authority to make arrests locally. Unfortunately, the media, often incorrectly, portray INTERPOL as an international police force with local authority. Instead of INTERPOL having arrest authority in a country, each state creates its own National Central Bureau (NCB) (INTERPOL, 2018). INTERPOL headquarters can provide information and recommendations to NCBs, but they cannot compel them to action. Furthermore, members of the NCB are sometimes - but not always - locally sworn police officers or prosecutors.</p>

<p>According to the 2013 UNODC Draft Comprehensive Study on Cybercrime, countries reported that informal cooperation is still largely dependent on the existence of bilateral and regional instruments, the networks of regional and international organizations, and existing relationships and partnerships between law enforcement agencies (UNODC, 2013, p. 210). Partnerships also play a key role in cooperation between law enforcement and the private sector during cybercrime investigations (see Cybercrime Module 5 on Cybercrime Investigation for more information on public-private partnerships). The cooperation between Microsoft’s Internet Crime Investigations Team and law enforcement agencies in the United States, Morocco and Turkey led to the detection and eventual arrest of the creators and distributors of the Zotob computer worm (FBI, 2006).</p>

<p>Data Retention, Preservation, and Access</p>

<p>Requests for international cooperation can also be denied because of procedural requirements. Consider, for example, data retention, preservation and access practices. The data retained by Internet and communications service providers (discussed in Cybercrime Module 1, Introduction to Cybercrime) depends on the providers’ terms of service, privacy policies, and business practices (Westmoreland and Kent, 2015). For this reason, variation exists between providers not only concerning the type of data retained (e.g., IP logs or information about deactivated accounts), but</p>

<p>10</p>

<p>also the period of its retention (days, weeks, months or years) (see, for example, Twitter “</p>

<p>Guidelines for Law Enforcement” and Facebook “Data Policy” for more information). Data retention, as well as access, also varies according to national, regional and international data protection laws (described in detail in Cybercrime Module 10, Privacy and Data Protection).</p>

<p>Data preservation requests are made to service providers by law enforcement in an effort to retain data before it is deleted or altered in any way (Sutton, 2016). Access to preserved data is prescribed in national law. The legal orders (e.g., court order or search warrant), if any, needed to obtain various forms of data from service providers differs between countries. For example, while in the United States subpoenas and court orders are needed for non-content data (or metadata; e.g., subscriber data and IP addresses) and a search warrant for content data (e.g., text in emails or other messages) (U.S. Stored Communications Act of 1986; Title II of the Electronic Communications Privacy Act of 1986), Turkish authorities do not need legal orders to access non-content and content data (Internet Law 5651) (discussed in Cybercrime Module 3, Legal Frameworks and Human Rights).</p>

<p>What is more, the authorities that can access stored and/or preserved data also vary by country. For example, in Kenya, a law enforcement officer or other authorised person (i.e., “a cybersecurity expert designated by the Cabinet Secretary responsible for matters relating to national security”) can access preserved and retained data pursuant to Kenya’s Computer Misuse and Cybercrimes Act of 2018, whereas in Jamaica only law enforcement officers are authorised to access data (see Cybercrimes Act of 2015).</p>

<p>Furthermore, voluntary disclosure by Internet service providers is allowed without legal orders in certain situations delineated by national law (Sutter, 2016). A case in point is an emergency request for data in order to prevent serious bodily harm or death. If service providers refuse to provide the data requested voluntarily, under certain circumstances, and depending on the case, evidence sought, burden of proof, and national law, these providers can be legally compelled to provide this information (Westmoreland and Kent, 2015; Sutter, 2016).</p>

<p>Did you know?</p>

<p>Social media and other online platforms have transparency reports (see, for example, the reports of Pinterest, Tumblr, Twitter, LinkedIn, and Facebook, to name a few) that include information about the number of requests made to access data about users of their site, the national or international parties requesting this information, what legal mechanisms were used to request and/or access the data, and whether the platform complied with the request.</p>

<p>Challenges Relating to Extraterritorial Evidence</p>

<p>Even with formal and informal international cooperation mechanisms in place, challenges arise in the identification and collection of digital evidence from cloud storage and other service providers. The problem with cloud computing is that it is difficult to know where data is stored. Without this</p>

<p>11</p>

<p>knowledge, “the relevant jurisdiction to which a cooperation request for the obtaining of …[digital] evidence” cannot be identified (UNODC, 2013, p. 216).</p>

<p>Cloud data can be fragmented and stored across multiple locations and multiple countries. This fragmentation is illustrated in United States v. Microsoft (2018). In this case, the U.S. government issued a search warrant pursuant to the U.S. Stored Communications Act (SCA) of 1986, to obtain evidence in a drug trafficking case. In response, Microsoft complied with this request by handing over relevant non-content data stored on U.S. servers (e.g., suspect’s address book), but did not give the U.S. government relevant content data (e.g., content of the individual’s emails) because this data was stored at Microsoft’s data centre in Dublin, Ireland.</p>

<p>The dispute at the heart of United States v. Microsoft (2018) was whether the provisions of the SCA permit access to data located in the servers of another country and whether this access constituted a legally unjustified extraterritorial reach. The matter is now moot with the passage of the U.S. Clarifying Lawful Overseas Use of Data Act (Cloud Act) of 2018. The Cloud Act amended 18 U.S.C. § 2713 of the SCA as follows: “A provider of electronic communication service or remote computing service shall comply with the obligations of this chapter to preserve, backup, or disclose the contents of a wire or electronic communication and any record or other information pertaining to a customer or subscriber within such provider’s possession, custody, or control, regardless of whether such communication, record, or other information is located within or outside of the United States” (emphasis added). The Cloud Act provides direct access to extraterritorial data. However, “common standards and safeguards concerning the circumstances, if any, under which direct access to extraterritorial data may be conducted by law enforcement” (UNODC, 2013, p. 216) have, as of 2018, yet to be established.</p>

<p>The Cloud Act and the EU General Data Protection Regulation</p>

<p>Concerns have been raised that the Cloud Act will undermine the EU General Data Protection Regulation (GDPR) (Vogel, 2018), a comprehensive data protection regulation that went into effect on 25 May 2018 (the GDPR is explored in detail in Cybercrime Module 10, Privacy and Data Protection). Companies face steep fines and penalties if they do not comply with the GDPR. Companies that need to comply with both the Cloud Act and the GDPR, need to balance the requirement of the Cloud Act to provide access to data, with the requirement of the GDPR to protect the rights of data subjects (discussed in Cybercrime Module 10, Privacy and Data Protection), and ensure that the necessary safeguards are in place and requirements of Article 44-49 of the GDPR are met when transferring data to third parties or international organizations.</p>

<p>National Capacity and International Cooperation</p>

<p>International cooperation depends on states’ abilities to process requests for evidence in a manner that ensures the admissibility of the evidence in court. To achieve this, qualified cybercrime professionals are needed to ensure that evidence is obtained according to national rules of evidence and criminal procedure (see Cybercrime Module 4 on Introduction to Digital Forensics, and</p>

<p>12</p>

<p>Cybercrime Module 6 on</p>

<p>Practical Aspects of Cybercrime Investigations and Digital Forensics, for further information). These professionals, however, are short in supply. In fact, countries all over the world suffer from a deficit in national capacity to deal with cybercrime (UNODC, 2013).</p>

<p>This deficit in national capacity is the result of a lack of human, financial, and technical resources (UNODC, 2013). First, many countries do not have the quantity and quality of personnel needed to conduct cybercrime investigations as well as prosecute cybercriminals and handle international cooperation requests on cybercrime matters. Second, countries may lack the financial resources needed to recruit, hire, and keep qualified personnel, and provide frequent and up-to-date training for cybercrime investigators and other related professionals. Third, countries lack the necessary facilities to analyse digital evidence and lack the funds needed to purchase the necessary equipment and digital forensics tools to adequately conduct cybercrime investigations.</p>

<p>To deal with the deficit in national capacity, partnerships have and continued to be developed with national, regional, and international organizations (e.g., the U.S. Department of Justice, Organization of American States and the International Telecommunications Union) as well as private companies, to provide countries in need with financial, human, and technical cybercrime assistance, and support countries’ efforts to develop their national capacity to deal with cybercrime.</p>

<p>Pursuant to the UN General Assembly Resolution 65/230 (A/RES/65/230), UN Commission on Cyber Prevention and Criminal Justice Resolution 22/7 Strengthening international cooperation to combat cybercrime and the UN Commission on Cyber Prevention and Criminal Justice Resolution 22/8 Promoting technical assistance and capacity-building to strengthen national measures and international cooperation against cybercrime, UNODC has a mandate to assist states in dealing with cybercrime by facilitating technical training in capacity-building, and implementing cybercrime prevention and education programs, and awareness campaigns. These trainings, programs and campaigns are particularly important as they provide long-term solutions to the current deficit in national capacity, by providing the knowledge, skills, and abilities needed to conduct cybercrime investigations.</p>

<p>Conclusion</p>

<p>Dual criminality and the harmonization of national, bilateral, regional, and multilateral cybercrime laws are essential to international cooperation. Even with dual criminality and harmonized laws, international cooperation in cybercrime investigations can be challenging. What complicates matters is the lack of timely collection, preservation, and sharing of digital evidence between countries through formal cooperative mechanisms (e.g., MLATs). Countries around the world also suffer from a deficit in national capacity to investigate cybercrime in terms of human, financial, and technical resources (UNODC, 2013). In addition to the absence or inadequacy of necessary funds, qualified personnel, and technical equipment and tools to conduct cybercrime investigations, universal digital forensics and evidence standards and protocols, which ensure the admissibility of digital evidence in the national courts of cooperating countries, are also lacking. Only a multifaceted approach targeting the above-mentioned areas could improve international cooperation on cybercrime matters.</p>

<p>13</p>

<p>References</p>

<p>• Bell, Arnold. E. (2007). Investigating International Cybercrimes. Police Chief Magazine, Vol. 74(3). http://www.policechiefmagazine.org/investigating-international-cybercrimes/.</p>

<p>• Brenner, Susan W. and Bert-Jaap Koops. (2004). Approaches to cybercrime jurisdiction. Journal of High Technology Law, Vol. 4(1), 1-46.</p>

<p>• Epping, Volker and C. Gloria. (2004). Der Staat im Völkerrecht. In: Knut Ipsen (ed.). Völkerrecht. 5th ed. Munich: C.H. Beck.</p>

<p>• Europol. (n.d.) Joint Investigation Teams - JITS. https://www.europol.europa.eu/activities-services/joint-investigation-teams.</p>

<p>• FBI. (2006). Moroccan Authorities Sentence Two in Zotob Computer Worm Attack. https://archives.fbi.gov/archives/news/pressrel/press-releases/moroccan-authorities-sentence-two-in-zotob-computer-worm-attack.</p>

<p>• Interpol. (2017). INTERPOL-led cybercrime operation across ASEAN unites public and private sectors. https://www.interpol.int/News-and-media/News/2017/N2017-051.</p>

<p>• Interpol. (n.d.). Operation Unmask. https://www.interpol.int/en/Crime-areas/Cybercrime/Operations/Operation-Unmask.</p>

<p>• Interpol. (n.d.). Red Notices. https://www.interpol.int/INTERPOL-expertise/Notices/Red-Notices.</p>

<p>• James, Joshua and Pavel Gladyshev. (2016). A survey of mutual legal assistance involving digital evidence. Digital Investigation, Vol. 18, 23-32.</p>

<p>• Maras, Marie-Helen. (2016). Cybercriminology. Oxford University Press.</p>

<p>• Parkin, Simon. (2017). Keyboard warrior: the British hacker fighting for his life. The Guardian, 8 September 2017. https://www.theguardian.com/news/2017/sep/08/lauri-love-british-hacker-anonymous-extradition-us.</p>

<p>• Sutter, Dan. (2016). Guide to Obtaining Communication Service Provider Evidence from the United States. http://www.irisinvestigations.com/wordpress/wp-content/uploads/2016/12/Toolbox/12-SUBPOENA%20GUIDE-SAMPLES/Communication%20Service%20Providers%20Guidance%202015.pdf.</p>

<p>• UNODC. (n.d.). Channels for urgent requests for MLA in cybercrime cases: Argentina. https://www.unodc.org/cld/lessons-learned/arg/channels_for_urgent_requests_for_mla_in_cybercrime_cases.html?&amp;tmpl=cyb.</p>

<p>• UNODC. (n.d.). Channels for urgent requests for MLA in cybercrime cases: Liechtenstein. https://www.unodc.org/cld/lessons-learned/lie/specific_channels_for_urgent_requests_for_mla_in_cybercrime_cases.html?&amp;tmpl=cyb.</p>

<p>• UNODC. (2013). Draft Comprehensive Study on Cybercrime.</p>

<p>https://www.unodc.org/documents/organized-crime/UNODC_CCPCJ_EG.4_2013/CYBERCRIME_STUDY_210213.pdf.</p>

<p>• UNODC. (2017). Global Programme on Cybercrime. https://www.unodc.org/unodc/en/cybercrime/global-programme-cybercrime.html.</p>

<p>• UNODC. (n.d.). Informal cooperation: Paraguay. https://www.unodc.org/cld/lessons-learned/pry/informal_cooperation.html?&amp;tmpl=cyb.</p>

<p>14</p>

<p>• UNODC. (n.d.). Informal cooperation channels: Australia. https://www.unodc.org/cld/lessons-learned/aus/informal_cooperation_channels.html?&amp;tmpl=cyb.</p>

<p>• UNODC. (n.d.). International cooperation: Japan. https://www.unodc.org/cld/lessons-learned/jpn/informal_cooperation.html?&amp;tmpl=cyb.</p>

<p>• UNODC. (n.d.). Mutual Legal Assistance Request Writer Tool. https://www.unodc.org/mla/.</p>

<p>• UNODC. (n.d.). Police to Police Cooperation: United States of America. https://www.unodc.org/cld/lessons-learned/usa/police-to-police_cooperation.html?&amp;tmpl=cyb.</p>

<p>• U.S. Department of Justice. (2017). Russian Cyber-Criminal Sentenced to 14 Years in Prison for Role in Organized Cybercrime Ring Responsible for $50 Million in Online Identity Theft and $9 Million Bank Fraud Conspiracy. https://www.justice.gov/opa/pr/russian-cyber-criminal-sentenced-14-years-prison-role-organized-cybercrime-ring-responsible.</p>

<p>• Vogel, Peter. (2018). The Cloud Act’s Dramatic Impact on International Privacy Law. National Law Review, June 7, 2018. https://www.natlawreview.com/article/cloud-act-s-dramatic-impact-international-privacy-laws.</p>

<p>• Westmoreland, Kate and Kent, Gail. (2015). International Law Enforcement Access to User Data: A Survival Guide and Call for Action. Canadian Journal of Law and Technology, Vol.13(2), 225-254.</p>

<p>• Whiteman, Hilary. (2012) Interpol arrests suspected ’Anonymous’ hackers. CNN, 29 February 2012. https://edition.cnn.com/2012/02/29/world/europe/anonymous-arrests-hacking/index.html</p>

<p>• Wrange, Pål. (2017). Intervention in national and private cyberspace and international law. In Ebbesson, Jonas, Marie Jacobsson, Mark Klamberg, David Langlet and Pål Wrange (eds), International Law and Changing Perceptions of Security (pp. 307-326). Brill/Nijhoff.</p>

<p>Cases</p>

<p>• R v. Sheppard and Anor [2010] EWCA Crim 65.</p>

<p>• United States v. Microsoft, 584 U.S. ___ (2018).</p>

<p>Laws</p>

<p>• Agreement on Cooperation in Combating Offences related to Computer Information of 2001 (Commonwealth of Independent States’) (https://dig.watch/instruments/agreement-cooperation-combating-offences-related-computer-information-commonwealth).</p>

<p>• Arab Convention on Combating Information Technology Offences of 2010 (League of Arab States) (http://itlaw.wikia.com/wiki/Arab_Convention_on_Combating_Information_Technology_Offences).</p>

<p>• CARICOM Arrest Warrant Treaty of 2008 (http://www.oas.org/juridico/mla/en/treaties/en_caricom_arrest_warrant_treaty_2008.pdf).</p>

<p>15</p>

<p>• Clarifying Lawful Overseas Use of Data Act of 2018 (United States) (</p>

<p>https://www.congress.gov/115/bills/s2383/BILLS-115s2383is.pdf).</p>

<p>• Code of Criminal Procedure (Algeria)</p>

<p>(http://www.wipo.int/wipolex/en/details.jsp?id=14775).</p>

<p>• Computer Crimes Act of 1997 (Malaysia) (https://www.sbs.ox.ac.uk/cybersecurity-capacity/system/files/2014_Act_563_-_Computer_Crimes_Act_1997.pdf).</p>

<p>• Computer Misuse and Cybercrimes Act of 2018 (Kenya) (http://kenyalaw.org/kl/fileadmin/pdfdownloads/Acts/ComputerMisuseandCybercrimesActNo5of2018.pdf).</p>

<p>• Convention Against Corruption of 2003 (United Nations) (https://www.mec.gub.uy/innovaportal/file/52706/1/ciber_convenio.pdf).</p>

<p>• Convention on Cyber Security and Personal Data Protection of 2014 (African Union) (https://au.int/en/treaties/african-union-convention-cyber-security-and-personal-data-protection).</p>

<p>• Convention on Cybercrime of 2001 (Council of Europe) (https://rm.coe.int/CoERMPublicCommonSearchServices/DisplayDCTMContent?documentId=0900001680081561).</p>

<p>• Convention on Extradition of 1994 (ECOWAS).</p>

<p>(http://documentation.ecowas.int/download/en/legal_documents/protocols/Convention%20on%20Extradition.pdf).</p>

<p>• Convention on Mutual Assistance in Criminal Matters of 1992 (ECOWAS) (http://documentation.ecowas.int/download/en/legal_documents/protocols/Convention%20on%20Mutual%20Assistance%20in%20Criminal%20Matters.pdf).</p>

<p>• Council Framework Decision 2002/584/JHA of 13 June 2002 on the European arrest warrant and the surrender procedures between Member States - Statements made by certain Member States on the adoption of the framework decision</p>

<p>(https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex:32002F0584).</p>

<p>• Cybercrimes Act of 2015 (Jamaica) (http://www.japarliament.gov.jm/attachments/339_The%20Cybercrimes%20Acts,%202015.pdf).</p>

<p>• Cybercrimes Act of 2015 (Tanzania)</p>

<p>(https://rsf.org/sites/default/files/the_cyber_crime_act_2015.pdf)</p>

<p>• European Convention on Extradition of 1957 (https://rm.coe.int/1680064587).</p>

<p>• European Convention on Mutual Assistance in Criminal Matters of 1959</p>

<p>(https://www.coe.int/en/web/conventions/full-list/-/conventions/rms/09000016800656ce).</p>

<p>• Extradition Act of 1990 (Botswana)</p>

<p>(https://www.imolin.org/doc/amlid/Botswana_Extradition_Act18of1990.pdf).</p>

<p>• Internet Law 5651 (Turkey) (http://www.wipo.int/wipolex/en/details.jsp?id=11035).</p>

<p>• Inter-American Convention on Extradition of 1981 (OAS)</p>

<p>(http://www.oas.org/juridico/english/treaties/b-47.html).</p>

<p>• Law No. 09-04 of 14 Sha’ban 1430 Corresponding to 5 August 2009 Containing Specific Rules on the Prevention and Fight Against Information Technologies and Communications Crimes (Algeria) (http://www.wipo.int/wipolex/en/details.jsp?id=14778).</p>

<p>• Public Order Act of 1986 (United Kingdom)</p>

<p>16</p>

<p>(https://www.legislation.gov.uk/ukpga/1986/64/contents).</p>

<p>• Resolution 22/7 Strengthening international cooperation to combat cybercrime</p>

<p>(https://www.unodc.org/documents/commissions/CCPCJ/Crime_Resolutions/2010-2019/2013/CCPCJ/Resolution_22-7.pdf).</p>

<p>• Resolution 22/8 Promoting technical assistance and capacity-building to strengthen national measures and international cooperation against cybercrime (https://www.unodc.org/documents/commissions/CCPCJ/Crime_Resolutions/2010-2019/2013/CCPCJ/Resolution_22-8.pdf).</p>

<p>• Stored Communications Act of 1986 (United States) (https://www.law.cornell.edu/uscode/text/18/part-I/chapter-121).</p>

<p>• UN General Assembly Resolution 65/230 of 21 December 2010 (http://www.un.org/ga/search/view_doc.asp?symbol=A/RES/65/230).</p>

<p>Exercises</p>

<p>Exercise # 1 – Territorial Sovereignty and Cybercrime</p>

<p>In what ways can cybercrime interfere with territorial sovereignty?</p>

<p>Search for a cybercrime case that adversely impacted a state’s territorial sovereignty. Please describe what happened in the case and why you believe that the state’s territorial sovereignty was violated using evidence-based arguments (i.e., arguments supported by literature and research) to support your points.</p>

<p>Exercise # 2 – International Organisations and International Cooperation</p>

<p>INTERPOL and UNODC are just two organizations that support international cooperation in criminal investigations of cybercrime. However, there are many more.</p>

<p>Conduct online research and identify a national, regional, or international organization (not mentioned in the Module) that provide some form of cybercrime assistance to countries.</p>

<p>Discussion Questions</p>

<p>• What services does the organization offer? (e.g., training, investigation, communication)</p>

<p>• What countries does the organization work with?</p>

<p>Possible Class Structure</p>

<p>The following is a recommended structure for the class. Students should complete the required readings before coming to class. The lecture is meant to reinforce what they learned in the readings and the exercises are designed to apply what they learned in the readings and the lecture. The following breakdown is designed based on a three-hour class. You can adapt the structure based on your needs and class times.</p>

<p>17</p>

<p>Cybercrime Module 7 Class Breakdown (three-hour class)</p>

<p>Introduction to the class and learning outcomes</p>

<p>Lecture (10 minutes):</p>

<p>● Provide a brief introduction to the course and its contents</p>

<p>● Identify and discuss the learning outcomes of the course</p>

<p>Sovereignty and Jurisdiction</p>

<p>Lecture (20 minutes):</p>

<p>● Describe and differentiate between sovereignty and jurisdiction, and apply them to cybercrime</p>

<p>Exercise Discussion (20 minutes):</p>

<p>Under the “Exercises” section of this Module there is an individual exercise listed titled “Exercise # 1 – Territorial Sovereignty and Cybercrime.” Use the questions in the exercise to facilitate discussion on the topic.</p>

<p>[Note: Students should complete this exercise before class and be prepared to discuss their findings in class].</p>

<p>Formal Mechanisms of International Cooperation</p>

<p>Lecture (20 minutes):</p>

<p>● Compare, contrast, and appraise various formal international cooperation mechanisms</p>

<p>Class Exercise (20 minutes):</p>

<p>Have students complete “Homework # 1 ~ Group Exercise: Factors Facilitating International Cooperation and Formal International Cooperation Mechanisms” under “Student Assessment” before class and have them discuss their findings during the lecture.</p>

<p>Break</p>

<p>Time: 10 minutes</p>

<p>Informal Mechanisms of International Cooperation</p>

<p>Lecture (15 minutes):</p>

<p>● Evaluate informal international cooperation mechanisms</p>

<p>18</p>

<p>● Discuss and compare data retention, preservation, and access practices between countries</p>

<p>Data Retention, Preservation, and Access</p>

<p>Lecture (15 minutes):</p>

<p>• Discuss data retention, preservation, and access practices between countries</p>

<p>Challenges Relating to Extraterritorial Evidence</p>

<p>Lecture (15 minutes):</p>

<p>● Identify and assess challenges relating to extraterritorial evidence</p>

<p>National Capacity and International Cooperation</p>

<p>Lecture (15 minutes):</p>

<p>● Discuss the deficit in national capacity to conduct cybercrime investigations and its impact on international cooperation</p>

<p>Exercise Discussion (20 minutes):</p>

<p>Under the “Exercises” section of this Module there is an individual exercise listed titled “Exercise # 2 – International Organisations and International Cooperation.” Use the questions in the exercise to facilitate discussion on the topic.</p>

<p>[Note: Students should complete this exercise before class and be prepared to discuss their findings in class].</p>

<p>Core Reading</p>

<p>The following readings are (mostly open source) required readings that should be completed before taking a class based on this Module:</p>

<p>• Brenner, Susan W. (2007). Private-Public Sector Cooperation in Combating Cybercrime: In Search of a Model. Journal of International Commercial Law and Technology. Vol 2(2), 58-67.</p>

<p>• Brenner, Susan W. and Bert-Jaap Koops. (2004). Approaches to cybercrime jurisdiction. Journal of High Technology Law, Vol. 4(1), 1-46.</p>

<p>• International Telecommunication Union (ITU). (2012). Understanding cybercrime: Phenomena, challenges and legal response (pp. 266-280). http://www.itu.int/ITU-D/cyb/cybersecurity/docs/Cybercrime%20legislation%20EV6.pdf.</p>

<p>• Maras, Marie-Helen. (2016). International Cybercrime Investigations and Prosecutions: Cutting the Gordian Knot. Pandora’s Box 2016: Law and</p>

<p>19</p>

<p>Technology, 107-112. • Mulligan, Stephen P. (2018, April 23). Cross-Border Data Sharing Under the CLOUD Act. Congressional Research Service.</p>

<p>https://fas.org/sgp/crs/misc/R45173.pdf.</p>

<p>• Svantesson, Dan and Felicity Gerry. (2015). Access to extraterritorial evidence: The Microsoft cloud case and beyond. Computer Law &amp; Security Review, Vol. 31(4), 478-489.</p>

<p>• UNODC. (2013). Draft Comprehensive Study on Cybercrime (Chapter 7, pp. 183-223). https://www.unodc.org/documents/organized-crime/UNODC_CCPCJ_EG.4_2013/CYBERCRIME_STUDY_210213.pdf.</p>

<p>Advanced Reading</p>

<p>The following readings are recommended for those interested in exploring the topics covered in this Module in more detail:</p>

<p>• Economic Crime Division. (2009). The functioning of 24/7 points of contact for cybercrime. Council of Europe Project on Cybercrime.</p>

<p>• ENISA. (2013). Cooperation in the Area of Cybercrime: Toolset, Documents for students. https://www.enisa.europa.eu/topics/trainings-for-cybersecurity-specialists/online-training-material/documents/cooperation-in-the-area-of-cybercrime-toolset.pdf/view.</p>

<p>• Finklea, Kristin M. (2013). The Interplay of Borders, Turf, Cyberspace, and Jurisdiction: Issues Confronting U.S. Law Enforcement. CRS Report for Congress, https://fas.org/sgp/crs/misc/R41927.pdf.</p>

<p>• Kleijssen, Jan and Pierluigi Perri. (2016). Cybercrime, Evidence and Territoriality: Issues and Options. In martin and Wouter Werner. Netherlands Yearbook of International Law 2016. Springer.</p>

<p>• Maillart, Jean-Baptiste. (2018). The limits of subjective territorial jurisdiction in the context of cybercrime. ERA Forum, 1-16, published online 3 September 2018.</p>

<p>• Spoenle, Jan. (2010). Cloud Computing and cybercrime investigations: Territoriality vs. the power of disposal? Council of Europe Project on Cybercrime. https://rm.coe.int/CoERMPublicCommonSearchServices/DisplayDCTMContent?documentId=09000016802fa3df.</p>

<p>• von Heintschel, Wolff. (2013). Territorial Sovereignty and Neutrality in Cyberspace. International Law Studies, Vol. 89, 123- 156.</p>

<p>Student Assessment</p>

<p>In addition to the exercises, other assessment tools used in this course are review questions and homework assignments.</p>

<p>Review Questions</p>

<p>20</p>

<p>The questions can also be used to promote class discussions during the lecture.</p>

<p>1. What are the differences between sovereignty and jurisdiction? Can these concepts be applied to cybercrime? Please explain your response</p>

<p>2. What are the strengths and limitations of formal international cooperation mechanisms?</p>

<p>3. What are the strengths and limitations of informal international cooperation mechanisms?</p>

<p>4. Are data retention, preservation and/or access requirements harmonised across countries? How does this influence informal and formal cooperation in cybercrime investigations? Please explain your response.</p>

<p>5. What are the challenges to extraterritorial evidence collection?</p>

<p>6. In what ways does a deficit in national capacity impact the investigation of cybercrime?</p>

<p>Homework Assignments</p>

<p>Homework # 1 ~ Group Exercise: Factors Facilitating International Cooperation and Formal International Cooperation Mechanisms</p>

<p>Students should be randomly assigned to a group before the class to enable them to complete the assignment before the class meets. Each group should be randomly assigned a country.</p>

<p>Instruct the students to identify and review the cybercrime laws in their assigned countries. After reviewing the cybercrime laws, student should identify the provisions in the laws that address the following:</p>

<p>● dual criminality</p>

<p>● mutual legal assistance</p>

<p>● extradition</p>

<p>The students can consult the UNODC Cybercrime Repository for assistance: https://www.unodc.org/cld/v3/cybrepo/.</p>

<p>Homework #2 ~ Obstacles to International Cooperation</p>

<p>Write a 4 to 5-page paper (12 font, double-spaced) on the greatest obstacles to cooperation between criminal justice practitioners in international cybercrime investigations. Your paper must have a minimum of 5 scholarly sources (not those assigned for core readings); for example, periodical and journal articles; government reports and studies; and scholarly books.</p>

<p>Additional Teaching Tools</p>

<p>Documents</p>

<p>• UNODC. Basic Tips for Investigators and Prosecutors for Requesting Electronic/Digital Data/Evidence from Foreign Jurisdictions. Global Programme for Strengthening the Capacities of Member States to Prevent and Combat Serious and Organized Crime</p>

<p>21</p>

<p>(GPTOC – GLOT32).</p>

<p>http://www.unodc.org/documents/legal-tools/Tip_electronic_evidence_final_Eng_logo.pdf. • UNODC</p>

<p>. Практические советы/рекомендации для следователей и прокуроров о подготовке и направлении запросов (поручений) о взаимной правовой помощи (ВПП), касающихся предоставления информации/доказательств, расположенных на электронных носителях в иностранных государства. Глобальная программа «Укрепление потенциала государств в целях предупреждения и борьбы с тяжкими преступлениями и преступлениями транснационального характера» (GLOT32). http://www.unodc.org/documents/legal-tools/Tip_electronic_evidence_final_Rus_logo.pdf.</p>

<p>• INCLUDE UNODC/UNSC CTED/IAP PRACTICAL GUIDE FOR REQUESTING ELECTRONIC EVIDENCE ACROSS BORDERS (WHEN THE PASSWORD-PROTECTED LINK IS AVAILABLE)</p>

<p>• U.S. Department of Justice, Office Of International Affairs Criminal Division. (2016). Obtaining Electronic Evidence from the United States. https://www.iap-association.org/getattachment/Conferences/Regional-Conferences/North-America-and-Caribbean/4th-North-American-and-Caribbean-Conference/Conference-Documentation/4NACC_Jamaica_P6_ppt_Magdalene_Boynton-(1).pdf.aspx.</p>

<p>Websites</p>

<p>• Council of Europe. International Cooperation against Cybercrime. https://www.coe.int/en/web/cybercrime/international-cooperation.</p>

<p>• Interpol. International Cooperation Agreements. https://www.interpol.int/About-INTERPOL/Legal-materials/International-Cooperation-Agreements.</p>