[viewBag]
title = "Privacy and Data Protection"
url = "/bibliotheque/privacy-and-data-protection"
layout = "content"
is_hidden = 0
navigation_hidden = 0
localeUrl[en] = "/bibliotheque"
localeUrl[ar] = "/bibliotheque"
==
<p>Module 10: Privacy and Data Protection</p>

<p>Developed under UNODC’s Education for Justice (E4J) initiative, a component of the Global Programme for the Implementation of the Doha Declaration, this Module forms part of the E4J University Module Series on Cybercrime and is accompanied by a Teaching Guide. The full range of E4J materials includes university modules on Anti-Corruption, Counter-Terrorism, Crime Prevention and Criminal Justice, Cybercrime, Firearms, Trafficking in Persons/Smuggling of Migrants, and Integrity and Ethics, as well as Organized Crime.</p>

<p>All E4J university modules provide suggestions for in-class exercises, student assessments, slides, and other teaching tools that lecturers can adapt to their contexts, and integrate into existing university courses and programmes. The Module provides an outline for a three-hour class, but can be used for shorter or longer sessions.</p>

<p>All E4J university modules engage with existing academic research and debates, and may contain information, opinions and statements from a variety of sources, including press reports and independent experts. Terms of Use and Disclaimers</p>

<p>Introduction</p>

<p>Personal data is sought by both criminals and cybercriminals and used in the commission of crime and cybercrime. This personal data can be obtained from a variety of sources (these sources are discussed in Cybercrime Module 4, Introduction to Digital Forensics). This personal data can reveal information about individuals’ age, race, ethnicity, nationality, gender, religious and political beliefs, sexual orientation, thoughts, preferences, hobbies, medical history and concerns, psychological disorders, profession, employment status, military service, affiliations, relationships, geolocation, habits, routines, and other activities, among other information (see Cybercrime Module 4, Introduction to Digital Forensics). This personal data, when aggregated, can provide an almost complete picture of individuals’ personal and professional lives.</p>

<p>This Module critically examines the impact of data aggregation, as well as the impact of data collection, storage, analysis, use, and sharing, on privacy and security. Specifically, this Module covers privacy as a human right, the relationship between privacy and security, the ways in which cybercrime compromises privacy and data security, and data protection and breach notification laws, as well as the ways in which data is (and can be) protected to secure persons, property, and information.</p>

<p>Note:</p>

<p>The manner in which cybercrime investigations may impact privacy, especially with regards to the monitoring of suspects, covert surveillance, and data retention, preservation, and access, are discussed in different Modules; namely, Module 3 on Legal Frameworks and Human Rights;</p>

<p>2</p>

<p>Cybercrime Module 5 on Cybercrime Investigation; Module 6 Practical Aspects of Cybercrime Investigations and Digital Forensics; and Cybercrime Module 7 on International Cooperation Against Cybercrime.</p>

<p>Learning Outcomes</p>

<p>● Discuss privacy and its importance as a human right</p>

<p>● Identify and analyse the impact of cybercrime on privacy</p>

<p>● Critically evaluate the relationship between security and privacy</p>

<p>● Critique data protection and breach notification laws and practices across nations</p>

<p>● Critically assess data protection enforcement practices and recommend effective ways to protect data</p>

<p>Key Issues</p>

<p>The proliferation of Internet-connected digital technologies and their adoption worldwide have enabled the collection, storage, analysis, and sharing of vast quantities of personal data. Internet search habits, browsing history, and location data (from IP address and location-based apps and services, check-ins and location tagging on websites, social media platforms, and apps) of individuals are recorded, as well as their personal information due to the requirement to fill in online forms for various purposes (e.g., work, education, the receipt of governmental services, such as retirement benefits, etc.), or register for apps, websites and other online platforms and the availability of websites that consolidate users’ information. Individuals’ personal images, and video and audio recordings may also exist online or on apps that have been uploaded by users, friends, family members, acquaintances, classmates, colleagues, employers, organizations, government agencies, the media, and even strangers. The aggregation of this data, among other data, which creates “extremely large data sets that can be analysed to reveal patterns, trends, and associations, especially relating to human behaviour and interactions,” is known as big data (Maras and Wandt, 2018; Maras and Wandt, 2019).</p>

<p>The Internet of Things (IoT) is a term used to describe an interconnected and interoperable network of Internet-enabled devices that facilitate the monitoring of objects, people, animals, and plants, and the vast gathering, storing, examination, and dissemination of data about them (Maras, 2015). The IoT adds to the amount of data about individuals collected, stored, analysed, shared, and otherwise made available. IoT devices range from wearables (watches, clothing accessories) that collect information about physical activity, sleep and health data (e.g., heartrate), to home appliances, furniture, products, and personal objects (e.g., refrigerators, ovens, washers, dryers, TVs, vacuums, beds, weighing scales, alarm systems, security systems, lighting, etc.) that track and collect information on the use of the items in homes recording data on user’s preferences, habits, and routines, to smart cities (interconnected cities) that track the location, movement, routines, habits, and other activities of individuals within these cities (Maras and Wandt 2018; Maras and Wandt, 2019). Because this data can reveal so much about users, it needs to be protected. These protections are needed not only to protect individuals’ privacy, but also to minimize vulnerabilities to cybercrime.</p>

<p>3</p>

<p>In what follows, this Module covers privacy as a human right, the impact of cybercrime on privacy, the relationship between privacy and security, data protection legislation, data breach notification laws, and the enforcement of data privacy legislation.</p>

<p>Privacy: What it Is and Why it is Important</p>

<p>Privacy is a fundamental human right. The right to privacy “constitutes an absolute imperative for…individual[s]” (Eissen, 1967, cited in De Meyer, 1973) and is enshrined in international human rights treaties, such as Article 8 of the European Convention on Human Rights of 1950, Article 11 of the American Convention on Human Rights of 1969, Article 12 of the Universal Declaration on Human Rights of 1948, and Article 17 of the International Covenant on Civil and Political Rights of 1966. This right is also recognized in Article 16 of the Convention on the Rights of the Child of 1989, Article 14 of the International Convention on the Protection of the Rights of All Migrant Workers and Members of Their Families of 1990, Article 7 of the Charter of Fundamental Rights of the European Union of 2000, and Article 22 of the Convention on the Rights of Persons with Disabilities of 2006. Conceptions of privacy vary and include the right to be free from observation; the right to be left alone; the capacity to keep one’s thoughts, beliefs, identity, and behaviour secret; and the right to choose and control when, what, why, where, how, and to whom information about oneself is revealed and to what extent information is revealed (Cooley, 1907; Fried, 1970; Janis, Kay and Bradley, 2000; Maras, 2009; for a detailed analysis of these and other conceptions of privacy, see Koops et al., 2017). The latter understanding of privacy (i.e., the right to choose and control information about oneself) links privacy to information (or data) protection.</p>

<p>Privacy enables the fulfilment of, and is closely connected to, other human rights. Privacy is a necessary condition for freedom of expression, thought, religion, assembly, and association (see A/HRC/39/29; A/HRC/23/40 and A/HRC/29/32, para. 15; A/HRC/31/66, paras. 73–78 and A/72/135, paras. 47–50). The right to privacy is also linked to the right to self-determination. Article 20(1) of the African Charter on Human and People’s Rights of 1981 holds that “[a]ll peoples shall have the right to existence. They shall have the unquestionable and inalienable right to self-determination. They shall freely determine their political status and shall pursue their economic and social development according to the policy they have freely chosen.” An essential aspect of self-determination is the ability to make choices and act in ways of their own choosing free from coercion (personal autonomy). This choice extends beyond physical actions to include actions online. An inherent aspect of an individual’s privacy is personal autonomy and the right to self-determination. This right to self-determination enables individuals to lead an authentic life by being free to make choices and choose and control what information is accessed, disclosed, and shared about them.</p>

<p>Note:</p>

<p>According to a 2018 Report of the United Nations High Commissioner for Human Rights, “[o]verbroad privacy regulations may also amount to undue limitations of other rights, in particular freedom of expression, for example when a disproportionate regulation interferes with legitimate news reporting, artistic expression or scientific research” (A/HRC/39/29).</p>

<p>4</p>

<p>Another inherent aspect of an individual’s privacy is human dignity, a contested concept (Rodriguez, 2015), which refers to a person’s “sense of self-worth, … [that a person has] a duty to develop and respect in …[oneself] and a duty to protect in others” (Schroeder, 2017). Human dignity is considered the foundation of human rights and is included in the preambles of numerous international human rights instruments, including: the Universal Declaration of Human Rights (UDHR) of 1948, the International Covenant on Civil and Political Rights (ICCPR) of 1966, the International Covenant on Economic, Social and Cultural Rights (ICESCR) of 1966, the African Charter on Human and People’s Rights of 1981, the United Nations Convention on the Rights of the Child (UNCRC) of 1989, the United Nations Declaration on the Elimination of All Forms of Racial Discrimination of 1963, and the United Nations Convention on the Elimination of All Forms of Discrimination against Women of 1979. While not expressly included in the European Convention on Human Rights of 1950, it has been described in case law as “the essence” of the human rights instruments (Pretty v. United Kingdom, 2002). Human dignity is also considered an essential principle in many constitutions around the globe (Shultztiner and Carmi, 2014).</p>

<p>Privacy and Security</p>

<p>Control and choice over disclosure of information is linked to an individuals’ freedom to identify themselves and their actions at their own discretion and choosing and of their own volition (Maras, 2012). The right to privacy is, therefore, linked to freedom from identification. Anonymity enables users to engage in activities without revealing themselves and/or their actions to others (Maras, 2016). Online, anonymity “provide[s] individuals and groups with a zone of privacy online to hold opinions and exercise freedom of expression without arbitrary and unlawful interference or attacks” (A/HRC/29/32, para. 16). In view of that, privacy affords users of information and communication technology with a space free from intimidation, retaliation, and other forms of coercion or sanction for the expression of thoughts, opinions, views, and ideas, without being forced to identify themselves. Accordingly, “technical solutions to secure and protect the confidentiality of digital communications, including [anonymity] measures…, can be important to ensure the enjoyment of human rights, in particular the rights to privacy, to freedom of expression and to freedom of peaceful assembly and association” (A/HRC/RES/38/7). In light of this, “States [should] not to interfere with the use of such technical solutions, with any restrictions thereon complying with States’ obligations under international human rights law” (A/RES/72/175, para. 14; see also A/HRC/RES/39/6, para. 14).</p>

<p>This freedom from identification is believed to embolden some individuals to communicate cruel, discriminatory, racist, hateful, and/or other forms of harmful speech to others, which they would not otherwise have done if their identities were known (these types of behaviours are further explored in Cybercrime Module 12 on Interpersonal Cybercrime). While this is true for some individuals, there are others who are emboldened by revealing their identities when making these comments. This identification occurs in order to be recognized by like-minded individuals and mobilize supporters to act (Haines et al., 2014; Douglas and McGarty, 2001; Rost, Stahel, and Frey, 2016). Milos Yiannopoulos, a former writer for a far-right sensationalist news source (Breitbart), is known for making racist, misogynist, anti-immigrant, and anti-Muslim remarks, as well as communicating other forms of hate speech, to gain popularity among those with similar views in the alt-right and far-right movements and/or supporters of these movements, and to</p>

<p>5</p>

<p>mobilize others to engage in similar acts by targeting those who were the subject of his hate speech (Fleishman, 2018; Maras, 2016).</p>

<p>World Map of Encryption Laws and Policies</p>

<p>Global Partners Digital published an interactive map online with worldwide encryption laws and policies, which can be found here:</p>

<p>https://www.gp-digital.org/world-map-of-encryption/.</p>

<p>The identity of the individual and their location can be difficult to ascertain due to anonymity and the use of privacy-enhancing technologies, such as Tor (discussed in Cybercrime Module 5 on Cybercrime Investigation). Another example of a privacy-enhancing technology is encryption. Encryption blocks third party access to users’ information and communications. Governments around the world have argued for the need to access encrypted communications and information in order to fight serious crimes, such as terrorism, organized crime, and child sexual exploitation (Markoff, 1996; MacFarquhar, 2018; Meyer, 2018; Hawkins, 2018; for more information on terrorism, organized crime, and child sexual exploitation, see Terrorism Module Series, Organized Crime Module Series, and Cybercrime Module 12 on Interpersonal Cybercrime). For these reasons, encrypted messaging services are considered illegal in certain countries (MacFarquhar, 2018; Meyer, 2018).</p>

<p>Telegram, an encrypted messaging app that has over 200 million users, has been blocked by judicial order in certain countries because the company refused to give these Governments decryption keys to monitor users’ communications via the app (MacFarquhar, 2018; Meyer, 2018). Some countries have mandated the creation of backdoors and provision of decryption keys, while others, have requested the creation of backdoors and provision of decryption keys to fight serious crime, such as terrorism (Global Partners Digital, 2017; see for example, Apple-FBI debate over encryption). However, these backdoors and the provision of decryption keys could result in the abuse of access to data (e.g., data could be used by governments in unanticipated ways – above and beyond initial authorization in a specific case), and their use by criminals to gain access to this information for the purpose of viewing, copying, deleting, and/or altering it.</p>

<p>Did you know?</p>

<p>Encrypted information and communications can be accessed if cloud storage is enabled on digital devices. The U.S. investigation of Paul Manafort, the former campaign manager of Donald Trump, on charges of bank fraud and money-laundering, revealed that prosecutors could access his encrypted messages via Telegram and WhatsApp, which were stored on his iCloud account.</p>

<p>Want to learn more about this case?</p>

<p>6</p>

<p>https://www.washingtonpost.com/news/politics/wp/2018/06/09/dont-be-paul-manafort-how-to-protect-your-online-communications-more-securely/?noredirect=on&amp;utm_term=.e8b919ed5fc4</p>

<p>Even though encryption makes it difficult to hold cybercriminals responsible and can be leveraged by them to commit cybercrime, its banning and restriction is unwarranted and legally unjustified. An outright ban of encryption limits the privacy of an individual in an arbitrary manner and thus is contrary to international human rights law (see A/HRC/29/32). The Inter-American Court of Human Rights has described privacy as “being exempt from and immune to abusive and arbitrary invasion or attack by third parties or the public authorities” (Ituango Massacres v. Colombia, 2006, para. 192) and held that states have “an obligation to guarantee the right to privacy through positive actions, which may involve, in some cases, the adoption of measures to ensure that private life is protected against interference by public authorities as well as by individuals or private institutions, including the media” (Fontevecchia and D’Amico v. Argentina, 2011).</p>

<p>Unanticipated Security Risks</p>

<p>Strava enables users of this fitness-tracking app to share their running routes with other users of these devices (Berlinger and Vazquez, 2018). In 2018, Strava published a world heat map online with the running routes of users. Even though the information posted could not be traced back to individual users, the heat map revealed movements on and around remote U.S. military bases in foreign countries (Hern, 2018; Berlinger and Vazquez, 2018). The use of this app and similar apps on smartphones, as well as the use of IoT fitness wearable devices, can thus be particularly problematic for those who work on military bases and/or work in positions and areas where the tracking of their movements could place them, their organization, and others in danger.</p>

<p>Measures implemented in response to security threats that have significant adverse consequences for the exercise of human rights create insecurity. It is important to note that security and privacy are mutually dependent: security provides individuals with the freedom to live their lives with dignity and personal autonomy, and make life choices free from fear and coercion, and privacy enables individuals “to achieve self-determination and develop their personalit[ies] free from coercion” (Maras, 2009, p. 79). Privacy is thus a means to achieve security. In fact, protecting the privacy of individuals is integral to protecting data, and securing systems that contain this data and networks through which this data traverses. These protections and safeguards minimize vulnerabilities to security threats and mitigate the harm caused by unauthorized access, collection, deletion, modification, and disclosure of data.</p>

<p>Cybercrime that Compromises Privacy</p>

<p>Cybercrime violates individuals’ privacy and the security of their data, particularly hacking, malware, identity theft, financial fraud, medical fraud, and certain offences against persons that</p>

<p>7</p>

<p>involve the revealing of personal information, messages, images, and video and audio recordings without individuals’ consent or permission (e.g., cyberstalking, cyberharassment, and cyberbullying discussed in Cybercrime Module 12, Interpersonal Cybercrime).</p>

<p>Data is considered a commodity online and offline by both legal and illegal actors (Maras, 2016). For this reason, data is a primary target of cybercriminals. Data also plays an integral role in the commission of many cybercrimes, primarily because it is not adequately protected and can be illicitly accessed and obtained. Data breaches have resulted from lost or stolen encrypted flash drives and other storage devices (mainly laptop and smartphones), poor system and data security, unauthorized access to the database or the exceeding of authorized access to a database, and accidental disclosure, release or publication of data. Some notable examples of data breaches include:</p>

<p>● India’s national centralized government ID database (Aadhaar), which stores the biometric data (i.e., thumbprints and iris scans) and identity data of 1.2 billion Indians, and is used to verify nationals’ identities for financial, government, utilities, and others services, was subjected to a database breach in 2018, resulting in the compromise of identity data, such as access names, twelve-digit identity number, phone numbers, email addresses, and postal codes, but not the biometric data (Safi, 2018; Doshi, 2018).</p>

<p>● The information of approximately 30 million South Africans was leaked online in 2017, including their names, genders, income, employment history, identity numbers, phone numbers, and home addresses, because of a data breach suffered by one of the top real estate companies in the country, Jigsaw Holdings (Fihlani, 2017; Gous, 2017).</p>

<p>● Over three billion Yahoo users’ data were compromised in 2013, including names, email addresses, passwords (with encryption that could be easily bypassed) and birth dates (Newman, 2017).</p>

<p>● Deloitte, a global consulting firm was accessed through an unsecured account compromising the usernames, passwords, among other information, of approximately 350 clients (Hopkins, 2017).</p>

<p>● The personal data (i.e., national identifier, name, gender, parents’ names, home address, date of birth, and city of birth) of over 49 million Turkish citizens was made available in 2016, through an online searchable database (Greenberg, 2016).</p>

<p>● The personal and biometric data of over 55 million voters in the Philippines were compromised in 2016, after black hat hackers (for information on the distinction between black, white, and grey hat hackers, see Cybercrime Module 2, General Types of Cybercrime; see also Radziwill et al., 2015; Chatelain, 2018b) gained unauthorized access to the Commission of Election (COMELEC) website (Tan, 2016).</p>

<p>8</p>

<p>Did you know?</p>

<p>Stolen passwords can cause harm beyond the compromised accounts as people often recycle passwords and use them (or parts of these passwords; for example, certain numbers) on more than one website, email account, app, and/or online platform.</p>

<p>Outside of breaches, medical, financial, and other personal data could be found on dedicated online carding forums (i.e., online sites dedicated to selling debit and credit card data) and Darknet sites (located in the Deep Web) (discussed in Cybercrime Module 5, Cybercrime Investigations; see also, Maras, 2014 or Finklea, 2017, in English, and Chatelain, 2018a, in French, for more information about Darknet and the Deep Web).</p>

<p>In addition to releasing this data for financial purposes, compromised data can (and has) been released to shame people and expose their real or perceived immoral actions and behaviours. A case in point is the posting of the personal information (e.g., names and email addresses) of approximately 37 million users of Ashley Madison, a website which connected users seeking extramarital affairs, online (Zetter, 2015).</p>

<p>The burden to secure data is often placed on the individuals whose data is stolen. These individuals are informed to minimize their “digital footprint” by updating security settings on apps, websites, social media, and other online platforms, and removing and/or reducing the amount of data about themselves that they make available to others (Maras, 2016). This victim-centred approach puts the onus of protection on the victims of cybercrime, and not the offenders and the companies whose systems were breached. The reality is that victims cannot protect their personal data when it is “stored in and stolen from third party databases far removed from… [their] control” (Maras, 2016, 289). It is also increasingly difficult to minimize one’s “digital footprint” today. Fewer, if any, alternatives are available for individuals who opt out of the collection, analysis, and use of their data. For example, an individual who uses social media has one of two options: provide the minimum amount of required personal information to use the social media platform (which is essentially what the individual “pays” for using the service) or opt out of providing this information and not use the platform. There is no other alternative offered. Internet of Things (IoT) devices (discussed in the Introduction section of this Module) also require personal information in order to be used. Increasingly, new devices entering the market – even those not previously Internet-enabled, such as household appliances, jewellery, clothing, and toys – are Internet-enabled (Maras, 2015), leaving consumers with fewer options should they chose to obtain a device that does not have these capabilities.</p>

<p>Data Protection Legislation</p>

<p>Personal data is protected under the right to privacy in international human rights instruments. For example, the European Court of Human Rights has held that telephone data, emails, and Internet use (Copland v. the United Kingdom, 2007 §§ 41-42), and data stored on computer servers (Wieser and Bicos Beteiligungen GmbH v. Austria, § 45), fall within the scope of protection of Article 8(1) of the European Convention on Human Rights. The mere storage of personal data can violate a</p>

<p>9</p>

<p>user’s right to privacy. The violation depends on the context in which the data was collected, the way it was collected, processed, and used, and the outcome of this processing (S. and Marper v. the United Kingdom, 2008). Moreover, in Tristán Donoso v. Panama and Escher et al. v. Brazil (2009), the Inter-American Court of Human Rights held that data gathered and transmitted via new digital technologies and the Internet are covered under Article 11 of the American Convention on Human Rights of 1969. Furthermore, Article 8 of the</p>

<p>African Union Convention on Cyber Security and Personal Data Protection of 2014 covers the right to “respect to personal data.” What is more, Article 8(1) of the Charter of Fundamental Rights of the European Union of 2000 and Article 16(1) of the Treaty on the Functioning of the European Union of 1957 (a.k.a. Treaty of Rome) consider the protection of personal data as a fundamental human right.</p>

<p>Data protection covers the generation, collection, storage, analysis, use, and sharing of personal information. Data protection covers the generation and collection of personal data because “[t]he right to privacy is not only impacted by the examination or use of information about a person by a human or an algorithm…[(Bernal, 2016) but also]…the mere generation and collection of data relating to a person’s identity, family or life…(see A/HRC/27/37, para. 20…[; Rotaru v. Romania, 2000; Kopp v. Switzerland, 1998; and Roman Zakharov v. Russia, 2015)]” (A/HRC/39/29, para. 7).</p>

<p>Databases that contain personal data can be queried, searched, edited, updated, and accessed by public and private agencies between and across countries. The governance of private and public agencies’ collection, storage, use, and sharing of information varies by country. According to a 2018 Report of the United Nations High Commissioner for Human Rights,”[t]he increased interlinking of public and private data processing and the track record to date implying mass, recurrent misuse of personal information by some business enterprises confirm that legislative measures are necessary for achieving an adequate level of privacy protection” (citing A/HRC/RES/34/7, para. 5(f) and A/HRC/RES/38/7, para. A/HRC/39/29, para. 27). Personal data could be processed by countries with strong data protection laws, weak data protection laws, or countries with no data protection laws. For example, in Ghana, Section 60 of the Data Protection Act 2012 enables the government to access personal data without a warrant or other legal order (e.g., court order) in the interests of national security.</p>

<p>Data protection practices also vary between public and private authorities. In certain countries, public authorities are more strictly regulated than private companies; whereas in other countries, private companies are more stringently regulated than public authorities. In the United States, for example, only certain types of data collected, stored, analysed, and shared by private companies is regulated (e.g., financial, health, education, and children’s data). Furthermore, in certain countries protections vary depending on the type of data (e.g., email content is afforded greater protection than the email address of sender or recipient). Data protection laws vary according to types and sources of data (e.g., sectoral data, online data, offline data, and sensitive data) and data subjects (e.g., adults and children). Mexico has two data protection laws, one that regulates the private sector, Federal Law on Protection of Personal Data Held by Private Parties of 2010, and one that regulates the public sector, General Law for the Protection of Personal Data in Possession of Obliged Subjects of 2017. Mexico also has certain provisions in the law that regulate private data relating to cloud services, including the regulation of law enforcement access to stored data in the cloud and the handling of data after the termination of cloud services.</p>

<p>10</p>

<p>The cross-border nature of the Internet requires transnational data protection regulation that extend beyond national frameworks and law. Examples include the African Union Convention on Cyber Security and the Economic Community of West African States (ECOWAS) Supplementary Act A/SA.1/01/10 on Personal Data Protection within ECOWAS. These regional laws and frameworks were influenced by the EU Data Protection Directive (Directive 1995/46/EC) (Greenleaf, 2011; Orji, 2017; Makulilo, 2013a; Makulilo, 2013b). Directive 1995/46/EC was replaced by the EU General Data Protection Regulation (GDPR) on 25 May 2018. This single data protection law governs data processing, storage, use, and exchange of data in EU Member States and other countries, agencies, and private organizations outside of the EU that provide goods and services to the EU, and process data of EU residents. The GDPR seeks to harmonize the secure data processing, storage, use and exchange of personal information. This law minimizes the digital footprint of users and the way apps, technology, and Internet services and platforms exploit this footprint. The GDPR strengthens the privacy rights of individuals and enhances the free flow of personal data across borders by harmonizing data protection practices. The GDPR provided clarity on what constitutes personal data, set rules for the handling of data, delineated roles and responsibilities of those who control and process personal data, created greater penalties for noncompliance, and compelled notification of data breach within 72 hours of the incident.</p>

<p>This regulation mandates new obligations for data controllers (i.e. the entity that determines the reasons for data processing and the methods used to process data), and data processors (i.e., the entity that is responsible for the processing of data based on methods identified by the data controller). The GDPR regulates data access, rectification, erasure, transparency of data processors and controllers; provides a right to object to profiling practices; imposes data security obligations on companies that process data; and provides increased powers to data protection authorities and facilitates the coordination and cooperation in data processing and protection. This regulation also provides steep fines and penalties for non-compliance.</p>

<p>Did you know?</p>

<p>In Google Spain SL, Google Inc. v. Agencia Española de Protección de Datos, Mario Costeja González (2014), the European Court of Justice identified search engine operators, such as Google, as data controllers because they control personal data held by third party websites by making these websites available to others and deciding the way these websites are made available.</p>

<p>Users have the right to be informed of data processing; the right to access processed data; the right to rectify processed data; the right to erasure (“right to be forgotten”; the data subject has the right to request and have his/her data deleted from the data controller logs, and prevent the further use and transfer of the data subject’s personal data by third parties); the right to object to data processing; the right to restrict processing of data; the right to the portability of data (i.e., data subject has the right to request their personal data from the data controller and transfer that data to another data controller); and the right not to be subjected to a decision based exclusively on an automated process (e.g., profiling).</p>

<p>11</p>

<p>The Right to Be Forgotten</p>

<p>In Google Spain SL, Google Inc. v. Agencia Española de Protección de Datos, Mario Costeja González (2014), the European Court of Justice interpreted Directive 1995/46/EC as enabling users to request to have their personal data de-indexed from search engines and browsers. Specifically, the court held that individuals have the right to request that data controllers (e.g., browsers and search engine operators, such as Google) remove links to third party websites that include incorrect, incomplete, irrelevant, no longer relevant, or no longer valid information about them. Particularly, the individual can request to have the links that appear because of searches of the user’s name to this content to be deleted. This de-indexing is limited to the content that has been indexed under the user’s name. This de-indexing would not prohibit availability of this content indexed under a different search term based on content, publication or other source, or publisher or author of the content.</p>

<p>The GDPR applies to EU establishments, which has been broadly interpreted by the European Court of Justice as an organization that processes data in the context of its activities, even if these activities are minimal (Weltimmo v. NAIH, 2014). As long as they occur in the context of some arrangement that exists in the European Union, this data processing is covered by the GDPR. Organizations with EU offices and those who promote or sell marketing or advertising services that target residents of the EU are also subject to the GDPR. Even certain non-EU establishments are subject to the GDPR, if they process personal data to offer goods and services to EU residents and to monitor consumer behaviour in the EU for consumer profiling, identifying patterns, and predicting personal preferences of users.</p>

<p>The GDPR does not apply to the processing of personal data for national security reasons and pursuant to the EU’s common foreign and security policy (i.e., for defence and security matters). The GDPR also does not apply to data processed by EU institutions, which is governed by Regulation (EC) no 45/2001 of the of the European Parliament and of the Council of 18 December 2000 “on the protection of individuals with regard to the processing of personal data by the institutions and bodies of the Community and on the free movement of such data.” The GDPR also does not apply to data processed by public authorities in the course of the prevention, detection, investigation, and prosecution of crime, which is governed by Directive (EU) 2016/680 of the European Parliament and of the Council of 27 April 2016 “on the protection of natural persons with regard to the processing of personal data by competent authorities for the purposes of the prevention, investigation, detection or prosecution of criminal offences or the execution of criminal penalties, and on the free movement of such data.”</p>

<p>The Council of Europe’s Convention for the Protection of Individuals with regard to Automatic Processing of Personal Data of 1981 (ETS No. 108) is a legally binding international data protection treaty. An additional optional protocol to the Convention, the Additional Protocol to the Convention for the Protection of Individuals with regard to Automatic Processing of Personal Data, regarding supervisory authorities and transborder data flows of 2001, called for the establishment of supervisory authorities to ensure the protection of data and respect for privacy in data sharing. A further protocol (CETS No. 223) amended and updated the 1981 Convention (i.e.,</p>

<p>12</p>

<p>the</p>

<p>Protocol amending the Convention for the Protection of Individuals with regard to Automatic Processing of Personal Data of 2018). According to the Council of Europe (n.d.), the modernisation of the Convention “pursued two main objectives: to deal with challenges resulting from the use of new information and communication technologies and to strengthen the Convention’s effective implementation” (for the main novelties of the modernised Convention, see https://rm.coe.int/modernised-conv-overview-of-the-novelties/16808accf8; and for a comparative table of the 1981 Convention and the modernised Convention, see: https://rm.coe.int/cahdata-convention-108-table-e-april2018/16808ac958).</p>

<p>In addition to national, regional, and international data protection laws, there are guidelines and principles that have been created by countries and intergovernmental organizations and implemented by public and private sectors around the globe, such as the Organization for Economic Co-operation and Development (OECD) Guidelines on the Protection of Privacy and Transborder Flows of Personal Data (1980; 2013).</p>

<p>The Privacy and Data Protection Principles of the OECD Guidelines on the Protection of Privacy and Transborder Flows of Personal Data of 2013 are as follows:</p>

<p>Collection Limitation Principle</p>

<p>There should be limits to the collection of personal data and any such data should be obtained by lawful and fair means and, where appropriate, with the knowledge or consent of the data subject.</p>

<p>Data Quality Principle</p>

<p>Personal data should be relevant to the purposes for which they are to be used, and, to the extent necessary for those purposes, should be accurate, complete and kept up-to-date.</p>

<p>Purpose Specification Principle</p>

<p>The purposes for which personal data are collected should be specified not later than at the time of data collection and the subsequent use limited to the fulfilment of those purposes or such others as are not incompatible with those purposes and as are specified on each occasion of change of purpose.</p>

<p>Use Limitation Principle</p>

<p>Personal data should not be disclosed, made available or otherwise used for purposes other than those specified in accordance with Paragraph 9 except:</p>

<p>● a) with the consent of the data subject; or</p>

<p>● b) by the authority of law.</p>

<p>Security Safeguards Principle</p>

<p>Personal data should be protected by reasonable security safeguards against such risks as loss or unauthorised access, destruction, use, modification or disclosure of data.</p>

<p>13</p>

<p>Openness Principle</p>

<p>There should be a general policy of openness about developments, practices and policies with respect to personal data. Means should be readily available of establishing the existence and nature of personal data, and the main purposes of their use, as well as the identity and usual residence of the data controller.</p>

<p>Individual Participation Principle</p>

<p>An individual should have the right:</p>

<p>● a) to obtain from a data controller, or otherwise, confirmation of whether or not the data controller has data relating to him;</p>

<p>● b) to have communicated to him, data relating to him within a reasonable time; at a charge, if any, that is not excessive; in a reasonable manner; and in a form that is readily intelligible to him;</p>

<p>● c) to be given reasons if a request made under subparagraphs(a) and (b) is denied, and to be able to challenge such denial; and</p>

<p>● d) to challenge data relating to him and, if the challenge is successful to have the data erased, rectified, completed or amended.</p>

<p>Accountability Principle</p>

<p>A data controller should be accountable for complying with measures which give effect to the principles stated above.</p>

<p>Similar principles have been adopted in national law. See, for example, New Zealand’s Privacy Act of 1993, and Australia’s Privacy Act of 1988.</p>

<p>Data Breach Notification Laws</p>

<p>Even though many countries have laws that mandate data breach notification (e.g., Philippines, Data Privacy Act of 2012; Qatar, Law No. (13) of 2016 Concerning Personal Data Protection; and Indonesia, Regulation No. 82 of 2012 regarding Provisions of Electronic systems and Transactions and its implementing regulation, Regulation No. 20 of 2016 regarding the Protection of Personal Data in an Electronic System), data breach notifications are not mandatory in most countries (e.g., Argentina, Belarus, Costa Rica, Egypt, Japan, Macau, Malaysia, Madagascar, Mauritius, Panama, Russia, and Saudi Arabia) and/or are mandatory for the private sector and not the public sector in other countries, or only for certain sectors in society (e.g., Angola and Serbia). In Argentina, while data breach notification is not required, agencies are required to keep records of data breaches in the event they occur in case they are requested during an investigation or audit.</p>

<p>Did you know?</p>

<p>DLA Piper has made an interactive world map of data protection laws, as well as a searchable database of national data protection and data breach notification laws:</p>

<p>14</p>

<p>https://www.dlapiperdataprotection.com/index.html?c=IL&amp;c2=&amp;t=breach-notification</p>

<p>Data breach notification laws include provisions relating to the application of these laws, such as the people, agencies and/or authorities the laws apply to and what is considered a breach pursuant to these laws. These laws require entities that have been subjected to a breach (and are covered by the law) to contact the individuals whose data was breached and other relevant parties and inform them about the incident.</p>

<p>These laws particularly include the manner in which a notification occurs, the time limit for this notification, and the people, agencies and/or authorities that need to be contacted about the breach. The GDPR, for example, has an obligatory 72-hour data breach notice for unauthorized access to systems and data, use and distribution of data (Article 33). Data processors are required to notify data controllers within 72 hours of a breach and data controllers are required to notify the supervisory data protection authority in the EU Member State affected within the same time period.</p>

<p>Data breach notification laws also include exceptions to the notification requirement. For instance, under the GDPR, notification of the data subject depends on the severity of the data breach (Article 34). Some data breach notification laws do not require notification if it is determined that the breach will likely not harm the affected parties. In other laws, notification occurs when a breach reaches a particular threshold. In the United States, the Health Insurance Portability and Accountability Act (HIPAA) requires the notification of affected parties within 60 days of the breach. However, in cases where more than 500 individuals’ health data was accessed, the Department of Health and Human Services’ Office for Civil Rights and the media must be contacted within 60 days of the breach, whereas if the personal health information of fewer than 500 people was breached, the media does not need to be notified and the Department of Health and Human Services’ Office for Civil Rights should be contacted no later than 60 days after the start of the next calendar year (HIPPA Journal, 2015).</p>

<p>Other countries’ data breach notification laws also require entities that process data to implement security measures to protect data and/or actions on the part of the breached entity to rectify the situation and/or remediate the harm (e.g., Canada, Indonesia, and the United States).</p>

<p>Enforcement of Privacy and Data Protection Laws</p>

<p>Generally, the challenges faced by countries in adequately enforcing data protection laws, include funding issues, inability to adequately enforce these laws (e.g., human and technical resource restrictions), inadequate ICT infrastructure, and being unable or unwilling to handle cross-border requests for data (UCTAD, 2016, p. 9).</p>

<p>The enforcement of privacy and data protection principles and laws vary among public and private sectors between and within countries. The GDPR, for example, was implemented to harmonize and strengthen the powers of data protection authorities to ensure the effective enforcement of the law. In addition to data protection laws, to assist data protection efforts, international and regional</p>

<p>15</p>

<p>organizations have developed and implemented data protection regulation. For instance, the Asia-Pacific Economic Cooperation (APEC) developed the</p>

<p>Privacy Framework, which includes principles and guidelines to protect data in a manner that avoids obstacles to the flow of information between members, and the Cross-Border Privacy Rules, a voluntary self-regulatory mechanism, which prescribes data protection standards for cross-border data exchange between members. It is important to note that national data protection and privacy laws take precedence over these rules.</p>

<p>Did you know?</p>

<p>A chart highlighting the similarities and differences between the APEC Privacy Framework and the GDPR with respect to purpose, material scope, territorial scope, personal information, data controller, data processors, publicly available information, permitted member country variations (derogations), preventing harm principle, notice, collection limitation, use limitation, choice and consent, data integrity, security safeguards, access and correction, accountability, transfer of personal data to another person or country, breach definition, breach notification, and breach mitigation, was made available by the International Association of Privacy Professionals (IAPP) and can be found here:</p>

<p>https://iapp.org/news/a/gdpr-matchup-the-apec-privacy-framework-and-cross-border-privacy-rules/.</p>

<p>In addition to the enforcement of these rules by an authority, technologies can enforce data protection. A case in point is privacy enhancing technology (PET). The aim of privacy enhancing technologies is to protect and preserve the privacy of individuals. For this reason, privacy enhancing technologies can be used to implement and comply with data protection laws. These technologies are primarily used to protect the confidentiality (i.e., data is protected and only authorized users can access it), and integrity of data (i.e., the data has not been modified and is what it purports to be). One example of a privacy enhancing technology is encryption. Another example is identity management, which refers to the process of authenticating users’ identities, identifying associated privileges, and granting user access based on these privileges. Identity management supports the security and proportionality principles of data protection by restricting access and use of data.</p>

<p>Data protection laws can also be enforced through data protection by design. Article 25 of the GDPR mandates “data protection by design,” whereby data controllers and data processors embed PET and other privacy measures in the design of systems and technologies. These design features require technical and organizational controls and policies to secure personal data and the provision of security measures that are designed to ensure the confidentiality, integrity, and availability (i.e., accessible on demand) of systems, networks, services, and data (e.g., access control, encryption, firewalls, and computer-use monitoring and information security policies, discussed in Cybercrime Module 9 on Cybersecurity and Cybercrime Prevention: Practical Applications and Measures).</p>

<p>Another data protection by design (or privacy by design) measure involves hiding identifying information from plain view, through anonymization and pseudonymization. Under Article 4(5) of</p>

<p>16</p>

<p>the GDPR, “pseudonymisation” refers to “the processing of personal data in such a manner that the personal data can no longer be attributed to a specific data subject without the use of additional information, provided that such additional information is kept separately and is subject to technical and organisational measures to ensure that the personal data are not attributed to an identified or identifiable natural person.” Pseudonymization occurs when identifying data in a record is replaced by artificial identifiers. This is a form of data masking as it protects the confidentiality of the data to prevent the identification of the data subject. In addition to data protection by design measures, data protection by default measures can be implemented. An example of this measure is the practice of processing only the personal data which is necessary to achieve the stated aim of the processing activity (adhering to principles of data minimization and purpose limitation).</p>

<p>Conclusion</p>

<p>Data plays an integral role in the commission of many cybercrimes and vulnerabilities to cybercrime. Even though data provides users of it (individuals, private companies, organizations, and governments) with innumerable opportunities, these benefits can be (and have been) exploited by some for criminal purposes. Specifically, data collection, storage, analysis, and sharing both enables many cybercrimes and the vast collection, storage, use, and distribution of data without users’ informed consent and choice and necessary legal and security protections. What is more, data aggregation, analysis, and transfer occur at scales that governments and organizations are unprepared for, creating a slew of cybersecurity risks. Privacy, data protection, and security of systems, networks, and data are interdependent. In view of that, to protect against cybercrime, security measures are needed that are designed to protect data and user’s privacy.</p>

<p>References</p>

<p>• Berlinger, Joshua, and Maegan Vazquez. (2018). US military reviewing security practices after fitness app reveals sensitive info. CNN, 29 January 2018. https://edition.cnn.com/2018/01/28/politics/strava-military-bases-location/index.html.</p>

<p>• Bernal, Paul. (2016). Data gathering, surveillance and human rights: recasting the debate. Journal of Cyber Policy, Vol. 1(2), 243-264.</p>

<p>• Chatelain, Yannick. (2018a). Darknet: faut-il démanteler la revente illégale de la liberté de s’exprimer et de s’informer? The Conversation, 5 July 2018. https://theconversation.com/darknet-faut-il-demanteler-la-revente-illegale-de-la-liberte-de-sexprimer-et-de-sinformer-97993.</p>

<p>• Chatelain, Yannick. (2018b). Principles of hacktivism and hackers: ignorance and prejudices! The Conversation, 15 May 2018. https://theconversation.com/principles-of-hacktivism-and-hackers-ignorance-and-prejudices-96514.</p>

<p>• Cooley, Thomas. (1907). A Treatise on the Law of Torts. Callaghan and Company.</p>

<p>• Council of Europe. (n.d.). https://www.coe.int/en/web/data-protection/convention108/modernised.</p>

<p>• De Meyer, Jan. (1973). The Right to Respect for Private and Family Life, Home, and Communications in relations between individuals, and the Resulting Obligations for States Parties to the Convention. In A. H. Robertson, ed. Privacy and Human Rights. Manchester University Press.</p>

<p>17</p>

<p>•</p>

<p>Douglas, Karen M., and Craig McGarty. (2001). Identifiability and Self-Presentation: Computer-Mediated Communication and Intergroup Interaction. British Journal of Social Psychology, Vol. 40(3), 399–416.</p>

<p>• Eissen, Marc-Andre. (1967). La protection internationale des droits de l’homme dans le cadre Européen. Dalloz.</p>

<p>• Fihlani, Pumza, (2017). Millions caught in South Africa’s ‘worst data breach,’” BBC News, 20 October 2017. http://www.bbc.com/news/world-africa-41696703.</p>

<p>• Finklea, Kristin. (2017). Dark Web. Congressional Research Service. https://fas.org/sgp/crs/misc/R44101.pdf.</p>

<p>• Fleishman, Glenn. (2018). Milos Yiannopoulos Jokes of Death Squads Murdering Journalists. Fortune, 26 June 2018, http://fortune.com/2018/06/26/milo-yiannopoulos-jokes-of-death-squads-murdering-journalists/.</p>

<p>• Fried, Charles. (1970). An Anatomy of Values. Harvard University Press.</p>

<p>• Global Partners Digital. (2017). Travel Guide to the Digital World: Encryption Policy for Human Rights Defenders. https://www.gp-digital.org/wp-content/uploads/2017/09/TRAVELGUIDETOENCRYPTIONPOLICY.pdf.</p>

<p>• Gous, Nico. (2017). Top real estate company admits to being unwitting source of country’s largest personal data breach. Sunday Times, October 18, 2017. https://www.timeslive.co.za/news/south-africa/2017-10-18-top-real-estate-company-admits-to-being-unwitting-source-of-countrys-largest-personal-data-breach/.</p>

<p>• Greenberg, Andy. (2016). Hack brief: Turkey breach spills info on more than half its citizens. Wired, 5 April 2016, https://www.wired.com/2016/04/hack-brief-turkey-breach-spills-info-half-citizens/.</p>

<p>• Greenleaf, Graham. (2011). The Influence of European Data Privacy Standards Outside Europe: Implications for Globalisation of Convention 108. International Data Privacy Law, Vol. 2(2), 68-92.</p>

<p>• Haines, Russell, Hough, Jill, Cao, Lan, and Douglas Haines. (2014). Anonymity in computer-mediated communication: More contrarian ideas with less influence. Group Decision and Negotiation, Vol. 23(4), 765–786.</p>

<p>• Hern, Alex. (2018). Fitness tracking app Strava gives away location of secret army bases. The Guardian, 28 January 2018.</p>

<p>https://www.theguardian.com/world/2018/jan/28/fitness-tracking-app-gives-away-location-of-secret-us-army-bases</p>

<p>• HIPAA Journal. (2015). Summary of the HIPAA breach notification rule. https://www.hipaajournal.com/summary-of-the-hipaa-breach-notification-rule-101/.</p>

<p>• Hopkins, Nick. (2017). Deloitte hack hit server containing emails from across US government. The Guardian, 10 October 2017, https://www.theguardian.com/business/2017/oct/10/deloitte-hack-hit-server-containing-emails-from-across-us-government.</p>

<p>• Janis, Mark, Richard Kay, and Anthony Bradley. (2000). European Human Rights Law: Text and Materials, 2nd edition. Oxford University Press.</p>

<p>• Koops Bert-Jaap, Bryce Clayton Newell, Tjerk Timan, Ivan Škorvánek, Tomislav Chokrevski, and Maša Galič. (2017). A typology of privacy. University of Pennsylvania Journal of International Law, Vol. 38(2), 483-575.</p>

<p>18</p>

<p>• MacFarquhar, Neil. (2018). Russian court bans Telegram app after 18-minute hearing. The New York Times. 13 April 2018. https://www.nytimes.com/2018/04/13/world/europe/russia-telegram-encryption.html.</p>

<p>• Makulilo, Alex Boniface. (2013a). Data Protection Regimes in Africa: too far from the European ‘adequacy’ standard? International Data Privacy Law, Vol. 3(1), 42–50.</p>

<p>• Makulilo, Alex Boniface. (2013b). Mauritius Data Protection Commission: an analysis of its early decisions. International Data Privacy Law, Vol. 3(2), 131–139.</p>

<p>• Maras, Marie-Helen. (2016). Cybercriminology. Oxford University Press.</p>

<p>• Maras, Marie-Helen. (2009). From Targeted to Mass Surveillance: Is the EU Data Retention Directive a Necessary Measure or an Unjustified Threat to Privacy? In Ben Goold and Daniel Neyland, eds. New Directions in Surveillance and Privacy (pp. 74–103). Willan.</p>

<p>• Maras, Marie-Helen. (2014). Inside Darknet: The Takedown of Silk Road. Criminal Justice Matters, Vol. 98(1), 22-23.</p>

<p>• Maras, Marie-Helen. (2015). The Internet of Things: Security and Privacy Implications. International Data Privacy Law, Vol. 5(2), 99–104.</p>

<p>• Maras, Marie-Helen. (2012). The Social Consequences of a Mass Surveillance Measure: What Happens When We Become the “Others”? International Journal of Law, Crime and Justice, Vol. 40(2), 65–81.</p>

<p>• Maras, Marie-Helen and Wandt, Adam. (2019). Enabling Mass Surveillance: Data Aggregation in the Age of Big Data and the Internet of Things. Journal of Cyber Policy.</p>

<p>• Maras, Marie-Helen and Wandt, Adam. (2018). IoT Data Collection and Analytics. Presentation for FBI, DHS, and Secret Service agents and members of the National Cyber-Forensics &amp; Training Alliance, at John Jay College of Criminal Justice, City University of New York (May 2, 2018).</p>

<p>• Meyer, David. (2018). Iran Bans Telegram, an App Used By Half the Country. Fortune, 1 May 2018. http://fortune.com/2018/05/01/iran-bans-telegram-secure-app/.</p>

<p>• Newman, Lily Hay. (2017). Yahoo’s 2013 email hack actually compromised three billion accounts. Wired, 3 October 2017. https://www.wired.com/story/yahoo-breach-three-billion-accounts/.</p>

<p>• Orji, Uchenna Jerome. (2017). Regionalizing data protection law: a discourse on the status and implementation of the ECOWAS Data Protection Act. International Data Privacy Law, Vol. 7(3), 179–189.Radziwill, Nicole, Jessica Romano, Diane Shorter, and Morgan Benton. (2015). The Ethics of Hacking: Should It Be Taught? arXiv. https://arxiv.org/pdf/1512.02707.pdf.</p>

<p>• Radziwill, Nicole, Jessica Romano, Diane Shorter, and Morgan Benton. (2015). The Ethics of Hacking: Should It Be Taught? arXiv. https://arxiv.org/pdf/1512.02707.pdf.</p>

<p>• Rodriguez, Philippe-André. (2015). Human dignity as an essentially contested concept. Cambridge Review of International Affairs, Vol. 28(4), 743-756.</p>

<p>• Rost, Katja, Stahel, Lea and Bruno S. Frey. (2016). Digital Social Norm Enforcement: Online Firestorms in Social Media. PLOS One, Vol. 11(6), http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0155923.</p>

<p>• Safi, Michael. (2018). Personal data of a billion Indians sold online for £6, report claims. The Guardian, 4 January, 2018. https://www.theguardian.com/world/2018/jan/04/india-national-id-database-data-leak-bought-online-aadhaar.</p>

<p>19</p>

<p>• Schroeder, Doris. (2017). How to define dignity and its place in human rights – a philosopher’s view. The Conversation, 9 August 2017. https://theconversation.com/how-to-define-dignity-and-its-place-in-human-rights-a-philosophers-view-81785.</p>

<p>• Shultztiner, Doron and Guy E. Carmi. (2014). Human Dignity in National Constitutions: Functions, Promises and Dangers. The American Journal of Comparative Law, Vol. 62(2), 461-490.</p>

<p>• Tan, Lara. (2016). 55M Filipino voters open to fraud after Comelec hack – int’l tech security firm. CNN Philippines, 8 April 2016. http://cnnphilippines.com/news/2016/04/08/Comelec-hack-fraud-data-breach-security.html.</p>

<p>• United Nations Conference on Trade and Development. (2016). Data protection regulations and international data flows: Implications for trade and development. http://unctad.org/en/PublicationsLibrary/dtlstict2016d1_en.pdf.</p>

<p>• United Nations General Assembly Resolution (A/HRC/39/29) (https://undocs.org/A/HRC/39/29).</p>

<p>• United Nations General Assembly Resolution (A/RES/72/175) (https://undocs.org/A/RES/72/175).</p>

<p>• United Nations General Assembly Resolution (A/HRC/RES/34/7) (https://documents-dds-ny.un.org/doc/UNDOC/GEN/G17/086/31/PDF/G1708631.pdf?OpenElement).</p>

<p>• United Nations General Assembly Resolution (A/HRC/RES/38/7) (https://documents-dds-ny.un.org/doc/UNDOC/GEN/G18/215/67/PDF/G1821567.pdf?OpenElement).</p>

<p>• United Nations General Assembly Resolution (A/HRC/RES/39/6) (https://documents-dds-ny.un.org/doc/UNDOC/GEN/G18/296/43/PDF/G1829643.pdf?OpenElement).</p>

<p>• United Nations General Assembly Resolution (A/HRC/31/66) (https://undocs.org/A/HRC/31/66).</p>

<p>• United Nations General Assembly Resolution (A/HRC/23/40) (https://undocs.org/A/HRC/23/40).</p>

<p>• United Nations General Assembly Resolution (A/72/135) (https://undocs.org/A/72/135).</p>

<p>• Vidhi Doshi. (2018). A security breach in India has left a billion people at risk of identity theft. The Washington Post, 4 January 2018. https://www.washingtonpost.com/news/worldviews/wp/2018/01/04/a-security-breach-in-india-has-left-a-billion-people-at-risk-of-identity-theft/?noredirect=on&amp;utm_term=.770f96a565e0.</p>

<p>• Zetter, Kim. (2015). Hackers finally post stolen Ashley Madison data. Wired, 18 August 2015. https://www.wired.com/2015/08/happened-hackers-posted-stolen-ashley-madison-data/.</p>

<p>Cases</p>

<p>• Escher et al. V. Brazil. Inter-American Court of Human Rights (Preliminary Objections, Merits, Reparations, and Costs). Judgment of 6 July 2009. Series C No. 200 (2009).</p>

<p>• Fontevecchia and D’Amico v. Argentina. Inter-American Court of Human Rights (Merits, Reparations and Costs). Judgment of 29 2011, I/A Court H.R., Series C No. 238 (2011).</p>

<p>• Google Spain SL, Google Inc. V. Agencia Española de Protección de Datos, Mario Costeja</p>

<p>20</p>

<p>• González Case C-131/12 [ECR, 13 May 2014].</p>

<p>• Ituango Massacres v. Colombia. Inter-American Court of Human Rights (Preliminary Objections, Merits, Reparations and Costs). Judgment of 1 July 2006. Series C No. 148 (2006).</p>

<p>• Kopp v. Switzerland (App No. 23224/94) [1998] ECHR 18.</p>

<p>• Pretty v. United Kingdom (App 2346/02) [2002] ECHR 423.</p>

<p>• Roman Zakharov v. Russia (App No. 47143/06) [2015] ECHR 1065.</p>

<p>• Rotaru v. Romania (App No. 28341/95) [2000] ECHR 192.</p>

<p>• S and Marper v United Kingdom (App nos. 30562/04 and 30566/04) [2008] ECHR 1581.</p>

<p>• Tristán Donoso v. Panama. Inter-American Court of Human Rights (Preliminary objection, merits, reparations and costs). Judgment of 27 January 2009. Series C No. 193 (2009).</p>

<p>• Weltimmo s. r. o. v. Nemzeti Adatvédelmi és Információszabadság Hatóság (Weltimmo v. Hungarian Data Protection Authority) Case C-230/14 [ECR, 30 October 2015].</p>

<p>• Wieser and Bicos Beteiligungen GmbH v Austria (App no. 74336/01) [2007] ECHR 815.</p>

<p>Laws</p>

<p>• African Charter on Human and Peoples Rights of 1981 (http://www.achpr.org/instruments/achpr/).</p>

<p>• African Union Convention on Cyber Security and Personal Data Protection of 2014 (https://au.int/en/treaties/african-union-convention-cyber-security-and-personal-data-protection).</p>

<p>• American Convention on Human Rights of 1969</p>

<p>(https://www.cidh.oas.org/basicos/english/basic3.american%20convention.htm).</p>

<p>• Charter of Fundamental Rights of the European Union of 2000 (http://www.europarl.europa.eu/charter/pdf/text_en.pdf).</p>

<p>• Convention for the Protection of Individuals with regard to Automatic Processing of Personal Data of 1981 (Council of Europe) (https://rm.coe.int/1680078b37).</p>

<p>• Convention on the Rights of Persons with Disabilities of 2006 (United Nations) (https://www.un.org/development/desa/disabilities/convention-on-the-rights-of-persons-with-disabilities.html).</p>

<p>• Data Privacy Act of 2012 (Philippines) (https://privacy.gov.ph/data-privacy-act/).</p>

<p>• Data Protection Act 2012 (Ghana) (https://www.dataprotection.org.gh/sites/default/files/Data%20Protection%20Act%20%2C%202012%20%28Act%20843%29.pdf).</p>

<p>• Directive (EU) 2016/680 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data by competent authorities for the purposes of the prevention, investigation, detection or prosecution of criminal offences or the execution of criminal penalties, and on the free movement of such data (https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv%3AOJ.L_.2016.119.01.0089.01.ENG).</p>

<p>• Directive 95/46/EC of the European Parliament and of the Council of 24 October 1995 on the protection of individuals with regard to the processing of personal data and on the free movement of such data</p>

<p>21</p>

<p>(https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A31995L0046).</p>

<p>• European Convention on Human Rights of 1950</p>

<p>(https://www.echr.coe.int/Documents/Convention_ENG.pdf).</p>

<p>• Federal Law on Protection of Personal Data Held by Private Parties of 2010 (Mexico)</p>

<p>(https://www.duanemorris.com/site/static/Mexico_Federal_Protection_Law_Personal_Data.pdf)</p>

<p>• General Data Protection Regulation (GDPR) (European Union) (https://gdpr-info.eu/).</p>

<p>• General Law for the Protection of Personal Data in Possession of Obliged Subjects of 2017 (Mexico) (http://www.dof.gob.mx/nota_detalle.php?codigo=5469949&amp;fecha=26%2F01%2F2017).</p>

<p>• Health Insurance Portability and Accountability Act of 1996 (HIPAA) (United States) (https://www.gpo.gov/fdsys/pkg/PLAW-104publ191/pdf/PLAW-104publ191.pdf).</p>

<p>• International Covenant on Civil and Political Rights of 1966 (https://www.ohchr.org/en/professionalinterest/pages/ccpr.aspx).</p>

<p>• International Covenant on Economic, Social and Cultural Rights of 1966 (https://www.ohchr.org/EN/ProfessionalInterest/Pages/CESCR.aspx).</p>

<p>• International Convention on the Protection of the Rights of All Migrant Workers and Members of Their Families of 1990 (United Nations). (https://www.refworld.org/docid/3ae6b3980.html).</p>

<p>• Law No. (13) of 2016 Concerning Personal Data Protection (Qatar) (https://qatarlaw.com/wp-content/uploads/2017/05/Personal-Data-Privacy-Law-No.-13-of-2016.pdf).</p>

<p>• Privacy Act of 1988 (Australia) (https://www.legislation.gov.au/Series/C2004A03712).</p>

<p>• Privacy Act of 1993 (New Zealand) (http://www.legislation.govt.nz/act/public/1993/0028/232.0/DLM296639.html).</p>

<p>• Regulation No. 20 of 2016 regarding the Protection of Personal Data in an Electronic System (Indonesia).</p>

<p>• Regulation No. 82 of 2012 concerning Electronic System and Transaction Operation (Indonesia) (http://www.flevin.com/id/lgso/translations/JICA%20Mirror/english/4902_PP_82_2012_e.html)</p>

<p>• Regulation (EC) no 45/2001 of the of the European Parliament and of the Council of 18 December 2000 on the protection of individuals with regard to the processing of personal data by the institutions and bodies of the Community and on the free movement of such data (https://eur-lex.europa.eu/legal-content/en/TXT/?uri=CELEX:32001R0045).</p>

<p>• Supplementary Act A/SA.1/01/10 on Personal Data Protection within ECOWAS (ECOWAS) (http://www.statewatch.org/news/2013/mar/ecowas-dp-act.pdf).</p>

<p>• Treaty on the Functioning of the European Union of 1957 (https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex%3A12012E%2FTXT).</p>

<p>• United Nations Convention on the Rights of a Child of 1989 (https://www.ohchr.org/EN/ProfessionalInterest/Pages/CRC.aspx).</p>

<p>• United Nations Declaration on the Elimination of All Forms of Racial Discrimination of 1963 (http://www.un-documents.net/a18r1904.htm).</p>

<p>22</p>

<p>• United Nations General Assembly Convention on the Elimination of All Forms of Discrimination against Women of 1979 (http://www.un.org/womenwatch/daw/cedaw/text/econvention.htm).</p>

<p>• Universal Declaration on Human Rights of 1948 (http://www.un.org/en/universal-declaration-human-rights/).</p>

<p>Exercises</p>

<p>Exercise # 1: IoT Toys</p>

<p>The mass deployment and adoption of IoT toys raise real (and not hypothetical) security and privacy concerns. These concerns arise from the design of these devices, which often include microphones and/or cameras, and the way they operate, such as their ability to connect to Bluetooth and/or WiFi, GPS capabilities, collection of vast quantities of data about users and owners, storage of collected data in the cloud, and sharing of collected information with manufacturer and third parties.</p>

<p>Please review the following:</p>

<p>• Maras, M.-H. 4 ways “Internet of things” toys endanger children. The Conversation (10 May 2018).</p>

<p>https://theconversation.com/4-ways-internet-of-things-toys-endanger-children-94092.</p>

<p>• Connected toys pose child safety risk - Which? Investigates https://www.youtube.com/watch?time_continue=2&amp;v=Ogy7xjEWEpo.</p>

<p>• Hacked smart toy used to order item off Amazon, Which? https://www.youtube.com/watch?v=7BnMeyAibes.</p>

<p>• Hacking a Furby - Which? Investigates https://www.youtube.com/watch?v=ZXx4TvifNBI.</p>

<p>• ‘Smart’ Toys Like ‘My Friend Cayla’ Raise Questions About Child Security and Safety, Today, https://www.youtube.com/watch?v=OkYVSag-uik.</p>

<p>• Could Smart Toys Be Spying On Your Kids? | NBC Nightly News https://www.youtube.com/watch?v=mODBBmvcrTU.</p>

<p>1) What are the security risks associated with the use of IoT toys?</p>

<p>2) What are the privacy implications of using IoT Toys?</p>

<p>3) What privacy by design measures could be implemented to secure IoT toys and protect data collected, stored, analysed, and shared by them?</p>

<p>Exercise # 2: National Data Protection Laws: An Assessment</p>

<p>National data protection laws can be accessed on the following website that has a searchable database of worldwide legislation:</p>

<p>https://www.dlapiperdataprotection.com/index.html?c=IL&amp;c2=&amp;t=breach-notification</p>

<p>23</p>

<p>Students should be randomly assigned to a group before the class to enable them to complete the assignment before the class meets. Each group should be randomly assigned a country.</p>

<p>Students should conduct research on the data protection laws of their assigned country. They should identify the following:</p>

<p>● National data protection law (or laws)</p>

<p>● National data protection authority</p>

<p>● Agency and/or authority responsible for enforcing national data protection laws</p>

<p>● Principles of data collection and processing</p>

<p>● Rules governing transfer of data and data breach notification</p>

<p>● Data security requirements</p>

<p>Exercise # 3: Learning from Literature and Films: Privacy Implications of Data Aggregation</p>

<p>Privacy, data aggregation, security and surveillance are prominent themes in literature and film. In 2013, Dave Eggers, wrote The Circle, a dystopian society where people are encouraged to “go transparent” as a way to live an “authentic existence.” This full transparency involved, among other things, the 24/7 surveillance of a person broadcast to viewers in real-time. The novel was adapted into a movie in 2017.</p>

<p>Please read the book or view the movie. Answer the following questions:</p>

<p>1) How was privacy depicted in the movie?</p>

<p>2) Is this an accurate depiction?</p>

<p>3) In what ways was a person’s security impacted by “going transparent”?</p>

<p>4) What are the implications of technologies like those depicted in The Circle?</p>

<p>Exercise # 4: Privacy Enhancing Tools</p>

<p>The Electronic Privacy Information Center (EPIC) Online Guide to Practical Privacy includes a variety of anonymity-enhancing tools. Instruct students to go the following website and review these tools: https://www.epic.org/privacy/tools.html.</p>

<p>Have them access and utilize one of these tools. Students should be prepared to discuss their observations and findings concerning their chosen tool’s protection of user anonymity and privacy.</p>

<p>Possible Class Structure</p>

<p>The following is a recommended structure for the class. Students should complete the required readings before coming to class. The lecture is meant to reinforce what they learned in the readings and the exercises are designed to apply what they learned in the readings. The following breakdown is designed based on a three-hour class. The lecturers can adapt the structure based on their needs and the class times which vary by state.</p>

<p>24</p>

<p>Cybercrime Module 10 Class Breakdown (three-hour class)</p>

<p>Introduction to the class and learning outcomes</p>

<p>Lecture (10 minutes):</p>

<p>● Provide a brief introduction to the course and its contents</p>

<p>● Identify and discuss the learning outcomes of the course</p>

<p>Privacy: What it is and Why it is Important</p>

<p>Lecture (15 minutes):</p>

<p>● Discuss privacy and its importance as a human right</p>

<p>Privacy and security</p>

<p>Lecture (15 minutes):</p>

<p>● Identify and critically assess the relationship between security and privacy</p>

<p>[Optional: Have students complete “Homework # 1: Security, Privacy, or Both” under the “Student Assessment” section of this module before class and have them discuss their findings during the lecture. Students can either hand in a one- to three-page summary of their findings or merely come prepared to discuss their findings in class].</p>

<p>Class Exercise Discussion (20 minutes):</p>

<p>Under the “Exercises” section of this Module there is an individual exercise listed titled “Exercise # 3: Learning From Literature and Films: Privacy Implications of Data Aggregation.” Use the questions in the exercise to facilitate discussion on the topic.</p>

<p>[*Reminder: Students need to prepare for this exercise before coming to class].</p>

<p>[Optional: Have students complete “Exercise # 4: Privacy Enhancing Tools” under the “Exercises” section of this module before class and have them discuss their findings during the lecture. Students can either hand in a one- to three-page summary of their findings or merely come prepared to discuss their findings in class].</p>

<p>Cybercrime that compromises privacy</p>

<p>Lecture (20 minutes):</p>

<p>● Identify and analyse the impact of cybercrime on privacy</p>

<p>25</p>

<p>Class Exercise Discussion (20 minutes):</p>

<p>Under the “Exercises” section of this Module there is an individual exercise listed titled “Exercise # 1: IoT Toys.” Use the questions in the exercise to facilitate discussion on the topic.</p>

<p>[*Reminder: Students need to review the links and videos to prepare for this exercise before coming to class].</p>

<p>Break</p>

<p>Time: 10 minutes</p>

<p>Data protection legislation and data breach notification laws</p>

<p>Lecture (30 minutes):</p>

<p>● Survey and evaluate specific data protection and data breach notification laws</p>

<p>[Optional: Have students complete “Homework # 2: Regional Data Protection Laws: An Evaluation” under the “Student Assessment” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>Students can either hand in a one- to three-page summary of their findings or merely come prepared to discuss their findings in class].</p>

<p>Class Group Exercise Discussion (20 minutes):</p>

<p>Under the “Exercises” section of this Module there is a group exercise titled “Exercise # 2: National Data Protection Laws: An Assessment.” Have the students present their findings.</p>

<p>[*Reminder: Students need to prepare for this exercise before coming to class].</p>

<p>[Optional: Have students complete “Homework #3 – Terms of Service and Consent” under the “Student Assessment” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>Students can either hand in a one- to three-page summary of their findings or merely come prepared to discuss their findings in class].</p>

<p>Enforcement of privacy and data protection laws</p>

<p>Lecture (20 minutes):</p>

<p>● Critically assess data protection enforcement practices of nations and recommend effective ways to protect data</p>

<p>26</p>

<p>Core Reading</p>

<p>The following readings are (mostly open source) required readings that should be completed before taking a class based on this Module:</p>

<p>• Bambauer, Derek E. (2013). Privacy versus Security. Journal of Criminal Law and Criminology, Vol 103(3), 667-684.</p>

<p>• Maras, Marie-Helen and Wandt, Adam. (2019). Enabling Mass Surveillance: Data Aggregation in the Age of Big Data and the Internet of Things. Journal of Cyber Policy.</p>

<p>• Schartum, Dag Wiese. (2016). Making privacy by design operative. International Journal of Law and Information Technology, Vol. 24:2, 151-175.</p>

<p>• United Nations Conference on Trade and Development. (2016). Data protection regulations and international data flows: Implications for trade and development, http://unctad.org/en/PublicationsLibrary/dtlstict2016d1en.pdf.</p>

<p>Advanced Reading</p>

<p>The following readings are recommended for those interested in exploring the topics covered in this Module in more detail:</p>

<p>• Brunton, Finn and Helen Nissbaum. (2015). Obfuscation: A User’s Guide for Privacy and Protest. MIT Press.</p>

<p>• Chatelain, Yannick. (2018). Darknet: faut-il démanteler la revente illégale de la liberté de s’exprimer et de s’informer? The Conversation, 5 July 2018. https://theconversation.com/darknet-faut-il-demanteler-la-revente-illegale-de-la-liberte-de-sexprimer-et-de-sinformer-97993.</p>

<p>• Gerry, Felicity, Julia Muraszkiewicz, and Niovi Vavoula. (2016). The role of technology in the fight against human trafficking: Reflections on privacy and data protection concerns. Computer Law &amp; Security Review, Vol. 32(2), 205-217.</p>

<p>• Joyce, Daniel. (2015). Privacy in the Digital Era: Human Rights Online? Melbourne Journal of International Law, Vol. 16, 270-285.</p>

<p>• Koops Bert-Jaap, Bryce Clayton Newell, Tjerk Timan, Ivan Škorvánek, Tomislav Chokrevski, and Maša Galič. (2017). A typology of privacy. University of Pennsylvania Journal of International Law, Vol. 38(2), 483-575.</p>

<p>• McCallister, Erika, Timothy Grance, Karen A. Scarfone. (2010). Guide to Protecting the Confidentiality of Personally Identifiable Information (PII). NIST.</p>

<p>https://www.nist.gov/publications/guide-protecting-confidentiality-personally-identifiable-information-pii.</p>

<p>• NIST. (2017). Security and Privacy Controls for Information Systems and Organizations. Draft NIST Special Publication 800-53. https://csrc.nist.gov/csrc/media/publications/sp/800-53/rev-5/draft/documents/sp800-53r5-draft.pdf.</p>

<p>27</p>

<p>• Stewart, Katherine. Looking Backward, Moving Forward: What Must be Remembered When Resolving the Right to be Forgotten. Brooklyn Journal of International Law, Vol. 42(2), 843-886.</p>

<p>• Summers, Sarah J., Christian Schwarzenegger, Gian Ege, and Finlay Young. (2014). The Emergence of EU Criminal Law: Cyber Crime and the Regulation of the Information Society. Hart.</p>

<p>• Tikkinen-Piri, Christina, Anna Rohunen, and Jouni Markula. (2018). EU General Data Protection Regulation: Changes and implications for personal data collecting companies. Computer Law &amp; Security Review, Vol. 34(1), 134-153.</p>

<p>• Vaciago, Giuseppe. (2012). ISPs and Civil Liberties: The “Reasonable Expectation of Privacy” of Twitter’s User from People v. Harris. Computer Law Review International, Vol. 13(5), 137-141.</p>

<p>Student Assessment</p>

<p>In addition to the exercises, other assessment tools used in this course are review questions and homework assignments.</p>

<p>Review Questions</p>

<p>The questions can also be used to promote class discussions during the lecture.</p>

<p>1. Why is privacy important?</p>

<p>2. How would you describe the relationship between privacy and security?</p>

<p>3. In what ways does cybercrime impact privacy?</p>

<p>4. How would you describe the data protection legal landscape? Is data adequately protected within countries and/or when shared across borders? Please explain your response.</p>

<p>5. Are data breach notifications mandatory in most countries? If not, should they be? Why do you think so?</p>

<p>6. What are the ways in which data protection can be enforced? Do not forget to include both legal and technical measures in your response.</p>

<p>Homework Assignments</p>

<p>Students can be assigned one or more of the following assignments to be completed before class as either a written homework assignment (one to three pages long) and/or be part of the class discussion:</p>

<p>Homework # 1 – Security, Privacy or Both?</p>

<p>To be secure, one must sacrifice his or her privacy.</p>

<p>Please evaluate this statement. Do you agree or disagree with this statement? Please explain your response using evidence-based arguments by drawing on the core (and if desired, additional readings) to support your points.</p>

<p>28</p>

<p>Homework # 2 – Regional Data Protection Laws: An Evaluation</p>

<p>Review the African Union Convention on Cyber Security and Personal Data Protection of 2014:</p>

<p>https://au.int/sites/default/files/treaties/29560-treaty-0048_-_african_union_convention_on_cyber_security_and_personal_data_protection_e.pdf</p>

<p>1. What are its strengths and weaknesses regarding data protection and access and use of data by authorities?</p>

<p>2. How does it compare with other data protection guidelines and legislation (e.g., OECD, GDPR)?</p>

<p>Homework #3 – Terms of Service and Consent</p>

<p>Instruct students to review the Terms of Service of an app of their choice and describe their thoughts on the Terms of Service.</p>

<p>Students should be prepared to answer the following questions about the Terms of Service of their app in class:</p>

<p>• Are Terms of Service easy to understand?</p>

<p>• What type of consent is obtained for generation, collection, storage, sharing, and use of information?</p>

<p>• Does the manner in which consent is obtained align with the GDPR? [the last question requires an analysis of the consent requirements of the GDPR and a comparison of these requirements with the provisions of the Terms of Service].</p>

<p>Additional Teaching Tools</p>

<p>Case Study</p>

<p>Cambridge Analytica</p>

<p>• Hern, Alex and Dvaid Pegg. (2018). Facebook fined for data breaches in Cambridge Analytica scandal. The Guardian, 10 July 2018. https://www.theguardian.com/technology/2018/jul/11/facebook-fined-for-data-breaches-in-cambridge-analytica-scandal.</p>

<p>• Solon, Olivia. (2018). Cambridge Analytica whistleblower says Bannon wanted to suppress voters. The Guardian, 16 May 2018. https://www.theguardian.com/uk-news/2018/may/16/steve-bannon-cambridge-analytica-whistleblower-suppress-voters-testimony.</p>

<p>• Granville, Kevin. (2018). Facebook and Cambridge Analytica: What You Need to Know as Fallout Widens. New York Times, 19 March 2018.</p>

<p>29</p>

<p>https://www.nytimes.com/2018/03/19/technology/facebook-cambridge-analytica-explained.html. • NPR. Stories about Cambridge Analytica.</p>

<p>https://www.npr.org/tags/467415574/cambridge-analytica.</p>

<p>• WIRED. Cambridge Analytica. https://www.wired.com/tag/cambridge-analytica/.</p>

<p>Websites</p>

<p>• The Conversation. Articles on Privacy. https://theconversation.com/us/topics/privacy-111.</p>

<p>• The Conversation. Articles on Data Protection. https://theconversation.com/us/topics/data-protection-36720.</p>

<p>Videos</p>

<p>• Karagiannis, Konstantinos. (2014). Quantum Key Distribution and the Future of Encryption. Black Hat Europe 2014. https://www.youtube.com/watch?v=RrdTAURD1rI. This video describes quantum computing and the impact of quantum computing on data security and privacy.</p>

<p>• Lecture: How Alice and Bob meet if they don't like onions. Survey of Network Anonymisation Techniques. 34th Chaos Communication Congress. This video covers what anonymity is, analyses anonymity, examines various anonymizing communication networks, and current research in this area. https://media.ccc.de/v/34c3-9104-how_alice_and_bob_meet_if_they_don_t_like_onions#t=34.</p>

<p>• NIST. (2018). Assessing Privacy Controls Workshop. https://www.nist.gov/news-events/events/2018/05/assessing-privacy-controls-workshop. This video includes a NIST panel that covers privacy engineering and risk management issues, particularly those that relate to privacy controls.</p>

<p>• NIST. What is the Internet of Things (IoT) and How Can we Secure it? https://www.nist.gov/topics/internet-things-iot. This video covers the Internet of Things and what can be done to secure the IoT.</p>

<p>• Privacy International. (2015). Big Data. https://www.youtube.com/watch?v=HOoKhnvoYkU. This video provides an overview of big data, the manner in which it is collected and analysed, why big data is sought, the consequences of big data, and what can be done about big data.</p>

<p>• Privacy International. (2015). Data Protection Explained. https://www.youtube.com/watch?v=VUae3XgIZVU. This video covers what data is, why it is valuable, who data controllers are, how data controllers obtained data, what is data protection law and what it does, variation in data protection law, and why data protection law is important.</p>

<p>• Privacy International. (2015). What is Privacy? https://www.youtube.com/watch?v=zsboDBMq6vo. This video discusses what privacy is, why it is important, how data is collected, how it impacts privacy, and what can be done to protect privacy.</p>