[viewBag]
title = "Cybersecurity and Cybercrime: Strategies, Policies, and Programmes"
url = "/bibliotheque/cybersecurity-and-cybercrime-strategies-policies-and-programmes"
layout = "content"
is_hidden = 0
navigation_hidden = 0
localeUrl[en] = "/bibliotheque"
localeUrl[ar] = "/bibliotheque"
==
<p>Module 8: Cybersecurity and Cybercrime: Strategies, Policies, and Programmes</p>

<p>Introduction</p>

<p>Information and communication technology (ICT) is integral to national and global development because it facilitates innovation and economic growth. The dependency of governments, organizations, businesses, and individuals on ICT, as well as the ever-increasing interdependence of digital devices within countries and the growing network connections with the digital systems of other countries, has made countries vulnerable to cybercrime. In view of that, cybercrime can adversely impact national security, international security, and the global economy. Because of its impact on security and the economy, the protection of ICT is considered to be of paramount importance nationally and internationally. Accordingly, countries worldwide have published strategies delineating how ICT will be protected from cybercrime and cybercriminals. This Module critically examines these strategies, and the tools used to assess these strategies and countries’ cyber-related security and crime prevention efforts.</p>

<p>Learning Outcomes</p>

<p>● Discuss Internet governance and identify and assess Internet principles, tensions in the realization of these principles, and barriers to universal Internet governance</p>

<p>● Describe the basic features of cybersecurity strategies and differentiate between cybersecurity and cybercrime prevention strategies</p>

<p>● Explain and evaluate the objectives and lifecycle of national cybersecurity strategies</p>

<p>● Identify, examine, and evaluate frameworks for international cooperation on cybersecurity matters</p>

<p>● Assess national and international efforts to enhance countries’ cybersecurity posture</p>

<p>Key Issues</p>

<p>Cybersecurity is defined as “[t]he activity or process, ability or capability, or state whereby information and communications systems and the information contained therein are protected from and/or defended against damage, unauthorized use or modification, or exploitation” (U.S. National Initiative for Cybersecurity Career and Studies, n.d.) Cybersecurity includes a collection of strategies, frameworks, and measures that are designed to: identify threats (i.e., a circumstance that could cause harm) and vulnerabilities (i.e., exposure to harm) of systems, networks, services, and data to these threats; prevent the exploitation of vulnerabilities; mitigate the harm caused by materialized threats; and safeguard people, property, and information and communication technology (ICT) (ITU, 2008; Maras, 2014). Cybersecurity seeks to strengthen the resilience (i.e., the ability to withstand disruptions, adapt to changing conditions, and recover from incidents) of ICT and protect the confidentiality (i.e., prevent unauthorized access), integrity (i.e., preserve accuracy and trustworthiness of data) and availability (i.e., ensure accessibility) of systems, networks, services, and data (see Cybercrime Module 2 on General Types of Cybercrime for</p>

<p>2</p>

<p>information about confidentiality, integrity and availability as they relate to cybercrime). This Module critically explores the cybersecurity strategies countries use to protect ICT, the features and life cycles of these strategies, the frameworks used to assess these strategies and the nature and extent of countries’ abilities to protect ICT (practical cybersecurity measures are explored in Cybercrime Module 9 on Cybersecurity and Cybercrime Prevention: Practical Applications and Measures).</p>

<p>Internet Governance</p>

<p>According to Kerr (2003), there are “two dominant perspectives of the Internet” (cited in Frischmann, 2003, p. 205): on the one hand, the Internet is viewed as “a global meta-network that serves as an open platform for the transmission of information among end users that connect computers to the network;” on the other hand, the Internet is viewed “in terms of the applications it enables and the ways in which those applications affect end users” (Frischmann, 2003; pp. 205-206; see also Kerr, 2003, p. 359-360). It is the latter conception of the Internet “that leads to the conception of cyberspace as a sort of virtual reality” (or environment) whereby online activities take place (Frischmann, 2003, p. 206).</p>

<p>Literature on regulation theories pertaining to the Internet and cyberspace governance focus on which individuals, groups, businesses, organizations, and government agencies, regulate the Internet and cyberspace, and the manner in which cyberspace and the Internet are regulated (Chang and Grabosky, 2017, p. 535; for more information on regulations theories, see Drahos, 2017). This view is supported in the literature, which holds that cyberspace and the Internet is regulated by, for example, laws, computer programming code, system architecture, and Internet architecture (Lessig, 2006); individuals, businesses, and organisations with or without some form of government involvement (i.e., a type of self-regulation, see Braithwaite, 1982); and individuals, businesses, and organisations sharing responsibility for governance (i.e., distributed security, see Brenner, 2005) (for more information, see Chang and Grabosky, 2017, pp. 535-542).</p>

<p>According to the World Summit on the Information Society (WGIG), a global forum organized by the United Nations, Internet governance refers to “the development and application by governments, the private sector and civil society, in their respective roles, of shared principles, norms, rules, decision-making procedures, and programmes that shape the evolution and use of the Internet” (WGIG, 2005, p. 4; see also Kurbalija, 2014, p. 5). Mueller (2010) stated that Internet governance does not primarily lie with “formal policy-making institutions;” instead, “most of the real-world governance of the Internet is decentralized and emergent…[,] it comes from the interactions of tens of thousands of network operators and service providers – and sometimes users themselves – who are connected through the Internet” (p. 9). The Internet impacts global interests and its governance “includes more than Internet names and addresses, issues dealt with by the Internet Corporation for Assigned Names and Numbers (ICANN); it also includes other significant public policy issues, such as critical Internet resources, the security and safety of the Internet, and developmental aspects and issues pertaining to the use of the Internet” (WGIG, 2005, p. 4). For these reasons, a single entity cannot and has not been designated as an international governance body (Reich et al., 2014). Instead, the Internet is primarily governed internationally by multiple stakeholders – government, the private sector, academia, and civil society – covering a range of technical and non-technical issues. Nevertheless, countries vary in terms of their views on which</p>

<p>3</p>

<p>stakeholders should play a primary role in Internet governance. While some countries believe that multiple stakeholders should be responsible for Internet governance, other countries believe that Internet governance should be the exclusive domain of the state (Masters, 2014; Chang and Grabosky, 2017).</p>

<p>Did you know?</p>

<p>The Internet Governance Forum (IGF) includes resources for issues relating to Internet governance.</p>

<p>What to learn more?</p>

<p>Internet Governace Forum. (n.d.). Publications &amp; Reports. https://www.intgovforum.org/multilingual/content/publications-reports.</p>

<p>Even if countries agree on the stakeholders responsible for Internet governance, other barriers exist to universal Internet governance due to differences in countries’ criminal justice systems and laws (see Cybercrime Module 3) and positions on cultural, religious, social, and political issues (see Cybercrime Modules 2, 3 and 10) (Chang, 2012; Chang, 2011; Whitmore, Choi, and Arzrumtsyan, 2009). While the overarching aim of Internet governance is countries’ shaping of the Internet together, the reality is that countries diverge on how this shaping should occur. This is observed in countries’ variation in their respect of some underlying principles of the Internet, such as freedom (i.e., information can be accessed and shared “without reasonable restriction”), openness (i.e., unobstructed flow of information online), interoperability (i.e., capability of different digital devices and computer systems to connect, communicate, and exchange data), security (i.e., protecting the confidentiality, integrity, and availability of systems, networks, services, and data), and resiliency (i.e., maintenance of operations during disruptions and changing conditions) (Negroponte, Palmisano, and Segal, 2013; OECD Principles of Internet Policy Making of 2014; African Declaration on Internet Rights and Freedoms of 2014; UNESCO, 2015; Morgus and Sherman, 2018, pp. 10-13). The Internet has evolved from a platform for information exchange and sharing – consistent with the principle of openness – to a platform for social interactions, trade and commerce, and delivery of government services (Lessig, 1999; Chang and Grabosky, 2017). At the same time, Internet and ICT have been, and continue to be, misused and abused by threat agents and malevolent actors enabling the growth of cybercrimes, thus, the need for security.</p>

<p>Certain countries neither adhere to nor promote some of these principles (Morgus and Sherman, 2018). For example, some countries emphasize and prioritize security at the expense of the principles of freedom and openness (Morgus and Sherman, 2018, p. 14). Other countries do not subscribe to openness, depriving citizens’ access to information from outside of their countries. In addition, countries, who otherwise support Internet principles, have engaged in actions that conflict with one or more of these principles. For instance, net neutrality, which promotes openness by requiring all data, irrespective of source, to be treated equally (see also definitions in legal frameworks; for example, Article 3 of Brazil Federal Law 12,965 of 2014), may not be enforced, enabling Internet service providers to block or throttle data, as well as offer fast lanes for data (i.e., paid prioritization) (Shepardson, 2018). What is more, tensions exist in the implementation of or adherence to these principles. Cases in point are openness and security; a firewall, a security</p>

<p>4</p>

<p>measure, restricts the free flow of information – that is, openness – by blocking unauthorized traffic data. Here, the blocking of unauthorized network traffic (incoming information flow) by the firewall occurs to ensure the security of the system and network.</p>

<p>Did you know?</p>

<p>Freedom House has an interactive map online (Freedom on the Net 2018 Map) that shows which countries have “free,” partially free or restricted access to the Internet.</p>

<p>Cybersecurity Strategies: Basic Features</p>

<p>Cybersecurity strategies and cybercrime (or cybercrime prevention) strategies are terms that have been used interchangeably. While cybersecurity and cybercrime strategies complement each other and include some areas of overlap, they are not identical (Seger, 2012) (see Image 1 below). Cybercrime prevention strategies set out the efforts to directly and indirectly deal with cybercrime, such as law enforcement responses and the promotion of national and international cooperation between governments, businesses, academic institutions, organizations, and the public, in order to control and/or reduce cybercrime (Seger, 2012). Put simply, cybercrime strategies focus exclusively on crime prevention and criminal justice policies, programmes, and practices (Seger, 2012). By contrast, cybersecurity strategies provide guidance on cybersecurity matters (which can include cybercrime prevention), and map out objectives, action plans, measures, and the responsibilities of institutions in meeting these objectives. These strategies include legal, procedural, technical, and institutional measures designed to safeguard systems, networks, services, and data.</p>

<p>5</p>

<p>Image 1</p>

<p>Source: UNODC. (2013). Draft Comprehensive Study on Cybercrime, p. 228.</p>

<p>https://www.unodc.org/documents/organized-crime/UNODC_CCPCJ_EG.4_2013/CYBERCRIME_STUDY_210213.pdf</p>

<p>National cybersecurity strategies elucidate countries’ cybersecurity and cybercrime prevention aspirations at the national and international level. These strategies outline the principles on which the strategy is based, prescribe the interests that this strategy seeks to protect, identify the tools used to promote and protect these interests, identify cyberthreats and the challenges these threats pose to national and economic security, delineate cybersecurity policy priorities, and allocate resources to these priorities (Lindstrom and Luiijf, 2012, p. 44). These strategies “encourage … policy-makers to identify strategic objectives (‘ends’), to pinpoint the resources available to reach those objectives (‘means’), and to provide a guide on how such resources are to be applied to reach stated objectives (‘ways’)” (Lindstrom and Luiijf, 2012, p. 46).</p>

<p>Cybersecurity strategies detail why the strategy is important and why it is needed (context), what it does (objectives), what it covers, and what and whom it impacts (scope) (ITU, 2018, p. 30). Key components of these strategies are objectives, priority actions, expected outcomes, and evaluation mechanisms.</p>

<p>The objectives of cybersecurity strategies include national security-related objectives and information and communication technology-related objectives. For instance, Sweden’s cybersecurity “strategy is based on the objectives for Sweden’s security: protecting the lives and health of the population, the functioning of society, and …[its] capacity to uphold fundamental values such as democracy, the rule of law and human rights and freedoms. … The strategy is also based on the overall [information technology (IT)] … policy objective – for Sweden to become</p>

<p>6</p>

<p>the world leader in harnessing the opportunities of digital transformation” (Swedish Ministry of Justice, 2017, p. 1; see also Swedish Ministry of Justice, “</p>

<p>A National Cyber Security Strategy”). In Nigeria, the objectives of their Cybersecurity Strategy (2014) are as follows (Section 3.3.2):</p>

<p>i. A comprehensive cybercrime legislation and cyber-threat countermeasures that are nationally adoptable, regionally and globally relevant in the context of securing the nation’s cyberspace.</p>

<p>ii. Provision of measures that protect critical information infrastructure, as well as reducing our national vulnerabilities through cybersecurity assurance framework.</p>

<p>iii. To articulate an effective computer emergency response capability.</p>

<p>iv. National mechanisms on capacity building, public awareness, skills empowerment is necessary to help strengthen our capability so as to respond promptly and effectively to cyber-attacks.</p>

<p>v. A trusted mechanism for engaging national multi-stakeholder and international partners towards collectively addressing cyber threats.</p>

<p>vi. To deter and protect government from all forms of cyber-attacks.</p>

<p>vii. To coordinate cybersecurity initiatives at all levels of government in the country.</p>

<p>viii. To build national capabilities against cyber threats with coherent cooperation through public- private sector partnership and multi-stakeholder engagement.</p>

<p>ix. To promote national vision on cybersecurity through awareness, partnership through shared responsibilities and a trusted community of stakeholders.</p>

<p>x. To promote coordination, cooperation and collaboration of regional and global stakeholders on cybersecurity.</p>

<p>The priority actions are designed to achieve these objectives. In the European Union, for example, the majority of national cybersecurity strategies identify the creation of cybersecurity standards, norms, and laws (wherever needed), the fostering of a cybersecurity culture not only among relevant stakeholders (i.e., government agencies, academic institutions, businesses, and organizations) but also the general public, and the cultivation of national and international cooperation and collaboration between relevant stakeholders, as priority actions (ENISA, 2014). Some priority actions listed in the U.S. National Cyber Strategy of 2018 are to “prioritize innovation;” “encourage universal adherence to cyber norms;” “lead with objective, collaborative intelligence;” and “improve apprehension of criminals located abroad” (to name a few).</p>

<p>The expected outcomes of these priority actions include what should be achieved as a result of these actions (e.g., the development of cybersecurity standards). For example, the U.S. National Cyber Strategy of 2018 lists expected outcomes as the effective management of cybersecurity vulnerabilities; the reduction or prevention of “destructive, disruptive, or otherwise destabilizing malicious cyber activities directed against United States interests,” and the deterrence of “activity that is contrary to responsible behaviour in cyberspace … through the imposition of costs through cyber and non-cyber means;” and the ability of the United States “to use cyber capabilities to achieve national security objectives” (U.S. White House, 2018, p. 3).</p>

<p>The evaluation mechanisms include the tools that can be used to determine what has actually been achieved (and by way of extension, how this compares with the expected outcomes). Key performance indicators (KPIs), which are measures that are used to determine progress towards</p>

<p>7</p>

<p>the realization of the strategic objectives of the national cybersecurity strategy (ENISA, n.d., Annex B), are also included. Based on this evaluation, the national security strategies are amended and priority actions revised (ITU, 2018).</p>

<p>Exemplar cybersecurity strategies include the appropriate policy instruments (e.g., standards, policies, laws, education programmes, etc.) needed to achieve the objectives of these strategies (ITU, 2018, p. 33), and those responsible for overseeing the implementation of these instruments. For example, in its National Cybersecurity Policy 2017-2022, Chile includes the measures that should be implemented based on specific strategic objectives and the agencies responsible for implementing and/or assisting in the implementation of these measures. Likewise, the Republic of the Philippines National Cybersecurity Plan 2022, identifies measures to achieve strategic objectives and the roles and responsibilities of key stakeholders.</p>

<p>National Cybersecurity Strategies: Lifecycles, Good Practices, and Repositories</p>

<p>The lifecycle of a national cybersecurity strategy includes five phases (ITU, 2018, pp. 16-27):</p>

<p>● The first phase (Phase 1) is the initiation phase, which includes the identification of relevant stakeholders, as well as their roles in the development process, and the creation of a plan for the development of the strategy.</p>

<p>● The second phase (Phase 2), stocktaking and analysis, includes an assessment of the country’s cybersecurity posture, the identification of cybersecurity threats, and the evaluation of current and future cybersecurity risks.</p>

<p>● The third phase (Phase 3) is the production of the national cybersecurity strategy. This phase involves drafting the strategy, obtaining feedback from relevant stakeholders, finalizing the strategy based on feedback, and publishing the strategy.</p>

<p>● The fourth phase (Phase 4), implementation, involves the creation of an action plan, determination of which initiatives that are based on the strategy’s objectives will be implemented, identification of the resources needed to implement these initiatives, and identification of the specific actions to be taken and the timelines to complete these actions. Metrics and key performance indicators are also specified in this phase to determine the efficiency (i.e., timeliness) and efficacy (i.e., good outcome) of the initiatives.</p>

<p>Overall, action plans include the solutions (or measures) that can be implemented to achieve objectives, the stakeholders responsible for the tasks, the metrics that will be used to determine the timeline for completing the task and whether the desired outcome was achieved. Action plans have been implemented on the national level (e.g., National Security Authority, Action Plan for the Implementation of the Cyber Security Concept of the Slovak Republic for 2015-2020) and regional level (e.g., CARICOM’s Cyber Security and Cybercrime Action Plan).</p>

<p>• The fifth phase (Phase 5), monitoring and evaluation, seeks to determine if the action plan is in line with the objectives of the cybersecurity strategy, and evaluates the strategy and</p>

<p>8</p>

<p>action plan to determine if they are up-to-date, meet the cybersecurity needs of the country, and can deal with evolving cybersecurity risks. If the objectives of the cybersecurity strategy are not being met by the action plan, changes are made to the action plan. Changes may also be made to the strategy in the event that it is outdated and/or cannot be applied to new or emerging cybersecurity threats.</p>

<p>Did you know?</p>

<p>Emerging technologies (e.g., blockchain, artificial intelligence, and quantum computing) are mentioned in some national cybersecurity strategies (see, for example, the U.S. National Cyber Strategy and the UK National Cybersecurity Strategy 2016-2021).</p>

<p>Image 2</p>

<p>Source: ITU. (2018). A Guide to Developing a National Cybersecurity Strategy, p. 17. https://www.itu.int/dms_pub/itu-d/opb/str/D-STR-CYB_GUIDE.01-2018-PDF-E.pdf.</p>

<p>The European Union Agency for Network and Information Security’s (ENISA) National Cyber Security Strategy Good Practice Guide (2016) includes examples of strategic objectives and tasks</p>

<p>9</p>

<p>that need to be completed to achieve these objectives, and provides guidance on how to develop a national cybersecurity strategy (pp. 14-21). ENISA (2014) also emphasized the need to create evidence-based national cybersecurity strategies by engaging in one-off and periodic assessments of these strategies (i.e., examining outcomes based on predefined evaluation metrics) and utilizing the results of these assessments to modify the strategies and action plans for the implementation of the strategies (pp. 9-10).</p>

<p>National cybersecurity strategies may be included in a single document or parts of the strategy may be disbursed in different instruments that cover some facet of cybersecurity (ITU, n.d.). The International Telecommunication Union (ITU) has a repository of national cybersecurity strategies that includes national policies, plans, and other cybersecurity-related documents (i.e., the National Cybersecurity Strategies repository). Moreover, the North Atlantic Treaty Organization’s (NATO) Cooperative Cyber Defence Centre of Excellence houses NATO and non-NATO member states’ cybersecurity strategies and related documents on its website. What is more, ENISA has developed an interactive map that includes the national cybersecurity strategies of European Union Member States and their strategies’ objectives (e.g., addressing cybercrime; establishing an incident response capability; engaging in international cooperation; establishing baseline security requirements; and establishing public-private partnerships, to name a few).</p>

<p>International Cooperation on Cybersecurity Matters</p>

<p>The International Telecommunications Union (ITU), a UN agency that is considered the “premier global forum through which parties work towards consensus on a wide range of issues affecting the future direction of the ICT industry” (ITU, n.d.), launched the Global Cybersecurity Agenda, which is “a framework for international cooperation aimed at enhancing confidence and security in the information society” (ITU, n.d.). The ITU Global Cybersecurity Agenda identifies five strategic pillars: legal, technical, organizational, capacity building, and cooperation (see Image 3).</p>

<p>10</p>

<p>Image 3</p>

<p>Source: Acayo, Grace. (2017). Global Cybersecurity Index Overview. International Telecommunication Union, 2nd Annual Meeting of Community of Practice on Composite Indicators and Scoreboards (09-10 November 2017, Ispra, Italy). https://composite-indicators.jrc.ec.europa.eu/sites/default/files/02%20-%20Global%20Cybersecurity%20Index%20-%20Grace%20Acayo_0.pdf</p>

<p>The legal pillar focuses on harmonised regulations and laws relating to cybersecurity and cyber-dependent and cyber-facilitated crimes. Cases in point are cybercrime laws (see Cybercrime Modules 2 and 3), data protection laws and regulation (see Cybercrime Module 10), cybersecurity laws, and other related laws (e.g., Denmark, Danish Data Protection Act of 2018; Fiji, Crimes Decree 2009: Division 6 – Computer Offences; and Saudi Arabia, Federal Law No. (1) of 2006 on Electronic Commerce and Transactions; and the United Kingdom, Computer Misuse Act of 1990</p>

<p>11</p>

<p>and Data Protection Act of 2018. For more information about this pillar, see ITU, 2015; ITU, 2017).</p>

<p>The technical pillar covers existing technical institutions, cybersecurity standards and protocols, and the measures needed to deal with cybersecurity threats. An example of a technical institution is a Computer Emergency Response Team (CERT), which is defined as “an organization or team that provides, to a well-defined constituency, services and support for both preventing and responding to computer security incidents” (Wahid, 2016). CERTs vary in capabilities depending on the range and combination of reactive, proactive and/or security quality management services offered (CMU-SEI, 2006). For example, these services can include promptly responding to an incident so that the attack can be quickly contained and investigated, and to facilitate rapid recovery to a pre-incident state (Borodkin, 2001). In addition to incident response, a CERT may engage in other activities, such as conducting vulnerability assessments and providing security briefings; these additional activities depend on the organization (Proffitt, 2007). Countries can have national, government, and sector-specific CERTs and Computer Security Incident Response Teams (or CSIRTs), or a combination of some or all of these (for more information about this pillar, see ITU, 2015; ITU, 2017). CERTs/CSIRTs have also created groups within their regions to share information and coordinate activities, among other things (e.g., Asia-Pacific CERT or APCERT; Africa CERT or AfricaCERT).</p>

<p>Did you know?</p>

<p>CERT® is a registered trademark of the Software Engineering Institute of Carnegie Mellon University. CSIRTs can request authorization to use the CERT mark. The following website includes the steps that should be taken by a CSIRT to receive authorization to use the CERT mark: https://www.sei.cmu.edu/education-outreach/license-sei-materials/authorization-to-use-cert-mark/.</p>

<p>The organizational pillar includes organizational structures and policies on cybersecurity and responsible agencies for coordinating cybersecurity policy. National cybersecurity strategies and national cybersecurity frameworks are included in this pillar, as well as the regulatory bodies that oversee the implementation of these strategies and frameworks (e.g., the Cyber Security Council in Iceland; the Federal Office for Information Security in Germany; the Office of Cybersecurity and Information Assurance in the United Kingdom; the Ministry of Science, ICT and Future Planning in the Republic of Korea; and the National Planning Department and the Ministry of Information Technologies and Communications in Colombia, to name a few (for more information about this pillar, see ITU, 2015; ITU, 2017).</p>

<p>The capacity building pillar covers efforts to promote cybersecurity awareness, education and training. Examples include public awareness campaigns, cybersecurity research and development, professional training, and national education programmes and curricula. For example, in the Dominican Republic, “[t]he National Commission for Information Society and Knowledge (CNSIC) has an officially recognized national awareness program that promotes norms, values and social behaviours that contribute to integrity, creativity and innovation in navigating cyberspace” (ITU, 2015, p. 171; for more information about this pillar, see ITU, 2015; ITU, 2017). Related cybersecurity awareness and education campaigns have been launched by other countries</p>

<p>12</p>

<p>as well (see box on “Examples of National and International Cybersecurity Awareness and Education Campaigns”). In addition to these cybersecurity awareness and education campaigns, the ITU provides tools to assist countries in their capacity building efforts. These tools are designed to “capture information about specific threats targeting the country” (Honeypot Research Network or</p>

<p>HORNET) and “aggregate and disseminate relevant incident data” (Abuse Watch Alerting and Reporting Engine or AWARE) (ITU, n.d.).</p>

<p>Examples of National and International Cybersecurity Awareness and Education Campaigns</p>

<p>Australia</p>

<p>Australia has a Stay Smart Online campaign that provides individuals and small businesses with information about how to protect themselves from and reduce the risk of cybersecurity threats. Moreover, Australia’s Office of the eSafety Commission website promotes online safety by providing education resources for children, parents, and others, informing them about various forms of cybercrimes (particularly interpersonal cybercrimes, discussed in Cybercrime Module 13) and ways they can protect themselves online, and providing users with the option to report certain cybercrimes via the website. For example, the Office has an image-based abuse online reporting portal, where victims can report instances of their nude or sexual images being shared (uploaded/distributed) without their consent. The Office then endeavour to locate the images and work with the relevant social media or internet intermediary (and in some cases, individual perpetrators) to have the images taken down and deleted (Flynn and Henry, forthcoming).</p>

<p>Canada</p>

<p>In Canada, Get Cyber Safe provides individuals and businesses with information about cybersecurity risks and the ways in which individuals and business can protect themselves from cybersecurity threats.</p>

<p>United Kingdom</p>

<p>The United Kingdom’s GetSafeOnline campaign is a cybersecurity awareness initiative that affords individuals information on safe practices at home and in the workplace.</p>

<p>United States</p>

<p>The National Cyber Security Alliance’s StaySafeOnline initiative offers people information about safe Internet practices, cybercrimes, securing key online accounts and digital devices, and privacy management. The National Cybersecurity Awareness Month (NCSAM), observed every October, was launched in 2004 by a public-private partnership (i.e., the National Cyber Security Alliance and the U.S. Department of Homeland Security) whose objective is to provide the resources people need to navigate the Internet safely and utilize digital devices securely. Likewise, the European Cyber</p>

<p>13</p>

<p>Security Month (ECSM), a cybersecurity awareness campaign that is similarly observed every October, seeks to inform individuals about cybercrime and cybersecurity in an effort to modify unsafe Internet practices. What is more,</p>

<p>Safer Internet Day (SID) is celebrated globally in February every year to promote safety and encourage healthy and happy online communities.</p>

<p>The U.S. Department of Homeland Security (DHS) also created an international cybersecurity education and awareness campaign known as STOP. THINK. CONNECT.™. Businesses, national government ministries, and national-scope NGOs in, for example, Bolivia, Panama, Mongolia, Tonga, Nigeria, Trinidad and Tobago, Antigua and Barbuda, Jamaica, India and Japan (to a name a few) have adopted and deployed this type of awareness campaign (Anti-Phishing Working Group, n.d.). The U.S. Department of Homeland Security created an information packet for its STOP. THINK. CONNECT.™ campaign to enable other countries to launch similar domestic campaigns within their own countries. This packet includes a best practices checklist, a sample communications plan, and cybersecurity awareness campaign metrics (European Cyber Security Month, n.d.).</p>

<p>South Africa</p>

<p>South Africa has deployed several cybersecurity awareness campaigns led solely by academe, private organizations, and government agencies (Dlamini and Modise, 2012). Moreover, South Africa’s Department of Telecommunications and Postal Services created a Cybersecurity Hub, which includes information and resources on protective measures against cybercrime and cybersecurity awareness campaigns. Like the United States and other countries, South Africa has a cybersecurity awareness campaign, which is observed annually in October (Pazvakavambwa, 2016).</p>

<p>Myanmar</p>

<p>CyberBayKin, a Myanmar Cyber Security Campaign, was launched in 2018 to raise awareness about cyber safety and risk in Myanmar. It is initiated by Monash University (Australia) and Kernellix Co., Ltd. (Myanmar), in collaboration with the Myanmar Ministry of Transport and Communications National Cyber Security Centre. Six Myanmar comic characters have been designed for the campaign are introduced at the launch. The year-long campaign will see fortnightly cybersecurity awareness comic illustrations appear on the campaign facebook platform. It is supported and funded by the Australian Department of Foreign Affairs and Trade under the International Cyber Engagement Strategy and the School of Social Sciences at Monash University (CyberBayKin, 2018).</p>

<p>The cooperation pillar focuses on inter-agency and public-private partnerships, information sharing networks, and cooperative agreements. A case in point is Australia’s International Cyber Engagement Strategy to enhance public-private collaboration and collaboration between countries. Other examples include countries’ partnerships and information exchange with the ITU, European Union Agency for Network and Information Security (ENISA), Organization for Security and Co-</p>

<p>14</p>

<p>operation in Europe (OSCE), and North Atlantic Treaty Organization (NATO), and cooperative agreements, such as the Council of Europe’s</p>

<p>Convention on Cybercrime of 2001, Commonwealth of Independent States’ Agreement on Cooperation in Combating Offences related to Computer Information of 2001, the League of Arab States’ Arab Convention on Combating Information Technology Offences of 2010, and the African Union Convention on Cyber Security and Personal Data Protection of 2014, to name a few (for more information about this pillar, see ITU, 2015; ITU, 2017).</p>

<p>A comparative analysis by the Organisation for Economic Co-operation and Development (OECD) (2012) of national cybersecurity strategies in ten countries (Australia, Canada, Finland, France, Germany, Japan, the Netherlands, Spain, the United States, and the United Kingdom), revealed differences in definitions of cybersecurity, but similarities in the countries’ approaches to dealing with cybersecurity in a comprehensive manner, by including content from each legal, technical, organizational, capacity building, and cooperation pillar to varying degrees.</p>

<p>To create a comprehensive and effective national cybersecurity strategy, the 2018 ITU Guide to Developing a National Cybersecurity Strategy proposes the inclusion of the following thematic areas in the strategy: governance (discussed in this Module); risk management (i.e., the process of identifying, evaluating, and controlling and/or eliminating threats; discussed in Cybercrime Module 9); preparedness and resilience (discussed in Cybercrime Module 9); critical infrastructure services and essential services (discussed in Cybercrime Module 14); capacity and capacity building and awareness raising (discussed in this Module and Cybercrime Module 7); legislation and regulation (discussed in Cybercrime Modules 2, 3 and 10); and international cooperation (discussed in Cybercrime Module 7). Other organizations have also provided guidance on the development of cybersecurity policy and regulatory frameworks, technical and organizational measures, capacity building, and cooperation (e.g., the Commonwealth Telecommunications Organization’s Commonwealth Cybergovernance Model of 2014).</p>

<p>Cybersecurity Posture</p>

<p>Cybersecurity posture is a term used to describe the cybersecurity capabilities of a country, organization or business. There are several tools that have been used to assess cybersecurity posture. An example of such a tool is the International Telecommunications Union’s Global Cybersecurity Index (GCI). According to the ITU (n.d.), the Global Cybersecurity Index (GCI), is a capacity building tool that assesses countries’ commitment to cybersecurity and identifies their cybersecurity posture and areas for improvement. Countries’ cybersecurity posture can be evaluated based on their development in the five pillars (legal, technical, organizational, capacity building, and cooperation) identified in the ITU Global Cybersecurity Agenda. Particularly, countries receive GCI scores based on their level of commitment to the five pillars. These scores include initiating (i.e., beginning steps demonstrating commitments to the pillars), maturing (i.e., have commitments to the pillars) and leading (i.e., high commitments to the pillars) (ITU, 2017, p. 13).</p>

<p>The results of 2017 Global Cybersecurity Index survey revealed that half of the responding countries did not have a national cybersecurity strategy (ITU, 2017). The results of the 2017 Global Cybersecurity Index survey also revealed great variation in cybersecurity commitments among</p>

<p>15</p>

<p>states within and outside their regions. The results further revealed that the strength of countries’ cybersecurity commitments varied by pillar (i.e., countries scored high in some pillars, and average or low in others) (ITU, 2017; for detailed information about the results, see ITU, 2017). Nevertheless, in order for efforts to be effective, cybersecurity commitments are needed in all pillars.</p>

<p>The Global Cyber Security Capacity Centre (GCSCC) of the University of Oxford developed the Cybersecurity Capacity Maturity Model (CMM) to assess countries’ cybersecurity posture (i.e., maturity of cybersecurity capacity) by examining countries’ efforts in “cybersecurity policy and strategy,” “cyber culture and society,” “cybersecurity education, training and skills,” and “legal and regulatory frameworks,” and “standards, organisations, and technologies” (Global Cyber Security Capacity Centre, 2016, pp. 10-13). This evaluation informs countries of the state of maturity that they are at: start-up (i.e., no cybersecurity or just starting to develop); formative (i.e., some cybersecurity); established (i.e., cybersecurity in place; minimal consideration of allocation of resources); strategic (i.e., deliberate and calculated choices made about cybersecurity); and dynamic (i.e., cybersecurity adapts to changes in environment and needs) (Global Cyber Security Capacity Centre, 2016, p. 7). The CMM has been used to evaluate numerous countries all over the world individually or as part of a regional study (Global Cyber Security Capacity Centre, 2018). In addition to the CMM, the Global Cyber Security Capacity Centre developed the Cybersecurity Capacity Portal, which includes cybersecurity capacity building material, best practices, and facilitates information sharing in order to assist countries in enhancing their cybersecurity posture.</p>

<p>Countries have also implemented frameworks to assist public and private sectors in enhancing their cybersecurity postures. A case in point is the U.S. National Institute of Standards and Technology (NIST) Framework for Improving Critical Infrastructure Cybersecurity (published in 2014; revised in 2017 and 2018), which provides guidelines, standards, and best practices to assist public and private sectors in improving their cybersecurity posture. In 2017, the U.S. Executive Order on Strengthening the Cybersecurity of Federal Networks and Critical Infrastructure was passed, which directed federal agencies to utilize this framework to enhance their cybersecurity posture. The framework has also been adopted and/or adapted by private companies and organizations within the United States, and some other countries (e.g., Italy, Uruguay, and Bermuda) (NIST, 2018). The Information Systems Audit and Control Association (now only referred to by its acronym ISACA) developed an audit program to test the efficacy of the cybersecurity measures that companies, organizations, and agencies implemented utilizing the NIST Framework (ISACA, 2017). Similarly, the Chinese government regulations such as the Special Regulation on Commercial Bank Information Disclosure and the Measure of Internet Information Security Incident Reporting and the Taiwanese regulation such as Guideline on Reporting Significant Contingent incidents of Banks and Measures on National Information and Communication Security Incident Reporting and Responses are regulations to facilitate the public-private collaboration on cybersecurity (Chang, 2012; Chang et al., 2018).</p>

<p>Recognizing that cybersecurity posture is dependent on the quantity and quality of the cybersecurity workforce, the United States also implemented the National Initiative for Cybersecurity Education (NICE) Cybersecurity Workforce Framework in 2017. This framework is part of NICE’s strategic goals to develop a cybersecurity workforce through the identification of the knowledge, skills, and abilities needed for different cybersecurity positions, and to provide</p>

<p>16</p>

<p>guidance to academia and employers on the creation and implementation of academic programs and professional training. The worldwide deficit in quantity and quality of cybersecurity professionals drives home the lesson that attention needs to be paid to developing the cybersecurity workforces of most countries (Frost &amp; Sullivan Executive Briefing, 2017).</p>

<p>Conclusion</p>

<p>Governments, non-governmental organizations, academic institutions, businesses, and individuals make extensive use of information and communication technology (ICT). The current interdependency of devices and systems around the world and the importance of ICT for countries’ economic and national security and national and global development requires a collective and harmonised response from countries worldwide. National cybersecurity strategies are implemented to outline the manner in which this protection occurs, including the measures to be taken and the organizations responsible for overseeing these measures. Metrics exist that can be used to assess the efficacy of these strategies. What is more, tools and resources are available to enable countries to evaluate their cybersecurity posture and assist them in enhancing their cybersecurity posture.</p>

<p>References</p>

<p>● African Declaration on Internet Rights and Freedoms of 2014.</p>

<p>(http://africaninternetrights.org/articles/#freedom-of-expression).</p>

<p>● Anti-Phishing Working Group. (n.d.). Twenty National Campaigns Deployed. http://education.apwg.org/safety-messaging-convention/.</p>

<p>● Borodkin, Michelle. (2001). Computer Incident Response Team. https://www.sans.org/reading-room/whitepapers/incident/computer-incident-response-team-641.</p>

<p>● Braithwaite, John. (1982). Enforced self-regulation: A new strategy for corporate crime control. Michigan Law Review 80(7), 1466–1507.</p>

<p>● Brenner, Susan W. (2005). Distributed security: Moving away from reactive law enforcement. International Journal of Communication Law &amp; Policy 9, 1–42.</p>

<p>● CARICOM. (2016). Cyber Security and Cybercrime Action Plan.</p>

<p>https://www.caricomimpacs.org/Portals/0/Project%20Documents/CCSAP.pdf.</p>

<p>● Carnegie Mellon University-Software Engineering Institute (CMU-SEI). (2016). https://resources.sei.cmu.edu/asset_files/WhitePaper/2002_019_001_53048.pdf.</p>

<p>● Chang, Lennon Yao-Chung. (2011). Cyber-conflict between Taiwan and China. Strategic Insight, Vol. 10(1), 26-35.</p>

<p>● Chang, Lennon Yao-Chung. (2012). Cybercrime in the Greater China Region: Regulatory Responses and Crime Prevention Across the Taiwan Strait. Cheltenham: Edward Elgar.</p>

<p>● Chang, Lennon Yao-Chung, Zhong, Yueying Lena, and Grabosky, Peter. (2018). Citizen co-production of cyber security: Self-Help, Vigilantes, and Cybercrime. Regulation &amp; Governance, Vol. 12: 101-114.</p>

<p>● Chang, Lennon Y. C. and Peter Grabosky. (2017). The governance of cyberspace. In Peter Drahos (ed.). Regulatory Theory: Foundations and Applications (pp. 533-551). ANU Press.</p>

<p>17</p>

<p>● Chile. National Cybersecurity Policy 2017-2022.</p>

<p>https://ccdcoe.org/sites/default/files/documents/NCSP%20(ENG).pdf.</p>

<p>● Commonwealth Telecommunications Organisation. (2014). Commonwealth ICT Ministers Forum 2014 (Marlborough House, London).</p>

<p>https://ccdcoe.org/sites/default/files/documents/CommW-140304-CommonwealthCybergovernanceModel.pdf.</p>

<p>● Cyber Security Agency of Singapore. (2016). Singapore’s Cybersecurity Strategy. https://www.csa.gov.sg/~/media/csa/documents/publications/singaporecybersecuritystrategy.pdf.</p>

<p>● CyberBayKin. (2018). About the Campaign. https://en.cyberbaykin.org/#about-the-campaign.</p>

<p>● Dlamini, Zama and Modise, Mapule. (2012). Cyber Security Awareness Initiatives in South Africa: A Synergy Approach. 7th International Conference on Information Warfare and Security (ICIW), University of Washington, Seattle, United States (22-23 March 2012). http://researchspace.csir.co.za/dspace/bitstream/handle/10204/5941/Dlamini_2012.pdf;jsessionid=3A92042C03E142065E48EEE9D40195B2?sequence=1.</p>

<p>● Drahos, Peter. (ed.). (2017). Regulatory Theory: Foundations and Applications. ANU Press.</p>

<p>● ENISA. (2014). Appendix A: Mapping of Cybersecurity Strategies. https://www.enisa.europa.eu/publications/an-evaluation-framework-for-cyber-security-strategies-1/annex-a-mapping-of-countries.</p>

<p>● ENISA. (2014). An Evaluation Framework for National Cyber Security Strategies. https://www.enisa.europa.eu/publications/an-evaluation-framework-for-cyber-security-strategies.</p>

<p>● ENISA. (n.d.). ENISA and Cyber Security Strategies.</p>

<p>https://www.enisa.europa.eu/topics/national-cyber-security-strategies/ncss-map/national-cyber-security-strategies-ncss/.</p>

<p>● ENISA. (n.d.). Annex B – Methodology. https://www.enisa.europa.eu/publications/an-evaluation-framework-for-cyber-security-strategies-1/annex-b-methodology/view.</p>

<p>● European Cyber Security Month. (n.d.). International Cyber Awareness Programs New Campaign Packet. https://cybersecuritymonth.eu/news/international-cyber-awareness-programs-new-campaign-packet.</p>

<p>● Frischmann, Brett M. (2003). The Prospect of Reconciling Internet and Cyberspace. Loyola University Chicago Law Journal, Vol. 35(1), 205-234.</p>

<p>● Flynn, Asher &amp; Henry, Nicola. (forthcoming). Image-Based Sexual Abuse. In Oxford Research Encyclopedia of Criminology and Criminal Justice. Oxford University Press.</p>

<p>● Frost &amp; Sullivan Executive Briefing. (2017). 2017 Global Information Security Workforce Study Benchmarking Workforce Capacity and Response to Cyber Risk. https://iamcybersafe.org/wp-content/uploads/2017/06/Europe-GISWS-Report.pdf.</p>

<p>● Global Cyber Security Capacity Centre. (2018). CMM Assessments Around the World. https://www.sbs.ox.ac.uk/cybersecurity-capacity/content/cmm-assessments-around-world.</p>

<p>● Global Cyber Security Capacity Centre. (2016). Cybersecurity Capacity Maturity Model for Nations (Revised Edition). University of Oxford.</p>

<p>18</p>

<p>https://www.sbs.ox.ac.uk/cybersecurity-capacity/system/files/CMM%20revised%20edition_09022017_1.pdf. ● Internet Society. (n.d.). World Summit on the Information Society.</p>

<p>https://www.internetsociety.org/issues/internet-governance/wsis/.</p>

<p>● ISACA. (2017). ISACA Produces New Audit Program Based on NIST Framework. https://www.isaca.org/About-ISACA/Press-room/News-Releases/2017/Pages/ISACA-Produces-New-Audit-Program-Based-on-NIST-Framework.aspx.</p>

<p>● ITU. (2018). A Guide to Developing A National Cybersecurity Strategy. https://www.itu.int/dms_pub/itu-d/opb/str/D-STR-CYB_GUIDE.01-2018-PDF-E.pdf.</p>

<p>● ITU. (2017). Global Cybersecurity Index (GCI) 2017. https://www.itu.int/dms_pub/itu-d/opb/str/D-STR-GCI.01-2017-R1-PDF-E.pdf.</p>

<p>● ITU. (2015). Global Cybersecurity Index &amp; Cyberwellness Profiles.</p>

<p>https://www.itu.int/dms_pub/itu-d/opb/str/D-STR-SECU-2015-PDF-E.pdf.</p>

<p>● ITU. (2014). Understanding cybercrime: Phenomena, challenges and legal response. https://www.itu.int/en/ITU-D/Cybersecurity/Documents/Cybercrime2014_E.pdf.</p>

<p>● ITU. (2008). Overview of cybersecurity. Recommendation ITU-T X.1205. Series X: Data Networks, Open System Communications And Security, https://www.itu.int/rec/T-REC-X.1205-200804-I.</p>

<p>● ITU. (n.d.). Cyberthreat Insight.</p>

<p>https://www.itu.int/en/ITU-D/Cybersecurity/Pages/Cyberthreat_Insight.aspx.</p>

<p>● ITU. (n.d.). Global Cybersecurity Agenda.</p>

<p>https://www.itu.int/en/action/cybersecurity/Pages/gca.aspx.</p>

<p>● ITU. (n.d.). National Strategies.</p>

<p>https://www.itu.int/en/ITU-D/Cybersecurity/Pages/cybersecurity-national-strategies.aspx.</p>

<p>● ITU. (n.d.). National Cybersecurity Strategies Repository.</p>

<p>https://www.itu.int/en/ITU-D/Cybersecurity/Pages/National-Strategies-repository.aspx.</p>

<p>● Kerr, Orin S. (2003). The Problem of Perspective in Internet Law, Georgetown Law Journal, Vol. 91, 357-377.</p>

<p>● Kurbalija, Jovan. (2014). An Introduction to Internet Governance. 6th edition. DiploFoundation. https://www.diplomacy.edu/sites/default/files/An%20Introduction%20to%20IG_6th%20edition.pdf.</p>

<p>● Lessig, Lawrence. (1999). Code and Other Laws of Cyberspace. New York: Basic Books.</p>

<p>● Lessig, Lawrence. (2006). Code: Version 2.0. New York: Basic Books.</p>

<p>● Lindstrom, Gustav and Eric Luiijf. (2012). Political Aims &amp; Policy Methods. In Alexander Klimburg (Ed.). National Cyber Security Framework Manual (pp. 44-65). NATO CCD COE Publication, Tallinn.</p>

<p>https://www.ccdcoe.org/publications/books/NationalCyberSecurityFrameworkManual.pdf.</p>

<p>● Maras, Marie-Helen. (2014). Transnational Security. CRC Press.</p>

<p>● Masters, Jonathan. (2014). What is Internet Governance? Council on Foreign Relations. https://www.cfr.org/backgrounder/what-internet-governance.</p>

<p>● Morgus, Robert and Justin Sherman. (2018). The Idealized Internet vs. Internet Realities: Analytical Framework for Assessing the Freedom, Openness, Interoperability, Security,</p>

<p>19</p>

<p>and Resiliency of the Global Internet (Version 1.0).</p>

<p>https://s3.amazonaws.com/newamericadotorg/documents/The_Idealized_Internet_vs._Internet_Realities_Version_1.0_2018-07-25_203930.pdf. ● Mueller, Milton. (2010). Networks and states: The global politics of Internet governance. MIT Press.</p>

<p>● National Security Authority (Slovakia). (2015). Action Plan for the Implementation of the Cyber Security Concept of the Slovak Republic for 2015-2020. https://www.enisa.europa.eu/topics/national-cyber-security-strategies/ncss-map/ActionPlanfortheImplementationoftheCyberSecurityConceptoftheSlovakRepublicfor20152020_3_.pdf.</p>

<p>● NATO CCD COE. (n.d.). Cyber Security Strategy Documents. https://ccdcoe.org/cyber-security-strategy-documents.html.</p>

<p>● Newhouse, William, Stephanie Keith, Benjamin Scribner, and Greg Witte. (2017). National Initiative for Cybersecurity Education (NICE) Cybersecurity Workforce Framework. NIST Special Publication 800-181.</p>

<p>https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-181.pdf.</p>

<p>● Nigeria, National Cybersecurity Strategy. (2014). https://www.itu.int/en/ITU-D/Cybersecurity/Documents/National_Strategies_Repository/Nigeria_2014_NATIONAL_CYBESECURITY_STRATEGY.pdf.</p>

<p>● Negroponte, John D., Samuel J. Palmisano, and Adam Segal. (2013). Defending an Open, Global, Secure, and Resilient Internet. Council on Foreign Relations. Independent Task Force Report No. 70. https://www.cfr.org/report/defending-open-global-secure-and-resilient-internet.</p>

<p>● NIST. (2018). Path Forward to Support Adaption and Adoption of Cybersecurity Framework: The Framework for Improving Critical Infrastructure Cybersecurity. https://www.nist.gov/sites/default/files/documents/2018/02/06/session_iii_-_barrett_csf.pdf.</p>

<p>● OECD. (2012). Cybersecurity Policy Making at a Turning Point: Analysing a New Generation of National Cybersecurity Strategies for the Internet Economy, OECD Digital Economy Papers, No. 211. https://www.oecd-ilibrary.org/docserver/5k8zq92vdgtl-en.pdf?expires=1539280913&amp;id=id&amp;accname=guest&amp;checksum=FCE83A92B648E8D529E53C0FCBD5DA8A.</p>

<p>● OECD Principles of Internet Policy Making of 2014. (https://www.oecd.org/internet/ieconomy/oecd-principles-for-internet-policy-making.pdf).</p>

<p>● Pazvakavambwa, Regina. (2016). Government to promote cyber security awareness. ITWeb, 17 October 2016. https://www.itweb.co.za/content/3mYZRX79OmXqOgA8.</p>

<p>● Proffitt, Timothy. (2007). Creating and Managing an Incident Response Team for a Large Company. 35. Available at: https://www.sans.org/reading-room/whitepapers/incident/creating-managing-incident-response-team-large-company-1821.</p>

<p>● Reich, Pauline, Pravin Anand, Vaishal Mittal, Ayushi Kiran, Anna Maria Osula, and Stuart Weinstein (2014). Internet governance: International law and global order in cyberspace. In Manfred Steger, Paul Battersby, and Joseph Siracusa. (eds.). The SAGE Handbook of Globalization (pp. 592-620), Sage.</p>

<p>20</p>

<p>● Seger, Alexander. (2012). Cybercrime strategies. Global Project on Cybercrime. https://rm.coe.int/16802fa3e1.</p>

<p>● Shepardson, David. (2018). U.S. defends FCC's repeal of net neutrality rules. Reuters, 12 October 2018. https://www.reuters.com/article/us-usa-internet/u-s-defends-fccs-repeal-of-net-neutrality-rules-idUSKCN1MM242.</p>

<p>● Swedish Ministry of Justice. (2017). A national cyber security strategy. https://www.government.se/49edf4/contentassets/b5f956be6c50412188fb4e1d72a5e501/fact-sheet-a-national-cyber-security-strategy.pdf.</p>

<p>● Swedish Ministry of Justice. (2016). A national cyber security strategy. https://www.government.se/4ac8ff/contentassets/d87287e088834d9e8c08f28d0b9dda5b/a-national-cyber-security-strategy-skr.-201617213.</p>

<p>● UK Centre for the Protection of National Infrastructure. (n.d.). Security Awareness Campaigns.</p>

<p>https://www.cpni.gov.uk/security-awareness-campaigns.</p>

<p>● UNESCO. (2015). Principles for governing the Internet: A comparative analysis. http://unesdoc.unesco.org/images/0023/002344/234435e.pdf.</p>

<p>● UNODC. (2013). Draft Comprehensive Study on Cybercrime.</p>

<p>https://www.unodc.org/documents/organized-crime/UNODC_CCPCJ_EG.4_2013/CYBERCRIME_STUDY_210213.pdf.</p>

<p>● U.S. National Initiative for Cybersecurity Career and Studies (NICCS). Glossary. https://niccs.us-cert.gov/about-niccs/glossaryU.S. White House. (2018). National Cyber Strategy 2018. https://www.whitehouse.gov/wp-content/uploads/2018/09/National-Cyber-Strategy.pdf.</p>

<p>● Wahid, Adli. (2016). Introduction to Computer Security Incident Response Team (CSIRT). Asia Pacific Network Information Centre. ftp://ftp.apnic.net/apnic/training/eLearningHandouts/2017/20171004/02%20Introduction%20to%20CSIRT.pdf.</p>

<p>● Whitmore, Andrew, Namjoo Choi and Anna Arzrumtsyan. (2009). One Size Fits All? On the Feasibility of International Internet Governance. Journal of Information Technology &amp; Politics, Vol. 6:1, 4-11.</p>

<p>● Working Group on Internet Governance. (2005). Report of the Working Group on Internet Governance. https://www.wgig.org/docs/WGIGREPORT.pdf.</p>

<p>Laws</p>

<p>● Agreement on Cooperation in Combating Offences related to Computer Information of 2001. (Commonwealth of Independent States).</p>

<p>(https://dig.watch/instruments/agreement-cooperation-combating-offences-related-computer-information-commonwealth).</p>

<p>● Arab Convention on Combating Information Technology Offences of 2010 (League of Arab States)</p>

<p>(http://itlaw.wikia.com/wiki/Arab_Convention_on_Combating_Information_Technology_Offences).</p>

<p>● African Union Convention on Cyber Security and Personal Data Protection of 2014 (https://au.int/en/treaties/african-union-convention-cyber-security-and-personal-data-protection).</p>

<p>21</p>

<p>● Computer Misuse Act of 1990 (United Kingdom)</p>

<p>(https://www.legislation.gov.uk/ukpga/1990/18/contents).</p>

<p>● Convention on Cybercrime of 2001 (Council of Europe).</p>

<p>(https://rm.coe.int/CoERMPublicCommonSearchServices/DisplayDCTMContent?documentId=0900001680081561).</p>

<p>● Crimes Decree 2009: Division 6 – Computer Offences (Fiji)</p>

<p>(https://www.ilo.org/dyn/natlex/natlex4.detail?p_lang=en&amp;p_isn=86223&amp;p_country=FJI&amp;p_count=296).</p>

<p>● Danish Data Protection Act of 2018 (Denmark) (https://www.datatilsynet.dk/media/6894/danish-data-protection-act.pdf).</p>

<p>● Data Protection Act of 2018 (United Kingdom)</p>

<p>(http://www.legislation.gov.uk/ukpga/2018/12/contents/enacted).</p>

<p>● Federal Law No. (1) of 2006 on Electronic Commerce and Transactions (Saudi Arabia) (http://www.wipo.int/wipolex/en/text.jsp?file_id=316895).</p>

<p>Exercises</p>

<p>Exercise # 1 ~ Internet Principles</p>

<p>Consider the following five Internet principles: freedom, openness, interoperability, security, and resiliency.</p>

<p>Instruct students to research the national cybersecurity strategy of their country before class. Students should come prepared to discuss the answers to the below questions in class.</p>

<p>Discussion Questions</p>

<p>● Are these principles included in the national cybersecurity strategy? If so, which ones? If not, what is missing and why?</p>

<p>● Are there any other principles included the national cybersecurity strategy? If so, which ones and why might these have these been included?</p>

<p>Exercise # 2 ~ National Cybersecurity Strategies</p>

<p>Students should be randomly assigned a country before class. Instruct students to research the national cybersecurity strategy of their assigned country before class. Students should come prepared to discuss the answers to the below questions in class.</p>

<p>Discussion Questions</p>

<p>● What are the objectives, priority actions, expected outcomes, and evaluation mechanisms included in the strategy?</p>

<p>● Does the country have an action plan?</p>

<p>Exercise # 3 ~ Group Exercise ~ Global Cybersecurity Index</p>

<p>22</p>

<p>Students should be randomly assigned to a group before the class to enable them to complete the assignment before the class meets. Each group should be randomly assigned one country.</p>

<p>Instruct the students to conduct research on their country and identify the following:</p>

<p>● Their assigned country’s Global Cybersecurity Index score in each of the five pillars (i.e., legal, technical, organizational, capacity building, and cooperation).</p>

<p>Discussions Questions</p>

<p>● What were the GCI scores of the assigned country on the legal, technical, organisational, capacity building, and cooperation pillars?</p>

<p>● Why did the country receive these scores?</p>

<p>● What could the country do to improve its cybersecurity posture?</p>

<p>Possible Class Structure</p>

<p>The following is a recommended structure for the class. Students should complete the core readings before coming to class. The lecture is meant to reinforce what they learned in the readings and the exercises are designed to apply what they learned in the readings. The following breakdown is designed based on a three-hour class. The lecturers can adapt the structure based on their needs and the class times.</p>

<p>Cybercrime Module 8 Class Breakdown (three-hour class)</p>

<p>Introduction to the class and learning outcomes</p>

<p>Lecture (10 minutes):</p>

<p>● Provide a brief introduction to the course and its contents</p>

<p>● Identify and discuss the learning outcomes of the course</p>

<p>[Optional: Show “UN Geneva, ITU-Cybersecurity” video and/or “ITU and “Cybersecurity: Building confidence in the use of ICT” under “Videos” in the “Additional Teaching Tools” section of this Module at the beginning of the class.</p>

<p>Internet Governance</p>

<p>Lecture (30 minutes):</p>

<p>● Discuss Internet governance and barriers to universal Internet governance</p>

<p>● Identify Internet principles and the issues that arise in the realization of these principles</p>

<p>Have students complete “Exercise # 1 – Internet Principles” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>23</p>

<p>[*Reminder: This exercise needs to be completed before class].</p>

<p>Under the “Student Assessment” section of this Module there is a homework assignment listed entitled “Homework # 1: Barriers to Universal Internet Governance.” Use the question posed in the homework to facilitate discussion in class.</p>

<p>Cybersecurity Strategies: Basic Features</p>

<p>Lecture (20 minutes):</p>

<p>● Describe the basic features of a cybersecurity strategy</p>

<p>● Differentiate between cybersecurity and cybercrime prevention strategies</p>

<p>National Cybersecurity Strategies</p>

<p>Lecture (30 minutes):</p>

<p>● Discuss the objectives of a national cybersecurity strategy</p>

<p>● Identify the lifecycle of a national cybersecurity strategy</p>

<p>● Identify where information about national cybersecurity strategies can be found</p>

<p>Have students complete “Exercise # 2 ~ National Cybersecurity Strategies” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>[*Reminder: This exercise needs to be completed before class].</p>

<p>Break</p>

<p>Time: 10 minutes</p>

<p>International Cooperation on Cybersecurity Matters</p>

<p>Lecture (40 minutes):</p>

<p>● Identify and examine frameworks for international cooperation on cybersecurity issues</p>

<p>● Evaluate efforts to internationally cooperate on cybersecurity matters</p>

<p>[Optional: Have students complete “Homework # 3: Case Study ~ Importance of CERT: Response to the Anna Kournikova virus” under the “Student Assessment” section of this Module before class and have them discuss their findings during the lecture].</p>

<p>Cybersecurity Posture</p>

<p>Lecture (40 minutes):</p>

<p>● Identify, discuss, and evaluate efforts to enhance countries’ cybersecurity posture</p>

<p>24</p>

<p>● Assess countries’ cybersecurity posture</p>

<p>Have students complete “Exercise # 3 ~ Group Exercise ~ Global Cybersecurity Index” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>[*Reminder: This exercise needs to be completed before class].</p>

<p>[Optional: Have students complete “Homework # 2: Cybersecurity Capacity Maturity Model” under the “Student Assessment” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>Students can either hand in a one- to three-page summary of their findings or merely come prepared to discuss their findings in class].</p>

<p>Core Reading</p>

<p>The following readings are (mostly open source) required readings that should be completed before taking a class based on this Module:</p>

<p>● Benoliel, Daniel. (2015). Towards a Cybersecurity Policy Model: Israel National Cyber Bureau Case Study. North Carolina Journal of Law &amp; Technology, Vol. 16(3), https://scholarship.law.unc.edu/cgi/viewcontent.cgi?referer=https://www.google.com/&amp;httpsredir=1&amp;article=1283&amp;context=ncjolt.</p>

<p>● Carr, Madeline. (2016). Public–private partnerships in national cyber-security strategies. International Affairs, Vol. 92(1), 43–62.</p>

<p>https://www.chathamhouse.org/sites/default/files/publications/ia/INTA92_1_03_Carr.pdf</p>

<p>● ENISA. (2014). An Evaluation Framework for National Cyber Security Strategies. https://www.enisa.europa.eu/publications/an-evaluation-framework-for-cyber-security-strategies.</p>

<p>● Henschke, Adam and Shannon Brandt Ford. (2017). Cybersecurity, trustworthiness and resilient systems: guiding values for policy. Journal of Cyber Policy, Vol. 2(1), 82-95.</p>

<p>● Internet Society. (2016). Internet Governance – Why the Multistakeholder Approach Works. https://www.internetsociety.org/resources/doc/2016/internet-governance-why-the-multistakeholder-approach-works/.</p>

<p>● ITU. (2018). A Guide to Developing A National Cybersecurity Strategy. https://www.itu.int/dms_pub/itu-d/opb/str/D-STR-CYB_GUIDE.01-2018-PDF-E.pdf.</p>

<p>● Lindstrom, Gustav and Eric Luiijf. (2012). Political Aims &amp; Policy Methods. In Alexander Klimburg (Ed.). National Cyber Security Framework Manual (pp. 44-65). NATO CCD COE Publication, Tallinn.</p>

<p>https://www.ccdcoe.org/publications/books/NationalCyberSecurityFrameworkManual.pdf.</p>

<p>● Morgus, Robert and Justin Sherman. (2018). The Idealized Internet vs. Internet Realities: Analytical Framework for Assessing the Freedom, Openness, Interoperability, Security, and Resiliency of the Global Internet (Version 1.0).</p>

<p>25</p>

<p>https://s3.amazonaws.com/newamericadotorg/documents/The_Idealized_Internet_vs._Internet_Realities_Version_1.0_2018-07-25_203930.pdf. ● Newhouse, William, Stephanie Keith, Benjamin Scribner, and Greg Witte. (2017). National Initiative for Cybersecurity Education (NICE) Cybersecurity Workforce Framework. NIST Special Publication 800-181.</p>

<p>https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-181.pdf.</p>

<p>● Reich, Pauline, Pravin Anand, Vaishal Mittal, Ayushi Kiran, Anna Maria Osula, and Stuart Weinstein (2014). Internet governance: International law and global order in cyberspace. In Manfred Steger, Paul Battersby, and Joseph Siracusa. (eds.). The SAGE Handbook of Globalization (pp. 592-620), Sage.</p>

<p>● Seger, Alexander. (2012). Cybercrime strategies. Global Project on Cybercrime.</p>

<p>https://rm.coe.int/16802fa3e1.</p>

<p>● Whitmore, Andrew, Namjoo Choi and Anna Arzrumtsyan. (2009). One Size Fits All? On the Feasibility of International Internet Governance. Journal of Information Technology &amp; Politics, Vol. 6:1, 4-11.</p>

<p>Advanced Reading</p>

<p>The following readings are recommended for those interested in exploring the topics covered in this Module in more detail:</p>

<p>● Azmi, Riza, Willam Tibben, and Khin Than Win. (2018). Review of cybersecurity frameworks: context and shared concepts. Journal of Cyber Policy, Vol. 3(2), 258-283.</p>

<p>● Finnemore, Marth and Hollis, Duncan. (2016). Constructing Norms for Global Cybersecurity. American Journal of International Law, 110(3), pp. 425-479.</p>

<p>● Jardine, Eric. (2018). Mind the denominator: towards a more effective measurement system for cybersecurity. Journal of Cyber Policy, Vol. 3(1), 116-139.</p>

<p>● Lacy, Mark and Daniel Prince. (2018). Securitization and the global politics of cybersecurity. Global Discourse: An Interdisciplinary Journal of Current Affairs and Applied Contemporary Thought, Vol. 8(1), 100-115.</p>

<p>● Malone, Eloise F. and Michael J. Malone. (2013). The ‘wicked problem’ of cybersecurity policy: analysis of United States and Canadian policy response. Canadian Foreign Policy Journal, Vol. 19(2), 158-177.</p>

<p>● Sexton, Mark. (2016). U.K. cybersecurity strategy and active cyber defence – issues and risks. Journal of Cyber Policy, Vol. 1(2), 222-224.</p>

<p>● Scott J. Shackelford and Amanda N. Craig. (2014). Beyond the New Digital Divide: Analyzing the Evolving Role of National Governments in Internet Governance and Enhancing Cybersecurity. Stanford Journal of International Law, Vol. 50(1), 119-184.</p>

<p>● Shackelford, Scott J. and Andraz Kastelic. (2016). Toward a State-Centric Cyber Peace: Analyzing the Role of National Cybersecurity Strategies in Enhancing Global Cybersecurity. N.Y.U. Journal of Legislation and Public Policy, Vol. 119, 895-984. http://www.nyujlpp.org/wp-content/uploads/2016/01/Shackelford-Kastelic-State-Centric-Cyber-Peace-18nyujlpp895.pdf.</p>

<p>● Thomas, Timothy. (2014). Creating Cyber Strategists: Escaping the ‘DIME’ Mnemonic. Defence Studies, Vol. 14(4), 370-393.</p>

<p>26</p>

<p>● Van der Berg, Bibi and Esther Keymolen. (2017). Regulating security on the Internet: control versus trust. International Review of Law, Computers &amp; Technology, Vol. 31(2), 158-177.</p>

<p>Student Assessment</p>

<p>In addition to the exercises, other assessment tools used in this course are review questions and homework assignments.</p>

<p>Review Questions</p>

<p>These questions can also be used to promote class discussions during the lecture.</p>

<p>1. What are the principles that guide Internet governance?</p>

<p>2. What are the barriers to universal Internet governance?</p>

<p>3. What are the basic features of a cybersecurity strategy?</p>

<p>4. What are the differences between cybersecurity strategies and cybercrime prevention strategies?</p>

<p>5. What are the steps in the lifecycle of a cybersecurity strategy?</p>

<p>6. What efforts exist that seek to enhance and/or assist international cooperation on cybersecurity matters?</p>

<p>7. In what ways have the cybersecurity postures of countries been assessed?</p>

<p>Homework Assignments</p>

<p>Students can be assigned one or more of the following assignments to be completed before class as either a written homework assignment (one to three pages long) and/or be part of the class discussion:</p>

<p>Homework # 1: Barriers to Universal Internet Governance</p>

<p>What are the barriers to universal Internet governance? Please explain your response using evidence-based arguments supported by the core and/or advanced readings.</p>

<p>Homework # 2: Cybersecurity Capacity Maturity Model</p>

<p>Students should be randomly assigned one country before the class to enable them to complete the assignment before the class meets.</p>

<p>Instruct the students to conduct research on their country and identify the following:</p>

<p>● Their assigned country’s maturity state based on the Cybersecurity Capacity Maturity Model</p>

<p>The students can access the Cybersecurity Capacity Maturity Model report on their assigned country here:</p>

<p>27</p>

<p>Global Cyber Security Capacity Centre. (2018). CMM Assessments Around the World. https://www.sbs.ox.ac.uk/cybersecurity-capacity/content/cmm-assessments-around-world.</p>

<p>Homework # 3: Case Study ~ Importance of CERT: Response to the Anna Kournikova virus</p>

<p>Have students review the following:</p>

<p>Roberts, Eric. (2000). Virus: A Retrospective.</p>

<p>https://cs.stanford.edu/people/eroberts/cs201/projects/2000-01/viruses/cert.html.</p>

<p>Instruct the students to identify the following:</p>

<p>• What kind of activities the CERT team can offer in such scenarios?</p>

<p>Additional Teaching Tools</p>

<p>These additional teaching tools can be used to enhance the lectures, by providing supplemental information for use during the lecture, serving as a source for student research, and/or serving as visual aids for lecture material.</p>

<p>Websites</p>

<p>● European Cyber Security Month, https://cybersecuritymonth.eu/about-ecsm/whats-ecsm.</p>

<p>● European Union Agency for Network and Information Security, https://www.enisa.europa.eu/topics/national-cyber-security-strategies/ncss-map/ncssmap#b.</p>

<p>● Europol. Mobile Malware: Public Awareness and Prevention. https://www.europol.europa.eu/activities-services/public-awareness-and-prevention-guides/mobile-malware.</p>

<p>● France Diplomatie. (2018). France-Singapore Road Map for deepening cooperation in digital innovation, internet governance and cybersecurity. https://www.diplomatie.gouv.fr/en/country-files/singapore/events-2630/article/france-singapore-road-map-for-deepening-cooperation-in-digital-innovation.</p>

<p>● Get Cyber Safe (Canada), https://www.getcybersafe.gc.ca/index-en.aspx.</p>

<p>● GetSafeOnline (United Kingdom), https://www.getsafeonline.org/.</p>

<p>● Global Cyber Security Capacity Centre, https://www.sbs.ox.ac.uk/cybersecurity-capacity/content/front.</p>

<p>● Global Cyber Security Capacity Centre, Cybersecurity Capacity Maturity Model https://www.sbs.ox.ac.uk/cybersecurity-capacity/content/cybersecurity-capacity-maturity-model-nations-cmm-0.</p>

<p>● International Telecommunication Union,</p>

<p>https://www.itu.int/en/ITU-D/Cybersecurity/Pages/National-Strategies-repository.aspx.</p>

<p>● ITU, Cyberthreat Insight,</p>

<p>https://www.itu.int/en/ITU-D/Cybersecurity/Pages/cyberthreat.aspx.</p>

<p>● ITU Global Cybersecurity Index,</p>

<p>https://www.itu.int/en/ITU-D/Cybersecurity/Pages/global-cybersecurity-index.aspx.</p>

<p>28</p>

<p>● National Cyber Security Alliance’s StaySafeOnline,</p>

<p>https://staysafeonline.org/.</p>

<p>● National Cybersecurity Awareness Month, https://staysafeonline.org/ncsam/about-ncsam/.</p>

<p>● North Atlantic Treaty Organization’s Cooperative Cyber Defence Centre of Excellence, Cyber Security Strategy documents, https://ccdcoe.org/cyber-security-strategy-documents.html.</p>

<p>● Office of the eSafety Commission (Australia), https://www.esafety.gov.au/.</p>

<p>● Safer Internet Day (SID), https://ec.europa.eu/digital-single-market/en/safer-internet-day-sid.</p>

<p>● Safernet (Brazil), https://new.safernet.org.br.</p>

<p>● Stay Smart Online campaign (Australia), https://www.staysmartonline.gov.au/about-us.</p>

<p>● STOP. THINK. CONNECT. https://staysafeonline.org/stop-think-connect/.</p>

<p>● United Nations Institute for Disarmament Research (UNIDIR). Cyber Policy Portal. https://cyberpolicyportal.org/en/.</p>

<p>● UK Centre for the Protection of National Infrastructure. (n.d.). Security Awareness Campaigns.</p>

<p>https://www.cpni.gov.uk/security-awareness-campaigns.</p>

<p>● U.S. National Institute of Standards and Technology, https://www.nist.gov/.</p>

<p>● U.S. National Initiative for Cybersecurity Education, https://www.nist.gov/itl/applied-cybersecurity/nice.</p>

<p>Videos</p>

<p>● ITU, #ICT4SDG: How can tech save the world? (length: 2:04 ).</p>

<p>https://www.youtube.com/watch?v=JsmPWgWVGdg. This video covers the importance of information and communication technology and its impact.</p>

<p>● ITU, ITU and Cybersecurity: Building confidence in the use of ICT (length: 1:29). https://www.youtube.com/watch?v=RyPf2XizQOg. This video discusses cybersecurity threats and the importance of securing ICT.</p>

<p>● ITU Standardization – The technical foundations of the Information Society (length: 3:31).</p>

<p>https://www.youtube.com/watch?v=hgP4IyY33iI. This animated video provides a brief history of information and communication technology and the role of ITU in creating international standards, and the importance and impact of ITU standardisation.</p>

<p>● UN Geneva, ITU- Cybersecurity (length: 3:24).</p>

<p>https://www.youtube.com/watch?v=8JCdW8HA2Ms. This video discusses the openness of the Internet and the impacts of this openness.</p>

<p>● What is CERT? (length: 3:20).</p>

<p>https://www.youtube.com/watch?v=eBJDKBFSLqs. This video provides a brief overview of CERT.</p>

<p>29</p>