[viewBag]
title = "Cyber Organized Crime"
url = "/bibliotheque/cyber-organized-crime"
layout = "content"
is_hidden = 0
navigation_hidden = 0
localeUrl[en] = "/bibliotheque"
localeUrl[ar] = "/bibliotheque"
==
<p>Module 13: Cyber Organized Crime</p>

<p>Introduction</p>

<p>The Internet provides criminals with access to victims and customers anywhere in the world with an Internet connection. These criminals take advantage of the ease with which information, communications, and money traverses cyberspace. They utilize the Internet to share knowledge and communicate undetected, sell stolen data, goods, and services, launder illicitly acquired money, as well as exchange cybercrime tactics and tools used to commit cybercrimes These criminals can operate alone or in different types of organized criminal groups. This Module examines the types of crimes that are considered as cyber organized crime and the types of organized criminal groups that engage in cybercrime. This Module further explores the measures used to counter cyber organized crime.</p>

<p>Learning Outcomes</p>

<p>● Understand cyber organized crime and criminal groups that engage in cyber organized crime</p>

<p>● Identify and discuss the structures and characteristics of organized criminal groups that engage in cyber organized crime</p>

<p>● Examine different types of cyber organized crime</p>

<p>● Explain and analyse the ways in which information and communication technology is used to commit cyber organized crime</p>

<p>● Critically evaluate the measures used to counter cyber organized crime</p>

<p>Key Issues</p>

<p>Cyber organized crime has been perpetrated on the visible web (a.k.a., clearnet) and the Deep Web (discussed in Cybercrime Module 5 on Cybercrime Investigation), which includes sites that cannot be reached using traditional search engines, such as databases (free or those that can be accessed for a fee; e.g., intranets) and darknet sites (an area of the Deep Web known for the illicit activities that occur within that space). This Module critically explores cyber organized crime, looking in particular at the structure, methods of operation, and tactics used by perpetrators of this crime, the illicit activities considered as cyber organized crime, the ways in which information and communication technology is used to facilitate this type of crime, and the measures used to respond to and prevent cyber organized crime.</p>

<p>Cyber Organized Crime: What is it?</p>

<p>Many crimes and cybercrimes have some level of organization (Wall, 2017); that is, these crimes and cybercrimes are “planned, rational acts that reflect the effort of groups of individuals” (see Module 1 on Definitions of Organized Crime of the E4J University Module Series on Organized Crime). To differentiate between organized crime and cyber organized crime, this Module (and the E4J University Module Series on Cybercrime) focuses on the “cyber” component of cyber organized crime (Wall, 2017). This section of the Module explores the answers to the following questions: (1) what role does cyberspace play in helping criminals organize themselves? and (2)</p>

<p>2</p>

<p>how does cyberspace and its technologies transform organized criminal behaviour to create new forms of crime?</p>

<p>a) Cyberspace and the organization of criminal groups.</p>

<p>Many organized criminal groups simply use Internet technologies to communicate with one another and conduct their business. This “business” may create “ephemeral” forms of organization where the Internet is used to link up offenders to commit an offline crime, after which they dissipate to form new alliances. Alternatively, organized criminal groups may use networked technologies to create more “sustained” organizational forms, [meant to last in time and to offer] protect[ion to] the criminals operating under its wing from other criminals in the field and also law enforcement agencies (Varese, 2010, p. 14). Between these two extremes of the spectrum, there are also ‘hybrid’ forms in which a more broadly accepted criminal goal is widely circulated ‘virtually’ by a small core group, but its physical expression is conducted by individual lone wolves or localized cells - as found with some types of hacker groups or in offline situations where a linkage is established between crime and terrorism. It is important to note that while the “activities of terrorists and organized criminal groups can overlap (Bassiouni, 1990),” “they generally pursue different objectives” (i.e., terrorists primarily pursue political or social objectives, whereas organized criminal groups primarily pursue “financial or other material benefit[s]”; Module 1 on Definitions of Organized Crime of the E4J University Series on Organized Crime; for more information on the links between organized crime and terrorism please see Module 16 on Linkages between Organized Crime and Terrorism of the E4J Series on Organized Crime). Most organized criminal groups tend to exist on a continuum between ephemeral and sustainable with hybrids in the middle and use Internet technologies to organize themselves to a lesser or greater extent.</p>

<p>b) Cyberspace and the organization of cybercrime.</p>

<p>Whilst almost all organized criminal groups will use some type of networked technology to organize themselves and their crimes, some are also using those technologies to commit cybercrimes. The actual nature of the organization of cybercrimes varies according to the level of digital and networked technology involved, the modus operandi and the intended victim groups, which also help to define the differences between them (see Wall, 2017).</p>

<p>i) The level of use or transformation by digital and networked technology</p>

<p>The more traditional organized criminal groups tend not to be involved in committing cyber-dependent crimes, which are those crimes that disappear when the Internet is removed (Wall, 2015, also see Lavorna and Sergi, 2014; and others). They are, however, increasingly using networked technologies to communicate with each other to organize crimes or seek intended victims, for example, to sell drugs over the Internet or darknet. These forms of cybercrime are either “cyber-assisted” (usually using communications technology), because without the Internet the offending would still take place but by other means of communication, or they are “cyber-enabled”, when long-standing (usually localized) forms of offending, such as illicit gambling, frauds and extortion, are given a global reach by digital and networked technologies. If the Internet is removed, then the offending would revert from the global to the local form. They contrast sharply with “cyber-dependent” crimes such as hacking,</p>

<p>3</p>

<p>distributed denial of service and ransomware attacks, and spamming which, as indicated above, disappear when the Internet is removed from the equation.</p>

<p>ii) Modus Operandi</p>

<p>Cybercrime also varies according to the modus operandi of the offending involved, which is linked with the motivations and profile of the criminal actors. The organization of “cybercrimes against the machine” such as computer misuse offences by hackers, for example, are very different to “cybercrimes using the machine” such as, scams, frauds, and extortion. Both of these are also very different from “cybercrimes in the machine” such as child sexual abuse material, hate speech, terrorist materials (where the offence is actually in the computer content) (Wall, 2017; see Cybercrime Module 2 on General Types of Cybercrime for more information).</p>

<p>iii) Target Victim Groups</p>

<p>The final factor that has to be considered when looking at cybercrime and its organization is who are the targeted victim groups. Some criminal groups deliberately target individual users, for example, by spamming deceptive emails to scam or defraud them. Other groups deliberately target businesses or governmental organizations, to commit larger scale frauds, obtain trade secrets or to disrupt their business flows (to extort or at the behest of a rival). Finally, other groups, usually State actors, deliberately target the infrastructures of other States to create distrust or discontent and/or to cause harm (Wall, 2017).</p>

<p>Therefore, not only is the organization of criminals using networked technologies a very different issue to the way that criminals organize crimes online, but the latter also depends upon the level of technologies used, the particular criminal acts being committed, and also the intended victim groups.</p>

<p>Various research findings (Leukfeldt et al., 2017, 2017a, 2017b, 2016a, 2016b, and Wall, 2015) highlight that offline organized criminal groups are completely different sets of actors to online organized criminal groups, but they also differ in terms of their age, motivation, organization and gender make up (although they all seem to be predominantly male; for further information on gender dimensions of online organized criminal groups, see Hutchings and Chua, 2016; for more information on gender and organized crime see Module 15 of the E4J University Module Series on Organized Crime). Not only these actors [might be] different, but their organization tends to be distributed, if not dis-organized, by comparison to offline organized crime groups (Wall, 2015; see the discussion about “swarms” and “hubs” in a subsequent section of this Module on Organized Criminal Groups Engaging in Cyber Organized Crime).</p>

<p>Conceptualizing Organized Crime and Defining the Actors Involved</p>

<p>Whether certain cybercrimes are identified as a form of organized crime or linked to organized crime depends on the working definitions used of “organized crime” (UNODC, 2013, pp. 44-45). The United Nations Convention against Transnational Organized Crime does not provide a definition of organized crime. This is not only the result of a lack of agreement amongst States,</p>

<p>4</p>

<p>but rather a conscious choice made by the negotiators of the Convention. Any definition would likely include a list of the illicit activities carried out by organized criminal groups, which are constantly changing and adapting to the development of our dynamic world; therefore, such definition would rapidly become outdated. Rather than the crime, the Organized Crime Convention defines the actor involved in its commission: an “organized criminal group” (see Module 1 on definitions of organized crime of the E4J University Module Series on Organized Crime). Specifically, under Article 2(a) of the Convention an “organized criminal group” is defined as “a structured group of three or more persons, existing for a period of time and acting in concert with the aim of committing one or more serious crimes or offences established in accordance with this Convention, in order to obtain, directly or indirectly, a financial or other material benefit.” Here, a structured group “does not need a formal hierarchy or continuity of its membership”. This makes the definition broad, including loosely affiliated groups without any formally defined roles for its members or a developed structure (see Organized Crime Module 1 on Definitions of Organized Crime).</p>

<p>While there is no universally agreed upon definition of organized crime (see Module 1 of the E4J University Module Series on Organized Crime), it can be understood as “a continuing criminal enterprise that rationally works to profit from illicit activities that are often in great public demand. Its continuing existence is maintained through corruption of public officials and the use of intimidation, threats or force to protect its operations” (definition used in the E4J University Module Series on Organized Crime, see Organized Crime Module 1). By way of extension, cyber organized crime is a term used to describe organized crime activities in cyberspace. Like organized crime, there is no consensus on the definition of cybercrime or cyber organized crime (UNODC, 2013; Broadhurst et al., 2014; and Maras, 2016).</p>

<p>Studies on cyber organized crime have pointed out that some of the traditional features of organized crime may not translate well to cyberspace. An example of such a feature is “control of territory” (UNODC, 2013, p. 45). Varese argued that an organized criminal group “attempts to regulate and control the production and distribution of a given commodity or service unlawfully” (2010, p. 14). This regulation is present in dark markets (e.g., the defunct DarkMarket and CardersMarket) where administrators and moderators monitor site and content and ensure rules of the platforms are enforced. If rules are not obeyed, those engaging in non-compliance are excluded from the site. While “the production and distribution of a given commodity or service” could be controlled within these sites, this control does not extend to other online forums (thus limiting the power and authority of the networks). Therefore, unlike traditional organized crime, their “control over production and of certain commodity [or services] in the underworld” is limited (Leukfeldt, Lavorgna, and Kleemans, 2017, p. 296).</p>

<p>In the case of dark markets, the structure, organization, regulation, and control over illicit goods and services are connected to the online sites and not the people who run and/or moderate them. As a result, when these dark market sites are taken offline (e.g., because of law enforcement investigation and seizure of site), the network associated with this site often ceases to exist. There are, however, exceptions, where members or others connected to a site (those not caught up in the law enforcement investigation and prosecution) have created another site that mirrors the one taken offline. A case in point is the (now defunct) darknet site Silk Road 2.0 (which mimicked Silk Road) that was created to maintain continuity of activities previously performed on Silk Road (Maras,</p>

<p>5</p>

<p>2016). Even the name of the administrator, Dread Pirate Roberts, remained the same as the one used by the administrator of Silk Road (at least before the administrator was arrested).</p>

<p>Did you know?</p>

<p>The name Dread Pirate Roberts comes from a character in the movie Princess Bride (1987). In this movie, the character going by the name “Dread Pirate Roberts” explains the significance of this name. Dread Pirate Roberts does not refer to a specific person; it is a name that is inherited. Whoever uses that name, inherits the reputation associated with that name (Maras, 2016).</p>

<p>Two other features traditionally associated with traditional organized criminal networks, corruption and the threat or use of violence (Arsovska, 2011), are viewed as not translating well to cyber organized crime (Leukfeldt, Lavorgna, and Kleemans, 2017). This, however, depends on the type of cyber organized crime activity. With regards to the first feature, research has shown that political corruption influences decisions to participate in organized crime activities. In one country, online fraud, among other financial crimes, were found to be integral to the functioning of the State (Ellis, 2016; see also discussion of Hoffmann et. al., 2016). Concerning the second feature, there is little evidence to suggest the use of violence or threat of the use of violence in furtherance of cyber organized crime activities (UNODC, 2013; Leukfeldt, Lavorgna, and Kleemans, 2017), with the exception of some cases where, for example, money mules (i.e., “individual[s] who obtain… and transfer… money illegally upon request and payment by other[s]”; Maras, 2016) participated in cyber organized crime activities and informed authorities that they participated in the illegal activities or continued to participate in these activities because they were threatened by criminals (Leukfeldt, Lavorgna, and Kleemans, 2017, p. 294). As an alternative to physical violence, cyber organized criminals conduct or threaten cyberattacks or other forms of cybercrime as a means to coerce individuals into complying with demands (Maras, 2016). Examples of this is cyber organized criminals’ use of cryptoransomware (i.e., “malware that infects a user’s digital device, encrypts the user’s documents, and threatens to delete files and data if the victim does not pay the ransom) and/or doxware (i.e., a form cryptoransomware that perpetrators use against victims that releases the user’s data…if ransom is not paid to decrypt the files and data”) (see Cybercrime Module 2 on General Types of Cybercrime).</p>

<p>Criminology Theories</p>

<p>6</p>

<p>Criminology theories have been applied to cyber organized crime (Maras, 2016). These theories consider cyber organized crime as a product of rational choice, criminal opportunities, conflict, relative deprivation, learning, and/or strain (e.g., Broadhurst et al., 2018; Maras, 2016; Oyenuga, 2018; Wall, 2017; Bossler and Holt, 2009; Yar, 2005; some of these theories are included in Cybercrime Module 1 on Introduction to Cybercrime, Cybercrime Module 9 on Cybersecurity and Cybercrime Prevention: Practical Applications and Measures, Cybercrime Module 11 on Cyber-Enabled Intellectual Property Crime, and Cybercrime Module 12 on Interpersonal Cybercrime; criminology theories regarding organized crime in general are discussed in</p>

<p>Module 6 on Causes and Facilitating Factors of Organized Crime of the E4J University Module Series on Organized Crime). Despite the breadth of theories applied to cyber organized crime, the results from studies applying these theories to this cybercrime have varied and support for the application of these theories is mixed (Maras, 2016).</p>

<p>Criminal Groups Engaging in Cyber Organized Crime</p>

<p>Cyber organized crime can include organized criminal groups engaging in cybercrime and cybercriminals or other groups that do not meet the criteria established by the Organized Crime Convention, that engage in activities typically associated with organized crime. Regarding the first type of cyber organized crime, there is evidence that traditional organized criminal groups have engaged in cybercrime (UNODC, 2013; UNODC, 2012). Studies have also shown that organized criminal groups have exploited the opportunities afforded to them by information and communication technology to commit cybercrime. Specifically, research has shown that organized criminal groups have utilized information and communication technology to exploit new online criminal markets (e.g., Internet gambling) (Wang and Antonopoulos, 2016; Kshteri, 2010). For example, in 2016, members of Camorra and ‘Ndrangheta were arrested for their role in an Internet gambling ring (OCCRP, 2016; Reuters, 2016). What is more, organized criminal groups have also engaged in cybercrime to facilitate offline organized crime activities. For example, an organized criminal group that trafficked drugs hired hackers to gain access to the information technology systems of the Antwerp port in Belgium that housed data about containers (Bateman, 2013; Glenny, 2017).</p>

<p>Organized criminal groups engaging in cyber organized crime may or may not exclusively operate in cyberspace. In fact, studies have expanded the notion of organized crime to include activities driven by some direct or indirect benefit that occur in whole or in part online (Grabosky, 2007; Broadhurst, et al., 2014). These groups can thus operate either partially, predominately, or solely online. While there have been cases of networks that have been formed and/or operated exclusively and/or predominantly online (e.g., Shadowcrew; for information about these types of networks, see Leukfeldt, Kleemans, and Stol, 2017; Leukfeldt, Kleemans, and Stol, 2016a; Leukfeldt, Kleemans, and Stol, 2016b, Choo and Smith, 2008; and Choo, 2008), research on the creation and development of cyber organized criminal networks have shown that geographic proximity and offline contacts play a large role in the formation and expansion (through recruitment) of these networks (Broadhurst et al., 2014; Leukfeldt, Kleemans, and Stol, 2017; Leukfeldt, Lavorgna, and Kleemans, 2017, pp. 292-293). For example, hot spots and hubs for cyber organized criminal networks have been identified in Eastern Europe (Bhattacharjee, 2011; Kshetri, 2013; Broadhurst</p>

<p>7</p>

<p>et al., 2014, p. 3). Furthermore, Europol (2018) revealed that “social engineering scams targeting EU citizens are carried out by West African organized crim[inal] groups” (p. 13).</p>

<p>The extent of organization of cyber organized crime is still largely unknown (Lavorgna, 2016). Empirical evidence of the structure of cyber organized crime, groups involved in this type of cybercrime, and the types of cybercrimes committed, is sparse (UNODC, 2013, p. 45). Nevertheless, typologies have been created based on available data concerning the links between organized crime and cybercrime based on “the degree of involvement of groups in online (as opposed to offline) activities and the structure of associations within the group” (BAE Systems Detica and London Metropolitan University, 2012, cited in UNODC, 2013, p. 46). Particularly, three general types of groups were identified: groups that predominantly operate online and commit cybercrimes (Type I); those that operate offline and online and engage in crimes and cybercrimes (Type II) (see Image 1); and those only utilizing information and communication technology to facilitate offline crimes (Type III; not depicted in Image 1).</p>

<p>Image 1: Types of Criminal Groups that Engage in Cyber Organized Crime</p>

<p>Source: Image obtained from UNODC (2013, p. 46)</p>

<p>A further distinction is made between each type of group (BAE Systems Detica and London Metropolitan University, 2012; UNODC, 2013; Broadhurst et al., 2014):</p>

<p>● Type I groups can be further divided into swarms (i.e., less-structured groups that operate primarily online) and hubs (i.e., more-structured groups that mostly operate online). Swarms are short-term associations formed for a specific purpose and which dissolve after their objectives are achieved (BAE Systems Detica and London Metropolitan University, 2012).</p>

<p>8</p>

<p>● Type II groups can be further separated into clustered hybrids (i.e., groups, small in size, that cluster around certain crimes and cybercrimes, method of operation and tactics, or location) and extended hybrids (i.e., less defined, highly complex groups operating offline and online).</p>

<p>● Type III groups can be hierarchies (i.e., traditional organized criminal groups that utilize others to facilitate their offline activities using ICT) and aggregates (i.e., transient, loosely organized groups that use ICT for limited, specific reasons to facilitate offline activities).</p>

<p>Food for Thought</p>

<p>Certain criminal groups that engage in cyber organized crime challenge traditional notions of organized crime. Consider, for example, the definition of organized crime included in the United Nations Convention against Transnational Organized Crime. The definition includes the requirement that the group exist “for a “period of time;” however, this period is not defined in the Convention and the interpretation of “period of time” has varied. On the other hand, the group does not need continuity of its membership. In view of that, would a swarm meet this requirement?</p>

<p>Individuals within these groups have various roles and levels of importance within these groups. Some individuals are considered essential to the group and its operations, while others are considered non-essential, maybe even expendable. The former includes the leader and some core members that are vital to the success of the group’s activities, which depends on the cybercrime (or cybercrimes) committed (e.g., programmers, intrusion specialists, technical experts, data miners, and money specialists, to name a few) (National Cyber Security Centre, 2017, pp. 5-6; UNODC, 2013, p. 46). The latter has been observed, for example, with money mules. These individuals (knowingly or unknowingly) are recruited by and work for criminals, transfer goods between third parties, and have been used to launder money (Maras, 2016).</p>

<p>In 2018, a criminal group that engaged in cyber organized crime was involved in a business email compromise attack (similar to spearphishing and whaling; discussed in Cybercrime Module 2 on General Types of Cybercrime), which tricked the targets into wire transferring money to the perpetrators of this cybercrime who were masquerading as legitimate entities that the companies worked with (see Operation Wire Wire, FBI, 2018). In this incident, money mules within the United States were offered a job to conduct wire transfers and/or were recruited to create shell companies and open up bank accounts for the shell companies to receive the proceeds of the online fraud. Once the money was transferred into the bank accounts controlled by the money mule, the money mule kept a portion of the proceeds (agreed upon with their recruiter and/or members of the group) and transferred the money to a bank in Poland or China (Neil, 2018). Money mules, and other non-core members of cybercriminal groups engaging in organized crime activities, are transient, participating in the activities of the group only as needed and/or until they fulfil their purpose.</p>

<p>Koobface</p>

<p>9</p>

<p>Cyber organized criminals deployed Koobface (an anagram for Facebook), a computer worm designed to spread via social media platforms. This malware spread by sending messages via social media to users from their friends’ infected accounts. This message would have a link to a video. When users would click on the link in the message, they were led to a website with the video. Once at that site, the users were prompted to download an update or video codec in order to see the video, which was actually the malware. The malware had many different functions, among them was its ability to harvest data and license keys from infected systems, redirect Internet traffic for profit, and download content to users’ systems.</p>

<p>Want to learn more?</p>

<p>For more information, see Richmond, Riva (2012). Web Gang Operating in the Open. New York Times, 16 January 2012.</p>

<p>https://www.nytimes.com/2012/01/17/technology/koobface-gang-that-used-facebook-to-spread-worm-operates-in-the-open.html</p>

<p>Case law has revealed that cybercriminals and/or members of organized criminal groups that engage in cybercrime have been charged with offences used to prosecute organized criminals. For example, in the United States, active members of online illicit markets (e.g., Carders.su, AlphaBay) have been charged with conspiracy or racketeering offences. Conspiracy constitutes participation in an organized criminal group, according to the United Nations Convention against Transnational Organized Crime. Racketeering is initially a common law offence (see Module 2 of the E4J University Modules Series on Organized Crime).</p>

<p>Online illicit markets (or dark markets) have been considered a criminal enterprise, “a group of individuals with an identified hierarchy, or comparable structure, engaged in significant criminal activity” (FBI, n.d.). Online forums, such as the now defunct AlphaBay, DarkMarket, Darkode, and Carder.su, have clearly defined hierarchies (administrators, moderators, and ranking of members based on privileges) (Maras, 2016). Individuals seeking to gain access to these forums had to have existing members recommend them (ICE, 2017). The same holds true for other defunct online illicit markets. A case in point is Silk Road, an infamous darknet site (now defunct) that primarily sold illicit drugs and was also considered a criminal enterprise. The administrator of the site, Ross Ulbricht, obtained a percentage of every sale, tightly regulated and controlled the activity on the site, utilized moderators to monitor and enforce the rules of the site, and acted if those rules were not followed (United States v. Ross William Ulbricht; 2016; Maras, 2016). This enforcement of rules is essential as the success of dark markets essentially depends on “trust [which] is critical when relying on others in high risk and vulnerable situations to deliver goods and services, especially when the transactions are illicit in nature. Victims of non-delivery or counterfeit items cannot report this to the police, because they have engaged in unlawful conduct” (Maras, 2016, p. 344).</p>

<p>Did you know?</p>

<p>10</p>

<p>The US prosecution of Ross William Ulbricht brought worldwide attention to the darknet and the illicit actives occurring within this space.</p>

<p>Want to learn more about Silk Road?</p>

<p>Read: United States v. Ross William Ulbricht (2016), On Appeal from the United States District Court for the Southern District of New York Brief for the United States of America (Case 15-1815), https://cryptome.org/2016/07/ulbricht-appeal-122-121.pdf.</p>

<p>United States v. Ross William Ulbricht, Criminal Complaint, Sworn Statement of FBI agent Christopher Tarbell, (NY, Southern District Court of NY, 2013). https://krebsonsecurity.com/wp-content/uploads/2013/10/UlbrichtCriminalComplaint.pdf.</p>

<p>For similar cases visit UNODC’s SHERLOC Portal: https://sherloc.unodc.org/cld/v3/sherloc/cldb/index.html?lng=en.</p>

<p>Cyber Organized Crime Activities</p>

<p>Cyber organized criminals have engaged in a variety of cybercrimes, including fraud, hacking, malware creation and distribution, DDoS attacks, blackmail, and intellectual property crime (see Cybercrime Module 2 on General Types of Cybercrime and Cybercrime Module 11 on Cyber-Enabled Intellectual Property Crime), such as the sale of counterfeit or falsified trademarked products (e.g., apparel, accessories, shoes, electronics, medical products, automobile parts, etc.) and the labels, packages, and any other identifying designs of these products (Albanese, 2018; Europol, 2018; Broadhurst et al., 2018; Maras, 2016). These types of cybercrimes cause financial, psychological, economic, and even physical harm (especially counterfeit electronics and automobile parts, as well as falsified medical products, defined by the World Health Organization as “deliberately/fraudulently misrepresent their identity, composition or source,” see WHO, 2017), and have been used to fund other forms of serious crime, such as terrorism (Binder, 2016).</p>

<p>Criminal groups that engage in cyber organized crime also provide services that facilitate crimes and cybercrimes (crime as a service), such as data and identity documents (e.g., financial and health data, passports, voter registration identifications); malware (i.e., made to order or known malware - e.g., Zeus, a banking Trojan, designed to surreptitiously capture users’ banking details and other information needed to log in to online accounts); distributed denial of service (DDoS) attacks and botnet services; keyloggers; phishing/spearphishing tools; hacking tutorials; and information about vulnerabilities and exploits and instructions on how to take advantage of these (Broadhurst et al., 2018; Maras, 2016). For instance, the Shadowcrew, “an international organization of approximately 4,000 members [,]…promoted and facilitated a wide variety of criminal activities [online] including, among others, electronic theft of personal identifying information, credit card and debit card fraud, and the production and sale of false identification documents” (United States v. Mantovani et al., criminal indictment, 2014).</p>

<p>11</p>

<p>Organized criminal groups have also profited and/or otherwise benefited from illicit products and services offered online. For example, the creator of the Butterfly Bot advertised this malware online as capable of taking control of Windows and Linux computers (BBC News, 2013). The creator of the Butterfly Bot also sold plug-ins that modified the functions of the malware, and also offered to create customized versions of the malware for paying customers (FBI, 2010). Various online criminal networks deployed the Butterfly Bot, the largest application of this malware resulted in the Mariposa botnet, which infected 12.7 million computers around the world (BBC News, 2013).</p>

<p>Did you know?</p>

<p>As of February 2019, the perpetrators of the Zeus malware are still wanted in the United States and are on the US Federal Bureau of Investigation’s (FBI) Cyber’s Most Wanted List.</p>

<p>Want to learn more?</p>

<p>For more information, see https://www.fbi.gov/wanted/cyber.</p>

<p>Cyber organized criminals also provide bulletproof hosting services, which enable criminals to utilize servers to commit cybercrime and does not remove criminal content from these servers (National Cyber Security Centre, 2017, p. 8). Because of low trust in criminal transactions online and the existence of scammers, escrow services provided by cyber organized criminal groups are high in demand. These escrow services enable the funds criminal customers pay for illicit goods and services to be sent only after they confirm that the goods or services they paid for were received in good order (National Cyber Security Centre, 2017, p. 8).</p>

<p>Illicit goods and services are primarily purchased with cryptocurrency (i.e., “a digital currency that utilizes cryptography for security reasons;” Maras, 2016, p. 337). There are numerous cryptocurrencies on the market (e.g., Bitcoin, Litecoin, Dogecoin, Ethereum, and Monero, to name a few). While most darknet markets primarily use Bitcoin, other cryptocurrencies (e.g., Ethereum and Monero) are being utilized, and in some cases, preferred over Bitcoin (US Department of Justice, 2017; Broadhurst et al., 2018; Europol, 2018). Certain darknet sites use what is known as a ‘tumbler,’ which sends ‘all payments through a complex, semi-random series of dummy transactions…making it nearly impossible to link…[a] payment with any …[cryptocurrency] leaving the site’ (United States v. Ross William Ulbricht, Criminal Complaint, 2013, p. 14).</p>

<p>Furthermore, cyber organized criminals also provide money-laundering (i.e., “the process whereby criminals conceal and legitimate illicit funds”) as a service (Maras, 2016). The proceeds from the services provided by cyber organized criminals are also laundered. Money-laundering involves three stages: placement of illicit proceeds in financial system (placement), concealment of the origin of illicit funds (layering), and reintroduction of funds into the economy with concealed origin (integration) (UNODC, n.d.; also see Module 4 on Infiltration of Organized Crime in Business and Government of the E4J University Module Series on Organized Crime). Money is laundered utilizing digital currency (i.e., unregulated currency only available virtually); prepaid credit and debit cards (even Bitcoin-based cards); gift cards; money mules’ bank accounts; fake</p>

<p>12</p>

<p>name/shell company bank accounts; PayPal accounts; online gaming sites (via virtual gaming currency); and illicit gambling sites (McMullan and Rege, 2010; Maras, 2016; Europol, 2018).</p>

<p>According to Europol (2018), cyber organized criminals are also utilizing semi-automated cryptocurrency exchanges (known as swappers) and decentralized (peer-to-peer) exchanges, which do not require the identification and verification of users (pursuant to Know Your Customer requirements for regulated financial institutions) to launder criminal proceeds (Europol, 2018). Moreover, cyber organized criminals have found new and creative ways to launder money, such as Uber “ghost journeys” (i.e., drivers receive funds from money launderers to accept ride requests from Uber accounts at a prearranged price without the launderers actually using the service), and fake Airbnb rentals (i.e., money launderers pay Airbnb owners without staying at their property) (Busby, 2018). Furthermore, cyber organized criminals engage in microlaundering “a process whereby criminals launder large amounts of money by engaging in numerous small transactions”. Online, these types of transactions can occur on commercial sites, auctions sites, and even employment sites (Maras, 2016).</p>

<p>Did you know?</p>

<p>Digital payment systems are being targeted by cyber organized criminals. In 2014, a criminal network utilized malware targeting the Boleto Bancário (or Boletos), a legitimate, widely used payment method in Brazil. The malware (known as bolware) redirected Boleto payments to the accounts of criminals within the networks and money mules (Perlroth, 2014).</p>

<p>Want to learn more?</p>

<p>Krebs, Brian. (2014). Brazilian ‘Boleto’ Bandits Bilk Billions. https://krebsonsecurity.com/2014/07/brazilian-boleto-bandits-bilk-billions/</p>

<p>Furthermore, cyber organized criminals have utilized information and communication technology (ICT) to facilitate various forms of traditionally offline organized crime activities, such as the smuggling of migrants and trafficking in persons, wildlife, drugs, firearms, and cigarettes trafficking (see the E4J University Module Series on Trafficking in Persons and Smuggling of Migrants, the E4J University Module Series on Wildlife, Forest and Fisheries Crime, the E4J University Module Series on Firearms and Module 3 of the E4J University Module Series on Organized Crime) For instance, the smuggling of migrants, which is defined under Article 3(a) of the United Nations Protocol against the Smuggling of Migrants by Land, Sea and Air of 2000, supplementing the Organized Crime Convention as “the procurement, in order to obtain, directly or indirectly, a financial or other material benefit, of the illegal entry of a person into a State Party of which the person is not a national or a permanent resident”, has been facilitated by smugglers’ use of ICT to advertise, recruit, communicate with, and ultimately sell their services to migrants (European Commission, 2016; Maras, 2016; see Module 14 of the E4J University Module Series on Trafficking in Persons and Smuggling of Migrants for further information).</p>

<p>Likewise, ICT facilitates trafficking in persons (see Module 3 of the E4J University Module Series on Organized Crime, and the E4J University Module Series onTrafficking in Persons and</p>

<p>13</p>

<p>Smuggling of Migrants for further information on trafficking in persons), which is defined, under Article 3(a) of the</p>

<p>United Nations Protocol to Prevent, Suppress and Punish Trafficking in Persons, Especially Women and Children, Supplementing the United Nations Convention against Transnational Organized Crime of 2000, as the</p>

<p>“recruitment, transportation, transfer, harbouring or receipt of persons, by means of the threat or use of force or other forms of coercion, of abduction, of fraud, of deception, of the abuse of power or of a position of vulnerability or of the giving or receiving of payments or benefits to achieve the consent of a person having control over another person, for the purpose of exploitation. Exploitation shall include, at a minimum, the exploitation of the prostitution of others or other forms of sexual exploitation, forced labour or services, slavery or practices similar to slavery, servitude or the removal of organs.”</p>

<p>ICT has been used by traffickers to identify and recruit victims using false promises of work, fame, and love, advertise victims, communicate with clients and other traffickers, plan, organize and arrange meetings with clients and victims, and monitor victims’ whereabouts and control their activities (Latonero 2011; Latonero 2012; Latonero, Wex, and Dank, 2015; Maras, 2016; Europol, 2017; Maras, 2017; see Module 14 of the E4J University Module Series on Trafficking in Persons and Smuggling of Migrants).</p>

<p>In addition to the smuggling of migrants and trafficking in persons, traffickers have used ICT to engage in wildlife trafficking (“illegal capture, trade, and possession of endangered species, protected wildlife, and parts and products thereof”; Maras, 2016, p. 357) in contravention of the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES) of 1973 (see Organized Crime Module 3 for further information on wildlife trafficking). Besides some studies that have shown the sale of wildlife on social media platforms, auction websites, and commercial websites (e.g., IFAW, 2005; IFAW, 2008; IFAW, 2014; Lavorgna, 2014; Maras, 2016), a few studies have identified the use of the darknet by wildlife traffickers (e.g., Roberts and Hernandez-Castro, 2017; IFAW, 2017). For example, a report by the International Fund for Animal Welfare, the US Department of State, and the African Wildlife Foundation, revealed that rhinoceros, elephant and tiger parts were advertised and sold for bitcoins on the darknet (IFAW, 2017). Nevertheless, “very little…[illegal wildlife trade (IWT)] has ended up on the dark web;” in fact, the “listings of rhino horn or ivory are mostly found to be the by-catch of traders who specialize in other illicit trades…This would suggest that there is so little fear of legal enforcement against IWT on the surface web that traders do not think it is worth hiding their activities on the dark web, as child pornographers, drug dealers and arms traffickers know they must” (Haysom, 2018, p. 6).</p>

<p>Moreover, ICT has been used to facilitate drug trafficking, “the unlawful distribution and sale of drugs in violation of existing national and international laws” (Maras, 2016, p. 365), such as the United Nations Single Convention on Narcotic Drugs of 1961 (as amended in 1972), the Convention on Psychotropic Substances of 1971, and the Convention against Illicit Traffic in Narcotic Drugs and Psychotropic Substances of 1988 (see Organized Crime Module 3 for further information on drug trafficking). Research has shown that cryptomarkets, “a type of website that employs advanced encryption to protect users’ anonymity” (Broseus et al., 2016, p. 7), like the now defunct Silk Road (a darknet site), are increasingly being used by drug traffickers to expand</p>

<p>14</p>

<p>their operations by reaching customers all over the world (Barratt, 2012; Christin, 2012; Martin, 2014; Maras, 2014). These cryptomarkets minimize the risks of violence and exposure to law enforcement (with the exception of the risks associated with the interception of package deliveries; Décary-Hétu et al., 2016; Aldridge and Askew, 2017) that are present in offline drug trafficking (Norbutas, 2018). These cryptomarkets also reduce the uncertainties associated with drug markets, increase buyers’ access to sellers’ information and feedback from buyers on the quality of the sellers’ products and trustworthiness (via ratings), and increase sellers’ access to drugs and buyers’ access to clients (Cambini et al., 2011; Van Buskirk, Naicker, Roxburgh, Bruno, &amp; Burns, 2016; Hardy &amp; Norgaard, 2016; Przepiorka et al., 2017).</p>

<p>Furthermore, ICT facilitates firearms trafficking (see Organized Crime Module 3 as well as the E4J University Module Series on Firearms for further information on firearms trafficking), which is defined under Article 3(e) of the United Nations Protocol against the Illicit Manufacturing of and Trafficking in Firearms, Their Parts and Components and Ammunition, supplementing the United Nations Convention against Transnational Organized Crime of 2000, as “the import, export, acquisition, sale, delivery, movement or transfer of firearms, their parts and components and ammunition from or across the territory of one State Party to that of another State Party if any one of the States Parties concerned does not authorize it in accordance with the terms of this Protocol or if the firearms are not marked in accordance with article 8 of this Protocol [for the purpose of identification and tracking of firearms].” Advertisements for the illegal sale of firearms have been placed on social media, auction, and commercial websites, as well as darknet sites (Maras, 2016; GAO, 2017). For example, legally acquired firearms in the United States have then been sold illegally by traffickers on darknet sites (e.g., Agora Market, BMR and Utopia) and shipped to numerous countries in Europe in contravention of States’ laws (US Department of Justice, 2017).</p>

<p>Lastly, ICT has been used to facilitate the trafficking of cigarettes (see Organized Crime Module 3 for further information on counterfeit products trafficking, including cigarettes), which “occurs when individuals, groups, or businesses seek to sell cigarettes in a manner that evades existing laws and taxation rates or sell counterfeit cigarettes and cigarettes with counterfeit tax stamps” (Maras, 2016, p. 364). Research has shown that cigarette trafficking has occurred on commercial and auction websites, as well the darknet (Décary-Hétu, Mousseau, Rguioui, 2018; Maras, 2016).</p>

<p>Ultimately, the Internet has made the distribution of goods and services much simpler; in the cases of counterfeiting and cigarettes (and depending on the part of the world, firearms), the existing legitimate supply chain is abused by traffickers (Wilson and Kinghorm, 2015; Reichel and Albanese, 2013); in other forms of trafficking, such as drugs, humans, wildlife, firearms, as well as in counterfeiting and cigarette trafficking, the Internet removes barrier to entry into these forms of organized crime by providing perpetrators with the knowledge and tools they need, and access to customers to sell their illicit goods and services (Maras, 2016). While it is known that ICT facilitates the smuggling of migrants and different forms of trafficking, the nature and extent of this smuggling and these forms of trafficking online is currently unknown (Maras, 2016); the same holds true for other forms of trafficking, such as falsified medical products, wildlife, cultural property as well as minerals and metals.</p>

<p>Preventing and Countering Cyber Organized Crime</p>

<p>15</p>

<p>The measures implemented to counter cyber organized crime have focused on law enforcement and prosecution efforts, technical solutions, and education campaigns. Criminal justice efforts include the monitoring of online sites (both the visible and Deep Web) that facilitate cyber organized crime and/or promote the services of cyber organized criminals, the take down of these sites, and prosecutions of those engaging in cyber organized crime. Cases in point are the AlphaBay and Hansa joint United States and Netherlands law enforcement operations. The US-led investigation targeted AlphaBay (Operation Bayonet). When AlphaBay was seized, users (vendors and buyers) of the platforms migrated to another cryptomarket, Hansa, which unbeknownst to them, was under the control of the Dutch police, who was conducting an undercover operation to identify and disrupt illicit activities committed on the darknet site (Greenberg, 2018). This migration enabled Dutch authorities to identify and investigate these individuals before the platform was shut down in July 2017 (Europol, 2017).</p>

<p>The AlphaBay and Hansa investigations demonstrate the importance of international cooperation on cyber organized crime cases. National capacity-building (discussed in Cybercrime Module 7) of non-specialized law enforcement (those not exclusively focused on cybercrime) in the form of training and knowledge sharing relating to cyber organized crime investigations (discussed in Cybercrime Module 5 and in Module 11 of the E4J University Module Series on Organized Crime) (UNODC, 2013; Europol, 2018) can assist in this endeavour.</p>

<p>Undercover law enforcement operations involving the surreptitious monitoring of these sites and users’ activities, and the publicizing of these operations, are not only aimed at identifying and disrupting illicit activities on these sites but also at eroding trust in these markets because trust is essential to the success of dark markets and cryptomarkets (Lusthaus, 2012). The presence of scam dark markets and cryptomarkets also erodes trust in these markets. For example, after the take down of Silk Road, users migrated to other cryptomarkets (with their bitcoins), only to find out that these dark markets were scams (the platforms shut down, taking the users bitcoins with them, also known as an exit scam) (Maras, 2016).</p>

<p>Prosecutions of cyber organized criminals are aimed at holding perpetrators of illicit activities on these sites and creators, administrators, and moderators of these sites responsible for their crimes. Before taking his own life, Alexandre Cazes, the creator and administrator of AlphaBay, was facing numerous charges relating to organized crime (that carried significant penalties) for his role (US Department of Justice, 2017). The creator and administrator for Silk Road received a sentence of life imprisonment without parole in the United States for his crimes (Greenberg, 2017). Nevertheless, severe penalties for cyber organized crime by no means constitutes a trend. In fact, penalties for some types of trafficking (e.g., wildlife and cigarette trafficking) are low, making this a low risk, and high reward illicit activity (Maras, 2016; Décary-Hétu, Mousseau, Rguioui, 2018).</p>

<p>Technological solutions can (and have been) implemented to counter cyber organized crime. Software has been used to detect language in advertisements that points to trafficking. This software needs to be updated regularly to anticipate the measures that traffickers take to evade detection by this software. For example, human traffickers use emojis (e.g., growing heart) to depict a minor being advertised and wildlife traffickers “misspell… or use creative words for their goods, for example, for the word “ivory,” a reseller might use ‘ivoree,’ ‘ivori,’ ‘i v o ry’ or ‘iv*ry’”</p>

<p>16</p>

<p>or use the terms “white plastic” to refer to ivory or “black plastic” to refer to a rhino horn (IFAW, 2008; Maras, 2016; Maras, 2018).</p>

<p>Facial recognition technology has also been deployed to identify trafficked persons, and sexually exploited children (see Cybercrime Module 12 and Module 14 of the E4J University Module Series on Trafficking in Persons and Smuggling of Migrants). Image recognition software has further been utilized to identify child sexual abuse material (see Cybercrime Module 12 on Interpersonal Cybercrime). Image recognition software can also be used to identify wildlife and illicit goods in images, such as drugs or firearms. This software can speed up the identification of illicit goods online and flag illicit content for review by moderators of the online platforms (Drange, 2016).</p>

<p>Note: As discussed in Cybercrime Module 3 on Legal Frameworks and Human Rights, arbitrary blocking or filtering of content is prohibited under international human rights law (see Cybercrime Module 3 for further information).</p>

<p>Education campaigns have been used as a tool of (cyber) crime prevention and have focused on raising awareness on cyber organized crime, by for example, informing the public about the ways in which individuals can protect themselves from cybercrime, such as fraud, malware (e.g., remote access Trojans, spyware, and ransomware), social engineering tactics (e.g., Europol’s Public Awareness and Prevention Guides), and the risks, warning signs, and consequences of being a money mule (e.g., Europol’s Money Muling Guide). With regards to cyber-facilitated crimes perpetrated by cyber organized criminals (e.g., malware distribution and hacking), practical cybersecurity measures have been proposed that are designed to identify vulnerabilities and prevent exploits of vulnerabilities, such as strong authentication measures and intrusion detection and intrusion protection systems (see Cybercrime Module 9 for further examples of cybersecurity measures).</p>

<p>Education campaigns have also focused on the adverse impacts of cyber organized crime. Cases in point are the UNODC “Counterfeit: Don’t Buy Into Organized Crime” campaign (mentioned in Cybercrime Module 11 on Cyber-Enabled Intellectual Property Crime) that covers the negative impact of counterfeit trafficking (UNODC, 2014) and Europol’s Public Awareness and Prevention Guides and awareness campaigns on online counterfeit goods (e.g., #dontfakeup). INTERPOL’s #StopIllicitTrade offline and online awareness campaign, which is part of its Trafficking in Illicit Goods and Counterfeiting programme, not only provides information about the threats posed by the trade of illicit goods but also on the links between this trade and organized crime.</p>

<p>Public awareness and education campaigns also focus on certain forms of trafficking. For instance, the United Nations Blue Heart Campaign, seeks to raise awareness on human trafficking through advertisements online (e.g., social media, international organization websites and government websites) and in person (e.g., billboards) (US Department of States, 2018), and the United Nations #WildforLife campaign, raises awareness of wildlife trafficking issues and seeks to mobilize public action to end this form of trafficking.</p>

<p>Conclusion</p>

<p>17</p>

<p>Organized criminal groups tactics have either evolved to include cybercrime and/or utilize information and communication technology to facilitate various forms of organized crime, or they have developed new forms of organization when committing new forms of crime. These individuals commit a variety of illicit activities, which may or may not occur exclusively online and/or be facilitated by ICT. Dark markets and cryptomarkets sites where cyber organized crime occurs, not only make illicit goods and services available, but also enable illicit actors to interact with each other, share knowledge and resources, develop contacts, build and maintain relationships, recruit individuals to commit illicit acts, lauder money, learn how to commit crimes and cybercrimes, and evade detection by authorities (Leukfeldt, Kleemans, and Stol, 2017). In view of that, ICT has lowered the barriers for entry into illicit trades online, provided criminals with access to the information and resources needed to commit crimes and cybercrimes transnationally (e.g., technical and human resources), and afforded them the opportunity to network, organize, and work together to commit crimes and cybercrimes, such as cyber organized crime.</p>

<p>References</p>

<p>● Albanese, Jay. (2018). Cybercrime as an Essential Element in Transnational Counterfeiting Schemes. Presentation at International Academic Conference: Linking Organized Crime and Cybercrime. A conference hosted by Hallym University and sponsored by the United Nations Office on Drugs and Crime (UNODC), 8 June 2018.</p>

<p>● Aldridge, Judith and Rebecca Askew. (2017). Delivery dilemmas: How drug cryptomarket users identify and seek to reduce their risk of detection by law enforcement. International Journal of Drug Policy, Vol. 41, 101–109.</p>

<p>● Arsovska, J. (2011). Conceptualizing and studying organized crime in a global context. Possible? Indispensable? Superfluous? In C. J. Smith, S. X. Zhang, and R. Barberet (Eds.), Routledge Handbook of International Criminology. Routledge.</p>

<p>● BAE Systems Detica and London Metropolitan University (2012). Organised Crime in the Digital Age. Norton Cybercrime Report 2011.</p>

<p>https://www.symantec.com/content/en/us/home_homeoffice/media/pdf/cybercrime_report/Norton_USA-Human%20Impact-A4_Aug4-2.pdf.</p>

<p>● Barratt, Monica J. (2012). Silk Road: eBay for drugs. Addiction, Vol. 107(3), 683.</p>

<p>● Bateman, Tom. (2013). Police warning after drug traffickers’ cyber-attack. BBC News, 16 October 2013. https://www.bbc.com/news/world-europe-24539417.</p>

<p>● BBC News. (2013). Mariposa Botnet “Mastermind” Jailed in Slovenia. 24 December 2013.</p>

<p>https://www.bbc.com/news/technology-25506016.</p>

<p>● Broadhurst, Roderic, Peter Grabosky, Mamoun Alazab and Steve Chon. (2014). Organizations and Cybercrime: An Analysis of the Nature of Groups engaged in Cyber Crime. International Journal of Cyber Criminology, Vol 8(1), pp. 1–20.</p>

<p>● Broadhurst, Roderic. (2018). Malware Trends on ‘Darknet’ Crypto-markets: Research Review. Report of the Australian National University Cybercrime Observatory for the Korean Institute of Criminology. http://regnet.anu.edu.au/sites/default/files/publications/attachments/2018-09/KIC%20report_combined%205%20Sept.pdf.</p>

<p>18</p>

<p>● Broseus, Julian, Damien Rhumorbarbe, Caroline Mireault, Vincent Ouellette, Frank Crispino, and David Decary-Hetu. (2016). Studying illicit drug trafficking on Darknet markets: Structure and organization from a Canadian Perspective. Forensic Science International, Vol. 264, 7-14.</p>

<p>● Busby, Matta. (2018). Cyberlaundering: from ghost Uber rides to gibberish on Amazon. The Guardian, 17 May 2018. https://www.theguardian.com/technology/2018/may/17/cyberlaundering-funds-terror-internet-fake-transactions-cashless-society.</p>

<p>● Cambini, Carlo, Nicola Meccheri, Virginia Silvestri, P Torino, C Duca and U Pisa. (2011). Competition: Efficiency and market structure in online digital markets. An overview and policy implications. European Review of Industrial Economics and Policy, Vol. 2, 1–27.</p>

<p>● Christin, Nicolas. (2012). Traveling the Silk Road: A measurement analysis of a large anonymous online marketplace. Technical Reports, 2012 CMU-CyLab-12-018. https://www.cylab.cmu.edu/_files/pdfs/tech_reports/CMUCyLab12018.pdf.</p>

<p>● Choo, Kim-Kwang Raymond. (2008). Organised crime groups in cyberspace: a typology. Trends in Organized Crime, Vol. 11(3), 270-295.</p>

<p>● Choo, Kim-Kwang Raymond and Russell Smith. (2008). Criminal Exploitation of Online Systems by Organised Crime Groups. Asian Journal of Criminology, Vol. 3(1), 37-59.</p>

<p>● Cosgrave, Jenney. (2014). Online Gambling: The New Home for Money Launderers. CNBC, 25 April 2014. https://www.cnbc.com/2014/04/25/online-gambling-the-new-home-for-money-launderers.html.</p>

<p>● Décary-Hétu, David, Vincent Mousseau, and Ikrame Rguioui. (2018). The Shift to Online Tobacco Trafficking. International Journal of Cyber Criminology.</p>

<p>● Décary-Hétu, David, Masarah Paquet-Clouston, and Judith Aldridge. (2016). Going international? Risk taking by cryptomarket drug vendors. International Journal of Drug Policy, Vol. 35, 69–76.</p>

<p>● Drange, Matt. (2016). Why Is This Canadian Hacker Better Than Facebook At Detecting Gun Photos? Forbes, 31 March 2016.</p>

<p>https://www.forbes.com/sites/mattdrange/2016/03/31/facebook-guns-beet_farmer-image-recognition/#293bded024f2.</p>

<p>● Ellis, Stephen. (2016). This Present Darkness: A History of Nigerian Organised Crime. Oxford University Press.</p>

<p>● European Commission. (2016). The Use of Social Media in the Fight Against Migrant Smuggling. European Migration Network (EMN) Inform. http://emn.ie/files/p_201611160253212016_emn_inform_on_social_media_in_migrant_smuggling.pdf.</p>

<p>● Europol. (2017). Internet Organised Crime Threat Assessment 2017.</p>

<p>https://www.europol.europa.eu/iocta/2017/index.html.</p>

<p>● Europol. (2018). Internet Organised Crime Threat Assessment 2018.</p>

<p>https://www.europol.europa.eu/activities-services/main-reports/internet-organised-crime-threat-assessment-iocta-2018.</p>

<p>● Europol. (2017). Massive Blow to Criminal Dark Web Activities After Globally Coordinated Operation. Press release, 20 July 2017.</p>

<p>https://www.europol.europa.eu/newsroom/news/massive-blow-to-criminal-dark-web-activities-after-globally-coordinated-operation.</p>

<p>19</p>

<p>● FBI. (2010). FBI, Slovenian and Spanish Police Arrest Mariposa Botnet Creator, Operators. https://archives.fbi.gov/archives/news/pressrel/press-releases/fbi-slovenian-and-spanish-police-arrest-mariposa-botnet-creator-operators.</p>

<p>● FBI. (2018). International Business E-Mail Compromise Takedown. https://www.fbi.gov/news/stories/international-bec-takedown-061118.</p>

<p>● FBI. (n.d.) Transnational Organized Crime. https://www.fbi.gov/investigate/organized-crime</p>

<p>● GAO. (2017). Internet Firearm Sales. https://www.gao.gov/assets/690/688535.pdf.</p>

<p>● Glenny, Misha. (2017). Organised crime finally embraces cyber theft. Financial Times, 7 March 2017. https://www.ft.com/content/a038cd98-0041-11e7-8d8e-a5e3738f9ae4.</p>

<p>● Greenberg, Andy. (2018). Operation Bayonet: Inside the Sting that Hijacked an Entire Dark Web Drug Market. Wired, 8 March 2018. https://www.wired.com/story/hansa-dutch-police-sting-operation/.</p>

<p>● Greenberg, Andy. (2017). Silk Road Creator Ross Ulbricht Loses Life Sentence Appeal. Wired, 31 May 2017,</p>

<p>https://www.wired.com/2017/05/silk-road-creator-ross-ulbricht-loses-life-sentence-appeal/.</p>

<p>● Haysom, Simone. (2018). Digitally Enhanced Responses: New horizons for combating online illegal wildlife trade. Global Initiative Against Transnational Organized Crime. http://globalinitiative.net/wp-content/uploads/2018/06/TGIATOC-Digital-Responses-Report-WEB.pdf.</p>

<p>● Hoffmann, Leena Koni, Patrick Smith, Christopher Clapham, and Alex Vines. (2016). Tracing the Origins of Nigerian Organized Crime: Politics, Corruption and the Growth of Criminal Networks. Chatham House, The Royal Institute of International Affairs. Africa Programme Meeting Summary. https://www.chathamhouse.org/sites/default/files/events/2016-05-06-tracing-the-origins-of-nigerian-organized-crime.pdf.</p>

<p>● Hutchings, Alice and Chua, Yi Ting. (2017). Gendering cybercrime (pp. 167-188). Thomas J. Holt. (ed.). Cybercrime Through an Interdisciplinary Lens. Routledge.</p>

<p>● ICE. (2017). Russian Cyber-Criminal Pleads Guilty in Organized Cybercrime Ring Responsible for $50 Million in Online Identity Theft. https://www.ice.gov/news/releases/russian-cyber-criminal-pleads-guilty-role-multimillion-dollar-online-identity-theft.</p>

<p>● International Fund for Animal Welfare. (2005). Caught in the Web: Wildlife Trade on the Internet. https://www.ifaw.org/united-states/resource-centre/caught-web.</p>

<p>● International Fund for Animal Welfare. (2008). Killing with Keystrokes. https://s3.amazonaws.com/ifaw-pantheon/sites/default/files/legacy/Killing%20with%20Keystrokes.pdf.</p>

<p>● International Fund for Animal Welfare. (2017). Research identifies illegal wildlife trade on the Darknet. https://www.ifaw.org/united-states/news/research-identifies-illegal-wildlife-trade-darknet.</p>

<p>● International Fund for Animal Welfare. (2014). Wanted—Dead or Alive: Exposing Online Wildlife Trade. https://www.ifaw.org/european-union/resource-centre/wanted-dead-or-alive-exposing-online-wildlife-tra-0.</p>

<p>● Kshetri, Nir. (2013). Cybercrime and Cybersecurity in the Global South. Palgrave Macmillan.</p>

<p>20</p>

<p>● Kshteri, Nir. (2010). Diffusion and Effects of Cyber-crime in Developing Economies. Third Word Quarterly, No. 31(7), 1057-1079.</p>

<p>● Latonero, Mark. (2011). The Role of Social Networking Sites and Online Classifieds. University of Southern California, Annenberg Center on Communication Leadership &amp; Policy Research Series.</p>

<p>https://technologyandtrafficking.usc.edu/files/2011/09/HumanTrafficking_FINAL.pdf.</p>

<p>● Latonero, Mark. (2012). The Rise of Mobile and the Diffusion of Technology-Facilitated Trafficking. University of Southern California, Annenberg Center on Communication Leadership &amp; Policy. Research Series on Technology and Human Trafficking. https://technologyandtrafficking.usc.edu/files/2012/11/HumanTrafficking2012_Nov12.pdf.</p>

<p>● Latonero, Mark, Browyn, Wex, and Meredith Dank. (2015). Technology and Labor Trafficking in a Networked Society: General Overview, Emerging Innovations, and Philippines Case Study. University of Southern California, Annenberg Center on Communication Leadership &amp; Policy.</p>

<p>https://communicationleadership.usc.edu/files/2015/10/USC_Tech-and-Labor-Trafficking_Feb2015.pdf.</p>

<p>● Lavorgna, Anita and Sergi, Anna (2014). Types of organized crime in Italy. The multifaceted spectrum of Italian criminal associations and their different attitudes in the financial crisis and in the use of Internet technologies. International Journal of Law, Crime and Justice. No. 42(1), 16-32.</p>

<p>● Lavorgna, Anita (2016). Exploring the cyber-organised crime narrative: the hunt for a new bogeyman? In, Van Duyne, Petrus C., Scheinost, Miroslav, Antonopoulos, Georgios A., Harvey, Jackie and Von Lampe, Klaus (eds.) Narratives on Organised Crime in Europe: Criminals, Corrupters &amp; Policy. Oisterwijk, Netherlands. Wolf Legal Publishers.</p>

<p>● Lavorgna, Anita. (2014). Wildlife trafficking in the Internet age. Crime Science, Vol. 3(5). https://pdfs.semanticscholar.org/a9f2/5bffb0b70fd5b299ea7b6445121939f6c527.pdf.</p>

<p>● Leukfeldt, E. Rutger, Anita Lavorgna, and Edward R. Kleemans. (2017). Organised Cybercrime or Cybercrime that is Organized? An Assessment of the Conceptualization of Financial Cybercrime as Organised Crime. European Journal in Criminal Policy and Research, Vol. 23(3), 287-300.</p>

<p>● Leukfeldt, E. Rutger, Edward R. Kleemans, and Stol, Wouter. (2016a). Cybercriminal networks, social ties and online forums: social ties versus digital ties within phishing and malware networks. British Journal of Criminology, Vol. 57(3), 704-722.</p>

<p>● Leukfeldt, E. Rutger, Edward R. Kleemans, and Stol, Wouter. (2016b). A typology of cybercriminal networks: from low tech locals to high tech specialists. Crime, Law and Social Change, Vol. 67(1), 39-53.</p>

<p>● Leukfeldt, E. Rutger, Edward R. Kleemans, and Stol, Wouter. (2017a). Origin, growth and criminal capabilities of cybercriminal networks. An international empirical analysis. Crime, Law and Social Change, Vol. 67(1), 39-53.</p>

<p>● Laeukfeldt, Rutger, Kleemans, Edward, and Stol, Wouter. (2017b). The Use of Online Crime Markets by Cybercriminal Networks: A View From Within. American Behavioral Scientist Vol. 61(11), p. 1387-1402.</p>

<p>21</p>

<p>● Lusthaus, Jonathan. (2012). Trust in the world of cybercrime. Global Crime, Vol. 13(2), 71-94.</p>

<p>● Lusthaus, Jonathan. (2013). How organised is organised cybercrime? Global Crime, Vol. 14(1), 52–60.</p>

<p>● Maras, Marie-Helen. (2016). Cybercriminology. Oxford University Press.</p>

<p>● Maras, Marie-Helen. (2014). Inside Darknet: the takedown of Silk Road. Criminal Justice Matters, Vol. 98(1), 22-23.</p>

<p>● Maras, Marie-Helen. (2018). Legal and Technological Solutions to the Facilitation of Trafficking in Persons Online. Presentation at International Academic Conference: Linking Organized Crime and Cybercrime. A conference hosted by Hallym University and sponsored by the United Nations Office on Drugs and Crime (UNODC), 8 June 2018.</p>

<p>● Maras, Marie-Helen. (2017). Online Classified Advertisement Sites: Pimps and Facilitators of Prostitution and Sex Trafficking? Journal of Internet Law, Vol. 21(5), 17-21.</p>

<p>● Martin, James. (2014). Lost on the Silk Road: online drug distribution and the ‘cryptomarket.’ Criminology and Criminal Justice, Vol. 14(3), 351–367.</p>

<p>● McMullan, John and Aunshul Rege. (2010). On Line Crime and Internet Gambling. Journal of Gambling Issues, Vol. 24, 54-85.</p>

<p>● Neil, David, J. (2018). The 21-year-old’s company had $1.6 million after 23 days. She’ll be sentenced in July. The Miami Herald, 13 June 2018. https://www.miamiherald.com/news/local/crime/article213018554.html.</p>

<p>● Norbutas, Lukas. (2018). Offline constraints in online drug marketplaces: An exploratory analysis of a cryptomarket trade network. International Journal of Drug Policy, Vol. 56, pp.92-100.</p>

<p>● OCCRP. (2016). Italy: Crackdown on Illegal Online Gambling Ring. https://www.occrp.org/en/daily/4800-italy-crackdown-on-illegal-online-gambling-ring.</p>

<p>● Oyenuga, Adedeji. (2018). Ingroup-Outgroup Structure of Cybercrime Network in Lagos Metropolis. Presentation at International Academic Conference: Linking Organized Crime and Cybercrime. A conference hosted by Hallym University and sponsored by the United Nations Office on Drugs and Crime (UNODC), 8 June 2018.</p>

<p>● Perlroth, Nicole. (2014). Cybercrime Scheme Uncovered Brazil. New York Times, 2 July 2014. https://www.nytimes.com/2014/07/03/technology/cybercrime-scheme-aims-at-payments-in-brazil.html.</p>

<p>● Poulsen, Kevin. (2013). In Las Vegas Courtroom, First Ever Cybercrime Rico Trial Begins. Wired, 20 November 2013. https://www.wired.com/2013/11/open-market-trial-begins/.</p>

<p>● Przepiorka, Wojtek, Lukas Norbutas, and Rense Corten. (2017). Order without law: Reputation promotes cooperation in a cryptomarket for illegal drugs. European Sociological Review, Vol. 33(6), 752–764.</p>

<p>● Reichel, Philip and Jay Albanese. (2013). Handbook of Transnational Crime and Justice. Sage.</p>

<p>● Reuters. (2016). 11 Arrested in Italy Over Illegal Mafia-Linked Online Gambling Ring. Reuters, 13 January 2016. https://www.newsweek.com/luigi-tancredi-mafia-italy-online-gambing-415163.</p>

<p>22</p>

<p>● Roberts, David L. and Hernandez-Castro, Julio. (2017). Bycatch and illegal wildlife trade on the dark web. Oryx: The International Journal of Conservation, Vol. 51(3), 393-394.</p>

<p>● National Cyber Security Centre. (2017). Cyber crime: Understanding the online business model. https://www.sbs.ox.ac.uk/cybersecurity-capacity/content/cyber-crime-understanding-online-business-model.</p>

<p>● Shelley, Louise I. (2012). The Diverse Facilitators of Counterfeiting: A Regional Perspective. Journal of International Affairs, Vol. 66(1), 19-37.</p>

<p>● United States Senate. (2017). Backpage.com’s Knowing Facilitation of Online Sex Trafficking. Staff Report Permanent Subcommittee on Investigations. https://www.hsgac.senate.gov/imo/media/doc/Backpage%20Report%202017.01.10%20FINAL.pdf.</p>

<p>● UNODC. (2014). Counterfeit: Don’t buy into organized crime. UNODC launches new outreach campaign on $250 billion a year counterfeit business. https://www.unodc.org/unodc/en/frontpage/2014/January/counterfeit-dont-buy-into-organized-crime---unodc-launches-new-outreach-campaign-on-250-billion-a-year-counterfeit-business.html.</p>

<p>● UNODC (2012). Digest of Organized Crime Cases: A compilation of cases with commentaries and lessons learned. http://www.unodc.org/documents/organized-crime/EnglishDigest_Final301012_30102012.pdf.</p>

<p>● UNODC. (2013). Draft Comprehensive Study on Cybercrime. https://www.unodc.org/documents/organized-crime/UNODC_CCPCJ_EG.4_2013/CYBERCRIME_STUDY_210213.pdf.</p>

<p>● UNODC (2002). Results of a Pilot Survey of Forty Selected Organized Criminal Groups in Sixteen Countries (September 2002). https://www.unodc.org/pdf/crime/publications/Pilot_survey.pdf.</p>

<p>● UNODC. (n.d.). The Money-Laundering Cycle. https://www.unodc.org/unodc/en/money-laundering/laundrycycle.html.</p>

<p>● United States v. Mantovani et al., United States District Court District of New Jersey Criminal Indictment, 2014.</p>

<p>https://www.justice.gov/sites/default/files/usao-nj/legacy/2013/11/29/Kolarov%2C%20Aleksi%20Indictment.pdf.</p>

<p>● United States v. Ross William Ulbricht, Criminal Complaint, Sworn Statement of FBI agent Christopher Tarbell, (NY, Southern District Court of NY, 2013). https://krebsonsecurity.com/wp-content/uploads/2013/10/UlbrichtCriminalComplaint.pdf.</p>

<p>● US Department of Justice. (2017). AlphaBay, the Largest Online ‘Dark Market,’ Shut Down. https://www.justice.gov/opa/pr/alphabay-largest-online-dark-market-shut-down.</p>

<p>● US Department of Justice. (2017). Gun traffickers arrested for allegedly using the Dark Net to export guns across the world. US Attorney’s Office, Northern District of Georgia.</p>

<p>https://www.justice.gov/usao-ndga/pr/gun-traffickers-arrested-allegedly-using-dark-web-export-guns-across-world.</p>

<p>● US Department of State. Trafficking in Persons Report 2018.</p>

<p>https://www.state.gov/documents/organization/282798.pdf.</p>

<p>● Van Buskirk, Joe, Sundresan Naicker, Amanda Roxburgh, Raimondo Bruno, and Lucinda Burns. (2016). Who sells what? Country specific differences in substance</p>

<p>23</p>

<p>availability on the Agora cryptomarket. International Journal of Drug Policy, Vol. 35, 16–23. ● Varese, Federico. (2010). What is Organized Crime? In Organized Crime: Critical Concepts in Criminology, edited by Federico Varese, 1-33. Routledge.</p>

<p>● von Lampe, K. (2008). Organized crime in Europe: conceptions and realities. Policing (2)1, 7–17</p>

<p>● Wall, David (2015). Dis-organized Crime: Towards a distributed model of the organization of Cybercrime. The European Review of Organized Crime, No. 2(2), 71-90.</p>

<p>● Wall, David (2017). Crime, security and information communication technologies: The changing cybersecurity threat landscape and implications for regulation and policing. Pp. 1075-1096 in R. Brownsword, E. Scotford and K. Yeung (Eds.), The Oxford Handbook of the Law and Regulation of Technology, Oxford University Press.</p>

<p>● Wang, Peng and Antonopoulos, Georgios. (2016). Organized crime and illegal gambling: How do illegal gambling enterprises respond to the challenges posed by their illegality in China? Australian &amp; New Zealand Journal of Criminology, Vol. 49(2) 258-280.</p>

<p>● WHO. (2017). Definitions of Substandard and Falsified (SF) Medical Products. https://www.who.int/medicines/regulation/ssffc/definitions/en/.</p>

<p>● Wilson, Jeremy M. and Rod Kinghorn. (2015). The Global Risk of Product Counterfeiting: Facilitators of the Criminal Opportunity. Michigan State University Centre for Anti-Counterfeiting and Product Protection. http://a-capp.msu.edu/wp-content/uploads/2018/05/PC_Opportunity_Backgrounder_FINAL.pdf.</p>

<p>Laws</p>

<p>● Convention against Illicit Traffic in Narcotic Drugs and Psychotropic Substances of 1988 (United Nations) (https://www.unodc.org/documents/commissions/CND/Int_Drug_Control_Conventions/Ebook/The_International_Drug_Control_Conventions_E.pdf).</p>

<p>● Convention against Transnational Organized Crime of 2000 (United Nations) (https://www.unodc.org/documents/treaties/UNTOC/Publications/TOC%20Convention/TOCebook-e.pdf).</p>

<p>● Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES) of 1973 (https://www.cites.org/eng/disc/text.php).</p>

<p>● Convention on Psychotropic Substances of 1971 (United Nations) (https://www.unodc.org/documents/commissions/CND/Int_Drug_Control_Conventions/Ebook/The_International_Drug_Control_Conventions_E.pdf).</p>

<p>● Protocol against the Illicit Manufacturing of and Trafficking in Firearms, Their Parts and Components and Ammunition, supplementing the United Nations Convention against Transnational Organized Crime (United Nations) (https://www.unodc.org/documents/treaties/UNTOC/Publications/TOC%20Convention/TOCebook-e.pdf).</p>

<p>● Protocol against the Smuggling of Migrants by Land, Sea and Air of 2000, supplementing the United Nations Convention against Transnational Organized Crime of 2000 (United Nations) (https://www.unodc.org/documents/treaties/UNTOC/Publications/TOC%20Convention/TOCebook-e.pdf).</p>

<p>24</p>

<p>● Protocol to Prevent, Suppress and Punish Trafficking in Persons, Especially Women and Children, Supplementing the United Nations Convention against Transnational Organized Crime of 2000 (United Nations) (</p>

<p>https://www.unodc.org/documents/treaties/UNTOC/Publications/TOC%20Convention/TOCebook-e.pdf).</p>

<p>● Single Convention on Narcotic Drugs of 1961 (United Nations) (https://www.unodc.org/documents/commissions/CND/Int_Drug_Control_Conventions/Ebook/The_International_Drug_Control_Conventions_E.pdf).</p>

<p>Exercises</p>

<p>Exercise # 1: Type of Criminal Group that Engages in Cyber Organized Crime</p>

<p>There are several types of organized criminal groups that engage in cybercrime.</p>

<p>Find a recent case involving an organized criminal group that engaged in cyber organized crime. What type of a group is it? Why do you think so?</p>

<p>[This exercise needs to be completed before class].</p>

<p>Exercise # 2: Darknet Law Enforcement Operations</p>

<p>Several law enforcement agencies took down darknet marketplaces (e.g., Silk Road 2.0, Pandora, AlphaBay, and Hansa). These takedowns, as well as the scam markets that appeared on the darknet, sowed seeds of mistrust in these sites.</p>

<p>Why is trust important in the use of darknet sites? Please explain your response.</p>

<p>Exercise # 3: Cryptocurrencies</p>

<p>There are a variety of cryptocurrencies on the market.</p>

<p>Discussion Questions</p>

<p>1. Which cryptocurrency is primarily used by citizens of your country?</p>

<p>2. Why is it used?</p>

<p>3. Are there any other cryptocurrencies used? If so, please identify and discuss them.</p>

<p>4. How are cryptocurrencies used by cyber organized criminals?</p>

<p>Having answered these questions:</p>

<p>● Choose one cryptocurrency. If you wanted to buy 0.05 of that cryptocurrency in your country’s currency, how much would that cost?</p>

<p>● How would you buy this?</p>

<p>● Do you need to provide any identifying information and/or an identification to purchase the cryptocurrency?</p>

<p>25</p>

<p>● Access a darknet market. What can you buy on a darknet market with 0.05 of the cryptocurrency of your choice?</p>

<p>[Note: For the last question, you may need to download, ToR or I2P, depending on the darknet market you will access].</p>

<p>Possible Class Structure</p>

<p>The following is a recommended structure for the class. Students should complete the core readings before coming to class. The lecture is meant to reinforce what they learned in the readings and the exercises are designed to apply what they learned in the readings. The following breakdown is designed based on a three-hour class. Lecturers can adapt the structure based on their needs and the class times.</p>

<p>Cybercrime Module 13 Class Breakdown (three-hour class)</p>

<p>Introduction to the class and learning outcomes</p>

<p>Lecture (10 minutes):</p>

<p>● Provide a brief introduction to the class and its contents</p>

<p>● Identify and discuss the learning outcomes of the class</p>

<p>Cyber Organized Crime: What It Is</p>

<p>Lecture (30 minutes):</p>

<p>● Describe cyber organized crime</p>

<p>Criminal Groups that Engaged in Cyber Organized Crime</p>

<p>Lecture (30 minutes):</p>

<p>● Identify criminal groups that engage in cyber organized crime</p>

<p>● Identify and discuss the structures and characteristics of these groups</p>

<p>Class Exercise (20 minutes):</p>

<p>Have students complete either</p>

<p>“Exercise # 1 – Type of Criminal Groups that Engages in Cyber Organized Crime” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture</p>

<p>or</p>

<p>26</p>

<p>Have students complete “Exercise # 2 – Darknet Law Enforcement Operations” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>[Optional: Have students complete “Homework # 1 – Online Dark Markets and Criminal Enterprises” under the “Student Assessment” section of this Module before class and have them discuss their findings during this lecture and/or any of the lectures afterwards. You can ask the students the question in this exercise here and/or in any (or all) of the sessions below. Students can either hand in a one- to three-page summary of their findings or come prepared to discuss their findings in class].</p>

<p>Break</p>

<p>Time: 10 minutes</p>

<p>Cyber Organized Crime Activity</p>

<p>Lecture (30 minutes):</p>

<p>● Identify different types of cyber organized crime</p>

<p>● Describe and analyse the ways in which information and communication technology is used to commit cyber organized crime</p>

<p>Class Exercise (20 minutes):</p>

<p>Have students complete “Exercise # 3 – Cryptocurrencies” under the “Exercises” section of this Module before class and have them discuss their findings during the lecture.</p>

<p>Preventing and Countering Cyber Organized Crime</p>

<p>Lecture (30 minutes):</p>

<p>● Critically evaluate the measures used to counter cyber organized crime</p>

<p>[Optional: Have students complete “Homework # 2: National Laws on Cyber Organized Crime” under the “Student Assessment” section of this Module as a written assignment (one to three pages) before class and have them discuss their findings during the lecture].</p>

<p>[Optional: Have students complete “Homework # 3: Technological Solutions” under the “Student Assessment” section of this Module as a written assignment (one to three pages) before class and have them discuss their findings during the lecture].</p>

<p>[Optional: Have students complete “Homework # 4: Education Campaigns” under the “Student Assessment” section of this Module as a written assignment (1 to 3 pages) before class and have them discuss their findings during the lecture].</p>

<p>27</p>

<p>Core Reading</p>

<p>The following readings are (mostly open source) required readings that should be completed before taking a class based on this Module:</p>

<p>● BAE Systems Detica and London Metropolitan University (2012). Organised Crime in the Digital Age. Norton Cybercrime Report 2011.</p>

<p>https://www.symantec.com/content/en/us/home_homeoffice/media/pdf/cybercrime_report/Norton_USA-Human%20Impact-A4_Aug4-2.pdf.</p>

<p>● Broadhurst, Roderic. (2018). Malware Trends on ‘Darknet’ Crypto-markets: Research Review. Report of the Australian National University Cybercrime Observatory for the Korean Institute of Criminology. http://regnet.anu.edu.au/sites/default/files/publications/attachments/2018-09/KIC%20report_combined%205%20Sept.pdf.</p>

<p>● Broadhurst, Roderic, Peter Grabosky, Mamoun Alazab and Steve Chon. (2014). Organizations and Cybercrime: An Analysis of the Nature of Groups engaged in Cyber Crime. International Journal of Cyber Criminology, Vol 8(1), pp. 1–20.</p>

<p>● Europol. (2018). Internet Organised Crime Threat Assessment 2018.</p>

<p>https://www.europol.europa.eu/activities-services/main-reports/internet-organised-crime-threat-assessment-iocta-2018.</p>

<p>● Leukfeldt, E. Rutger, Anita Lavorgna, and Edward R. Kleemans. (2017). Organised Cybercrime or Cybercrime that is Organized? An Assessment of the Conceptualization of Financial Cybercrime as Organised Crime. European Journal in Criminal Policy and Research, Vol. 23(3), 287-300.</p>

<p>● Leukfeldt, E. Rutger, Edward R. Kleemans, and Stol, Wouter. (2017). Origin, growth and criminal capabilities of cybercriminal networks. An international empirical analysis. Crime, Law and Social Change, Vol. 67(1), 39-53.</p>

<p>● Laeukfeldt, Rutger, Kleemans, Edward, and Stol, Wouter. (2017). The Use of Online Crime Markets by Cybercriminal Networks: A View From Within. American Behavioral Scientist Vol. 61(11), p. 1387-1402.</p>

<p>● Lusthaus, Jonathan. (2012). Trust in the world of cybercrime. Global Crime, Vol. 13(2), 71-94.</p>

<p>● Lusthaus, Jonathan. (2013). How organised is organised cybercrime? Global Crime, Vol. 14(1), 52–60.</p>

<p>● Maras, Marie-Helen. (2016). Cybercriminology. Oxford University Press. Chapter 13.</p>

<p>● Wall, David (2015). Dis-organized Crime: Towards a distributed model of the organization of Cybercrime. The European Review of Organized Crime, No. 2(2), 71-90.</p>

<p>Advanced Reading</p>

<p>The following readings are recommended for those interested in exploring the topics covered in this Module in more detail:</p>

<p>28</p>

<p>● Chalmers, Jenny and Deborah Bradford. (2013). Methamphetamine users’ perceptions of exchanging drugs for money: Does trust matter? Journal of Drug Issues, Vol. 43(3), 256–269.</p>

<p>● CipherTrace. (2018). Cryptocurrency Anti-Money Laundering Report. https://ciphertrace.com/crypto-aml-report-2018q3.pdf [Note: Look for more reports].</p>

<p>● Décary-Hétu, David, Masarah Paquet-Clouston, and Judith Aldridge. (2016). Going international? Risk taking by cryptomarket drug vendors. International Journal of Drug Policy, Vol. 35, 69–76.</p>

<p>● Décary-Hétu, David and Luca Giommoni. (2017). Do police crackdowns disrupt drug cryptomarkets? A longitudinal analysis of the effects of Operation Onymous Crime. Law and Social Change, Vol. 67(1), 55–75.</p>

<p>● Décary-Hétu, David and Olivier Quessy-Doré. (2017). Are repeat buyers in cryptomarkets loyal customers? repeat business between dyads of cryptomarket vendors and users. American Behavioral Scientist, Vol. 61(11), 1341–1357.</p>

<p>● International Fund for Animal Welfare. (2005). Caught in the Web: Wildlife Trade on the Internet. https://www.ifaw.org/united-states/resource-centre/caught-web.</p>

<p>● International Fund for Animal Welfare. (2008). Killing with Keystrokes. https://s3.amazonaws.com/ifaw-pantheon/sites/default/files/legacy/Killing%20with%20Keystrokes.pdf.</p>

<p>● International Fund for Animal Welfare. (2017). Research identifies illegal wildlife trade on the Darknet. https://www.ifaw.org/united-states/news/research-identifies-illegal-wildlife-trade-darknet.</p>

<p>● International Fund for Animal Welfare. (2014). Wanted—Dead or Alive: Exposing Online Wildlife Trade. https://www.ifaw.org/european-union/resource-centre/wanted-dead-or-alive-exposing-online-wildlife-tra-0.</p>

<p>● Latonero, Mark. (2011). The Role of Social Networking Sites and Online Classifieds. University of Southern California, Annenberg Center on Communication Leadership &amp; Policy Research Series.</p>

<p>https://technologyandtrafficking.usc.edu/files/2011/09/HumanTrafficking_FINAL.pdf.</p>

<p>● Latonero, Mark. (2012). The Rise of Mobile and the Diffusion of Technology-Facilitated Trafficking. University of Southern California, Annenberg Center on Communication Leadership &amp; Policy. Research Series on Technology and Human Trafficking. https://technologyandtrafficking.usc.edu/files/2012/11/HumanTrafficking2012_Nov12.pdf.</p>

<p>● Latonero, Mark, Browyn, Wex, and Meredith Dank. (2015). Technology and Labor Trafficking in a Networked Society: General Overview, Emerging Innovations, and Philippines Case Study. University of Southern California, Annenberg Center on Communication Leadership &amp; Policy. https://communicationleadership.usc.edu/files/2015/10/USC_Tech-and-Labor-Trafficking_Feb2015.pdf.</p>

<p>● Leukfeldt, E. Rutger, Edward R. Kleemans, and Stol, Wouter. (2016). Cybercriminal networks, social ties and online forums: social ties versus digital ties within phishing and malware networks. British Journal of Criminology, Vol. 57(3), 704-722.</p>

<p>● Leukfeldt, E. Rutger, Edward R. Kleemans, and Stol, Wouter. (2016). A typology of cybercriminal networks: from low tech locals to high tech specialists. Crime, Law and Social Change, Vol. 67(1), 39-53.</p>

<p>29</p>

<p>● Lusthaus, Jonathan. (2018). Is the Mafia Taking over Cybercrime. Black Hat USA 2018, 4-8 August 2018.</p>

<p>https://i.blackhat.com/us-18/Wed-August-8/us-18-Lusthaus-Is-The-Mafia-Taking-Over-Cybercrime-wp.pdf.</p>

<p>● Martin, James. (2014). Drugs on the dark net. How cryptomarkets are transforming the global trade in illicit drugs. Palgrave Macmillan.</p>

<p>● Paoli, Giacomo Persi, Judith Aldridge, Nathan Ryan, and Richard Warnes. (2017). Behind the curtain: The illicit trade of firearms, explosives and ammunition on the dark web. https://www.rand.org/pubs/research_reports/RR2091.html.</p>

<p>● Tzanetakis, Meropi, Gerrit Kamphausen, Bernd Werse, and Roger von Laufenberg. (2016). The transparency paradox. building trust, resolving disputes and optimising logistics on conventional and online drugs markets. International Journal of Drug Policy, Vol. 35, 58–68.</p>

<p>Student Assessment</p>

<p>In addition to the exercises, other assessment tools used in this course are review questions and homework assignments.</p>

<p>Review Questions</p>

<p>The questions can also be used to promote class discussions during the lecture.</p>

<p>1. What is cyber organized crime? How do criminal groups engage in cyber organized crime?</p>

<p>2. What are the structures and characteristics of organized criminal groups that engage in cyber organized crime?</p>

<p>3. What are some examples of cyber organized crime activity?</p>

<p>4. What are the ways in which cyber organized crime is committed?</p>

<p>5. What measures can be used to counter cyber organized crime?</p>

<p>Homework Assignment</p>

<p>Students can be assigned one or more of the following assignments to be completed before class as a written homework assignment (one to three pages long) and/or be part of the class discussion:</p>

<p>Homework # 1 – Online Dark Markets and Criminal Enterprises</p>

<p>Ross William Ulbricht (discussed in this Module) was the administrator of Silk Road, a notorious drug bazaar only accessible via ToR. Instruct students to review and write a summary on the following case:</p>

<p>United States v. Ross William Ulbricht (2016), On Appeal from the United States District Court for the Southern District of New York Brief for the United States of America (Case 15-1815), https://cryptome.org/2016/07/ulbricht-appeal-122-121.pdf.</p>

<p>Why was Silk Road considered a criminal enterprise?</p>

<p>What other online dark markets were considered a criminal enterprise? Why?</p>

<p>30</p>

<p>Homework # 2 – National Laws on Cyber Organized Crime</p>

<p>Choose a cyber organized crime. Conduct research on the laws in your country. What, if any, laws are used to prosecute your selected cyber organized crime? What are the limits of these laws in prosecuting this cyber organized crime?</p>

<p>Homework # 3 – Technological Solutions</p>

<p>Several technological solutions have been deployed to counter cyber organized crime.</p>

<p>Conduct research on technological solutions to counter cyber organized crime. Identify one solution not covered in this Module and core readings.</p>

<p>Answer the following questions:</p>

<p>● What technological solution did you find?</p>

<p>● What cyber organized crime was it designed to identify?</p>

<p>● Where was it deployed? By whom?</p>

<p>● What are the pros and cons of using this technological solution?</p>

<p>Homework # 4 – Education Campaigns</p>

<p>Education campaigns covering cyber organized crime have been deployed worldwide.</p>

<p>Conduct research on an education campaign in your country that seeks to counter cyber organized crime.</p>

<p>● What education campaign did you find?</p>

<p>● What form of cyber organized crime does it target?</p>

<p>Additional Teaching Tools</p>

<p>Cases</p>

<p>• Cass., 12 Febbraio 2004, n. 8296 &amp; Trib. Siracusa, 19 Luglio 2012, n. 229 (Italy),</p>

<p>https://sherloc.unodc.org/cld/case-law-doc/cybercrimecrimetype/ita/2012/2292012.html?lng=en&amp;tmpl=sherloc.</p>

<p>• Fraudulent Ebay auctions in Romania, https://sherloc.unodc.org/cld/case-law-doc/cybercrimecrimetype/rou/fraudulent_ebay_auctions_in_romania.html?lng=en&amp;tmpl=sherloc.</p>

<p>• Operation: Global Action against Online Fraudsters in the Airline Sector, https://sherloc.unodc.org/cld/case-law-doc/cybercrimecrimetype/xxx/operation_global_action_against_online_fraudsters_in_the_airline_sector.html?lng=en&amp;tmpl=sherloc.</p>

<p>• Operation Imperium (Bulgaria), https://sherloc.unodc.org/cld/case-law-doc/cybercrimecrimetype/bgr/2014/operation_imperium.html?lng=en&amp;tmpl=sherloc.</p>

<p>31</p>

<p>• Operation Onymous,</p>

<p>https://sherloc.unodc.org/cld/case-law-doc/cybercrimecrimetype/xxx/operation_onymous.html?lng=en&amp;tmpl=sherloc.</p>

<p>• Organized cybercrime case 2004 (Russian Federation), https://sherloc.unodc.org/cld/case-law-doc/cybercrimecrimetype/rus/organized_cybercrime_case_2004.html?lng=en&amp;tmpl=sherloc.</p>

<p>• Prosecution vs. Baksa Timea and others, https://sherloc.unodc.org/cld/case-law-doc/cybercrimecrimetype/hun/prosecution_vs._baksa_timea_and_others.html?lng=en&amp;tmpl=sherloc.</p>

<p>• Public Prosecutor v Law Aik Meng (Singapore), https://sherloc.unodc.org/cld/case-law-doc/cybercrimecrimetype/sgp/2007/public_prosecutor_v_law_aik_meng_.html?lng=en&amp;tmpl=sherloc.</p>

<p>• R v Porte (Australia), https://sherloc.unodc.org/cld/case-law-doc/cybercrimecrimetype/aus/2015/r_v_porte_.html?lng=en&amp;tmpl=sherloc.</p>

<p>• United States of America v. Alexandre Cazes aka “ALPHA02” aka “ADMIN,”</p>

<p>https://sherloc.unodc.org/cld/case-law-doc/cybercrimecrimetype/usa/2017/united_states_of_america_v._alexandre_cazes_aka_alpha02_aka_admin.html?lng=en&amp;tmpl=sherloc.</p>

<p>• United-States of America v. Robert M. Faiella, a/k/a "BTCKing" and Charlie Shrem, https://sherloc.unodc.org/cld/case-law-doc/moneylaunderingcrimetype/usa/2015/united-states_of_america_v._robert_m._faiella_aka_btcking_and_charlie_shrem.html?lng=en&amp;tmpl=sherloc.</p>

<p>Websites</p>

<p>The following websites include further information about cyber organized crime:</p>

<p>● Digital Citizens Alliance. (n.d.). Digital Citizens Investigative Reports. https://www.digitalcitizensalliance.org/get-informed/digital-citizens-investigative-reports/ (various investigative reports can be found on this site relating to cyber organized crime).</p>

<p>● Europol. (n.d). Internet Organised Crime Threat Assessment. https://www.europol.europa.eu/activities-services/main-reports (the most recent reports can be found on this site).</p>

<p>● Financial Action Task Force (FATF). http://www.fatf-gafi.org/.</p>

<p>(particularly see publications, FAFT recommendations, especially regulation of virtual assets) and</p>

<p>● IMOLIN (International Money Laundering Information Network). http://www.imolin.org/.</p>

<p>● UNODC. International Money Laundering Information Network (IMoLIN)/Anti-Money-Laundering International Database (AMLID). https://www.unodc.org/unodc/en/money-laundering/imolin-amlid.html?ref=menuside.</p>

<p>The following websites includes further information about cryptocurrencies:</p>

<p>32</p>

<p>• CoinDesk. A Beginner’s Guide to Blockchain Technology. https://www.coindesk.com/information.</p>

<p>• CNBC. Currencies: Bitcoins. https://www.cnbc.com/bitcoin/</p>

<p>• Fenech, Gerald. (2019). The Privacy Coin Dilemma - What Are The Options On Offer? Forbes, 24 January 2019. https://www.forbes.com/sites/geraldfenech/2019/01/24/the-privacy-coin-dilemma-what-are-the-options-on-offer/#651ec963707d.</p>

<p>• Financial Times. Cryptocurrencies. https://www.ft.com/cryptocurrencies</p>

<p>• Hansen, Sarah. (2018). Guide To Top Cryptocurrency Exchanges. Forbes, 20 June 2018. https://www.forbes.com/sites/sarahhansen/2018/06/20/forbes-guide-to-cryptocurrency-exchanges/#d3692a425722.</p>

<p>• Malik, Nikita. (2018). How Criminals and Terrorists Use Cryptocurrency: And How To Stop It. Forbes, 31 August 2018. https://www.forbes.com/sites/nikitamalik/2018/08/31/how-criminals-and-terrorists-use-cryptocurrency-and-how-to-stop-it/#650135813990.</p>

<p>• Shin, Laura. (2017). How To Explain Cryptocurrencies And Blockchains To The Average Person. Forbes, 3 October 2017, https://www.forbes.com/sites/laurashin/2017/10/03/how-to-explain-cryptocurrencies-and-blockchains-to-the-average-person/#304df6c4324d.</p>

<p>• Wasik, John. (2017). How to Spot a Bitcoin Scam. Forbes, 26 April 2017. https://www.forbes.com/sites/johnwasik/2017/04/26/how-to-spot-a-bitcoin-scam/#7a66affd5897.</p>

<p>UNODC Documents and Other Materials</p>

<p>• UNODC. (2014). Basic Manual on the Detection And Investigation of the Laundering of Crime Proceeds Using Virtual Currencies. https://www.imolin.org/pdf/imolin/FULL10-UNODCVirtualCurrencies_final.pdf.</p>

<p>• UNODC. (2018). Cryptocurrencies &amp; Darknet. goo.gl/W4QeqH.</p>

<p>Videos</p>

<p>● AllAvision. (2016). Hidden Power: The strategic logic of organised crime (length: 42:43) https://www.youtube.com/watch?v=Ax0SZGcfXy8. Dr. James Cockayne covers “the strategic logic of organised crime and its role in the age of globalization.”</p>

<p>● AlphaBay Market: Lessons From Underground Intelligence Analysis - SANS CTI Summit 2018 (length: 32:39)</p>

<p>https://www.youtube.com/watch?v=XwBwuUg3fQc. Presentation by Christy Quinn of SANS Digital Forensics and Incident Response, which covers the type of intelligence that can be gleaned from darknet research and critically explores the intelligence obtained from a detailed examination of the AlphaBay market case.</p>

<p>● BBC News. (2018). Bitcoin explained: How do cryptocurrencies work? (length: 2:22). https://www.youtube.com/watch?v=SzAuB2FG79A. As the title indicates, this video provides a brief explanation of how cryptocurrencies work.</p>

<p>● MSNBC. This is how Bitcoin Works. (length: 1:50). https://www.msnbc.com/velshi-ruhle/watch/this-is-how-bitcoin-works-969417283994. As the title indicates, this video briefly explains how bitcoin works.</p>

<p>33</p>

<p>● The Guardian. (2014). Bitcoin explained and made simple. (3:24).</p>

<p>https://www.youtube.com/watch?v=s4g1XFU8Gto. As the title indicates, this video explains bitcoin.</p>

<p>● US FBI, Operation Targets Dark Web Drug Buyers (length: 2:41)</p>

<p>https://www.fbi.gov/video-repository/disarray-cleveland-040218.mp4/view.</p>

<p>FBI discusses drug trafficking on the darknet and provides information about a law enforcement operation they conducted known as Operation Disarray, which targeted buyers and sellers of drugs on the darknet.</p>