[viewBag]
title = "Cybersecurity and Cybercrime Prevention: Practical Applications and Measures"
url = "/bibliotheque/cybersecurity-and-cybercrime-prevention-practical-applications-and-measures"
layout = "content"
is_hidden = 0
navigation_hidden = 0
localeUrl[en] = "/bibliotheque"
localeUrl[ar] = "/bibliotheque"
==
<p>Module 9: Cybersecurity and Cybercrime Prevention: Practical Applications and Measures</p>

<p>Developed under UNODC’s Education for Justice (E4J) initiative, a component of the Global Programme for the Implementation of the Doha Declaration, this Module forms part of the E4J University Module Series on Cybercrime and is accompanied by a Teaching Guide. The full range of E4J materials includes university modules on Anti-Corruption, Counter-Terrorism, Crime Prevention and Criminal Justice, Cybercrime, Firearms, Trafficking in Persons/Smuggling of Migrants, and Integrity and Ethics, as well as Organized Crime.</p>

<p>All E4J university modules provide suggestions for in-class exercises, student assessments, slides, and other teaching tools that lecturers can adapt to their contexts, and integrate into existing university courses and programmes. The Module provides an outline for a three-hour class, but can be used for shorter or longer sessions.</p>

<p>All E4J university modules engage with existing academic research and debates, and may contain information, opinions and statements from a variety of sources, including press reports and independent experts. Terms of Use and Disclaimers</p>

<p>Introduction</p>

<p>Cybersecurity refers to the strategies, policies, guidelines, procedures, practices, and measures that are designed to identify threats and vulnerabilities, prevent threats from exploiting vulnerabilities, mitigate the harm caused by materialized threats, and safeguard people, property, and information. Building on Cybercrime Module 8 on Cybersecurity and Cybercrime Prevention: Strategies, Policies, and Programs, this Module covers the practical aspects of cybersecurity and cybercrime prevention, including risk assessments and the measures used to prevent, detect, respond to and recover from cybersecurity incidents.</p>

<p>Learning Outcomes</p>

<p>● Define, discuss, and evaluate assets, threats, vulnerabilities, and risks</p>

<p>● Identify and assess the ways in which vulnerabilities can be disclosed</p>

<p>● Describe and critique the relationship between cybersecurity and usability</p>

<p>● Discuss situational crime prevention and apply it to cybercrime prevention and reduction</p>

<p>● Discuss and analyse incident detection, response, recovery, and preparedness</p>

<p>Key Issues</p>

<p>Cybersecurity measures are designed to safeguard individuals and property, in general, and systems, networks, services, and data, in particular. The protection of systems, networks, services</p>

<p>2</p>

<p>and data requires a multifaceted approach with sound overarching cybersecurity strategies, policies, and programmes (discussed in Cybercrime Module 8 on Cybersecurity and Cybercrime Prevention: Strategies, Policies, and Programmes), and usable cybersecurity measures that are designed to identify threats and vulnerabilities, and prevent, detect, respond to and recover from materialized threats. The latter measures are explored in this Module, along with risk and risk-related concepts, cybersecurity research and vulnerability disclosure, and situational crime prevention strategies and techniques.</p>

<p>Assets, Vulnerabilities, and Threats</p>

<p>Cybersecurity measures are implemented to protect assets, which are defined as “something of importance or value, and can include people, property, information, systems, and equipment” (Maras, 2014b, p. 21), such as employees in an organization, digital devices, computer software, and data (ITU, 2008). Assets are susceptible (i.e., vulnerable) to various forms of harm. Specifically, assets have internal (or intrinsic) and external (or extrinsic) vulnerabilities. For example, with respect to information and communication technology (ICT), intrinsic vulnerabilities can be found within system design, security configurations, hardware, and software, among other areas (ENISA, 2017). A case in point is a software bug. In 2018, a software bug in Monero’s cryptocurrency wallet was revealed, which enabled individuals to exploit this vulnerability to illegally double their cryptocurrency transfer amounts (Barth, 2018) (see Cybercrime Module 2, General Types of Cybercrime, for more information about cryptocurrencies). By contrast, extrinsic vulnerabilities are not found within assets, such as ICT. A case in point is the user of ICT. The user can engage in actions that make the device susceptible to malware infection (e.g., opening attachments in emails from unknown senders). Intrinsic and extrinsic properties make assets vulnerable to threats (i.e., anything that could potentially cause an adverse effect). These threats can cause unintentional and intentional harm. For instance, hardware of a digital device can malfunction or it can be purposely damaged as a result of someone exploiting the vulnerabilities of its firmware (ENISA, 2017).</p>

<p>Risk</p>

<p>Decisions to safeguard assets are made under conditions of uncertainty; that is, they are made in the absence of absolute knowledge about potential threats, vulnerabilities, and exploitation of these vulnerabilities (Knight, 1921). Originally, risk was narrowly defined as the probability (or likelihood) of a threat and its impact (or consequences) should it materialize (Dali and Lajtha, 2012). This conception of risk is depicted in the following formula:</p>

<p>Risk = Probability x Impact</p>

<p>Formulas, such as the one depicted above, are used to quantify risks (for information on how to quantify cybersecurity risks and the limitations of these efforts, see: Freund and Jones, 2015; Hubbard and Seiersen, 2016).</p>

<p>In 2009, the International Standards Organization (ISO), an international non-governmental organization that develops and publishes international standards to harmonise practices between countries, proposed a different definition, which was intended to serve as a reference to promote</p>

<p>3</p>

<p>mutual understanding of and consistency in the use of key risk and risk-related terms (Luko, 2013; Dali and Lajtha, 2012). Specifically, ISO Guide 73 (2009) defined risk as the “effect of uncertainty on objectives” (see 3.1 of ISO Guide 73 (2009)), such as short-term and/or long-term financial goals. In this definition of risk, uncertainty refers to “the state, even partial, of deficiency of information related to, understanding or knowledge of, an event [(i.e., “occurrence or change of a particular set of circumstances,” Section 3.3.4.2 of ISO Guide 73)], its consequence [(i.e., “outcome of an event affecting objectives,” Section 3.3.5.3 of ISO Guide 73)], or likelihood [(i.e., “chance of something happening, whether defined, measured or determined objectively or subjectively, and described using general terms or mathematically (such as a probability or a frequency over a given time period),” Section 3.3.5.2 notes of ISO Guide 73)]” (see 3.1 notes of ISO Guide 73; for a detailed analysis of risk terminology, see Hoyle, 2018).</p>

<p>Figure 1: Threat Analysis Group. (n.d.).</p>

<p>Security Risk Management – Methodology. https://www.threatanalysis.com/security-risk-management/.</p>

<p>Risks assessments (depicted in Figure 1) identify vulnerabilities to assets, identify and/or are informed of internal and external threats by the media, public-private partnerships, and/or others in the public and private sectors, and identify impacts and likelihood of threats (NIST, 2018). The purpose of a risk assessment “is to identify… threats; …harm (i.e., adverse impact) that may occur given the potential for threats exploiting vulnerabilities; and … the likelihood that harm will occur” (NIST, 2012; for limitations and challenges of cybersecurity risk assessments and what can be done to overcome these limitations and challenges, see Hubbard and Seiersen, 2016).</p>

<p>After risks are assessed, responses to risks (i.e., risk treatment) are identified and prioritized based on resources (e.g., financial) and needs. Here, measures are implemented to eliminate, reduce or mitigate the risk (Maras, 2014b).</p>

<p>Vulnerability Disclosure</p>

<p>4</p>

<p>Information security and cybersecurity have been used interchangeably – albeit incorrectly (von Solms and van Niekerk, 2013). While there is no agreed upon definition of information security, the definition included in ISO/IEC 27002 has been widely used. ISO/IEC 27002 defines information security as the “preservation of [the] confidentiality, integrity and availability of information.” Like information security, there is no universal definition of cybersecurity. According to the International Telecommunications Union, “[c]ybersecurity strives to ensure the attainment and maintenance of the security properties of the organization and user’s assets against relevant security risks in the cyber environment” (ITU-T X.1205). Cybersecurity thus not only protects cyberspace, “but also ….protect[s]... those ….[who] function in cyberspace and any of their assets that can be reached via cyberspace” (von Solms and van Niekerk, 2013, p. 101).</p>

<p>Did you know?</p>

<p>ISO/IEC 27002 contains 14 information security controls areas, as well as implementation guidance and requirements for each of these controls. These areas are: information security policies; organization of information security; human resource security; asset management; access control; cryptography; physical and environmental security; operations security; communications security; system acquisition, development, and maintenance; supplier relationships; information security incident management; information security aspects of business continuity management; and compliance.</p>

<p>Want to learn more?</p>

<p>For more information about these controls, see: https://www.iso.org/obp/ui/#iso:std:iso-iec:27002:ed-1:en.</p>

<p>Information security and cybersecurity are shaped by vulnerability disclosures. When vulnerabilities are discovered by researchers and professionals in the field, they can either be fully disclosed or responsibly disclosed (Trull, 2015). Full disclosure involves publishing the software or hardware vulnerabilities online (e.g., on a website) before a fix is available (Trull, 2015). In contrast, responsible disclosure refers to the practice of not disclosing the vulnerability until the organization responsible for the hardware or software deals fixes the vulnerability (Trull, 2015). For responsible disclosure, the researcher or professional contacts the affected organization, and waits until the organization releases a fix for the identified vulnerability. After a fix is released, the researcher or professional can officially disclose information about the vulnerability and receive credit for this identification. Utilizing this method of disclosure, the researcher or professional may ask for what is known as a Common Vulnerabilities and Exposure (CVE) identifier. The CVE, a list of of common identifiers for publicly known cybersecurity vulnerabilities” (CVE, n.d.), is used to track vulnerabilities across major pieces of software, as well as those who find such vulnerabilities. In addition to full and responsible disclosure, the researcher or professional may choose not to disclose the vulnerability (Cencini, Yu, &amp; Chan, 2005). A further method of disclosure is coordinated vulnerability disclosure (CVD), which refers to “the process of gathering information from vulnerability finders, coordinating the sharing of that information between relevant stakeholders, and disclosing the existence of software</p>

<p>5</p>

<p>vulnerabilities and their mitigation to various stakeholders, including the public” (Householder, Wassermann, Manion, and King, 2017).</p>

<p>Best practice guidelines are available for vulnerability disclosures and the handling of vulnerabilities. Cases in point are the best practice guidelines developed and published by the International Organization for Standardization (ISO) and the International Electrotechnical Commission (IEC) (see Cybercrime Module 4 on Introduction to Digital Forensics, for more information about these organizations) on vulnerability disclosure (ISO/IEC 29147) and vulnerability handling processes (ISO/IEC 30111).</p>

<p>Cybersecurity Measures and Usability</p>

<p>Ideally, responses to risks should be designed to protect the confidentiality, integrity, and availability of systems, networks, services, and data, while also ensuring the usability of these measures (NIST, 2018). The usability of digital devices (i.e., the ease with which they can be used) often takes precedence over the security of these devices and their contents (Whitten and Tygar, 1999). However, security and usability are not necessarily mutually exclusive (Sherwood, Clark, and Lynas, 2005). Cybersecurity measures can be both secure and usable.</p>

<p>Cybersecurity measures include those which seek to establish user identity in order to prevent unauthorized access to systems, services, and data. These authentication measures include “what you know” (e.g., passwords, passphrases, and PINs), “what you have” (e.g., smart cards and tokens), and “what you are” (e.g., biometrics, such as fingerprints) (Lehtinen, Russell, Gangemi Sr., 2006; Griffin, 2015). Multifactor authentication (MFA) requires two or more of these methods of authentication to establish user identity (Andress, 2014).</p>

<p>Another type of cybersecurity measure is access control. Access controls, which establish privileges, determine authorized access and prevent unauthorized access, include authentication measures and other measures designed to protect passwords and logins to systems, apps, websites, social media and other online platforms, and digital devices (Lehtinen, Russell, Gangemi Sr., 2006). A case in point is limiting the number of allowed attempts to enter a password on a smartphone. There is an option on smartphones that allows users to erase all data on the device after a certain number of failed attempts to enter a passcode. This feature was created to enable users to protect data on their devices in the event that the digital device was stolen and/or access is sought without user authorization.</p>

<p>Other examples of access controls include adding an incremental wait time each time a password is incorrectly provided and/or limiting the number of failed password attempts that could be provided daily and locking the user out of an account for a period of time (Lehtinen, Russell, Gangemi Sr., 2006). The controls aimed at login attempts are designed to protect against attempts to gain unauthorized access to user accounts. These time delays particularly are designed to protect against brute force attacks.</p>

<p>Did you know?</p>

<p>6</p>

<p>The Completely Automated Public Turing test to tell Computers and Humans Apart (or CAPTCHA) has been used to prevent brute force attacks. Nevertheless, research has shown that CAPTCHA images can be bypassed (e.g., Bursztein et al., 2014; Sivakorn, Polakis and Keromytis, 2016; Gao et al., 2014).</p>

<p>A brute force attack is the use of a script (i.e., computer program) or bot (discussed in Cybercrime Module 2, General Types of Cybercrime) to guess (by trial and error) user credentials (i.e., username and/or password/passcode) (for further information on brute force attacks, see Knusden and Robshaw, 2011, 95-108). Brute force attacks utilize, among other things, common passwords or breached login details. In 2018, it was revealed that the master password feature, which enabled users to encrypt the passwords stored in the browser of Mozilla Firefox (a web browser), could be easily compromised using a brute force attack (Trend Micro, 2018).</p>

<p>Did you know?</p>

<p>Brute force attacks can be conducted by skilled hackers and script-kiddies (i.e., individuals without any technological skills).</p>

<p>Want to learn more?</p>

<p>INFOSEC Institute. (2018). Popular Tools for Brute-force Attacks. https://resources.infosecinstitute.com/popular-tools-for-brute-force-attacks/#gref.</p>

<p>Passwords are either system-generated or user-generated (Adams, Sasse and Lundt, 1997). System-generated passwords (i.e., a password created by a program) are difficult to guess and could withstand password crackers (although this depends on the length of the passwords). The issue with system-generated passwords is that they are difficult to remember. This leads individuals to record the password, by, for example, writing the password down or saving it on a browser, app or digital device. Because of this, user-generated passwords are preferred. However, the passwords generated by the user may also be difficult to remember. Systems, apps, and online platforms often have complex password rules for users to follow, requiring passwords to meet minimum set lengths and include combinations of upper and lower-case letters, numbers, and symbols. Therefore, like system-generated passwords, most user-generated passwords are difficult to remember.</p>

<p>Individuals are also encouraged to have a different password for each account (U.S. Federal Trade Commission Consumer Information, 2017). The latter recommendation aims at minimizing the harm to individuals in the event that the credentials of one of their accounts is compromised. In 2017, a research company found a file online with 1.4 billion individuals’ usernames and passwords for a variety of social networking, game, TV and movie streaming, and other online sites (Matthews, 2017). If any of these individuals recycle passwords, this breach puts their other online accounts (where the same username and password are used) in jeopardy. While the use of different and difficult passwords for each account may provide some level of security for</p>

<p>7</p>

<p>individuals, it ultimately adversely impacts its usability (i.e., its memorability). As Adams, Sasse and Lundt (1997) rightly point out, “more restrictions in authentication mechanisms create more usability problems” (p. 3).</p>

<p>Different authentication schemes have been proposed in lieu of passwords. The use of alternate authentication schemes, such as biometrics, is not without adverse social, legal, and even security consequences (Greenberg, 2017a; Greenberg, 2017b). Cases in point are Apple iPhones with TouchID that enables users to unlock their devices with a fingerprint, and FaceID, which, using facial recognition technology, enables users to unlock their phones with their face. In the United States, an individual cannot be compelled by criminal justice agents to provide their passwords; the same protection has not been extended to fingerprints and other biometrics (see, for example, Virginia v. Baust, 2014 and State v. Diamond, 2018, where the courts held that individuals can be compelled to use their fingerprint to unlock a phone) (see below box on “Biometrics and the Privilege Against Self-Incrimination” for more information).</p>

<p>Biometrics and the Privilege Against Self-Incrimination</p>

<p>According to the Fifth Amendment to the United States Constitution, “No person shall be held to answer for a capital, or otherwise infamous crime, unless on a presentment or indictment of a grand jury, except in cases arising in the land or naval forces, or in the militia, when in actual service in time of war or public danger; nor shall any person be subject for the same offense to be twice put in jeopardy of life or limb; nor shall be compelled in any criminal case to be a witness against himself, nor be deprived of life, liberty, or property, without due process of law; nor shall private property be taken for public use, without just compensation.”</p>

<p>One of the rights provided under the Fifth Amendment was the privilege against self-incrimination (otherwise known as the right against forced self-incrimination). In Schmerber v. California (1966), the court held that “the privilege protects an accused only from being compelled to testify against himself, or otherwise provide the state with evidence of a testimonial or communicative nature” (761). By contrast, the Fifth Amendment to the U.S. Constitution “offers no protection against compulsion to submit to fingerprinting, photography, or measurements,…to appear in court, to stand, to assume stance, to walk, or to make a particular gesture” (United States v. Wade, 1967, 223). Indeed, U.S. courts can compel defendants to submit a blood sample, saliva sample, or voice exemplar, to name a few (Schmerber v. California, 1966; U.S. v. Dionisio, 1973; People v. Smith, 1982).</p>

<p>Relying on United States v. Wade (1967), the judge in Virginia v. Baust (2014) concluded that because the fingerprint does not require the communication of knowledge by the defendant, it is not provided with Fifth Amendment protection – the same holds true for keys and the DNA of a defendant (3). In view of that, while passwords are protected under the Fifth Amendment, the same protection does not extend to fingerprints (and, by way of extension, other</p>

<p>8</p>

<p>biometrics). The lack of Fifth Amendment protection of biometrics was reaffirmed in State v. Diamond (2018).</p>

<p>Ultimately, in the United States, “what you are” can be compelled (i.e., compelling individuals to provide their fingerprints and by way of extension, having an individual use their face to unlock smartphones that use facial recognition technology), whereas “what you know” generally cannot be compelled pursuant to the Fifth Amendment of the U.S. Constitution (as this is against the privilege against self-incrimination). Similarly, other countries (e.g., Australia, New Zealand, and India, to name a few) and human rights courts (e.g., the European Court of Human Rights) do not consider the compulsion of the showing of a face, fingerprints, or other biometrics (e.g., footprints) as a violation of the privilege against self-incrimination (see, for example, Sorby v. Commonwealth, 1983; New Zealand, King v. McLellan, 1974; India, State of U.P. v. Sunil, 2017; and Saunders v. United Kingdom, 1996).</p>

<p>Humans are viewed as the weakest link in the cybersecurity chain (Crossler et al., 2013; Grossklags and Johnson, 2009; Sasse, Brostoff, and Weirich, 2001; Schneier, 2000). Indeed, several studies have shown that cybersecurity incidents (i.e., breaches and/or attacks on networks, systems, services and data) are the result of human error and failure to implement security measures (Safa and Maple, 2016; Pfleeger, Sasse and Furnham, 2014; Crossler et al. 2013). While much attention is placed on the role of humans in cybersecurity incidents, cybersecurity measures in place at the time of the incident can play a role in the cybersecurity incident. The reality is that cybersecurity measures (what they can actually do) and users’ expectations of the performance of these security measures (what they think they do) often do not match (Ur et al., 2016; Gunson, et al., 2011; Furnell, 2005).</p>

<p>The literature and research on human-computer interactions proposes that the security of digital devices, systems, programs, apps, and online platforms, among others, should be developed with users in mind (i.e., security by design; see Eloff and Eloff, 2002; Cranor and Garfinkel, 2005; Sasse and Flechais, 2005; Karat, Karat and Brodie, 2005; Dix et al., 2004; Balfanz, et al., 2004). This, however, is not common practice. The common practice is to build the systems and then seek to modify user interactions with the system to meet security needs (Nurse et al., 2011; Yee, 2004).</p>

<p>Did you know?</p>

<p>In the European Union, the Cybersecurity Act of 2018 created a “framework for European Cybersecurity Certificates for products, processes and services” in order to promote security by design through the “incorporate[ion of] security features in the early stages of …[the] technical design and development” of digital devices (European Commission, 2018).</p>

<p>Want to learn more?</p>

<p>9</p>

<p>Read: European Commission. (2018). Cybersecurity Act.</p>

<p>https://ec.europa.eu/commission/news/cybersecurity-act-2018-dec-11_en.</p>

<p>Situational Crime Prevention</p>

<p>Situational crime prevention (SCP) focuses on the ways in which crime can be prevented and opportunities for crime can be reduced (Clarke, 1980). SCP is considered an essential part of the UN Economic and Social Council’s (ECOSOC) Guidelines for the Prevention of Crime (Resolution 2002/13) (see UNODC, 2010).</p>

<p>While SCP is a concept applied to crime prevention in the real world, it can be applied as a cybercrime prevention measure in the context of cybersecurity practice. When applied to cybercrime, SCP measures focus on reducing and/or denying cybercriminals opportunities for offending and impeding their ability to offend. Technical cybercrime prevention measures are a form of situational crime prevention. A few examples of these technical measures include malware detection programs, firewalls, which prevent unauthorized access by examining traffic and blocking traffic, and intrusion detection systems that enable the detection of cyberattacks and unauthorized access and use of systems, networks, data, services, and related resources (Maras, 2014a, p. 311).</p>

<p>Cornish and Clarke (2003) proposed strategies and techniques to prevent and reduce crime (see Image 1). The five proposed strategies to prevent and/or reduce crime involve: increasing the effort to offend; increasing the risks of detection and apprehension; reducing the rewards for offending; reducing provocations that lead to offending; and removing excuses for offending. Not all strategies and the techniques listed under these strategies are applicable to all crimes (Clarke, 2004). What is more, techniques and strategies can overlap and techniques can serve more than one strategy (Clarke, 2004).</p>

<p>10</p>

<p>Image 1</p>

<p>Retrieved from: Center for Problem-Oriented Policing, Twenty-Five Techniques of Situational Prevention. https://popcenter.asu.edu/sites/default/files/library/25%20techniques%20grid.pdf.</p>

<p>SCP measures can, have been, and are utilized to prevent and reduce cybercrime (Maras, 2016). For example, one of the techniques listed under Cornish and Clarke’s (2003) proposed SCP strategy to increase the risk of detection and apprehension for offending, is “utiliz[ing] place managers” (see Image 1). In regards to cybercrime, place managers, who control behaviors in a designated area, can be Internet service providers (discussed in Cybercrime Module 1, Introduction to Cybercrime) or administrators and moderators of online platforms (Maras, 2016, 52). Place managers have been used to deal with cybercrime on social media platforms. For instance, Facebook increased the number of moderators and increased its monitoring of the platform for violent content after Steven Stephens broadcast his murder of a man via FacebookLive (Isaac and Mele, 2017; Guynn, 2017). Some of these SCP techniques implemented to deal with cybercrime may infringe upon human rights (e.g., blocking or removal of content) (see Cybercrime Module 3, Legal Frameworks and Human Rights, for further information on the restrictions of human rights and the limited circumstances in which proportionate restrictions of certain rights are justified according to international human rights law).</p>

<p>Crime displacement occurs when a crime that was intended for one target is committed on another target because of security measures in place. Despite popular belief, research does not support that situational crime prevention leads to crime displacement (Clarke, 1997; Hesseling, 1994). A study on pimps use of the online classified advertisements sites Backpage and Craigslist revealed that law enforcement efforts relating to these online sites did not displace pimps use of these sites to advertise sex work (Finn and Stalans, 2016).</p>

<p>11</p>

<p>SCP focuses on the possibility of cybersecurity threats materializing at some point. Therefore, these measures are implemented because it is assumed that threats will materialize and actions need to be taken accordingly. While SCP primarily (but not exclusively) focuses on forestalling crime, the reality is that even with these measures in place, crime will likely be committed. Because of this possibility, measures are implemented that seek to detect, respond to, and recover from cybersecurity incidents.</p>

<p>Incident Detection, Response, Recovery, and Preparedness</p>

<p>Incident detection is the process of identifying threats by actively monitoring assets and finding anomalous activity (NIST, 2018). Once a threat is detected, appropriate actions are taken to neutralize the threat (if it is an active threat at the time of the response) and investigate the incident. After responding to the incident, the first step in the recovery process is to restore access and availability of systems, networks, services and data to a pre-incident state (NIST, 2018).</p>

<p>Recovery also involves an element of planning that requires the identification, creation, and ultimate implementation of measures for resilience and to enable the restoration of systems, networks, services, and data that were unavailable, harmed, damaged, and/or compromised during the incident. An essential element in ensuring resilience is having an up-to-date business continuity plan or emergency management plan (Maras, 2014b), which outlines instructions to be followed and actions to be taken in the event of a cybersecurity incident. Put simply, this plan includes detailed information on the ways in which to respond to an incident and recover from it. All those involved in cybersecurity response and recovery should be informed about the emergency management plan. Here, training is required that includes exercises designed to test the efficacy and efficiency of these plans. An example of this type of exercise is the U.S. Department of Homeland Security’s Cyber Storm exercises, which involves participants from national public and private agencies, as well as agencies from select countries outside of the United States, in order to test current information sharing practices between these agencies, and their cybersecurity preparedness, protection, and response capabilities (DHS, n.d.).</p>

<p>Conclusion</p>

<p>Cybersecurity measures are designed to protect people, property, systems, networks, data, and related resources from threats. These measures include prevention, identification, response to, and recovery from cybersecurity incidents. Assets are identified, and threats, vulnerabilities, and risks are assessed before the development and implementation of cybersecurity measures. Security research can help inform the development of new and enhancement of existing cybersecurity measures. Cybersecurity measures often fail to consider the people who utilize them. Humans can either facilitate or interfere with cybersecurity efforts. For this reason, effective cybersecurity measures and systems need to be created with the individuals who will use them in mind.</p>

<p>References</p>

<p>• Adams, Anne, Martina Angela Sasse, and Peter Lunt. (1997). Making passwords secure and usable. In People and Computers XII - Proc. of the 7th International Conference on</p>

<p>12</p>

<p>Human-Computer Interaction (HCI’97), Springer.</p>

<p>https://pdfs.semanticscholar.org/5781/15f73bf80798d859106a035466fecc77b209.pdf • Balfanz, Dirk, Glenn Durfee, Diana K. Smetters, and R. E. Grinter. (2004). In search of usable security: Five lessons from the field. Security &amp; Privacy, IEEE, Vol. 2(5), 19–24.</p>

<p>• Barth, Bradley. (2018). Monero bug that doubled coin transfer amounts allowed attackers to steal from Altex.exchnage. SC magazine, August 3, 2018. https://www.scmagazine.com/monero-bug-that-doubled-coin-transfer-amounts-allowed-attackers-to-steal-from-altexexchange/article/785998/</p>

<p>• Borodkin, Michelle. (2001). Computer Incident Response Team. https://www.sans.org/reading-room/whitepapers/incident/computer-incident-response-team-641</p>

<p>• Bursztein, Elie, Jonathan Aigrain, Angelika Moscicki, and John C. Mitchell. (2014). The end is nigh: Generic solving of text-based CAPTCHAs.” In Proceedings of the 8th USENIX Workshop on Offensive Technologies.</p>

<p>• Cavusoglu Huseyin, Srinivasan Raghunathan, and Hasan Cavusoglu. (2009). Configuration of and interaction between information security technologies: The case of firewalls and intrusion detection systems. Information Systems Research, Vol. 20(2), 198-217.</p>

<p>• Cencini, Andrew, Kevin Yu and Tony Chan. (2005). Software Vulnerabilities: Full-, Responsible-, and Non-Disclosure. https://courses.cs.washington.edu/courses/csep590/05au/whitepaper_turnin/software_vulnerabilities_by_cencini_yu_chan.pdf</p>

<p>• Clarke, Ronald V. (2004). 25 Techniques of Situational Crime Prevention</p>

<p>Presentation at Problem-Oriented Policing Conference (Charlotte, October 28-30, 2004).</p>

<p>• Clarke, Ronald V. G. (1980). Situational crime prevention: Theory and practice. British Journal of Criminology, Vol. 20(1), 136–147.</p>

<p>• Cornish, Derek B., &amp; Clarke, R. V. G. (2003). Opportunities, precipitators, and criminal decisions: A reply to Wortley’s critique of situational crime prevention. In Martha J. Smith and Derek B. Cornish (Guest Eds.). Theory for practice in situational crime. Willan.</p>

<p>• Cranor, Lorrie Faith and Simon L. Garfinkel. (2005). Security and Usability: Designing Secure Systems That People Can Use. O’Reilly.</p>

<p>• CVE. (n.d.). About CVE. https://cve.mitre.org/about/index.html</p>

<p>• Dali, Alex and Christopher Lajtha. (2012). ISO 31000 Risk Management – “The Gold Standard.” EDPACS, Vol. 45(5), 1-8.</p>

<p>• Dix, Alan, Janet Finlay, Gregory D. Abowd, and Russell Beale. (2004). Human-Computer Interaction, 3rd ed. Prentice Hall.</p>

<p>• Eloff, M. M. and J. H. P. Eloff. (2002). Human Computer Interaction: An Information Security Perspectives. In M. Adeeb Ghonaimy, Mahmoud T. El-Hadidi and Heba K. Aslan. Security in the Information Society: Visions and perspectives. Springer.</p>

<p>• ENISA. (2017). Hardware Threat Landscape and Good Practice Guide, Version 1. https://www.enisa.europa.eu/publications/hardware-threat-landscape/at_download/fullReport.</p>

<p>13</p>

<p>• Finn, Mary A. and Loretta J. Stalans. (2016). How Targeted Enforcement Shapes Marketing Decisions of Pimps: Evidence of Displacement and Innovation. Victims and Offenders, Vol. 11(4), 578-599.</p>

<p>• Freund, Jack and Jack Jones. (2015). Measuring and managing information risk: A FAIR approach. Butterworth-Heinemann.</p>

<p>• Furnell, Steven. (2005). Why users cannot use security. Computers &amp; Security, Vol. 24(4), 274–279.</p>

<p>• Gao, Song, Manar Mohamed, Nitesh Saxena, and Chengcui Zhang. (2014). Gaming the game: defeating a game CAPTCHA with efficient and robust hybrid attacks. 2014 IEEE International Conference on Multimedia and Expo, 1-6.</p>

<p>• Greenberg, Andy. (2017). Hackers Say they’ve broken FaceID as week after iPhone X release. Wired, 11 December 2017. https://www.wired.com/story/hackers-say-broke-face-id-security/</p>

<p>• Greenberg, Andy. (2017). How secure is the iPhone X’s FaceID? Here’s what we know? Wired, 9 December 2017. https://www.wired.com/story/iphone-x-faceid-security/</p>

<p>• Grossklags, Jens and Benjamin Johnson. (2009). Uncertainty in the weakest-link security game. International Conference on Game Theory for Networks (13-15 May 2009). http://people.ischool.berkeley.edu/~jensg/research/paper/Grossklags-Gamenets2009.pdf</p>

<p>• Gunson, Nancy, Diarmid Marshall, Hazel Morton, and Mervyn Jack. (2011). User perceptions of security and usability of single-factor and two-factor authentication in automated telephone banking. Computers &amp; Security, Vol. 30(4), 208 – 220.</p>

<p>• Guynn, Jessica. (2017). Facebook Live violence horrifies users, who say Facebook’s still not doing enough. USA Today, May 3, 2017. https://www.usatoday.com/story/tech/news/2017/05/03/facebook-live-violence-not-enough-mark-zuckerberg-users/101247030/</p>

<p>• Householder, Allen D., Garret Wassermann, Art Manion, and Chris King. (2017). The CERT Guide to Coordinated Vulnerability Disclosure. https://resources.sei.cmu.edu/asset_files/SpecialReport/2017_003_001_503340.pdf</p>

<p>• Hoyle, David. (2018). ISO 9000 Quality Systems Handbook-updated for the ISO 9001: 2015 standard (7th edition). Routledge.</p>

<p>• Hubbard, Douglas W. and Richard Seiersen. (2016). How to Measure Anything in Cybersecurity Risk. Wiley.</p>

<p>• Isaac, Mike and Christopher Mele. (2017). A murder posted on Facebook prompts outrage and questions over responsibility. New York Times, April 17, 2017, https://www.nytimes. com/2017/04/17/technology/facebook-live-murder-broadcast.html</p>

<p>• ITU. (2008). Overview of cybersecurity. Recommendation ITU-T X.1205. Series X: Data Networks, Open System Communications And Security, https://www.itu.int/rec/T-REC-X.1205-200804-I</p>

<p>• Karat, Clare-Marie, John Karat, and Carolyn Brodie. (2005). Usability Design and Evaluation for Privacy and Security Solutions. In Lorrie Faith Cranor and Simon L. Garfinkel (eds), Designing Secure Systems That People Can Use. O’Reilly &amp; Associates.</p>

<p>• Knight, Frank. (1921). Risk, Uncertainty, and Profit. University of Chicago Press.</p>

<p>• Lehtinen, Rick, Deborah Russell, and G. T. Gangemi Sr. (2006). Computer Security Basics. O’Reilly Media.</p>

<p>14</p>

<p>• Luko, Stephen N. (2013). Risk Management Terminology. Quality Engineering, Vol. 25 (3), 292-297.</p>

<p>• Maras, Marie-Helen. (2014a). Computer Forensics: Cybercriminals, Laws, and Evidence. Jones and Bartlett.</p>

<p>• Maras, Marie-Helen. (2016). Cybercriminology. Oxford University Press.</p>

<p>• Maras, Marie-Helen. (2014b). Transnational Security. CRC Press.</p>

<p>• Matthew, Lee. (2017). File with 1.4 Billion Hacked and Leaked Passwords Found on the Dark Web. Forbes, 11 December 2017. https://www.forbes.com/sites/leemathews/2017/12/11/billion-hacked-passwords-dark-web/#272c6cfc21f2</p>

<p>• NIST. (2018). Framework for Improving Critical Infrastructure Cybersecurity. National Institute of Standards and Technology.</p>

<p>• NIST. (2012). Guide for Conducting Risk Assessments. NIST Special Publication 800-30 Revision 1. https://nvlpubs.nist.gov/nistpubs/legacy/sp/nistspecialpublication800-30r1.pdf.</p>

<p>• Nurse, Jason R. C., Sadie Creese, Michael Goldsmith, and Koen Lamberts. (2011). Guidelines for Usable Cybersecurity: Past and Present. Third International Workshop on Cyberspace Safety and Security. https://www.cs.ox.ac.uk/files/6638/CSS2011_NCGL_authors_final.pdf</p>

<p>• Pfleeger, Shari Lawrence, M. Angela Sasse, and Adrian Furnham, (2014). From Weakest Link to Security Hero: Transforming Staff Security Behavior. Homeland Security &amp; Emergency Management, Vol.11(4), 489–510.</p>

<p>• Proffitt, Timothy. (2007). Creating and Managing an Incident Response Team for a Large Company. 35. Available at: https://www.sans.org/reading-room/whitepapers/incident/creating-managing-incident-response-team-large-company-1821</p>

<p>• Sasse, M. Angela, and Ivan Flechais. (2005). The Case for Usable Security. In Lorrie Faith Cranor and Simon L. Garfinkel (eds), Designing Secure Systems That People Can Use. O’Reilly &amp; Associates.</p>

<p>• Sasse, M. Angela, Sacha Brostoff, and D. Weirich. (2001). Transforming the ’weakest link’ — a human/computer interaction approach to usable and effective security. BT Technology Journal, Vol. 19(3), 122–131.</p>

<p>• Schneier, Bruce. (2000). Secrets &amp; Lies: Digital Security in a Networked World. John Wiley &amp; Sons, Inc.</p>

<p>• Sherwood, John, Andrew Clark, and David Lynas. (2005). Enterprise security architecture: a business-driven approach. CMP Books.</p>

<p>• Sivakorn, Suphannee, Iasonas Polakis and Angelos D. Keromytis. (2016). I Am Robot: (Deep) Learning to Break Semantic Image CAPTCHAs. In Proceedings of the 1st IEEE European Symposium on Security and Privacy, Saarbrucken, Germany (21-24 March 2016), 388-403.</p>

<p>• Stalans, Loretta J. and Mary A. Finn. (2016). Consulting legal experts in the real and virtual world: Pimps’ and johns’ cultural schemas about strategies to avoid arrest and conviction. Deviant Behavior, Vol. 37(6), 644–664.</p>

<p>15</p>

<p>• Trull, Jonthan. (2015). Responsible Disclosure: Cyber Security Ethics. CSO, February 26, 2015.</p>

<p>https://www.csoonline.com/article/2889357/security0/responsible-disclosure-cyber-security-ethics.html</p>

<p>• UN ECOSOC Resolution 2002/13. (https://www.unodc.org/documents/justice-and-prison-reform/crimeprevention/resolution_2002-13.pdf).</p>

<p>• UNODC. (2010). Handbook on the crime prevention guidelines: Making them work. https://www.unodc.org/pdf/criminal_justice/Handbook_on_Crime_Prevention_Guidelines_-_Making_them_work.pdf.</p>

<p>• Ur, Blase, J. Bees, Sean M. Segreti, Lujo Bauer, Nicolas Christin, and Lorrie F. Cranor. (2016). Do users’ perceptions of password security match reality? In: Proceedings of the 2016 CHI conference on human factors in computing systems. ACM, 3748–3760.</p>

<p>• U.S. Department of Homeland Security (DHS) (n.d.). Cyber Storm: Securing Cyber Space. https://www.dhs.gov/cyber-storm</p>

<p>• U.S. Federal Trade Commission Consumer Information. (2017). Computer Security. https://www.consumer.ftc.gov/articles/0009-computer-security#passwords</p>

<p>• Venter Hein S. and Jon H. Eloff. (2003). A taxonomy for information security technologies. Computers &amp; Security, Vol. 22(4), 299-307.</p>

<p>• von Solms, Rossouw and Johan van Niekerk. (2013). From information security to cyber security. Computers and Security, Vol. 38, 97-102.</p>

<p>• Whitten, Alma and J. D. Tygar. (1999). Why Johnny Can’t Encrypt: A Usability Evaluation of PGP 5.0. Paper presented at the Proceedings of the 8th USENIX Security Symposium, Washington D.C., America.</p>

<p>• Yee, Ka Ping. (2004). Aligning security and usability. Security &amp; Privacy, Vol. 2(5), 48–55.</p>

<p>Cases</p>

<p>• Fisher v. United States, 96 S.Ct. 1569 (1976).</p>

<p>• King v. McLellan [1974] VR 773</p>

<p>• People v. Smith, 86 AD2d 251 (NY App Div 3d Dept 1982).</p>

<p>• Saunders v. United Kingdom (Application no. 19187/91) (1996) 23 EHRR 313.</p>

<p>• Schmerber v. California, 384 U.S. 757 (1966).</p>

<p>• Sorby v Commonwealth (1983) 152 CLR 281.</p>

<p>• State v. Diamond, 2018 WL 443356 (Minn. 2018).</p>

<p>• State of U.P. v. Sunil on 2 May, 2017, judgment of Supreme Court (India)</p>

<p>• United States v. Wade, 388 U.S. 218 (1967).</p>

<p>• U.S. v. Dionisio, 410 U.S. 1 (1973)</p>

<p>• Virginia v. Baust, No. CR14-1439 (Va. Cir. October 28, 2014).</p>

<p>Exercises</p>

<p>Exercise # 1: Responsible Disclosure</p>

<p>Have students research how the largest technology companies such as Facebook, Google and Microsoft handle vulnerability reports. Answer the following:</p>

<p>16</p>

<p>● What mechanisms do they have to facilitate reporting process?</p>

<p>● What kind of rewards do they offer for the security researchers?</p>

<p>● Should responsible disclosure be protected under law? Why do you think so?</p>

<p>● Should security researchers get paid to disclose vulnerabilities?</p>

<p>Exercise # 2: Situational Crime Prevention</p>

<p>Cornish and Clarke (2003) proposed 5 strategies and 25 techniques (with 5 techniques under each strategy) to prevent and reduce crime. Have students choose a cybercrime and fill out the cybersecurity techniques they would use in the below table that could be used to prevent and/or reduce that cybercrime.</p>

<p>Increase the Effort</p>

<p>Increase the Risks</p>

<p>Reduce the Rewards</p>

<p>Reduce Provocations</p>

<p>Remove Excuses</p>

<p>Target harden</p>

<p>Extend guardianship</p>

<p>Conceal targets</p>

<p>Reduce frustrations and stress</p>

<p>Set rules</p>

<p>Control access to facilities</p>

<p>Assist natural surveillance</p>

<p>Remove targets</p>

<p>Avoid disputes</p>

<p>Post instructions</p>

<p>Screen exits</p>

<p>Reduce anonymity</p>

<p>Identify property</p>

<p>Reduce emotional arousal</p>

<p>Alert conscience</p>

<p>Deflect offenders</p>

<p>Utilize place managers</p>

<p>Disrupt markets</p>

<p>Neutralize peer pressure</p>

<p>Assist compliance</p>

<p>Control tools/ weapons</p>

<p>Strengthen formal surveillance</p>

<p>Deny benefits</p>

<p>Discourage imitation</p>

<p>Control drugs and alcohol</p>

<p>In addition, students should be prepared to answer the following question:</p>

<p>• Are there any techniques that do not apply to your chosen cybercrime? Please explain your response.</p>

<p>Exercise # 3: Detection, Response, Recovery, and Preparedness</p>

<p>Instruct students to conduct research in order to identify a cybersecurity incident that involved either a private organization or public agency within the last two years. Students should come prepared to discuss their selected cybersecurity incident and the answers to the below questions in class:</p>

<p>17</p>

<p>Discussion Questions</p>

<p>• How was the cybersecurity incident detected?</p>

<p>• In what ways did the organization or agency respond to the incident?</p>

<p>• What actions did the organization or agency take to recover from the incident?</p>

<p>• Was the organization or agency prepared for the incident? Why do you think so?</p>

<p>Possible class structures</p>

<p>The following is a recommended structure for the class. Students should complete the required readings before coming to class. The lecture is meant to reinforce what they learned in the readings and the exercises are designed to apply what they learned in the readings and the lecture. The following breakdown is designed based on a three-hour class. You are free to adapt the structure based on your needs and the class times.</p>

<p>Cybercrime Module 9 Class Breakdown (three-hour class)</p>

<p>Introduction to the class and learning outcomes</p>

<p>Lecture (10 minutes):</p>

<p>● Provide a brief introduction to the course and its contents.</p>

<p>● Identify and discuss the learning outcomes of the course.</p>

<p>Assets, Vulnerabilities, and Threats</p>

<p>Lecture (20 minutes):</p>

<p>● Define, discuss, and evaluate assets, threats, and vulnerabilities</p>

<p>Risk</p>

<p>Lecture (20 minutes):</p>

<p>● Define and discuss risks</p>

<p>● Assess risks</p>

<p>Vulnerability Disclosure</p>

<p>Lecture (20 minutes):</p>

<p>● Identify and assess the ways in which vulnerabilities can be disclosed</p>

<p>[Optional: Have students complete “Assessment # 2” under the “Student Assessment” section of this Module before class and have them discuss their findings during this lecture. Students can</p>

<p>18</p>

<p>either hand in a one to three-page summary of their findings or merely come prepared to discuss their findings in class].</p>

<p>Exercise Discussion (20 minutes):</p>

<p>Under the “Exercises” section of this Module there is a case study titled “Exercise # 1: Responsible Disclosure.”</p>

<p>[Note: This exercise must be completed before class]</p>

<p>Break</p>

<p>Time: 10 minutes</p>

<p>Cybersecurity Measures and Usability</p>

<p>Lecture (30 minutes):</p>

<p>● Describe and critique the relationship between cybersecurity and usability</p>

<p>[Optional: Have students complete “Homework # 3” under the “Student Assessment” section of this Module before class and have them discuss their findings during this lecture. Students can either hand in a one to three-page summary of their findings or merely come prepared to discuss their findings in class].</p>

<p>Situational Crime Prevention</p>

<p>Lecture (10 minutes):</p>

<p>• Discuss situational crime prevention and apply it to cybercrime prevention and reduction</p>

<p>• Propose cybercrime prevention and reduction measures</p>

<p>Class Exercise (20 minutes):</p>

<p>Have students complete “Exercise # 2: Situational Crime Prevention” under the “Exercises” section of this Module before class and have them discuss their findings during this lecture. Students can either hand in their work or merely come prepared to discuss their findings in class.</p>

<p>Incident Detection, Response, Recovery, and Preparedness</p>

<p>Lecture (20 minutes):</p>

<p>• Discuss and analyse incident detection, response, recovery, and preparedness</p>

<p>19</p>

<p>[Optional: Have students complete “Exercise # 3: Detection, Response, Recovery, and Preparedness” under the “Exercises” section of this Module before class and have them discuss their findings during this lecture].</p>

<p>Core Reading</p>

<p>● Adams, Anne, Martina Angela Sasse, and Peter Lunt. (1997). Making passwords secure and usable. In People and Computers XII - Proc. of the 7th International Conference on Human-Computer Interaction (HCI’97), Springer. https://pdfs.semanticscholar.org/5781/15f73bf80798d859106a035466fecc77b209.pdf.</p>

<p>● Arora, Ashish, Anand Nandkumar, and Rahul Telang. (2006). Does information security attack frequency increase with vulnerability disclosure? An empirical analysis. Information Systems Frontiers, Vol. 8 (5), 350-362.</p>

<p>● Beebe, Nicole Lang and V. Srinivasan Rao. (2005). Using Situational Crime Prevention Theory to Explain the Effectiveness of Information Systems Security. Proceedings of the 2005 SoftWars Conference, Las Vegas, NV, Dec 2005. https://pdfs.semanticscholar.org/34b5/d16969c46561ebdacf40cdf6c39194059d93.pdf</p>

<p>● Collins, J. D., Vincenzo A. Sainato, and David N. Khey. (2011). Organizational Data Breaches 2005-2010: Applying SCP to the Healthcare and Education Sectors. International Journal of Cyber Criminology Vol. 5(1), 794-810.</p>

<p>● Cornish, Derek B., &amp; Clarke, R. V. G. (2003). Opportunities, precipitators, and criminal decisions: A reply to Wortley’s critique of situational crime prevention. In Martha J. Smith and Derek B. Cornish (Guest Eds.). Theory for practice in situational crime. Willan.</p>

<p>● Dali, Alex and Christopher Lajtha. (2012). ISO 31000 Risk Management – “The Gold Standard.” EDPACS, Vol. 45(5), 1-8.</p>

<p>● Eloff, M. M. and J. H. P. Eloff. (2002). Human Computer Interaction: An Information Security Perspectives. In M. Adeeb Ghonaimy, Mahmoud T. El-Hadidi and Heba K. Aslan. Security in the Information Society: Visions and perspectives. Springer.</p>

<p>● ENISA. (2017). Hardware Threat Landscape and Good Practice Guide, Version 1. https://www.enisa.europa.eu/publications/hardware-threat-landscape/at_download/fullReport.</p>

<p>● Luko, Stephen N. (2013). Risk Management Terminology. Quality Engineering, Vol. 25 (3), 292-297.</p>

<p>● NIST. (2018). Framework for Improving Critical Infrastructure Cybersecurity. National Institute of Standards and Technology.</p>

<p>https://nvlpubs.nist.gov/nistpubs/CSWP/NIST.CSWP.04162018.pdf.</p>

<p>● UNODC. (2010). Handbook on the crime prevention guidelines: Making them work. https://www.unodc.org/pdf/criminal_justice/Handbook_on_Crime_Prevention_Guidelines_-_Making_them_work.pdf.</p>

<p>Advanced Reading</p>

<p>● Antonucci, Domenic. (2017). The Cyber Risk handbook: Creating and Measuring Effective Cybersecurity Capabilities. Wiley.</p>

<p>20</p>

<p>● Brown, Moira West, Don Stikvoort, Klaus-Peter Kossakowski, Gerogia Killcrece, Robin Ruefle, and Mark Zajicek. (2003). Handbook for Computer Security Incident Response Teams (CSIRTS).</p>

<p>https://resources.sei.cmu.edu/library/asset-view.cfm?assetid=6305</p>

<p>● Garfinkel, Simson and Lorrie Cranor. (2008). Security and Usability: Designing Secure Systems That People Can Use. O’Reilly Media.</p>

<p>● Householder, Allen, Garret Wassermann, Art Manion, Chris King. (2017) The CERT Guide to Coordinated Vulnerability Disclosure. Carnegie Mellon University.</p>

<p>https://resources.sei.cmu.edu/asset_files/SpecialReport/2017_003_001_503340.pdf.</p>

<p>• Le Conseil général de l'économie, de l'industrie, de l'énergie et des technologies (CGEIET). (2018). La cyber resilience: Thème d’approfondissement 2017 de la section sécurité et risques. 30 janvier 2018, n° 2017/02/CGE/SR. https://www.economie.gouv.fr/files/files/directions_services/cge/Rapports/2017_02_CGE_SR_Rapport.pdf.</p>

<p>• Luttgens, Jason, Matthew Pepe, and Kevin Mandia (2014). Incident Response &amp; Computer Forensics, Third Edition. McGraw-Hill.</p>

<p>• Sanders, Chris and Jason Smith. (2013). Applied Network Security Monitoring: Collection, Detection and Analysis, 1st edition. Syngress.</p>

<p>• Schaake, Marietje, Lorenzo Pupillo, Afonso Ferreira, and Gianluca Varisco. (2018). Software Vulnerability Disclosure in Europe Technology, Policies and Legal Challenges. Report of a CEPS Task Force. Centre for European Policy Studies (CEPS) Brussels. https://www.ceps.eu/system/files/CEPS%20TFRonSVD%20with%20cover_0.pdf</p>

<p>Student Assessment</p>

<p>In addition to the exercises, other assessment tools used in this course are review questions and homework assignments.</p>

<p>Review Questions</p>

<p>These questions can also be used to facilitate class discussions during the lecture.</p>

<p>1. What is an asset?</p>

<p>2. What is a threat?</p>

<p>3. What is a vulnerability?</p>

<p>4. What is risk?</p>

<p>5. How is risk assessed?</p>

<p>6. What are the ways in which cybersecurity researchers disclose vulnerabilities?</p>

<p>7. What is the relationship between cybersecurity and usability?</p>

<p>8. What is situational crime prevention? How can it be applied to cybercrime?</p>

<p>9. What cybersecurity measures are included in incident detection, response, recovery, and preparedness?</p>

<p>Homework Assignments</p>

<p>The following assignments are proposed:</p>

<p>21</p>

<p>Homework # 1</p>

<p>Have students conduct research to identify a cybersecurity incident involving a large corporation or organization that experienced a cybersecurity incident within the last two years. In the short paper, have students describe the cybersecurity incident and identify the vulnerabilities that made the incident possible [Suggested maximum length: 1,500 words].</p>

<p>Homework # 2</p>

<p>Reporting software vulnerabilities is a somewhat controversial issue. Have students research a company within their country and identify the company’s views on disclosure. In the short paper, students should not only discuss the company and the company’s overall view on disclosure, but they should also answer the following questions: Does the company accept responsible disclosure claims? Does the company support researchers that disclose vulnerabilities? How are disclosures handled? [Suggested maximum length: 1,500 words].</p>

<p>Homework # 3</p>

<p>Do your country’s laws (and/or case law) afford criminal justice practitioners with the ability to compel individuals to provide their biometrics to unlock digital devices? Please explain your response.</p>

<p>Additional Teaching Tools</p>

<p>Websites</p>

<p>• NIST. Back to Basics: Multi-factor Authentication (MFA). https://www.nist.gov/itl/tig/back-basics-multi-factor-authentication.</p>

<p>• The Conversation. Cybersecurity – News, Research and Analysis</p>

<p>https://theconversation.com/us/topics/cybersecurity-535.</p>

<p>• U.S. NIST. Cybersecurity. https://www.nist.gov/topics/cybersecurity.</p>

<p>Videos</p>

<p>• Felt, Adrienne Porter. Why Is Usable Security Hard, and What Should We Do About it? USENIX Enigma 2016 Conference. https://www.youtube.com/watch?v=XfFjde0UPbY. The video discusses what usable security is, its challenges, and what can be done about these challenges.</p>

<p>• IT Security: Defense against the digital dark arts. Network Security Considerations: https://www.coursera.org/lecture/it-security/network-hardening-best-practices-T3lID. The video covers the ways to harden networks, network security protection, and network monitoring and analysis.</p>

<p>• Shaw, Jackson. (2018). Passwords and Fingerprints and Faces—Oh My! Comparing Old and New Authentication. https://www.youtube.com/watch?v=DReQdq9E4bY. The video</p>

<p>22</p>

<p>covers various authentication measures (from history to the present), particularly passwords and biometrics. • Stanford University, Human Computer Interaction.</p>

<p>https://www.youtube.com/watch?v=WW1g3UT2zww&amp;list=PLLssT5z_DsK_nusHL_Mjt87THSTlgrsyJ. The video includes one of a series of lectures available on the playlist linked to the video covering various facets of human computer interaction.</p>