[viewBag]
title = "Cadre Juridique"
url = "/cadre-juridique"
layout = "content"
is_hidden = 0
navigation_hidden = 0
banner = "/v.jpg"
==
<h1>
	<br>
</h1>

<p>L'encadrement juridique de la sécurité informatique &nbsp;a été amorcé en Tunisie à partir de 1999 par deux articles dans le code pénal tunisien à savoir l’article 199 bis et 199 ter. Depuis un noyau juridique a été mis en place.</p>

<p>Les textes juridiques encadrant cette sécurité informatique sont de différentes classes :</p>

<p>
	<br>
</p>

<p><strong>Lois :</strong></p>

<p>
	<br>
</p>

<ul>
	<li><strong><a href="http://41.231.36.150/sites/default/files/loi%205-2004%20FR.pdf" target="_blank">Loi n° 5 - 2004 du 3 février 2004</a></strong>,<strong>&nbsp;</strong> relative à la sécurité informatique et portant sur l'organisation du domaine de la sécurité informatique et fixant les règles générales de protection des systèmes informatiques et des réseaux.&nbsp;</li>
	<li><strong><a href="http://41.231.36.150/sites/default/files/loi%20organique%202004-63.pdf" target="_blank">Loi organique n° 63 - 2004, du 27 juillet 2004</a></strong>, &nbsp;portant sur la protection des données a caractère personnel.</li>
	<li><strong><a href="http://41.231.36.150/sites/default/files/loi%2099-89.pdf" target="_blank">Loi n° 99-89 du 2 aout 1999 (Articles : 199 bis et 199 ter)</a></strong>,<strong>&nbsp;</strong>modifiant et complétant certaines dispositions du code pénal relative au Cybercriminalité.</li>
</ul>

<p>
	<br>
</p>

<p><strong>Décrets :</strong></p>

<p>
	<br>
</p>

<ul>
	<li><span data-mce-mark="1"><a href="http://41.231.36.150/sites/default/files/d%C3%A9cret%202004-1250%20fr.pdf" target="_blank"><strong>Décret n° 1250 - 2004 du 25 mai 2004</strong></a>, fixant les systèmes informatiques et les réseaux des organismes soumis à l'audit obligatoire périodique de la sécurité informatique et les critères relatifs à la nature de l'audit et à sa périodicité et aux procédures de suivi de l'application des recommandations contenues dans le rapport d'audit.</span></li>
</ul>

<p>
	<br>
</p>

<p><strong>Arrêté &nbsp;:</strong></p>

<p>
	<br>
</p>

<ul>
	<li><span data-mce-mark="1"><strong><a href="https://www.ansi.tn/sites/default/files/Arr%C3%AAt%C3%A92019_3875Arabe_0.pdf" target="_blank">Arrêté du ministre des technologies de la communication et de l'économie numérique et du ministre du développement</a></strong>, de l’investissement et de la coopération internationale du 01 Octobre 2019, fixant le cahier des charges relatif à l'exercice de l’activité d’audit dans le domaine de la sécurité informatique.</span></li>
</ul>

<p>
	<br>
</p>

<p><strong>Circulaires :</strong></p>

<p>
	<br>
</p>

<ul>
	<li><strong><a href="http://41.231.36.150/sites/default/files/circulaire%2007-19_2.pdf" target="_blank">Circulaire n° 19 - du 11 avril 2007</a></strong>,<strong>&nbsp;</strong>relatif au renforcement des mesures de sécurité informatique dans les établissements publiques (Création d'une Cellule Technique de Sécurité, nomination d'un Responsable de la Sécurité des Systèmes d'Information RSSI ; et mise en place d'un Comité de pilotage).</li>
	<li><a href="https://www.ansi.tn/sites/default/files/circulaire%2015-23.pdf"><strong>Circulaire n° 23 - du 10 decembre 2015</strong>,</a> portant sur la sureté des locaux appartenant aux ministères et aux entreprises publiques.</li>
	<li><a href="http://41.231.36.150/sites/default/files/circulaire%2003-19_3.pdf" target="_blank"><strong>Circulaire n° 19 du 18 juillet - 2003</strong></a>,<strong>&nbsp;</strong>relatif aux mesures de sécurité et de prévention des bâtiments des ministères et des collectivités locales et des entreprises publiques.</li>
	<li>
		<br>
	</li>
</ul>

<p>
	<br>
</p>

<p><strong>Un projet du code du Numérique (Août/2018)&nbsp;</strong></p>

<p>
	<br>
</p>

<p>Le Ministère des Technologies de la Communication &nbsp;et de l'Economie Numérique a annoncé l'ouverture de sa 3éme &nbsp;consultation publique sur le nouveau code du numérique le 13 septembre 2018, sur l'examen et la soumission de propositions et d'observations dans le but de corriger, améliorer ou ajouter des éléments au projet de la loi sur les communications électroniques avant le 30 octobre 2018.</p>

<p>
	<br>
</p>

<p>Les propositions de l'Agence Nationale de la Sécurité Informatique dans le cadre de ce projet ont été reprises dans le troisième livre et dans la deuxième partie intitulée "Protection de l'espace numérique national", divisée en quatre sections :</p>

<p>
	<br>
</p>

<ul>
	<li><strong>Section 1</strong> "Stratégie nationale de sécurité numérique".</li>
	<li><strong>Section 2</strong> "Agence nationale de la sécurité de l'information".</li>
	<li><strong>Section 3</strong> "Protection des infrastructures numériques sensibles et dynamiques".</li>
	<li><strong>Section 4</strong> "Protection de la sécurité des systèmes et des réseaux".</li>
</ul>

<p>
	<br>
</p>

<p>Le contenu de ces titres est détaillé dans le lien du projet du code de communications électroniques suivant:</p>

<p><a href="https://www.mtcen.gov.tn/fileadmin/user_upload/Code_pour_une_Tunisie_Numerique.pdf" target="_blank">https://www.mtcen.gov.tn/fileadmin/user_upload/Code_pour_une_Tunisie_Numerique.pdf</a></p>