[viewBag]
title = "Mentions Légales"
url = "/mentions-legales"
layout = "content"
is_hidden = 0
navigation_hidden = 0
==
<header>

	<h1>Mentions légales</h1>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

	<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
</header>

<h3>Informations éditoriales</h3>

<p>MOURAKIB.ORG
	<br>Avenue Habib Bourguiba - Tunis</p>

<p>Courriel : contact@mourakib.org
	<br>Téléphone : 71 .000.000
	<br>
	<br>Directeur de la publication du contenu du site web :</p>

<p>La conception éditoriale, le suivi, la maintenance technique et les mises à jour du site internet sont assurés par les services informatique du Ministère de l'interieur</p>

<h3>
	<br>
</h3>

<h3>Traitement des données à caractère personnel</h3>

<p>La politique de traitement des données à caractère personnel sur la plateforme Mourakib.org est expliquée dans la partie confidentialité.<a href="https://www.cybermalveillance.gouv.fr/tous-nos-contenus/a-propos/politique-de-confidentialite">.</a></p>

<p>Pour toute demande relative aux données à caractère personnel, vous pouvez joindre le délégué à la protection des données de la plateforme l’adresse <a href="mailto:contact@mourakib.org">contact@mourakib.org</a></p>

<h3>Propriété intellectuelle</h3>

<p>
	<br>
	<br>.........;</p>

<h3>Confidentialité </h3>

<p>
	<br>
</p>

<p>En navigant sur la plateforme Mourakib.org, certaines données sont collectées afin d’assurer le bon fonctionnement des services proposés par la plateforme ou de vous proposer des services supplémentaires.</p>

<p>Cette partie a pour fonction de vous informer sur la nature des données collectées, les modalités de traitement et de conservation ainsi que sur vos droits.</p>

<p>Cette page peut évoluer en fonction des modifications mises en place sur les traitements de données effectués ainsi que du contexte légal et réglementaire.&nbsp;</p>

<p>
	<br>
</p>

<h3>Hébergement</h3>

<p>Le site est hébergé par l'ATI &nbsp;&nbsp;</p>