@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import 'base/custom-variables-rtl';
//@import 'base/variables';
//@import "../../node_modules/bootstrap/scss/variables";
@import "../bs-rtl/bootstrap-rtl";
@import "../../node_modules/swiper/css/swiper.min.css";
@import 'helpers/helpers';

@import "../../node_modules/bootstrap-select/sass/bootstrap-select.scss";

// Add SASS theme customizations here..
html {}
@include media-breakpoint-up(sm) {html {font-size: .9rem;}}
@include media-breakpoint-up(md) {html {font-size: .9rem;}}
@include media-breakpoint-up(lg) {html {font-size: 1rem;}}


.col-hgt{
    transition: all 0.3s ease-out;
    &:hover{
        transform: scale(1.05);
    }
}

@import "base/typography";
@import "base/global";

@import "layout/layout";
@import "layout/top-bar";
@import "layout/navbar";
@import "layout/footer";

@import "pages/home";
@import "pages/news";


@import "components/home-banner";
@import "components/home-news";
@import "components/search";
@import "components/newsletter-block";



#reportFormWrapper{
    content: '';
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: auto;
    padding: 30px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out,
                visibility 0.3s;
    z-index: -1;
    &.show{
        opacity: 1;
        visibility: visible;
        z-index: 1100;
    }
    .report-form{
        max-width: 400px;
        width: 100%;
        background-color: #FFF;
        border-radius: 16px 0 0 16px;
        @include media-breakpoint-down(lg){
            border-radius: 0;
        }
        position: absolute;
        z-index: 10003;
        top: 0px;
        margin-bottom: 30px;
        right: 0;
        overflow: hidden;
        @extend .shadow;
        transform: translateX(200px);
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s ease-out;
        &.show{
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
        &__header{
            background-color: $secondary;
            padding-top: 40px;
            padding-bottom: 16px;
            position: relative;
            .btn-close{
                color: #FFF;
                font-size: 20px;
                position: absolute;
                top: 0;
                left: 0;
            }
            .title{
                color: #FFF;
                text-transform: uppercase;
                font-weight: normal;
            }
        }
        &__body{
            margin-top: 10px;
            .btn.dropdown-toggle{
                background: transparent;
                @extend .form-control;
                &:after{
                    margin-left: -5px;
                }
            }
        }
    }
}


.form-group{
    margin-bottom: 18px;
}
.form-control,
.custom-file-label{
    border-color: $gray-400;
    height: 43px;
    padding-right: 20px;
    padding-left: 20px;
}
.label{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
}









/* setup container styles */
.bubble-container {
    height: 99%;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.bubble-wrap {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0;
    padding: 20px 20px 20px 30px;
    overflow-y: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
}
/* optional page styles */


/* MyBot */
mybot.center .chatCont,
mybot.center .profile_div {
    left: 0;
    right: 0;
    margin: 0 auto;
}

mybot.left .chatCont,
mybot.left .profile_div {
    left: 0;
}

mybot .chatCont {
    position: fixed;
    width: 380px;
    height: 400px !important;
    border: 1px solid #dcdcdc;
    bottom: 10px;
    right: 10px;
    background-color: $gray-300;
    border-radius: 6px;
    z-index: 900;
    display: none;
    font-size: 14px;
    @extend .shadow-lg;
}

mybot .close {
    position: absolute;
    left: -15px;
    top: -50px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    background: $secondary;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    opacity: 1;

}

mybot .bot_profile {
    position: absolute;
    right: 0;
    margin-top: 40px;
    text-align: center;
    width: 100%;
    display: none;
    z-index: 1000;
}

mybot .bot_p_img {
    width: 80px;
    border-radius: 50%;
    width: 80px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16), 0 0px 10px 0 rgba(0,0,0,0.12);
}



mybot .bot-txt,
mybot .bot-txt:focus {
    box-shadow: none;
    border-radius: 0;
    height: 66px;
    border: 0;
    border-top: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}

mybot .resultDiv .botResult {
    background: #fff;
    color: #000;
    border-radius: 3px;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    float: left;
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
    border-top-left-radius: 0;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
    position: relative;
}

mybot .resultDiv .botResult:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid #fff;
    left: -15px;
    margin-top: -12px;
}

mybot .resultDiv .userEnteredText {
    background: #9C27B0;
    float: right;
    color: #ffffff;
    border-radius: 3px;
    padding: 12px;
    width: 400px;
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
    border-top-right-radius: 0;
    position: relative;
    left: -6px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
    word-wrap: break-word;
}

mybot .resultDiv .userEnteredText:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-left: 15px solid #9C27B0;
    position: absolute;
    right: -15px;
    margin-top: -12px;
}

mybot .chat-txt {
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
    padding: 15px 15px;
    border-radius: 50px;
}
mybot .resultDiv{
    height: 395px
}

/* Spinner start */
mybot .spinner {
    background: #9C27B0;
    width: 70px;
    text-align: center;
    display: none;
    border-radius: 4px;
    position: relative;
    top: -7px;
    left: 19px;
    padding: 7px 10px;
    border-top-left-radius: 0;
}

mybot .spinner:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid #9C27B0;
    left: -15px;
    margin-top: -7px;
}

mybot .spinner > div {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    margin-right: 5px;
}

mybot .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

mybot .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
/* Spinner End */


/* Suggestions */
mybot .suggestion {
    background: #fff;
    color: #000;
    border-radius: 3px;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    width: 400px;
    float: left;
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16), 0 0px 10px 0 rgba(0,0,0,0.12);
    margin-left: 5px;
    border-top-left-radius: 0;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

mybot .suggestion:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid #fff;
    left: -15px;
    margin-top: -12px;
}

mybot .suggestion .sugg-options {
    display: block;
    background: #9c27b0;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 4px;
}

mybot .suggestion .sugg-title {
    font-weight: 300;
    margin-bottom: 10px;
}

mybot .suggestion span:last-child {
    margin-bottom: 0;
}
/* Suggestions end */

@media screen and (max-width: 500px) {
    mybot .resultDiv .userEnteredText,
    mybot .resultDiv .botResult,
    mybot .suggestion {
        width: 90%;
        margin-bottom: 20px;
    }
    mybot .chatCont,
    mybot .chatForm {
        width: 70%;
    }
    mybot .chatCont {
        //height: 70% !important;
    }
}
/* MyBot end */








/* style bubbles */
.bubble,
.bubble-typing {
    color: #FFF;
    background: $primary;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 8px 16px;
    border-radius: 5px 15px 15px 5px;
    text-transform: none;
    text-align: left;
    letter-spacing: .5px;
    margin: 0 0 2px 0;
    max-width: 65%;
    float: none;
    clear: both;
    line-height: 1.5em;
    word-break: break-word;
    transform-origin: left top;
    transition: all 200ms;
    box-sizing: content-box;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.bubble .bubble-content {
    transition: opacity 150ms;
}
.bubble:not(.say) .bubble-content {
    opacity: 0;
}
.bubble-typing.imagine,
.bubble.imagine {
    transform: scale(0);
    transition: all 200ms, height 200ms 1s, padding 200ms 1s;
}
.bubble.imagine {
    margin: 0;
    height: 0;
    padding: 0;
}

/* style media that's inside bubbles */
.bubble .bubble-content img {
    width: calc(100% + 32px);
    margin: -8px -16px;
    overflow: hidden;
    display: block;
    border-radius: 5px 15px 15px 15px;
}

/* interaction recall styles */
.bubble.history,
.bubble.history .bubble-content,
.bubble.history .bubble-content .bubble-button,
.bubble.history .bubble-content .bubble-button:hover {
    transition: all 0ms !important;
}
.bubble.history {
    opacity: .25;
}











/* style user response reply */
.bubble.reply {
    background: transparent;
    box-shadow: none;
    float: right;
    position: relative;
    transform-origin: right top;
    margin: 8px 0 10px;
    padding: 0;
    max-width: 75%;
}
.bubble.reply.history {
    margin: 0 0 2px 0; /* remembered bubbles do not need to stand out via margin */
}
.bubble.reply.say {
    /*
    min-width: 350px;
   */
}
.bubble.reply .bubble-content {
    transition: all 200ms;
}
.bubble.reply .bubble-content .bubble-button {
    background: #FFF;
    color: $gray-700;
    padding: 8px 16px;
    border-radius: 15px;
    margin-left: 2px;
    text-align: left;
    display: inline-block;
    float: right;
    cursor: pointer;
    transition: all 200ms;
    text-decoration: none;
    word-break: normal;
    animation-duration: 1s;
    animation-name: "animate-reply";
    animation-delay: -1s;
    transform: translate3d(0px, 0px, 0px);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    a{
        color: $gray-700;
    }
}

@keyframes animate-reply {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.bubble.reply.say .bubble-content .bubble-button {
    animation-play-state: running;
    margin-top: 3px;
    min-height: 24px;
    overflow: hidden;
}

.bubble.reply .bubble-content .bubble-button:first-child {
    border-radius: 15px 15px 5px 15px;
}
.bubble.reply .bubble-content .bubble-button:not(:first-child):not(:last-child){
    border-radius: 15px 5px 5px 15px !important;
}
.bubble.reply .bubble-content .bubble-button:last-child,
.bubble.reply .bubble-content .bubble-button.bubble-pick {
    border-radius: 15px 5px 15px 15px;
}
.bubble.reply.bubble-picked .bubble-content .bubble-button {
    transform: scale(0) translate3d(0px, 0px, 0px);
    padding: 0;
}
.bubble.reply:not(.bubble-picked) .bubble-content .bubble-button:hover,
.bubble.reply .bubble-content .bubble-button.bubble-pick {
    background: $secondary;
    color: #FFF;
    transform: scale(1.03);
    padding: 8px 16px;
    height: auto;
    a{
        color: #FFF;
    }
}

/* interaction recall styles */
.bubble.history .bubble-content .bubble-button,
.bubble.history.reply:not(.bubble-picked) .bubble-content .bubble-button:hover,
.bubble.history.reply .bubble-content .bubble-button.bubble-pick {
    background: rgba(44, 44, 44, 0.67);
}

.bubble-picked{
    .bubble-button{
        display: none;
    }
    .bubble-pick{
        display: block;
    }
}




