{% for category in categories %}
    <a href="/actualites/categorie/{{ category.slug }}" class="btn with-icon btn-category btn-category__{{ category.slug }}"> <i class="fas"></i> {{ category.name }}</a>
{% endfor %}

