<div class="card card-body post-item shadow-lg justify-content-between position-relative post-item--{{ style }}">
	<div class="post-item__meta__wrapper">
		<div class="d-flex justify-content-between mb-5 align-items-center post-item__meta position-absolute w-100 text-white">
			<div class="post-item__categories ">
				{% for category in post.categories %}
				<a href="{{ category.url }}" class="badge badge-secondary {{ category.slug }} text-white">{{ category.name }}</a>
				{% endfor %}
			</div>
			<div class="small d-flex post-item__date">
				<div class="mr-2">
					<i class="fas fa-calendar-alt"></i>

				</div>
				<span class="text-capitalize">{{ post.published_at|date('d M Y') }}</span>
			</div>
		</div>
		<a href="{{ post.url }}" class="post-item__img" style="background-image: url('{{ post.featured_images[0].path }}')"></a>
	</div>


	<div class="post-item__content">
		<h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<p class="excerpt">
			{{str_limit(post.summary|striptags, 150)}}
		</p>
		<a href="{{ post.url }}" class="mt-auto"><i class="fas fa-angle-right"></i> {{ 'read_more'|_ }} </a>
	</div>
</div>
