description = "Inner Page Layout"

[localePicker]
forceUrl = 0

[staticPage]
useContent = 1
default = 0

[ReportForm]

[MtmSubscriber]
subType = 1
content_id = "{{ :slug }}"
validateEmail = 0
==
{variable name="tagline" label="Sous-titre" tab="Header" type="text"}{/variable}
{variable name="banner" label="Banner" tab="Header" type="mediafinder" mode="image"}{/variable}
<!DOCTYPE html>
<html lang="{{ activeLocale }}" dir={{ (activeLocale == 'ar') ? "rtl":"ltr" }}>
    <head>
        {% partial 'site/meta' %}
    </head>
    <body class="page-{{ this.page.id }}">
        {% set hasChildren = (staticPage.parent ?: staticPage.page).children %}

        <!-- Nav -->
        <header id="layout-header">
            {% partial 'site/nav' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            <div class="container">
                <div class="content-page">

                    <div class="title-area">

                        <h1 class="title">{{ this.page.title|raw }}
                            {% if tagline %}
                                <small>{{ tagline }}</small>
                            {% endif %}

                            {% if this.page.layout_tagline %}
                            <small>{{ this.page.layout_tagline }}</small>
                            {% endif %}

                        </h1>

                    </div>

                    {% if banner %}
                    <div class="banner-area">
                        <img src="{{ banner |media }}" class="img-fluid" alt="">
                    </div>

                    {% endif %}
                    {% if this.page.layout_banner %}
                        <div class="banner-area">
                            <img src="{{ this.page.layout_banner |media }}" class="img-fluid" alt="">
                        </div>
                    {% endif %}


                    {% page %}

                </div>

            </div>

        </section>

        <div class="newsletter-subscribe">
            <div class="container">
                <div class="wrapper">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="intro">
                                <h2>{{ 'newsletter_title'|_ }}</h2>
                                <p>{{ 'newsletter_text'|_ }}</p>
                            </div>
                        </div>
                        <div class="col-lg-5 align-self-center ">
                            <form class="form-inline"
                                  data-request="onMavitmSubscriberRequest"
                                  data-request-flash="Merci pour votre inscrition"
                                  data-request-complete="this.reset();console.log(this)">
                                {{ form_token() }}
                                <div class="input-group m-auto">
                                    <input type="email" name="subscribe_data" id="subscribe_data" placeholder="Email" class="form-control form-control-lg">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary btn-lg"> {{ 'S\'inscrire'|_ }} </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% flash %}
        <p data-control="flash-message" class="flash-message fade {{ type }}" data-interval="6">
            {{ message }}
        </p>
        {% endflash %}

        {% partial 'site/footer' %}
        <!-- Scripts -->
        {% partial 'site/scripts' %}


        <div id="reportFormWrapper">
            <div id="reportForm" class="report-form">

                <div class="report-form__header text-center px-5">
                    <button class="btn btn-close" close-report-form><i class="fas fa-times-circle"></i></button>
                    <div class="h3 mb-0 title">{{ 'Signalement'|_ }}</div>
                </div>

                <form class="report-form__body px-5 py-3"
                      data-request="onSubmit"
                      data-request-validate
                      data-request-files
                      data-request-flash
                      data-request-complete="window.formSubmitted(data)"
                >
                    <p class="lead mb-4 text-center">{{ 'Remplissez le formulaire Lorem ipsum dolor sit amet.'|_ }}</p>
                    <div class="form-group">
                        <label for="rf_name" class="label">{{ 'form.fullName'|_ }}</label>
                        <input type="text" class="form-control" id="rf_name" name="fullname" required>
                    </div>
                    <div class="form-group">
                        <label for="rf_email" class="label">{{ 'form.email'|_ }}</label>
                        <input type="email" class="form-control" id="rf_email" aria-describedby="rf_emailHelp" name="email" required>
                        <small id="rf_emailHelp" class="form-text text-muted">{{ 'form.emailHelp'|_ }}</small>
                    </div>
                    <div class="form-group">
                        <label for="rf_phone" class="label">{{ 'form.phone'|_ }}</label>
                        <input type="tel" class="form-control" id="rf_phone" name="phone">
                    </div>
                    <div class="form-group">
                        <label for="rf_reportType" class="label">{{ 'form.reportType'|_ }}</label>
                        <select class="form-control" id="rf_reportType" aria-describedby="rf_reportTypeHelp" name="report_type" required>
                            <option value="Fraude en lignes">{{ 'Fraude en lignes'|_ }}</option>
                            <option value="Sécurité">{{ 'Sécurité'|_ }}</option>
                            <option value="Exploitation sexuelle">{{ 'Exploitation sexuelle'|_ }}</option>
                        </select>
                        <small id="rf_reportTypeHelp" class="form-text text-muted">{{ 'form.reportTypeHelp'|_ }}</small>
                    </div>

                    <div class="form-group" id="inputReportFormGender">
                        <label for="rf_age" class="d-block label">{{ 'form.gender'|_ }}</label>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-info active">
                                <input type="radio" name="gender" value="male"> <i class="fas fa-male mr-2"></i> {{ 'form.male'|_ }}
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="gender" value="female"> <i class="fas fa-female mr-2"></i> {{ 'form.female'|_ }}
                            </label>

                        </div>
                    </div>

                    <div class="form-group" id="inputReportFormAge">
                        <label for="rf_age" class="d-block label">{{ 'form.age'|_ }}</label>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-info active">
                                <input type="radio" name="age" value="5 - 9ans"> 5 - 9{{ 'form.years'|_ }}
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="age" value="10 - 18ans"> 10 - 18{{ 'form.years'|_ }}
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="age" value="19 - 40ans"> 19 - 40{{ 'form.years'|_ }}
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="age" value="41ans - plus"> 41{{ 'form.years'|_ }} - {{ 'form.more'|_ }}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rf_message" class="label">{{ 'form.message'|_ }}</label>
                        <textarea class="form-control" id="rf_message" name="description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="rf_file" class="label">{{ 'form.file'|_ }}</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="rf_file" lang="fr" name="file">
                            <label class="custom-file-label" for="rf_file">{{ 'form.selectFile'|_ }}</label>
                        </div>
                    </div>

                    <div class="alert alert-danger" data-validate-error>
                        <p data-message></p>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-secondary btn-block btn-submit btn-lg" type="submit" data-attach-loading> {{ 'form.submit'|_ }} <i class="fas fa-chevron-circle-right"></i></button>
                    </div>
                </form>


            </div>
        </div>


    </body>
</html>