/*! `Custom` Bootstrap 4 theme */
@import '../../../node_modules/bootstrap/scss/functions';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&family=Roboto:wght@300;700;900&display=swap');

$font-family-base: 'Lato', sans-serif;
$headings-font-family: 'Roboto', sans-serif;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1400px
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1366px
);

$enable-caret: false;
$enable-transitions: true;
$enable-responsive-font-sizes: true;
$enable-grid-classes: true;

$primary: #0098DA;
$secondary: #70D8A0;
$fraude : #61646E;
$securite : #7080D8;
$sex : #D87070;

$body-color: #666b6e;
$purple: #6f7edb;



$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "fraude":     $fraude,
    "securite":   $securite,
    "sex":        $sex
);

$font-size-base: 1rem;
$headings-font-weight: 600;
$input-box-shadow: none;
$border-radius: .6rem;
$border-radius-lg: .9rem;
$border-radius-sm: .3rem;
$transition-fade: opacity .2s ease-in-out;
$caret-width: .4em;

$font-size-base: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-sm: 1.4rem;

$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2.3rem;
$h4-font-size: 1.8rem;
$h5-font-size: 1.4rem;

$input-btn-font-size: 1.6rem;
$btn-font-size: 1.4rem;

$input-color: $body-color;
$input-border-color:#FFF;
$border-color: #333;
