.dropdown-toggle{
    &:after{
        content: "\f107";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-left: 5px;
        display: inline-block;
    }
    padding-right: 15px !important;
}

a,
.btn{
    transition: all 0.3s;
    &:hover{
        text-decoration: none;
    }
}

.hide-img{
    width: 0px;
    height: 0px;
    position: absolute;
    top: -9999px;
    left: -9999px;
}


$chat-width : 160 /2;
$sprite-width : 4320/2;
$sprite-height : 220;

$steps: 26;
$sleepStep : 6;
$wakeStep : $steps;
$blinkStep : 7 ;

#botWrapper {
    position: fixed;
    //background-color: rgba(255,255,255,0.7);
    //border: 4px solid rgba(255,255,255,0.7);
    //box-shadow: 0 2px 20px transparentize($primary,0.4);
    //box-sizing: content-box;
    border-radius: 15px;
    bottom: 20px;
    right: 20px;
    &.open{
        right: 410px;
        @include media-breakpoint-down(md){
            right: 75%;
        }
    }
    z-index: 300;
    background-image: url("../images/chat-sprite.png?2");
    background-repeat: repeat-x;
    width: 80px;
    height: 110px;
    background-size: #{$sprite-width }px 110px;
    background-position: -#{$sprite-width - $chat-width}px;
    transition: transform 0.3s ease-out,
                right .2s ease-out;
    cursor: pointer;
    &.sleep{
        animation: sleep 1.5s steps($sleepStep) infinite;
        height: 80px;
        &:hover{
            transform: scale(1.1);
        }
    }
    &.wake-up{
        animation: wakeUp 0.9s steps($steps);
    }
    &.blink{
        animation: blink 0.2s steps($blinkStep);
        //background-position:  -#{$sprite-width - $chat-width}px
    }
}



@keyframes sleep {
     from { background-position:    0px -40px; }
     to { background-position:  -#{$chat-width * $sleepStep }px  -40px; }
 }

@keyframes wakeUp {
    from { background-position: 0; }
    to { background-position: -#{$sprite-width - $chat-width}px; }
}

@keyframes blink {
    from { background-position:  -#{ $sprite-width - ( $chat-width * 15 )}px; }
    to { background-position:  -#{$sprite-width }px; }
}




