html {
	font-size: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

.section-title{
	font-size: 40px;
	color: $primary;
	margin-bottom: 30px;
	text-transform: uppercase;
	small{
		font-size: 26px;
		color: #707070;
		display: block;
		text-transform: capitalize;
		font-weight: bold;
	}
	.news &{
		color: #FFF;
		small{
			color: white;
		}
	}
}

.title-area{
	.title{
		font-size: 5rem;
		color: $primary;
		margin-bottom: 3rem;
		small{
			font-size: 2.3rem;
			margin-left: 30px;
			color: $gray-600;
			@include respond-below(lg){
				display: block;
				margin-left: 0;
			}
		}
	}
}
